<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{ lang.map.select }} {{ lang.map.template_type }}</h1>
  <button type="button" class="btn-close btn-close-white" (click)="close()" tabindex="-1" aria-label="Close"></button>
</div>
<div class="dialog-content">
  <!-- template type -->
  <div class="col-12 mb-4 position-relative">
    <label class="form-label">{{lang.map.template_type}}</label>
    <ng-select [selectOnTab]="true" labelForId="approvalTemplateType" [clearable]="false"
      placeholder="{{lang.map.select}}" id="approvalTemplateType" [notFoundText]="lang.map.msg_not_found"
      [formControl]="typeControl">
      <ng-option *ngFor="let option of approvalTemplateTypes" [value]="option.lookupKey">
        {{option.getName()}}
      </ng-option>
    </ng-select>
    <app-field-error-message [control]="typeControl"></app-field-error-message>
  </div>
</div>
<div class="dialog-actions">
  <button (click)="save()" [disabled]="!typeControl.valid" class="btn btn-primary">
    {{ lang.map.btn_save }}
  </button>
  <button (click)="close()" class="btn btn-secondary">
    {{ lang.map.btn_close }}
  </button>
</div>
