<ul *ngIf="tabs.length && !accordionView" [id]="tabContainerId" role="tablist" class="nav nav-tabs">
  <li *ngFor="let tab of tabs" role="presentation" class="nav-item">
    <a class="nav-link position-relative tab-link" [class.disabled]="tab.disabled" [class.active]="tab.active"
       aria-current="page" data-bs-toggle="tab" role="tab"
       (click)="selectTab(tab)">{{tab.title}}
      <span *ngIf="tab.hasError && tab.name != 'attachments'"
            class="position-absolute text-danger top-0 start-50 translate-middle mdi mdi-alert-circle"></span>
      <span *ngIf="!tab.hasError && tab.name != 'attachments' && hasForm"
        class="position-absolute text-success top-0 start-50 translate-middle mdi mdi-check-circle"></span>
    </a>
  </li>
</ul>
<div id="{{tabContainerId}}-content" [ngClass]="{'pt-4': !accordionView}" class="tab-content">
  <ng-content></ng-content>
</div>
