<div id="main-sidebar-wrapper" class="d-flex align-self-stretch flex-grow-1 flex-column">
  <div [style.background-image]="topImage" class="pattern top"></div>
  <div [style.background-image]="bottomImage" class="pattern bottom"></div>
  <div id="sidebar-content-wrapper" (mouseenter)="sidebarMouseEnter()" (mouseleave)="sidebarMouseOut()"
    class="d-flex flex-column flex-grow-1 align-self-stretch">
    <div id="app-logo" class="d-flex align-items-center justify-content-start shadow-sm p-2">
      <img id="sanady-logo" alt="sanady-logo" (click)="goToHome()" style="cursor: pointer;"
        src="assets/images/raca-logo-inside.png">
      <h6 id="sanady-word">{{langService.map.application_name}}</h6>
      <span class="flex-grow-1"></span>
      <button (click)="toggle()" class="icon-btn m-0">
        <i [ngClass]="{'mdi-rotate-45': !isOpened}" class="mdi mdi-pin"></i>
      </button>
    </div>
    <div class="px-2 d-flex flex-column align-self-stretch flex-grow-1">
      <div class="d-flex flex-row align-items-center justify-content-center py-2" id="home-back-logout-items">
        <button [tooltip]="langService.map.logout" (click)="logout()" class="icon-btn"><i
            class="mdi custom-icon-size mdi-logout"></i>
        </button>
        <button [tooltip]="langService.map.home" (click)="goToHome()" class="icon-btn"><i
            class="mdi custom-icon-size mdi-home"></i>
        </button>
        <button (click)="goToBack()" class="icon-btn p-0" [disabled]="!navigationService.hasBackUrl()"
          [tooltip]="langService.map.back">
          <i flipIcon class="mdi custom-icon-size mdi-arrow-left"></i></button>
      </div>
      <div id="menu-item-search" class="position-relative d-flex flex-row">
        <button type="button" id="search-item-btn" class="position-absolute" tabindex="-1">
          <i class="mdi mdi-magnify text-primary"></i>
        </button>
        <input autocomplete="off" [formControl]="searchInput" id="search-item-input" aria-label="Username"
          [placeholder]="langService.map.lbl_search" class="form-control" />
      </div>
      <div class="flex-grow-1 align-self-stretch" id="menu-item-list">
        <app-sidebar-menu-item-list [level]="0" [searchText]="searchText|async" [items]="items">
        </app-sidebar-menu-item-list>
      </div>
    </div>
  </div>
</div>
