@import "src/scss/custom_variables";

:host {
  display: flex;
  background-color: #F1F1F1;
  overflow: hidden;

  &.sidebar-opened {
    // width : 250px
  }

  &.sidebar-closed {
    // width : 60px
  }
}

#main-sidebar-wrapper {
  position: relative;
  max-width: 100%;

  & > *:not(.pattern) {
    z-index: 2;
  }
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat-x;
  z-index: 1;

  &.top {
    background-position: top center;
  }

  &.bottom {
    background-position: bottom center;
  }

  &.center {
    background-position: center center;
  }

}

#top-fake-nav {
  height: 40px;
  justify-content: center;
}

:host.going-to-open, :host.going-to-close, :host.sidebar-opened, :host.sidebar-opened-hover {
  #top-fake-nav {
    justify-content: flex-end;
  }
}

#sanady-logo {
  height: 48px;
}

#sanady-word {
  height: 48px;
  margin: 0 10px;
}

:host.sidebar-closed {
  #sanady-word {
    display: none;
  }

}

#search-item-btn {
  border: none;
  background-color: transparent;
  top: 0;
  margin-top: 6px;
}

#search-item-input::placeholder {
  color: white;
}

:host-context(html[dir="ltr"]) {
  &.sidebar-opened:not(.going-to-close), &.going-to-open, &.sidebar-opened-hover {
    #search-item-input {
      padding-left: 40px;

      &::placeholder {
        color: $sidebar-gray;
      }
    }
  }

  #search-item-btn {
    left: 5px;
  }
}

:host-context(html[dir="rtl"]) {
  &.sidebar-opened:not(.going-to-close), &.going-to-open, &.sidebar-opened-hover {
    #search-item-input {
      padding-right: 40px;

      &::placeholder {
        color: $sidebar-gray;
      }
    }
  }

  #search-item-btn {
    right: 5px;
  }
}

#menu-item-list {
  height: 0;
  margin-top: 10px;
  overflow: auto;
}

#sidebar-content-wrapper {
  height: 0;
}

#home-back-logout-items {
  color: $primary;
}

.custom-icon-size {
  font-size: 30px;
}

#app-logo {
  height: 64px;
}
