<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{ lang.map.user_preferences }}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn" tabindex="-1" aria-label="Fullscreen"
      fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white" tabindex="-1" [dialogClose]="null"
      aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px" #content>
  <form [formGroup]="form">
    <div class="row mb-3">
      <div class="mb-6 col-md-6 col-sm-12 position-relative">
        <label for="vacationFrom" asteriskIfRequired="vacationFrom" class="form-label">{{
          lang.map.vacation_date_from }}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <div class="form-control" formControlName="vacationFrom" id="vacationFrom"
            [options]="datepickerOptionsMap.vacationFrom" (click)=" dpvacationFrom.toggleCalendar()"
            #dpvacationFrom="angular-mydatepicker" angular-mydatepicker validationClasses="vacationFrom">
          </div>
        </div>
      </div>
      <div class="mb-6 col-md-6 col-sm-12 position-relative">
        <label for="vacationTo" asteriskIfRequired="vacationTo" class="form-label">{{
          lang.map.vacation_date_to }}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <div class="form-control" formControlName="vacationTo" id="vacationTo"
            [options]="datepickerOptionsMap.vacationTo" (click)=" dpvacationTo.toggleCalendar()"
            #dpvacationTo="angular-mydatepicker" angular-mydatepicker validationClasses="vacationTo">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">

  <div class="flex-grow-1"></div>
  <button *ngIf="canEditPreferences" (click)="save()" [disabled]="!isVacationTapValid()" class="btn btn-primary">{{
    lang.map.btn_save }}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{ lang.map.btn_close }}</button>
</div>
