<div class="d-flex flex-column">
  <form [formGroup]="form" autocomplete="off">
    <tabs-list [accordionView]="accordionView" [hasForm]="true">
      <tab [name]="tabsData.basic.name" [template]="basicTemplate" [title]="lang.map.lbl_basic_info"
           [hasError]="getTabInvalidStatus('basic')"></tab>
      <tab [name]="tabsData.bankAccounts.name" [template]="bankAccountsTemplate" [title]="lang.map.bank_details"
           [hasError]="getTabInvalidStatus('bankAccounts')"></tab>
      <tab [name]="tabsData.tradeLicenseData.name" *ngIf="showLicenseTrade" [template]="tradeLicenseData"
           [title]="lang.map.trade_license" [hasError]="getTabInvalidStatus('tradeLicenseData')"></tab>
      <tab [name]="tabsData.goals.name" *ngIf="showLicenseTrade === false" [template]="goalsTemplate"
           [title]="lang.map.goals" [hasError]="getTabInvalidStatus('goals')"></tab>
      <tab [name]="tabsData.managementCouncils.name" [template]="managementCouncilsTemplate"
           [title]="lang.map.management_council" [hasError]="getTabInvalidStatus('managementCouncils')"></tab>
      <tab [name]="tabsData.executiveManagements.name" [template]="executiveManagementsTemplate"
           [title]="lang.map.executive_management" [hasError]="getTabInvalidStatus('executiveManagements')"></tab>

      <tab [name]="tabsData.contactOfficers.name" [template]="contactOfficersTemplate"
           [title]="lang.map.contact_officers" [hasError]="getTabInvalidStatus('contactOfficers')"></tab>
      <tab [name]="tabsData.approvalReasons.name" [template]="approvalReasonsTemplate"
           [title]="lang.map.approval_reasons" [hasError]="getTabInvalidStatus('approvalReasons')"></tab>
      <tab [name]="tabsData.comments.name" [template]="commentsTemplate" [hasError]="getTabInvalidStatus('comments')"
           [title]="lang.map.comments" *ngIf="employeeService.isInternalUser()">{{lang.map.comments}}</tab>
      <tab *ngIf="!accordionView" [hideIcon]="true" [name]="tabsData.attachments.name" [template]="attachmentsTemplate"
           [hasError]="getTabInvalidStatus('attachments')" [title]="lang.map.attachments">{{lang.map.attachments}}</tab>
    </tabs-list>
    <!-- basic -->
    <ng-template formGroupName="basic" #basicTemplate>
      <div class="row">
        <!-- Organization -->
        <!-- <div *ngIf="employeeService.isInternalUser()" class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="organizationId" for="organizationId"
            class="form-label">{{lang.map.lbl_organization}}</label>
          <ng-select [selectOnTab]="true" labelForId="organizationId" [clearable]="true"
            placeholder="{{lang.map.select}}" id="organizationId" [notFoundText]="lang.map.msg_not_found"
            [readonly]="(readonly || !!(this.model?.id))" appendTo="body" formControlName="organizationId"
            validationClasses="organizationId">
            <ng-option [value]="org.id" *ngFor="let org of organizations">{{org.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="organizationId"></app-field-error-message>
        </div> -->
        <!-- Request Type -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="requestType" for="requestType" class="form-label">{{lang.map.request_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true" placeholder="{{lang.map.select}}"
                     id="requestType" [notFoundText]="lang.map.msg_not_found"
                     (change)="handleRequestTypeChange($event, true)"
                     [readonly]="!isEditRequestTypeAllowed()" appendTo="body" formControlName="requestType"
                     validationClasses="requestType">
            <ng-option [value]="type.lookupKey" *ngFor="let type of requestTypes">{{type.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <!-- License Number -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="oldLicenseFullSerial" for="oldLicenseFullSerial"
                 class="form-label">{{lang.map.license_number}}</label>
          <div class="input-group">
            <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                   formControlName="oldLicenseFullSerial" trimInput type="text" [readOnly]="!isEditLicenseAllowed()"
                   validationClasses="oldLicenseFullSerial" [onlyInvalid]="false" class="form-control"
                   id="oldLicenseFullSerial">
            <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch()" class="input-group-text"><i
              class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>
      </div>
      <div *ngIf="selectedLicense">
        <selected-license-table [caseType]="caseTypes.PARTNER_APPROVAL"
                                [caseTypeViewLicense]="caseTypes.PARTNER_APPROVAL" [licenseList]="[selectedLicense]"
                                [columns]="service.selectLicenseDisplayColumns"
                                [ignoreDelete]="!isEditLicenseAllowed()">
        </selected-license-table>
      </div>
      <div class="row">
        <!-- Request Classification -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="requestClassification" for="requestClassification"
                 class="form-label">{{lang.map.request_classification}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestClassification" [clearable]="true"
                     placeholder="{{lang.map.select}}" id="requestClassification"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="(isExtendOrCancelRequestType() || readonly)" appendTo="body"
                     formControlName="requestClassification" validationClasses="requestClassification"
                     (change)="handleRequestClassificationChange($event)">
            <ng-option [value]="requestClassification.lookupKey"
                       *ngFor="let requestClassification of requestClassifications">{{requestClassification.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="requestClassification"></app-field-error-message>
        </div>
        <!-- Arabic Name -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="arName" for="arName" class="form-label">{{lang.map.arabic_name}}</label>
          <input formControlName="arName" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="arName" class="form-control" trimInput id="arName">
          <app-field-error-message controlName="arName"></app-field-error-message>
        </div>
        <!-- English Name -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="enName" for="enName" class="form-label">{{lang.map.english_name}}</label>
          <input formControlName="enName" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="enName" class="form-control" trimInput id="enName">
          <app-field-error-message controlName="enName"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <!-- Country -->
        <div class="col-sm-12 col-md-4">
          <div class="d-flex align-items-center justify-content-start gap-2">
            <div class="mb-4 ng-select-wrapper flex-grow-1 ">
              <label asteriskIfRequired="country" for="country" class="form-label">{{lang.map.country}}</label>
              <ng-select [selectOnTab]="true" labelForId="country" [clearable]="true" placeholder="{{lang.map.select}}"
                         id="country" [notFoundText]="lang.map.msg_not_found" [readonly]="!isEditCountryAllowed()"
                         appendTo="body" (change)="handleCountryChange($event)" formControlName="country"
                         validationClasses="country">
                <ng-option *ngFor="let option of countries" [value]="option.id" [disabled]="!option.isActive()">
                  {{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="country"></app-field-error-message>
            </div>
            <button *ngIf="isEditCountryAllowed() && this.employeeService.checkPermissions('MANAGE_CITIES')"
                    (click)="addCountry($event)" class="btn btn-primary mt-2">{{lang.map.btn_add}}</button>
          </div>
        </div>
        <!-- address -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="address" for="address" class="form-label">{{lang.map.state_province}}</label>
          <input formControlName="address" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="address" class="form-control" trimInput id="address">
          <app-field-error-message controlName="address"></app-field-error-message>
        </div>
        <!-- City -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="city" for="city" class="form-label">{{lang.map.city_village}}</label>
          <input formControlName="city" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="city" class="form-control" trimInput id="city">
          <app-field-error-message controlName="city"></app-field-error-message>
        </div>

        <!-- Headquarter Type -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="headQuarterType" for="headQuarterType"
                 class="form-label">{{lang.map.headquarter_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="headQuarterType" [clearable]="true"
                     placeholder="{{lang.map.select}}" id="headQuarterType" [notFoundText]="lang.map.msg_not_found"
                     [readonly]="(isExtendOrCancelRequestType() || readonly)" appendTo="body"
                     (change)="handleCountryChange($event)" formControlName="headQuarterType"
                     validationClasses="headQuarterType">
            <ng-option [value]="headQuarterType.lookupKey" *ngFor="let headQuarterType of headQuarterTypes">
              {{headQuarterType.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="headQuarterType"></app-field-error-message>
        </div>

      </div>
      <div class="row">

        <!-- Region -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="region" for="region" class="form-label">{{lang.map.neighborhood_street_building}}</label>
          <input formControlName="region" type="text" [readOnly]="!isEditCountryAllowed()" validationClasses="region"
                 class="form-control" trimInput id="region">
          <app-field-error-message controlName="region"></app-field-error-message>
        </div>
        <!-- Establishment Date -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="establishmentDate" for="establishmentDate"
                 class="form-label">{{lang.map.establishment_date}}</label>
          <div class="input-group">
            <i class="input-group-text mdi mdi-calendar"></i>
            <div class="form-control" formControlName="establishmentDate"
                 [ngClass]="{'input-disabled': (isExtendOrCancelRequestType() || readonly)}" id="establishmentDate"
                 [options]="datepickerOptionsMap.establishmentDate"
                 (click)="!isExtendOrCancelRequestType() && !readonly && dpEstablishmentDate.toggleCalendar()"
                 #dpEstablishmentDate="angular-mydatepicker" angular-mydatepicker validationClasses="establishmentDate">
            </div>
            <app-field-error-message controlName="establishmentDate"></app-field-error-message>
          </div>
        </div>
        <!-- Latitude / Longitude -->

        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="latitude" for="latitude">{{lang.map.latitude}} /
            {{lang.map.longitude}}</label>
          <div class="input-group">
            <input id="latitude" validationClasses="latitude" formControlName="latitude"
                   class="form-control input-disabled" [readonly]="true">
            <button type="button" (click)="openMapMarker()" class="input-group-text">
              <i class="mdi mdi-map-marker text-primary"></i>
            </button>
            <input id="longitude" [readonly]="true" validationClasses="longitude" formControlName="longitude"
                   class="form-control input-disabled">
          </div>
          <app-field-error-message controlName="latitude"></app-field-error-message>
        </div>
      </div>
      <div class="row">

        <!-- Phone -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="phone" for="phone" class="form-label">{{lang.map.lbl_phone}}</label>
          <input formControlName="phone" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="phone" class="form-control" trimInput id="phone">
          <app-field-error-message controlName="phone"></app-field-error-message>
        </div>
        <!-- Fax Number -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="fax" for="fax" class="form-label">{{lang.map.fax_number}}</label>
          <input formControlName="fax" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="fax" class="form-control" trimInput id="fax">
          <app-field-error-message controlName="fax"></app-field-error-message>
        </div>

      </div>
      <div class="row">

        <!-- Website -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="website" for="website" class="form-label">{{lang.map.website}}</label>
          <input formControlName="website" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="website" class="form-control" trimInput id="website">
          <app-field-error-message controlName="website"></app-field-error-message>
        </div>
        <!-- Email -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="email" for="email" class="form-label">{{lang.map.lbl_email}}</label>
          <input formControlName="email" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="email" class="form-control" trimInput id="email">
          <app-field-error-message controlName="email"></app-field-error-message>
        </div>
        <!-- PO Box -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="postalCode" for="postalCode" class="form-label">{{lang.map.lbl_po_box_num}}</label>
          <input formControlName="postalCode" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="postalCode" class="form-control" trimInput id="postalCode">
          <app-field-error-message controlName="postalCode"></app-field-error-message>
        </div>

      </div>
      <div class="row">

        <!-- Social Media 1 -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="firstSocialMedia" for="firstSocialMedia"
                 class="form-label">{{lang.map.social_media_1}}</label>
          <input formControlName="firstSocialMedia" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="firstSocialMedia" class="form-control" trimInput id="firstSocialMedia">
          <app-field-error-message controlName="firstSocialMedia"></app-field-error-message>
        </div>
        <!-- Social Media 2 -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="secondSocialMedia" for="secondSocialMedia"
                 class="form-label">{{lang.map.social_media_2}}</label>
          <input formControlName="secondSocialMedia" type="text"
                 [readOnly]="(isExtendOrCancelRequestType() || readonly)" validationClasses="secondSocialMedia"
                 class="form-control" trimInput id="secondSocialMedia">
          <app-field-error-message controlName="secondSocialMedia"></app-field-error-message>
        </div>
        <!-- Social Media 3 -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="thirdSocialMedia" for="thirdSocialMedia"
                 class="form-label">{{lang.map.social_media_3}}</label>
          <input formControlName="thirdSocialMedia" type="text" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 validationClasses="thirdSocialMedia" class="form-control" trimInput id="thirdSocialMedia">
          <app-field-error-message controlName="thirdSocialMedia"></app-field-error-message>
        </div>
      </div>

      <div class="row">
        <!-- Special Explanation -->
        <div class="col-sm-12 mb-4 position-relative">
          <label asteriskIfRequired="description" for="description"
                 class="form-label">{{lang.map.special_explanations}}</label>
          <textarea rows="5" id="description" validationClasses="description" formControlName="description"
                    class="form-control" trimInput [readOnly]="readonly"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <!-- Bank accounts -->
    <ng-template #bankAccountsTemplate>
      <bank-account #bankAccountsTab [countriesList]="countries" [list]="model?.bankAccountList || []"
                    [caseType]="model?.caseType" [readonly]="(isExtendOrCancelRequestType() || readonly)"
                    ></bank-account>
    </ng-template>

    <ng-template #tradeLicenseData>
      <div formGroupName="trade">

        <div class="row mb-4">

          <!-- Commercial License No -->
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label asteriskIfRequired="commercialLicenseNo" for="commercialLicenseNo"
                   class="form-label">{{lang.map.commercial_License_No}}</label>
            <input formControlName="commercialLicenseNo" type="text"
                   [readOnly]="(isExtendOrCancelRequestType() || readonly)" validationClasses="commercialLicenseNo"
                   class="form-control" trimInput id="commercialLicenseNo">
            <app-field-error-message controlName="commercialLicenseNo"></app-field-error-message>
          </div>

          <!-- Commercial License End Date -->
          <div class="col-12 col-md-4 mb-4 position-relative">
            <label for="commercialLicenseEndDate" asteriskIfRequired="commercialLicenseEndDate"
                   class="form-label">{{lang.map.license_end_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="commercialLicenseEndDate" id="commercialLicenseEndDate"
                   [options]="datepickerOptionsMap.commercialLicenseEndDate"
                   (click)="dpcommercialLicenseEndDate.toggleCalendar()" [ngClass]="{'input-disabled': readonly}"
                   #dpcommercialLicenseEndDate="angular-mydatepicker" angular-mydatepicker
                   validationClasses="commercialLicenseEndDate">
              </div>
              <app-field-error-message controlName="commercialLicenseEndDate"></app-field-error-message>
            </div>
          </div>
        </div>


        <commercial-activity #commercialActivityTab [list]="model?.commercialActivitiesList || []"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)"
                             (readyEvent)="commercialActivityTabStatus = $event">
        </commercial-activity>

      </div>
    </ng-template>

    <!-- Goals -->
    <ng-template #goalsTemplate>
      <goal #goalsTab [list]="model?.displayGoals  || []" [readonly]="(isExtendOrCancelRequestType() || readonly)"
            (readyEvent)="goalsTabStatus = $event"></goal>
      <goals-list #goalsListTab [list]="model?.goalsList || []" [readonly]="(isExtendOrCancelRequestType() || readonly)"
                  (readyEvent)="goalsListTabStatus = $event"></goals-list>

      <!-- Target Groups -->
      <target-group #targetGroupsTab [list]="model?.targetGroupList || []"
                    [readonly]="(isExtendOrCancelRequestType() || readonly)"
                    (readyEvent)="targetGroupsTabStatus = $event">
      </target-group>

      <!-- Work Area -->
      <work-areas [countries]="countries" #workAreasTab [readonly]="(isExtendOrCancelRequestType() || readonly)"
                  [list]="model?.workAreaObjectList || []">
      </work-areas>
    </ng-template>
    <!-- Management Councils -->
    <ng-template #managementCouncilsTemplate>
      <management-council #managementCouncilsTab [nationalities]="nationalities" [list]="model?.managementCouncilList || []"
                          [readonly]="(isExtendOrCancelRequestType() || readonly)"
                          (readyEvent)="managementCouncilsTabStatus = $event">
      </management-council>
    </ng-template>
    <!-- Executive Managements -->
    <ng-template #executiveManagementsTemplate>
      <executive-management #executiveManagementsTab [nationalities]="nationalities"
                            [pageTitleKey]="'executive_management'" [list]="model?.executiveManagementList || []"
                            [readonly]="(isExtendOrCancelRequestType() || readonly)"
                            (readyEvent)="executiveManagementsTabStatus = $event">
      </executive-management>
    </ng-template>

    <!-- Contact Officers -->
    <ng-template #contactOfficersTemplate>
      <contact-officer #contactOfficersTab [contactOfficerList]="model?.contactOfficerList || []"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)">
      </contact-officer>
    </ng-template>
    <!-- Approval Reasons -->
    <ng-template #approvalReasonsTemplate>
      <approval-reason #approvalReasonsTab [list]="model?.approvalReasonList || []"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       (readyEvent)="approvalReasonsTabStatus = $event">
      </approval-reason>
    </ng-template>
    <ng-template #commentsTemplate>
      <div class="d-flex flex-row align-items-center justify-content-start">
        <button [disabled]="!isAddCommentAllowed()" (click)="commentsCtrl.openCommentDialog()"
                class="d-inline-block btn p-0 icon-btn"><i class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService" [readonly]="readonly">
      </app-comments>
    </ng-template>
    <ng-template #attachmentsTemplate>
      <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                   [service]="service.documentService" [load]="loadAttachments" [model]="model"
                   [formProperties]="formProperties"></attachments>
    </ng-template>
  </form>
</div>
