<div class="d-flex flex-column">
  <div class="container-fluid bg-primary navbar-dark d-flex flex-row">
    <!--    <button (click)="toggleSidebar()" class="icon-btn">-->
    <!--      <i flipIcon class="mdi {{menuState}} text-white"></i>-->
    <!--    </button>-->
    <span class="flex-grow-1"></span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleLang($event)">
          <span>{{langService.getCurrentLanguage().toggleTo}}</span>
          <img alt="lang code" class="lang-icon" src="assets/images/{{langService.getCurrentLanguage().code}}.svg"/>
        </a>
      </li>
    </ul>
  </div>
  <div class="container-fluid shadow-sm d-flex flex-row py-2">
    <div class="d-flex flex-row" id="user-info">
      <img alt="user avatar" id="user-image" src="assets/images/man.svg">
      <div id="user-info-details" class="mx-2">
        <div id="user-name">{{employee?.getUser()?.getName()}}</div>
        <div
          id="user-department">{{ employee?.getOrgUnit()?.getName() + ' - ' + employee?.getBranch()?.getName()}}</div>
      </div>
    </div>
    <span class="flex-grow-1 align-self-stretch"></span>
    <ul class="d-flex flex-row text-primary align-items-end" id="header-menu-actions">
      <li>
        <a [tooltip]="langService.map.back" class="d-flex flex-row align-items-center" href="#">
          <i flipIcon class="mdi mdi-arrow-left"></i>
          <!--<span>back</span>--></a>
      </li>
      <li>
        <button [tooltip]="langService.map.home" (click)="goToHome()" class="icon-btn"><i class="mdi mdi-home"></i>
        </button>
      </li>
      <li>
        <button [tooltip]="langService.map.logout" (click)="logout()" class="icon-btn"><i class="mdi mdi-logout"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
