<div class="d-flex flex-column">
  <div id="top-header" class="container-fluid bg-primary navbar-dark d-flex flex-row flex-shrink-0 flex-grow-0">
    <div id="user-info" class="d-flex flex-shrink-0 flex-row py-2">
      <div class="d-flex flex-row">
        <img alt="user avatar" id="user-image" src="assets/images/man.svg">
        <div id="user-info-details" class="mx-2 d-flex">
          <a type="button" (click)="openUserPreferences()" class="user-preferences-link">
            <div id="user-name">{{employeeService.getCurrentUserName()}}</div>
          </a>
          <span> &nbsp; - &nbsp;</span>
          <div id="user-department">{{employeeService.getCurrentUserDepartment()}}</div>
        </div>
      </div>
      <span class="flex-grow-1 align-self-stretch"></span>
    </div>
    <span class="flex-grow-1"></span>
    <!--<header-notifications></header-notifications>-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleLang($event)">
          <span>{{langService.getCurrentLanguage().toggleTo}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
