@import "../../../../scss/custom_variables";

:host {
  display: block;
}

#main-navbar-links {
  li a.active {
    border-bottom: .4rem solid $gold;
  }
}

@include media-breakpoint-up(md) {
  #main-logo {
    max-width: none;
  }
}

#main-navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
}

header {
  padding-bottom: 92px;

  &.sticky {
    #main-navbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;

    }
  }
}

