@import "../../../../scss/custom_variables";

:host {
  display: block;
}

#brand-link {
  max-height: 90px !important;
  display: flex;
  flex-direction: row;
}

#main-navbar-links {
  li a.active {
    border-bottom: .4rem solid $gold;
  }
}

#main-logo {
  width: 60%;
}

#sanady-word {
  max-height: 80px !important;
}

@include media-breakpoint-up(md) {
  #main-logo {
    max-width: none;
  }
}

#main-navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 4;
}

header {
  padding-bottom: 92px;

  &.sticky {
    #main-navbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;

    }
  }
}

