@import "../../../../scss/custom_variables";

:host {
  display: block;
  z-index: 2;
}

.lang-icon {
  width: 20px;
  margin: 0 5px;
}

#user-image {
  width: 40px;
}

.user-preferences-link {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

#user-name {
  font-weight: bold;
}

#header-menu-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    margin: 0 10px;
    height: 28px;
  }

  li:hover, a:hover {
    color: $gold;
  }
}

#top-header {
  height: 40px;
}

#user-info {
  color: white;
}

#notificationsDropdownContainer {
  .btn-notification {
    color: rgba(255, 255, 255, 0.55);
  }

  .dropdown-menu {
    min-width: 13rem;
    max-width: 20rem;
    max-height: 80vh;
    overflow-y: auto;

    .dropdown-item {
      &:focus-visible {
        outline: none;
      }
      &.active, &:active {
        background-color: #e9ecef;
      }
    }
  }
}
