<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form style="width:1000px" novalidate autocomplete="off" [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="arName"
               for="arName">{{lang.map.lbl_arabic_name}}</label>
        <input id="arName" validationClasses="arName" formControlName="arName" class="form-control">
        <app-field-error-message controlName="arName"></app-field-error-message>
      </div>
      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="enName"
               for="enName">{{lang.map.lbl_english_name}}</label>
        <input id="enName" validationClasses="enName" formControlName="enName" class="form-control">
        <app-field-error-message controlName="enName"></app-field-error-message>
      </div>
      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="profileTypesList"
               for="profileTypesList">{{lang.map.lbl_profile_type}}</label>
        <ng-select [multiple]="true" validationClasses="profileTypesList" appendTo="body" [clearable]="true"
                   id="profileTypesList"
                   [items]="profileTypes"
                   bindValue="lookupKey"
                   formControlName="profileTypesList">
          <ng-template ng-option-tmp let-item="item">
            <span class="custom-option">{{item.getName()}}</span>
          </ng-template>
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of (items ? items.slice(0,2): [])">
              <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">{{items.length - 2}} more...</span>
            </div>
          </ng-template>
        </ng-select>
        <app-field-error-message controlName="profileTypesList"></app-field-error-message>
      </div>

      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="workArea"
               for="workArea">{{lang.map.work_area}}</label>
        <ng-select validationClasses="workArea" appendTo="body" [clearable]="true" id="workArea"
                   formControlName="workArea">
          <ng-option [value]="option.lookupKey" *ngFor="let option of workAreas">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="workArea"></app-field-error-message>
      </div>

      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="permitType"
               for="permitType">{{lang.map.permit_type}}</label>
        <ng-select validationClasses="permitType" appendTo="body" [clearable]="true" id="permitType"
                   formControlName="permitType">
          <ng-option [value]="option.lookupKey" *ngFor="let option of permitTypes">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="permitType"></app-field-error-message>
      </div>

      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="minLimit"
               for="minLimit">{{lang.map.lbl_min_limit}}</label>
        <input suffix=" %" [mask]="inputMaskPatterns.PERCENT" [dropSpecialCharacters]="false" id="minLimit"
               validationClasses="minLimit" formControlName="minLimit" class="form-control">
        <app-field-error-message controlName="minLimit"></app-field-error-message>
      </div>

      <div class="col-md-6 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="maxLimit"
               for="maxLimit">{{lang.map.lbl_max_limit}}</label>
        <input suffix=" %" [mask]="inputMaskPatterns.PERCENT" [dropSpecialCharacters]="false" id="maxLimit"
               validationClasses="maxLimit" formControlName="maxLimit" class="form-control">
        <app-field-error-message controlName="maxLimit"></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
