<div
  class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between"
>
  <h1 class="h6 text-white">{{ lang.map.interim_contract_date }}</h1>
  <button
    type="button"
    class="btn-close btn-close-white"
    tabindex="-1"
    dialogClose
    aria-label="Close"
  ></button>
</div>
<div class="dialog-content no-fixed-height">
  <form [formGroup]="form" style="width: 300px; height: 400px">
    <div class="position-relative">
      <label
        for="licenseStartDate"
        asteriskIfRequired="licenseStartDate"
        class="form-label"
        >{{ lang.map.license_start_date }}</label
      >
      <div class="input-group">
        <i class="input-group-text mdi mdi-calendar"></i>
        <div
          class="form-control"
          formControlName="licenseStartDate"
          id="licenseStartDate"
          [options]="datepickerOptionsMap.licenseStartDate"
          (click)="openDateMenu(dplicenseStartDate)"
          #dplicenseStartDate="angular-mydatepicker"
          angular-mydatepicker
          validationClasses="licenseStartDate"
        ></div>
        <app-field-error-message
          controlName="licenseStartDate"
        ></app-field-error-message>
      </div>
    </div>
    <div class="position-relative">
      <label
        for="licenseEndDate"
        asteriskIfRequired="licenseEndDate"
        class="form-label"
        >{{ lang.map.license_end_date }}</label
      >
      <div class="input-group">
        <i class="input-group-text mdi mdi-calendar"></i>
        <div
          class="form-control"
          formControlName="licenseEndDate"
          id="licenseEndDate"
          [options]="datepickerOptionsMap.licenseEndDate"
          (click)="openDateMenu(dplicenseEndDate)"
          #dplicenseEndDate="angular-mydatepicker"
          angular-mydatepicker
          validationClasses="licenseEndDate"
        ></div>
        <app-field-error-message
          controlName="licenseEndDate"
        ></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button
    class="btn btn-primary"
    dialogClose
    (click)="setExpirDate()"
  >
    {{ lang.map.btn_save }}
  </button>
  <button dialogClose class="btn btn-secondary">
    {{ lang.map.btn_close }}
  </button>
</div>
