<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content no-fixed-height" #dialogContent>
  <div [formGroup]="form">
    <div class="row">
      <!-- Services -->
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="services" for="services" class="form-label">{{lang.map.lbl_services}}</label>
        <input formControlName="services" type="text" validationClasses="services" trimInput class="form-control"
          id="services">
        <app-field-error-message controlName="services"></app-field-error-message>
      </div>
      <!-- Targeted Groups -->
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="targetedGroup" for="targetedGroup"
          class="form-label">{{lang.map.targeted_groups}}</label>
        <textarea formControlName="targetedGroup" type="text" validationClasses="targetedGroup" trimInput
          class="form-control" id="targetedGroup"></textarea>
        <app-field-error-message controlName="targetedGroup"></app-field-error-message>
      </div>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
