<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{langService.map.logs}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="userClick.CLOSE" aria-label="Close"></button>
</div>
<div class="dialog-content">

  <tabs-list >
    <tab [name]="tabsData.general.name" [template]="generalTabTemplate" [title]="langService.map.lbl_general"
         [tabWidth]="'800px'"></tab>
    <tab [name]="tabsData.audit.name" [template]="auditTemplate" [title]="langService.map.lbl_audit"
         [tabWidth]="'800px'"></tab>
  </tabs-list>

  <ng-template #generalTabTemplate>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #generalTable sortableTable [paginator]="generalPaginator" [data]="logList"
                     [columns]="generalDisplayedColumns"
                     [filter]="generalFilterControl.value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered" cdk-table [dataSource]="generalTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header [sort]="generalTable.dataSource.sort"
                                (textChange)="generalFilterControl.setValue($event)">
                    <button class="btn icon-btn outline-none"
                            tooltip="{{langService.map.print}}"
                            (click)="printLogs()">
                      <i class="mdi mdi-printer"></i></button>
                  </table-header>
                </th>
              </ng-container>

              <ng-container cdkColumnDef="organization">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="generalSortingCallbacks.organization"> {{langService.map.lbl_organization}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.orgInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="user">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="generalSortingCallbacks.user"> {{langService.map.user}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.orgUserInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="actionType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="generalSortingCallbacks.actionType"> {{langService.map.action_type}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.actionTypeInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="actionTime">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="generalSortingCallbacks.actionTime"> {{langService.map.action_time}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.actionTimeString}} </td>
              </ng-container>
              <ng-container cdkColumnDef="userComments">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.comments}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.userComments}}</td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="generalTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: generalTable.columns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{langService.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #generalPaginator [length]="logList.length"></app-paginator>
          </app-table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #auditTemplate>
    <tabs-list>
      <tab [name]="tabsData.auditBeneficiary.name" [template]="auditBeneficiaryTabTemplate"
           [title]="langService.map.beneficiary"></tab>
      <tab [name]="tabsData.auditRequest.name" [template]="auditRequestTemplate"
           [title]="langService.map.request"></tab>
      <tab [name]="tabsData.auditAid.name" [template]="auditAidTemplate" [title]="langService.map.menu_aid"></tab>
    </tabs-list>
  </ng-template>

  <!-- Beneficiary -->
  <ng-template #auditBeneficiaryTabTemplate>
    <div class="row">
      <div class="col-12">
        <ng-container [ngTemplateOutlet]="auditTableTemplate"
                      [ngTemplateOutletContext]="{data: auditBeneficiaryData, displayColumns: auditDisplayedColumns}">
        </ng-container>
      </div>
    </div>
  </ng-template>
  <!-- Subvention Request -->
  <ng-template #auditRequestTemplate>
    <div class="row">
      <div class="col-12">
        <ng-container [ngTemplateOutlet]="auditTableTemplate"
                      [ngTemplateOutletContext]="{data: auditSubventionRequestData, displayColumns: auditDisplayedColumns}">
        </ng-container>
      </div>
    </div>
  </ng-template>
  <!-- Subvention Aid -->
  <ng-template #auditAidTemplate>
    <div class="row">
      <div class="col-12">
        <ng-container [ngTemplateOutlet]="auditTableTemplate"
                      [ngTemplateOutletContext]="{data: auditSubventionAidData, displayColumns: auditDisplayedColumns}">
        </ng-container>
      </div>
    </div>
  </ng-template>

  <!-- Audit Table Template -->
  <ng-template #auditTableTemplate let-data="data" let-tableColumns="displayColumns">
    <div class="table-responsive">
      <app-table #auditTable sortableTable [paginator]="auditPaginator" [data]="data" [columns]="tableColumns"
                 [filter]="auditFilterControl.value" [useSearchToFilter]="true">
        <table class="table table-striped table-bordered" cdk-table [dataSource]="auditTable.dataSource">
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header [sort]="auditTable.dataSource.sort"
                            (textChange)="auditFilterControl.setValue($event)">
              </table-header>
            </th>
          </ng-container>

          <ng-container cdkColumnDef="organization">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
            [sortCallback]="auditSortingCallbacks.organization"> {{langService.map.lbl_organization}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.orgInfo.getName()}} </td>
          </ng-container>
          <ng-container cdkColumnDef="user">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="auditSortingCallbacks.user"> {{langService.map.user}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.userInfo.getName()}} </td>
          </ng-container>
          <ng-container cdkColumnDef="actionType">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="auditSortingCallbacks.actionType"> {{langService.map.action_type}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.operationInfo.getName()}} </td>
          </ng-container>
          <ng-container cdkColumnDef="actionTime">
            <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="auditSortingCallbacks.actionTime"> {{langService.map.action_time}}</th>
            <td cdk-cell *cdkCellDef="let row" class="date-column"> {{row.updatedOnString}} </td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row" class="table-actions">
              <grid-actions [record]="row" [actions]="auditActions"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
          <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="auditTable.columns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: auditTable.columns;" (contextmenu)="auditMenu.open($event , row)"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{langService.map.no_records_to_display}}</td>
          </tr>
        </table>
        <app-paginator #auditPaginator [length]="data.length"></app-paginator>
      </app-table>
      <context-menu-item #auditMenu [actions]="auditActions"></context-menu-item>
    </div>
  </ng-template>
</div>
<div class="dialog-actions">
  <button [dialogClose]="userClick.CLOSE" class="btn btn-secondary">{{langService.map.btn_close}}</button>
</div>
