<div class="d-flex flex-row justify-content-start align-items-center bg-primary p-2 text-white {{headerClass}}">
  <h1 class="h6 my-1">{{tableTitle ? lang.map[tableTitle] : ''}}</h1>
  <div>
    <button [tooltip]="lang.map.btn_add"
            (click)="add()" *ngIf="isAddAvailable"
            class="btn icon-btn">
      <i class="mdi {{actionIconsEnum.ADD_SIMPLE}}"></i>
    </button>
    <button [tooltip]="lang.map.btn_reload"
            (click)="reload()" *ngIf="isReloadAvailable"
            class="btn icon-btn">
      <i class="mdi {{actionIconsEnum.RELOAD}}"></i>
    </button>
  </div>
  <div class="flex-grow-1"></div>
  <div *ngIf="customTemplate" class="flex-grow-1">
    <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
  </div>

  <!-- Risk Status -->
  <div class="d-flex gap-3 risk-status">
    <div class="d-flex" *ngIf="selectedFilter">
      <button (click)="selectFilter(selectedFilter)" class="btn btn-sm"
              [ngClass]="riskStatusClasses[selectedFilter.lookupKey]" *ngIf="selectedFilter">
        {{lang.map.selected_status}} - {{selectedFilter.getName()}}
      </button>
      <div class="px-2"></div>
      <div class="vr"></div>
    </div>
    <ng-container *ngIf="stats">
      <button (click)="selectFilter(filter)"
              class="btn btn-sm position-relative {{riskStatusClasses[filter.lookupKey]}}"
              *ngFor="let filter of riskStatus">
        {{filter.getName()}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
          {{stats && stats[riskCounter[filter.lookupKey]]}}
            <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <div class="vr"></div>
    </ng-container>
  </div>

  <!-- outer content -->
  <div class="d-flex" #contentRef>
    <ng-content></ng-content>
  </div>
  <div class="vr" *ngIf="contentRef.children.length"></div>

  <button (click)="clearSort()" [tooltip]="lang.map.clear_sorting" [ngClass]="{isDisabled: !hasSort}"
          class="btn icon-btn">
    <i class="mdi mdi-sort-variant-remove"></i>
  </button>
  <div *ngIf="filterCriteria" class="vr"></div>
  <button *ngIf="filterCriteria" [ngClass]="{isDisabled:!hasFilterCriteria()}" [tooltip]="lang.map.clear_filter"
          (click)="clearFilter()" class="btn icon-btn p-0">
    <i class="mdi mdi-filter-off-outline"></i>
  </button>
  <div *ngIf="filterCriteria" class="vr"></div>
  <button *ngIf="filterCriteria" (click)="filterClicked.emit('OPEN')" [tooltip]="lang.map.filter_results"
          class="btn icon-btn">
    <i [ngClass]="{'mdi-filter': hasFilterCriteria(), 'mdi-filter-outline': !hasFilterCriteria()}" class="mdi"></i>
  </button>
  <div class="position-relative">
    <i class="mdi zoom-icon mdi-magnify position-absolute translate-middle-y top-50 start-0 ms-1"></i>
    <input [formControl]="filterControl" placeholder="{{lang.map.lbl_search}}"
           class="form-control form-control-sm px-4"/>
    <button *ngIf="filterControl.value" class="btn icon-btn position-absolute me-0 pe-2 end-0 btn-clear top-0"
            (click)="clearSearch($event)">
      <i class="mdi mdi-close"></i>
    </button>
  </div>
</div>
