<div class="row">
  <div class="col-12">
    <app-table
      #table
      [useSearchToFilter]="true"
      [selectable]="true"
      [data]="_list" [filter]="filterControl.value"
      [columns]="columns"
      sortableTable
    >
      <table
        cdk-table
        [dataSource]="table.dataSource"
        class="table table-striped table-bordered caption-top"
      >
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header [tableTitle]="pageTitle" (textChange)="filterControl.setValue($event)" [add$]="add$" [allowAdd]="!readonly" [skipClearSort]="true">
          </table-header>
        </th>
      </ng-container>
        <ng-container cdkColumnDef="fullName">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{ lang.map.full_name }}
          </th>
          <td cdk-cell *cdkCellDef="let row">{{ row.fullName }}</td>
        </ng-container>
        <ng-container cdkColumnDef="identificationNumber">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{ lang.map.personal_number }}
          </th>
          <td cdk-cell *cdkCellDef="let row">
            {{ row.identificationNumber }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="jobTitle">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{ lang.map.job_title }}
          </th>
          <td cdk-cell *cdkCellDef="let row">
            {{ row?.jobTitle }}
          </td>
        </ng-container>
        <ng-container
          *ngIf="extended || pageTitle === 'board_members'"
          cdkColumnDef="joinDate"
        >
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{
              pageTitle === 'board_members'
                ? lang.map.first_join_date
                : lang.map.job_title_occupied_date
            }}
          </th>
          <td cdk-cell *cdkCellDef="let row">{{ row.joinDate }}</td>
        </ng-container>
        <ng-container *ngIf="extended" cdkColumnDef="email">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{ lang.map.email_for_working_authority }}
          </th>
          <td cdk-cell *cdkCellDef="let row">{{ row.email }}</td>
        </ng-container>
        <ng-container *ngIf="extended" cdkColumnDef="phone">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>
            {{ lang.map.phone_for_working_authority }}
          </th>
          <td cdk-cell *cdkCellDef="let row">{{ row.phone }}</td>
        </ng-container>

        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.lbl_actions }}</th>
          <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
            <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex" [rebindTrigger]="readonly">
            </grid-actions>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
        <tr cdk-header-row *cdkHeaderRowDef="columns" class="table-row-header"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">
            {{ lang.map.no_records_to_display }}
          </td>
        </tr>
      </table>
    </app-table>
  </div>
</div>
