<ng-template #requiredItemsMsgTemplate>
  <div class="text-danger" *ngIf="!(!!item || disableAdd) && !model.collectorItemList.length">{{lang.map.err_required_field}}</div>
</ng-template>
<app-page-header *ngIf="!approvalMode" [clickOnNew$]="add$" [disableAdd]="!!item || disableAdd"
                 [pageTitle]="'collector_items'" [customTemplate]="requiredItemsMsgTemplate"></app-page-header>
<app-page-header *ngIf="approvalMode" [pageTitle]="'collector_items'"></app-page-header>
<form *ngIf="!!item" [formGroup]="form">
  <fieldset class="border border-1 rounded-1 p-3">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired=""
               [control]="oldLicenseFullSerialControl"
               for="oldLicenseFullSerial">{{lang.map.serial_number}}</label>
        <div class="input-group">
          <input (keydown.enter)="isSearchAllowed() && searchForLicense()" id="oldLicenseFullSerial" validationClasses="" [control]="oldLicenseFullSerialControl"
                 formControlName="oldLicenseFullSerial"
                 class="form-control">
          <button *ngIf="isSearchAllowed()" (click)="searchForLicense()" class="input-group-text">
            <i class="mdi mdi-magnify text-primary"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="identificationNumber"
               for="identificationNumber">{{lang.map.identification_number}}</label>
        <input id="identificationNumber" validationClasses="identificationNumber" formControlName="identificationNumber"
               class="form-control" [readonly]="(isCancelRequestType() || readOnly || viewOnly)">
        <app-field-error-message controlName="identificationNumber"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="collectorType"
               for="collectorType">{{lang.map.collector_type}}</label>
        <ng-select validationClasses="collectorType" appendTo="body" [clearable]="true"
                   placeholder="{{lang.map.select}}"
                   [notFoundText]="lang.map.msg_not_found"
                   id="collectorType" [readonly]="(isCancelRequestType() || readOnly || viewOnly)"
                   formControlName="collectorType">
          <ng-option [value]="option.lookupKey"
                     *ngFor="let option of collectorTypes">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="collectorType"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="arabicName"
               for="arabicName">{{lang.map.arabic_name}}</label>
        <input id="arabicName" validationClasses="arabicName" formControlName="arabicName" class="form-control"
               [readonly]="(isCancelRequestType() || readOnly || viewOnly)">
        <app-field-error-message controlName="arabicName"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="collectorNumber"
               for="collectorNumber">{{lang.map.collector_number}}</label>
        <input id="collectorNumber" validationClasses="collectorNumber" formControlName="collectorNumber"
               class="form-control" [readonly]="(isCancelRequestType() || readOnly || viewOnly)">
        <app-field-error-message controlName="collectorNumber"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="gender"
               for="gender">{{lang.map.gender}}</label>
        <ng-select validationClasses="gender" appendTo="body" [clearable]="true"
                   placeholder="{{lang.map.select}}"
                   [notFoundText]="lang.map.msg_not_found"
                   id="gender" [readonly]="(isCancelRequestType() || readOnly || viewOnly)"
                   formControlName="gender">
          <ng-option [value]="option.lookupKey"
                     *ngFor="let option of genders">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="gender"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="nationality"
               for="nationality">{{lang.map.lbl_nationality}}</label>
        <ng-select validationClasses="nationality" appendTo="body" [clearable]="true"
                   placeholder="{{lang.map.select}}"
                   [notFoundText]="lang.map.msg_not_found"
                   id="nationality" [readonly]="(isCancelRequestType() || readOnly || viewOnly)"
                   formControlName="nationality">
          <ng-option [value]="option.lookupKey"
                     *ngFor="let option of nationalities">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="nationality"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="jobTitle"
               for="jobTitle">{{lang.map.job_title}}</label>
        <input id="jobTitle" validationClasses="jobTitle" formControlName="jobTitle" class="form-control"
               [readonly]="(isCancelRequestType() || readOnly || viewOnly)">
        <app-field-error-message controlName="jobTitle"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="relationship"
               for="relationship">{{lang.map.relationship}}</label>
        <ng-select validationClasses="relationship" appendTo="body" [clearable]="true"
                   placeholder="{{lang.map.select}}"
                   [notFoundText]="lang.map.msg_not_found"
                   id="relationship" [readonly]="(isCancelRequestType() || readOnly || viewOnly)"
                   formControlName="relationship">
          <ng-option [value]="option.lookupKey"
                     *ngFor="let option of relationships">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="relationship"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="phone"
               for="phone">{{lang.map.lbl_phone}}</label>
        <input id="phone" validationClasses="phone" formControlName="phone" class="form-control"
               [readonly]="(isCancelRequestType() || readOnly || viewOnly)">
        <app-field-error-message controlName="phone"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="licenseEndDate" asteriskIfRequired="licenseEndDate"
               class="form-label">{{lang.map.license_end_date}}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <div class="form-control" formControlName="licenseEndDate"
               [ngClass]="{'input-disabled': isEditLicenseEndDateDisabled()}"
               id="licenseEndDate" [options]="datepickerOptionsMap.licenseEndDate"
               (click)="!isEditLicenseEndDateDisabled() && dpLicenseEndDate.toggleCalendar()"
               #dpLicenseEndDate="angular-mydatepicker" angular-mydatepicker></div>
          <app-field-error-message controlName="licenseEndDate"></app-field-error-message>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center justify-content-center gap-2">
        <button (click)="save$.next(null)" *ngIf="!readOnly && !viewOnly"
                class="btn btn-primary">{{editIndex ? lang.map.btn_save : lang.map.btn_add}}</button>
        <button (click)="cancel()" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
      </div>
    </div>
  </fieldset>
</form>
<div class="row mt-2">
  <app-table #table attachmentHandler [columns]="columns" [data]="model.collectorItemList">
    <table cdk-table [dataSource]="table.dataSource" class="table border border-1">
      <ng-container cdkColumnDef="identificationNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.identification_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.identificationNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="arabicName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.arabic_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.arabicName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="collectorType">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.collector_type}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.collectorTypeInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="jobTitle">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.job_title}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.jobTitle}} </td>
      </ng-container>
      <ng-container cdkColumnDef="approval_info_status">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_status}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex">
          <div *ngIf="approvalMode" class="d-flex">
            <i *ngIf="!row.hasValidApprovalInfo()" [tooltip]="lang.map.missing_approval_info"
               class="mdi mdi-alert-circle text-warning"></i>
            <i *ngIf="row.hasValidApprovalInfo()" [tooltip]="lang.map.approval_information_filled_out"
               class="mdi mdi-check-circle text-success"></i>
          </div>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="oldLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span *ngIf="isNewRequestType()">N/A</span>
          <span *ngIf="!isNewRequestType()" class="text-primary text-decoration-none cursor-pointer"
                (click)="viewOldLicense(row)">{{row.oldLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="exportedLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.generated_license_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span class="text-primary text-decoration-none cursor-pointer"
                (click)="viewGeneratedLicense(row)">{{row.exportedLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
          <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
            <button multiAttachment [formObservables]="formProperties" [model]="model" [item]="row"
                    identifier="collectorItemList" tooltip="{{lang.map.attachments}}"
                    class="btn text-primary icon-btn">
              <i class="mdi mdi-attachment"></i>
            </button>
          </grid-actions>
          <!--<div *ngIf="!approvalMode" class="d-flex">
            <button (click)="edit$.next({item: row , index: itemIndex})" [tooltip]="lang.map.btn_edit"
                    class="btn icon-btn" [disabled]="readOnly">
              <i class="mdi mdi-pencil text-primary"></i>
            </button>
            <button (click)="remove$.next({item: row, index: itemIndex})" [tooltip]="lang.map.btn_delete"
                    class="btn icon-btn" [disabled]="readOnly">
              <i class="mdi mdi-delete text-primary"></i>
            </button>
          </div>
          <button *ngIf="approvalMode" (click)="approval.emit({item: row , index: itemIndex})"
                  [tooltip]="lang.map.edit_approval_info"
                  class="btn icon-btn" [disabled]="readOnly">
            <i class="mdi mdi-pencil text-primary"></i>
          </button>-->
        </td>
      </ng-container>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: table.columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>
