<div class="row mt-2">
  <app-table #table attachmentHandler [columns]="columns" [filter]="filterControl.value" [data]="list">
    <table cdk-table [dataSource]="table.dataSource" class="table border border-1">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header *ngIf="!approvalMode" (textChange)="filterControl.setValue($event)" tableTitle="collector_items" [add$]="add$" [allowAdd]="!disableAdd" [skipClearSort]="true">
          </table-header>
          <table-header *ngIf="approvalMode" (textChange)="filterControl.setValue($event)" tableTitle="collector_items" [skipClearSort]="true">
        </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="identificationNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.identification_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.identificationNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="arabicName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.arabic_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.arabicName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="collectorType">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.collector_type}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.collectorTypeInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="jobTitle">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.job_title}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.jobTitle}} </td>
      </ng-container>
      <ng-container cdkColumnDef="approval_info_status">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_status}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex">
          <div *ngIf="approvalMode" class="d-flex">
            <i *ngIf="!row.hasValidApprovalInfo()" [tooltip]="lang.map.missing_approval_info"
               class="mdi mdi-alert-circle text-warning"></i>
            <i *ngIf="row.hasValidApprovalInfo()" [tooltip]="lang.map.approval_information_filled_out"
               class="mdi mdi-check-circle text-success"></i>
          </div>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="oldLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span *ngIf="isNewRequestType()">N/A</span>
          <span *ngIf="!isNewRequestType()" class="text-primary text-decoration-none cursor-pointer"
                (click)="viewOldLicense(row)">{{row.oldLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="exportedLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.generated_license_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span class="text-primary text-decoration-none cursor-pointer"
                (click)="viewGeneratedLicense(row)">{{row.exportedLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
          <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
            <button multiAttachment [formObservables]="formProperties" [model]="model" [item]="row"
                    identifier="collectorItemList" tooltip="{{lang.map.attachments}}"
                    class="btn text-primary icon-btn">
              <i class="mdi mdi-attachment"></i>
            </button>
          </grid-actions>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: table.columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>
