<ng-template #bulk>
  <ng-container *ngIf="table">
    <app-bulk-actions *ngIf="table.hasSelectedRecords()"
                      [selectedRecords]="table.selection.selected" [hasTableHeaderContainer]="true"
                      [reversedColors]="true"
                      [actionsList]="bulkActionsList"></app-bulk-actions>
  </ng-container>
</ng-template>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator" sortableTable
                 [columns]="displayedColumns"
                 [data]="models" [useSearchToFilter]="true"
                 [selectable]="true"
                 [filter]="filterControl.value">
        <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_training_programs" 
                            [reload$]="reload$" 
                            [add$]="add$"
                            (textChange)="filterControl.setValue($event)"
                            [allowAdd]="hasPermissionTo(permissions.TRAINING_ADD_PUBLISH_PROGRAM)"
                            [filterCriteria]="filterCriteria" 
                            (filterClicked)="filterCallback($event)"
                            [sort]="table.dataSource.sort"
                            >
                <ng-container *ngTemplateOutlet="bulk"></ng-container>
              </table-header>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="rowSelection">
            <th cdk-header-cell *cdkHeaderCellDef>
              <input type="checkbox" [disabled]="table.filter"
                     [indeterminate]="table.selection.hasValue() && !allSelected()"
                     (change)="$event ? toggleAllSelectable() : null" [checked]="table.selection.hasValue() && allSelected()"
                     class="form-check-input">
            </th>
            <td cdk-cell *cdkCellDef="let row">
              <input type="checkbox" *ngIf="canSelectProgram(row)"
                     (click)="$event.stopPropagation()" [checked]="table.selection.isSelected(row)"
                     (change)="$event ? table.selection.toggle(row) : null" class="form-check-input">
            </td>
          </ng-container>
          <ng-container *ngFor="let column of searchColumns" [cdkColumnDef]="column">
            <th cdk-header-cell *cdkHeaderCellDef>
              <header-search-field (filterChange)="columnFilter$.next($event)" [form]="columnFilterForm"
                                   [searchConfig]="searchColumnsConfig" [column]="column">
              </header-search-field>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="activityName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_program_activity_name}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.activityName}}</td>
          </ng-container>
          <ng-container cdkColumnDef="trainingType">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_type_name}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.trainingTypeInfo?.getName()}}</td>
          </ng-container>
          <ng-container cdkColumnDef="trainingStatus">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_program_status}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <div [ngClass]="setStatusColumnClass(row.status)">{{row.statusInfo?.getName()}}</div>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="trainingDate">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_date}}</th>
            <td cdk-cell *cdkCellDef="let row"><span style="direction: ltr">{{row.startDateString}}</span> <span
              class="px-3 position-relative date-to" lang="{{lang.map.training_program_date_to}}"></span> <span
              style="direction: ltr">{{row.endDateString}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="registrationDate">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_registration_date}}</th>
            <td cdk-cell *cdkCellDef="let row"><span style="direction: ltr">{{row.registerationStartDateString}}</span>
              <span class="px-3 position-relative date-to" lang="{{lang.map.training_program_date_to}}"></span> <span
                style="direction: ltr">{{row.registerationClosureDateString}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
              </grid-actions>
            </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="searchColumns"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
      <app-paginator #paginator [pageSize]="10" [length]="table.dataSource.data.length"></app-paginator>
    </div>
  </div>
</div>
