<tabs-list (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
  <tab [name]="tabsData.governmentAgencies.name" [template]="GovernmentAgenciesTemplate"
    [title]="lang.map[tabsData.governmentAgencies.langKey]"></tab>
  <tab [name]="tabsData.charitableEntities.name" [template]="CharitableEntitiesTemplate"
    [title]="lang.map[tabsData.charitableEntities.langKey]"></tab>
</tabs-list>
<ng-template #GovernmentAgenciesTemplate>
  <tabs-list [accordionView]="true" [collapse]="true" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.moj.name" [template]="MOJTemplate" [title]="lang.map[tabsData.moj.langKey]"
      (onExpand)="onTabChange($event)"></tab>
    <tab [name]="tabsData.moci.name" [template]="MOCITemplate" [title]="lang.map[tabsData.moci.langKey]"
      (onExpand)="onTabChange($event)"></tab>
    <tab [name]="tabsData.mawared.name" [template]="MawaredTemplate" [title]="lang.map[tabsData.mawared.langKey]"
      (onExpand)="onTabChange($event)"></tab>
    <tab [name]="tabsData.garsia.name" [template]="GarsiaTemplate" [title]="lang.map[tabsData.garsia.langKey]"
      (onExpand)="onTabChange($event)"></tab>
    <tab [name]="tabsData.izzab.name" [template]="IzzabTemplate" [title]="lang.map[tabsData.izzab.langKey]"
      (onExpand)="onTabChange($event)"></tab>
    <tab [name]="tabsData.kahramaa.name" [template]="KahramaaTemplate" [title]="lang.map[tabsData.kahramaa.langKey]"
      (onExpand)="onTabChange($event)">
    </tab>
    <tab [name]="tabsData.mol.name" [template]="MOLTemplate" [title]="lang.map[tabsData.mol.langKey]"
      (onExpand)="onTabChange($event)"></tab>
  </tabs-list>
  <ng-template #MOJTemplate>
    <integration-inquiry-log-list #mojLogsComponent [gdxServiceId]="gdxServicesEnum.MOJ" [beneficiary]="beneficiary"
      (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, mojLogsComponent)"></integration-inquiry-log-list>
    <div id="mojFlatsContainer">
      <h6 class="text-primary">{{lang.map.flats_info}}</h6>
      <hr class="mt-0">
      <moj-flat-list [list]="relatedData[gdxServiceRelatedTypesEnum.MOJ_FLATS]"></moj-flat-list>
    </div>
    <div id="mojParcelsContainer">
      <h6 class="text-primary">{{lang.map.parcels_info}}</h6>
      <hr class="mt-0">
      <moj-parcel-list [list]="relatedData[gdxServiceRelatedTypesEnum.MOJ_PARCELS]"></moj-parcel-list>
    </div>
  </ng-template>
  <ng-template #MOCITemplate>
    <integration-inquiry-log-list #mociLogsComponent [gdxServiceId]="gdxServicesEnum.MOCI" [beneficiary]="beneficiary"
      (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, mociLogsComponent)"></integration-inquiry-log-list>
    <div id="mociCompaniesContainer">
      <h6 class="text-primary">{{lang.map.company_info}}</h6>
      <hr class="mt-0">
      <moci-company-list [list]="relatedData[gdxServiceRelatedTypesEnum.MOCI_COMPANIES]"></moci-company-list>
    </div>
  </ng-template>
  <ng-template #MawaredTemplate>
    <integration-inquiry-log-list #mawaredLogsComponent [gdxServiceId]="gdxServicesEnum.MAWARED"
      [beneficiary]="beneficiary" (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, mawaredLogsComponent)"></integration-inquiry-log-list>
    <div id="mawaredRelatedDataContainer">
      <h6 class="text-primary">{{lang.map.employees}}</h6>
      <hr class="mt-0">
      <mawared-employee-list [list]="relatedData[gdxServiceRelatedTypesEnum.MAWARED_EMPLOYEES]"></mawared-employee-list>
    </div>
  </ng-template>
  <ng-template #GarsiaTemplate>
    <integration-inquiry-log-list #garciaLogsComponent [gdxServiceId]="gdxServicesEnum.GARSIA"
      [beneficiary]="beneficiary" (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, garciaLogsComponent)"></integration-inquiry-log-list>
    <div id="garsiaPensionsContainer">
      <h6 class="text-primary">{{lang.map.garsia_pensions}}</h6>
      <hr class="mt-0">
      <garsia-pension-list #garsiaPensionList [list]="relatedData[gdxServiceRelatedTypesEnum.GARSIA_PENSION]"
        (onSelectPension)="setPensionPayment($event)"></garsia-pension-list>
    </div>
    <div id="garsiaPensionPaymentsContainer">
      <h6 class="text-primary">{{lang.map.payments}}</h6>
      <hr class="mt-0">
      <garsia-pension-payment-list #garsiaPaymentList
        [list]="relatedData[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT]"></garsia-pension-payment-list>
    </div>
  </ng-template>
  <ng-template #IzzabTemplate>
    <integration-inquiry-log-list #izzabLogsComponent [gdxServiceId]="gdxServicesEnum.IZZAB" [beneficiary]="beneficiary"
      (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, izzabLogsComponent)"></integration-inquiry-log-list>
  </ng-template>
  <ng-template #KahramaaTemplate>
    <integration-inquiry-log-list #kahramaaLogsComponent [gdxServiceId]="gdxServicesEnum.KAHRAMAA"
      [beneficiary]="beneficiary" (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, kahramaaLogsComponent)"></integration-inquiry-log-list>
    <div id="kahramaaRelatedDataContainer">
      <h6 class="text-primary">{{lang.map.outstanding_payment_report}}</h6>
      <hr class="mt-0">
      <kahramaa-outstanding-payment-list [list]="relatedData[gdxServiceRelatedTypesEnum.KAHRAMAA_OUTSTANDING_PAYMENTS]">
      </kahramaa-outstanding-payment-list>
    </div>
  </ng-template>
  <ng-template #MOLTemplate>
    <integration-inquiry-log-list #molLogsComponent [gdxServiceId]="gdxServicesEnum.MOL" [beneficiary]="beneficiary"
      (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
      (onReady)="setLookupComponentMap($event, molLogsComponent)"></integration-inquiry-log-list>
    <div id="molRelatedDataContainer">
      <h6 class="text-primary">{{lang.map.payroll_report}}</h6>
      <hr class="mt-0">
      <mol-related-data-list [list]="relatedData[gdxServiceRelatedTypesEnum.MOL_RELATED_DATA]"></mol-related-data-list>
    </div>
  </ng-template>
</ng-template>
<ng-template #CharitableEntitiesTemplate>
  <tabs-list [accordionView]="true" [collapse]="true" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.qatarCharity.name" [template]="QatarCharityTemplate"
      [title]="lang.map[tabsData.qatarCharity.langKey]" (onExpand)="onTabChange($event)"></tab>
  </tabs-list>
  <ng-template #QatarCharityTemplate>
    Qatar Charity
  </ng-template>
</ng-template>
