<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content no-fixed-height" #dialogContent>
  <div [formGroup]="form">
    <div class="row">
      <!-- Projects -->
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="projects" for="projects" class="form-label">{{lang.map.lbl_projects}}</label>
        <textarea formControlName="projects" type="text"
               validationClasses="projects" trimInput class="form-control" id="projects"></textarea>
        <app-field-error-message controlName="projects"></app-field-error-message>
      </div>
      <!-- Research -->
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="research" for="research" class="form-label">{{lang.map.lbl_research}}</label>
        <textarea formControlName="research" type="text"
               validationClasses="research" trimInput class="form-control" id="research"></textarea>
        <app-field-error-message controlName="research"></app-field-error-message>
      </div>
      <!-- Field Visit -->
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="fieldVisit" for="fieldVisit" class="form-label">{{lang.map.lbl_field_visit}}</label>
        <textarea formControlName="fieldVisit" type="text"
               validationClasses="fieldVisit" trimInput class="form-control" id="fieldVisit"></textarea>
        <app-field-error-message controlName="fieldVisit"></app-field-error-message>
      </div>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
