<div class="row">
  <tabs-list [accordionView]="accordionView" [hasForm]="true" class="py-4" (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
         [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.entities.name" [hasError]="getTabInvalidStatus('entities')"
         [disabled]="!selectedLicense"
         [template]="entitiesTabTemplate" [title]="lang.map.entities"></tab>
    <tab [name]="tabsData.interventionAreas.name" [hasError]="getTabInvalidStatus('interventionAreas')"
         [disabled]="!selectedLicense"
         [template]="interventionAreasTabTemplate" [title]="lang.map.intervention_areas"></tab>
    <tab [name]="tabsData.interventionFields.name" [hasError]="getTabInvalidStatus('interventionFields')"
         [disabled]="!selectedLicense"
         [template]="interventionFieldsTabTemplate" [title]="lang.map.intervention_fields"></tab>
    <tab [name]="tabsData.reports.name" [hasError]="getTabInvalidStatus('reports')"
         [disabled]="!selectedLicense"
         [template]="reportsTemplate" [title]="lang.map.reports"></tab>
    <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
         [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
</div>

<ng-container [formGroup]="form">
  <ng-template #basicInfoTabTemplate>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="fullSerial" asteriskIfRequired="fullSerial"
               class="form-label">{{lang.map.license_number}}</label>
        <div class="input-group">
          <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                 formControlName="fullSerial"
                 type="text" [readOnly]="!isEditLicenseAllowed()"
                 validationClasses="fullSerial" [onlyInvalid]="false" class="form-control"
                 id="fullSerial" trimInput>
          <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch($event)"
                  class="input-group-text"><i
            class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
          <app-field-error-message controlName="fullSerial"></app-field-error-message>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label class="form-label">{{lang.map.intervention_name}}</label>
        <span class="form-control">{{selectedLicense ? selectedLicense.interventionName : '&nbsp;'}}</span>
      </div>
    </div>
    <div *ngIf="selectedLicense">
      <selected-license-table [caseType]="caseTypes.URGENT_INTERVENTION_LICENSE_FOLLOWUP"
                              [caseTypeViewLicense]="caseTypes.URGENT_INTERVENTION_ANNOUNCEMENT"
                              [licenseList]="[selectedLicense]" (clearLicense)="clearSelectedLicense()"
                              [ignoreDelete]="!isEditLicenseAllowed()"
                              [columns]="service.selectLicenseDisplayColumnsReport"></selected-license-table>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h6 text-primary">{{lang.map.beneficiary_country_info}}</h2>
        <hr>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.country}}</label>
        <span
          class="form-control">{{!selectedLicense ? '&nbsp;' : (selectedLicense.beneficiaryCountryInfo ? selectedLicense.beneficiaryCountryInfo.getName() : '&nbsp;')}}</span>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.region}}</label>
        <span
          class="form-control">{{selectedLicense ? (selectedLicense.beneficiaryRegion || '&nbsp;') : '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h6 text-primary">{{lang.map.execution_country_info}}</h2>
        <hr>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.country}}</label>
        <span
          class="form-control">{{!selectedLicense ? '&nbsp;' : (selectedLicense.executionCountryInfo ? selectedLicense.executionCountryInfo.getName() : '&nbsp;')}}</span>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.region}}</label>
        <span
          class="form-control">{{selectedLicense ? (selectedLicense.executionRegion || '&nbsp;') : '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.lbl_description}}</label>
        <textarea class="form-control input-disabled bg-transparent" disabled
                  [innerHTML]="(selectedLicense ? selectedLicense.projectDescription : '&nbsp;')"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label">{{lang.map.special_explanations}}</label>
        <textarea class="form-control input-disabled bg-transparent" disabled
                  [innerHTML]="(selectedLicense ? selectedLicense.description : '&nbsp;')"></textarea>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #entitiesTabTemplate>
  <intervention-implementing-agency-list #implementingAgencyListComponent
                            [list]="(!selectedLicense ? [] : selectedLicense.implementingAgencyList)"
                            [executionCountry]="!selectedLicense ? 0 : selectedLicense.executionCountry"
                            [readonly]="true">
  </intervention-implementing-agency-list>
</ng-template>
<ng-template #interventionAreasTabTemplate>
  <intervention-region-list #interventionRegionListComponent
                            [list]="(!selectedLicense ? [] : selectedLicense.interventionRegionList)"
                            [readonly]="true"></intervention-region-list>
</ng-template>
<ng-template #interventionFieldsTabTemplate>
  <intervention-field-list #interventionFieldListComponent
                           [list]="(!selectedLicense ? [] : selectedLicense.interventionFieldList)"
                           [readonly]="true"></intervention-field-list>
</ng-template>
<ng-template #reportsTemplate>
  <urgent-intervention-report-list #urgentInterventionReportListComponent
                                   [readonly]="readonly" [model]="model"
                                   [documentId]="(selectedLicense ? selectedLicense.id : '')"></urgent-intervention-report-list>
</ng-template>
<ng-template #attachmentsTab>
  <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
               [service]="service.documentService" [model]="model"
               [load]="loadAttachments" [formProperties]="formProperties"></attachments>
</ng-template>
