<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form style="width: 800px;" novalidate autocomplete="off" [formGroup]="form">
    <div class="row mb-3">
      <div class="col-sm-6 position-relative">
        <label asteriskIfRequired="documentTitle" for="documentTitle"
               class="form-label">{{lang.map.certificate_template_title}}</label>
        <input id="documentTitle"
               validationClasses="documentTitle"
               formControlName="documentTitle" class="form-control">
        <app-field-error-message controlName="documentTitle"></app-field-error-message>
      </div>
      <div class="col-sm-6 position-relative">
        <label for="status" class="form-label">{{lang.map.certificate_template_status}}</label>
        <div class="form-check form-switch">
          <input type="checkbox" id="status" formControlName="status"
                 class="form-check-input cursor-pointer">
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <input class="input-file" type="file" #templateUploader [hidden]="true" (change)="onTemplateSelected($event)"
             [accept]="templateExtensions.join(',')">
      <div class="col-sm-12">
        <div class="row mb-3">
          <div class="col-sm-12">
            <div>
              <button class="btn btn-primary"
                      (click)="openFileBrowser($event)">
                {{lang.map.training_program_upload_template}}
              </button>
              <button class="btn btn-primary" *ngIf="model?.vsId" style="margin-right: 10px; margin-left: 10px"
                      (click)="viewTemplate$.next()">
                {{lang.map.training_program_view_template}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid || (!model.vsId && !templateFile)" *ngIf="saveVisible" (click)="saveTemplate$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
