<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{lang.map.org_approve_task}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height" style="width: 400px">
  <div class="row mb-4">
    <div class="col-12 position-relative">
      <label class="form-label" for="comment" asteriskIfRequired [control]="comment">{{lang.map.comment}}</label>
      <textarea name="comment" [formControl]="comment" id="comment" rows="3" [placeholder]="lang.map.type_your_comment"
                class="form-control" validationClasses [control]="comment"
                [maxlength]="customValidators.defaultLengths.EXPLANATIONS"></textarea>
      <app-field-error-message [control]="comment"></app-field-error-message>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <div class="flex-grow-1"></div>
  <button (click)="done$.next(null)" class="btn btn-primary">{{lang.map.org_approve_task}}</button>
  <button dialogClose class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>
