<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <form class="min-w400px" novalidate autocomplete="off"
        [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 mb-4 position-relative">
        <label for="localizationKey" class="form-label">{{langService.map.lbl_localization_key}}</label>
        <input id="localizationKey"
               [ngClass]="fm.getStatusClass('localizationKey')"
               formControlName="localizationKey" class="form-control">
        <app-field-error-message [control]="fm.getFormField('localizationKey')"
                                 [labelKey]="'lbl_localization_key'"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4 position-relative">
        <label for="arName" class="form-label">{{langService.map.lbl_arabic_name}}</label>
        <textarea id="arName" [ngClass]="fm.getStatusClass('arName')" formControlName="arName"
                  class="form-control"></textarea>
        <app-field-error-message [control]="fm.getFormField('arName')"
                                 [labelKey]="'lbl_arabic_name'"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4 position-relative">
        <label for="enName" class="form-label">{{langService.map.lbl_english_name}}</label>
        <textarea id="enName" [ngClass]="fm.getStatusClass('enName')" formControlName="enName"
                  class="form-control"></textarea>
        <app-field-error-message [control]="fm.getFormField('enName')"
                                 [labelKey]="'lbl_english_name'"></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
