<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <form style="width: 500px" novalidate autocomplete="off"
        [formGroup]="form">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a id="basic-tab" href="#basic-tab-content" data-bs-toggle="tab" role="tab"
           class="nav-link active position-relative">{{langService.map.lbl_basic_info}}
          <span *ngIf="fm.getFieldInvalidStatus('basic')"
                class="position-absolute text-danger top-0 start-0 translate-middle mdi mdi-alert-circle"></span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a id="permissions-tab" href="#permissions-tab-content" data-bs-toggle="tab" role="tab"
           class="nav-link position-relative">{{langService.map.lbl_permissions}}
          <span *ngIf="fm.getFieldInvalidStatus('permissions')"
                class="position-absolute text-danger top-0 start-0 translate-middle mdi mdi-alert-circle"></span>
        </a>
      </li>
    </ul>
    <div formGroupName="basic" class="tab-content pt-2">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="basic-tab" id="basic-tab-content">
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="arName" class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName"
                   [ngClass]="fm.getStatusClass('basic.arName')"
                   formControlName="arName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.arName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="enName" class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName"
                   [ngClass]="fm.getStatusClass('basic.enName')"
                   formControlName="enName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.enName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="description" class="form-label">{{langService.map.lbl_description}}</label>
            <textarea id="description" [ngClass]="fm.getStatusClass('basic.description')"
                      formControlName="description"
                      class="form-control"></textarea>
            <app-field-error-message [control]="fm.getFormField('basic.description')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4">
            <div class="form-check form-switch">
              <input type="checkbox" id="status" formControlName="status" class="form-check-input cursor-pointer">
              <label for="status" class="cursor-pointer">{{fm.getStatusFieldTranslate('basic.status')}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" role="tabpanel" aria-labelledby="permissions-tab"
           id="permissions-tab-content">
        <div class="row">
          <ng-container>
            <div *ngFor="let checkBoxGroup of groups" class="col-sm-12 mb-2">
              <div class="p-2 border border-1">
                <div class="form-check mb-2 pb-2 border-bottom">
                  <input [indeterminate]="checkBoxGroup.isIndeterminate()" [checked]="checkBoxGroup.isFull()"
                         type="checkbox"
                         id="group-id-{{checkBoxGroup.group.id}}" (change)="onGroupClicked(checkBoxGroup)"
                         class="form-check-input cursor-pointer">
                  <label for="group-id-{{checkBoxGroup.group.id}}"
                         class="cursor-pointer">{{checkBoxGroup.group.getName()}}</label>
                </div>
                <div *ngFor="let row of checkBoxGroup.rows" class="d-flex flex-row">
                  <div *ngFor="let permission of row" class="form-check flex-grow-1">
                    <input type="checkbox" [checked]="checkBoxGroup.isSelected(permission.id)" [value]="permission.id"
                           id="group-permission-id-{{permission.id}}"
                           (change)="onPermissionClicked($event , permission , checkBoxGroup)"
                           class="form-check-input cursor-pointer">
                    <label for="group-permission-id-{{permission.id}}"
                           class="cursor-pointer">{{permission.getName()}}</label>
                  </div>
                </div>

              </div>
            </div>
          </ng-container>
        </div><!-- group -->
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button dialogClose="welcome" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
