<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content w800px" #dialogContent>
  <form novalidate autocomplete="off" [formGroup]="form">
    <tabs-list (onTabChange)="setDialogButtonsVisibility($event)" [hasForm]="true">
      <tab [name]="tabsData.basic.name" [template]="basicTabTemplate" [title]="langService.map.lbl_basic_info"
           [hasError]="getTabInvalidStatus('basic')"></tab>
      <tab [name]="tabsData.permissions.name" [template]="permissionsTabTemplate"
           [title]="langService.map.lbl_permissions"
           [hasError]="getTabInvalidStatus('permissions')"></tab>
    </tabs-list>
    <ng-template #basicTabTemplate>
      <div formGroupName="basic">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="arName" for="arName"
                   class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName" validationClasses="arName" trimInput
                   formControlName="arName" class="form-control">
            <app-field-error-message controlName="arName"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="enName" for="enName"
                   class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName" validationClasses="enName" trimInput
                   formControlName="enName" class="form-control">
            <app-field-error-message controlName="enName"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="description" class="form-label">{{langService.map.lbl_description}}</label>
            <textarea id="description" validationClasses="description" trimInput
                      formControlName="description" class="form-control"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4">
            <div class="form-check form-switch">
              <input type="checkbox" id="status" formControlName="status" class="form-check-input cursor-pointer">
              <label for="status" class="cursor-pointer">{{langService.map.lbl_status}}
                : {{statusField && statusField.value ? this.langService.map.lbl_active : this.langService.map.lbl_inactive}}</label>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #permissionsTabTemplate>
      <div formGroupName="permissions">
        <div class="row">
          <ng-container>
            <div *ngFor="let checkBoxGroup of groups" class="col-sm-12 mb-2">
              <div class="p-2 border border-1">
                <div class="form-check mb-2 pb-2 border-bottom">
                  <input [indeterminate]="checkBoxGroup.isIndeterminate()" [checked]="checkBoxGroup.isFull()"
                         type="checkbox"
                         id="group-id-{{checkBoxGroup.group.id}}" (change)="onGroupClicked(checkBoxGroup)"
                         class="form-check-input cursor-pointer">
                  <label for="group-id-{{checkBoxGroup.group.id}}"
                         class="cursor-pointer">{{checkBoxGroup.group.getName()}}</label>
                </div>
                <div *ngFor="let row of checkBoxGroup.rows" class="row mx-2">
                  <div *ngFor="let permission of row" class="form-check col-sm-12 col-md-4">
                    <input type="checkbox" [checked]="checkBoxGroup.isSelected(permission.id)" [value]="permission.id"
                           id="group-permission-id-{{permission.id}}"
                           (change)="onPermissionClicked($event , permission , checkBoxGroup)"
                           class="form-check-input cursor-pointer">
                    <label for="group-permission-id-{{permission.id}}"
                           class="cursor-pointer">{{permission.getName()}}</label>
                  </div>
                </div>

              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{langService.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
