<tabs-list>
  <tab name="basicInfo" [template]="basicInfoTemplate" [title]="lang.map.lbl_basic_info"></tab>
  <tab name="contactOfficer" [template]="contactOfficerTemplate" [title]="lang.map.contact_officer"></tab>
  <tab name="beneficiariesNature" [template]="beneficiariesNatureTabTemplate"
       [title]="lang.map.lbl_beneficiaries_nature"></tab>
  <tab name="specialExplanations" [template]="specialExplanationsTabTemplate"
       [title]="lang.map.special_explanations"></tab>
</tabs-list>
<ng-template #basicInfoTemplate>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>
</ng-template>
<ng-template #contactOfficerTemplate>
  <value-differences-list [differenceList]="contactOfficerDifferences"></value-differences-list>
</ng-template>
<ng-template #beneficiariesNatureTabTemplate>
  <value-differences-list [differenceList]="beneficiariesNatureDifferences"></value-differences-list>
</ng-template>
<ng-template #specialExplanationsTabTemplate>
  <value-differences-list [differenceList]="specialExplanationDifferences"></value-differences-list>
</ng-template>
