<div class="row">
  <tabs-list [accordionView]="accordionView" [hasForm]="true">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
         [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.entities.name" [hasError]="getTabInvalidStatus('entities')"
         [template]="entitiesTabTemplate" [title]="lang.map.entities"
         [disabled]="this.operation == OperationTypes.CREATE && !selectedLicense"></tab>
    <tab [name]="tabsData.interventionAreas.name" [hasError]="getTabInvalidStatus('interventionAreas')"
         [disabled]="this.operation == OperationTypes.CREATE && !selectedLicense"
         [template]="interventionAreasTabTemplate" [title]="lang.map.intervention_areas"></tab>
    <tab [name]="tabsData.interventionFields.name" [hasError]="getTabInvalidStatus('interventionFields')"
         [disabled]="this.operation == OperationTypes.CREATE && !selectedLicense"
         [template]="interventionFieldsTabTemplate" [title]="lang.map.intervention_fields"></tab>
    <tab [name]="tabsData.transferData.name" [hasError]="getTabInvalidStatus('transferData')"
         [disabled]="this.operation == OperationTypes.CREATE && !selectedLicense || !requestTypeField.value"
         [template]="transferDataTabTemplate" [title]="lang.map.transfer_data"></tab>
    <tab *ngIf="!accordionView" [hideIcon]="true" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
         [disabled]="this.operation == OperationTypes.CREATE && !selectedLicense"
         [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
</div>
<ng-container [formGroup]="form">
  <ng-template #basicInfoTabTemplate>
    <ng-container formGroupName="basicInfo">
      <div>
        <div class="row mb-4">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="requestType" asteriskIfRequired="requestType"
                   class="form-label">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType"
                       placeholder="{{lang.map.select}}" id="requestType"
                       [notFoundText]="lang.map.msg_not_found"
                       appendTo="body"
                       [readonly]="!isEditAllowed()"
                       (change)="handleRequestTypeChange($event, true)"
                       formControlName="requestType"
                       validationClasses="requestType">
              <ng-option *ngFor="let option of requestTypesList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="urgentAnnouncementFullSerial" asteriskIfRequired="urgentAnnouncementFullSerial"
                   class="form-label">{{lang.map.urgent_intervention_declaration_license_number}}</label>
            <div class="input-group">
              <input (keydown.enter)="isEditAllowed() && licenseSearch($event)"
                     formControlName="urgentAnnouncementFullSerial"
                     type="text" [readOnly]="!isEditAllowed()"
                     validationClasses="urgentAnnouncementFullSerial" [onlyInvalid]="false" class="form-control"
                     id="urgentAnnouncementFullSerial" trimInput>
              <button type="button" *ngIf="isEditAllowed()" (click)="licenseSearch($event)" class="input-group-text">
                <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i>
              </button>
              <app-field-error-message controlName="urgentAnnouncementFullSerial"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="interventionName" class="form-label">{{lang.map.intervention_name}}</label>
            <input [value]="model!.interventionName" class="form-control" type="text"
                   readonly id="interventionName">
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <selected-license-table [caseType]="caseTypes.URGENT_INTERVENTION_ANNOUNCEMENT"
                                  [caseTypeViewLicense]="caseTypes.URGENT_INTERVENTION_ANNOUNCEMENT"
                                  [ignoreDelete]="!isEditAllowed()"
                                  [licenseList]="[selectedLicense]"
                                  (clearLicense)="resetLicence()"
                                  [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.beneficiary_country_info}}</h2>
            <hr>
          </div>
          <div class="col-md-6 col-sm-12">
            <label for="beneficiaryCountry" class="form-label">{{lang.map.country}}</label>
            <input class="form-control" [value]="model?.beneficiaryCountryInfo?.getName()" type="text" readonly
                   id="beneficiaryCountry">
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label" for="beneficiaryRegion">{{lang.map.region}}</label>
            <input id="beneficiaryRegion" [value]="model!.beneficiaryRegion" class="form-control" readonly>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.execution_country_info}}</h2>
            <hr>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label" for="executionCountry">{{lang.map.country}}</label>
            <input id="executionCountry" [value]="model?.executionCountryInfo?.getName()" class="form-control" readonly>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label" for="executionRegion">{{lang.map.region}}</label>
            <input id="executionRegion" [value]="model!.executionRegion" class="form-control" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-12 mb-4 position-relative">
            <label for="projectDescription" class="form-label">{{lang.map.lbl_description}}</label>
            <textarea class="form-control" rows="4" readonly [value]="model!.projectDescription"
                      id="projectDescription"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="description" class="form-label">{{lang.map.special_explanations}}</label>
            <textarea class="form-control" rows="4" readonly [value]="model!.description  " id="description"></textarea>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #entitiesTabTemplate>
    <intervention-implementing-agency-list 
      #implementingAgencyListComponent
      [list]="(!model ? [] : model.implementingAgencyList)"
      [executionCountry]="model!.executionCountry"
      [readonly]="true"
    ></intervention-implementing-agency-list>
  </ng-template>
  <ng-template #interventionAreasTabTemplate>
    <intervention-region-list #interventionRegionListComponent
                              [list]="(!model ? [] : model.interventionRegionList)"
                              [readonly]="true"
                              (readyEvent)="interventionAreasTabStatus = $event"></intervention-region-list>
  </ng-template>
  <ng-template #interventionFieldsTabTemplate>
    <intervention-field-list #interventionFieldListComponent
                             [list]="(!model ? [] : model.interventionFieldList)"
                             [readonly]="true"
                             (readyEvent)="interventionFieldsTabStatus = $event"></intervention-field-list>
  </ng-template>
  <ng-template #transferDataTabTemplate>
    <ng-container formGroupName="transferData">
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="isTransfer">
          <label for="implementingAgencyType" asteriskIfRequired="implementingAgencyType"
                 class="form-label">{{lang.map.implementation_agency_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="implementingAgencyType"
                     placeholder="{{lang.map.select}}" id="implementingAgencyType"
                     [notFoundText]="lang.map.msg_not_found"
                     [clearable]="false"
                     appendTo="body"
                     [readonly]="!isEditAllowed()"
                     (change)="handleImplementingAgencyTypeChanges()"
                     formControlName="implementingAgencyType"
                     validationClasses="implementingAgencyType">
            <ng-option *ngFor="let option of implementingAgencyType" [value]="option.lookupKey">
              {{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="implementingAgencyType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="isTransfer">
          <label for="implementingAgency" asteriskIfRequired="implementingAgency"
                 class="form-label">{{lang.map.implementation_agency}}</label>
          <ng-select [selectOnTab]="true" labelForId="implementingAgency"
                     placeholder="{{lang.map.select}}" id="implementingAgency"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="!isEditAllowed()"
                     appendTo="body"
                     formControlName="implementingAgency"
                     (change)="handleImplementingAgencyNameChanges()"
                     validationClasses="implementingAgency">
            <ng-option *ngFor="let option of implementingAgencies" [value]="option.implementingAgency">
              {{ option.implementingAgencyInfo.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="implementingAgency"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="isReceive">
          <label for="implementingAgency" asteriskIfRequired="implementingAgency"
                 class="form-label">{{lang.map.external_office_name}}</label>
          <ng-select [selectOnTab]="true" labelForId="implementingAgency"
                     placeholder="{{lang.map.select}}" id="implementingAgency"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="!isEditAllowed()"
                     appendTo="body"
                     formControlName="implementingAgency"
                     (change)="handleImplementingAgencyNameChanges()"
                     validationClasses="implementingAgency">
            <ng-option *ngFor="let option of implementingAgenciesAdminRes" [value]="option.fnId">
              {{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="implementingAgency"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="isReceive">
          <label for="accountType" asteriskIfRequired="accountType"
                 class="form-label">{{lang.map.account_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="accountType"
                     placeholder="{{lang.map.select}}" id="accountType"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="!isEditAllowed()"
                     appendTo="body"
                     (change)="_handleChangeAccountType()"
                     formControlName="accountType"
                     validationClasses="accountType">
            <ng-option *ngFor="let option of urgentFinancialNotificationAccountType" [value]="option.lookupKey">
              {{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="accountType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="!boxAccountType">
          <label for="accountNumber" asteriskIfRequired="accountNumber"
                 class="form-label">{{lang.map.account_number}}</label>
          <ng-select [selectOnTab]="true" labelForId="accountNumber"
                     placeholder="{{lang.map.select}}" id="accountNumber"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="!isEditAllowed()"
                     appendTo="body"
                     formControlName="accountNumber"
                     validationClasses="accountNumber">
            <ng-option *ngFor="let option of bankAccountList" [value]="option.accountNumber">
              {{ option.accountNumber }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="accountNumber"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="boxAccountType">
          <label for="boxAccountNumber" class="form-label">{{lang.map.account_number}}</label>
          <input [value]="accountNumberField.value" readonly class="form-control" id="boxAccountNumber">
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label for="amount" asteriskIfRequired="amount"
                 class="form-label">{{lang.map.amount}}</label>
          <input formControlName="amount" class="form-control" type="text"
                 [readonly]="!isEditAllowed()" validationClasses="amount" id="amount" trimInput
                 [mask]="inputMaskPatterns.DECIMAL_WITH_SEPARATOR(2)"
                 prefix="$"
                 [thousandSeparator]="inputMaskPatterns.THOUSAND_SEPARATOR">
          <app-field-error-message controlName="amount"></app-field-error-message>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService" [model]="model"
                 [load]="loadAttachments" [formProperties]="formProperties"></attachments>
  </ng-template>
</ng-container>
