<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle()}}</h1>
  <div>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form class="w800px" novalidate autocomplete="off" [formGroup]="form">
    <ng-container *ngIf="(typeWithSubRecord && !this.model.parentId) else basicTabTemplate">
      <tabs-list [tabByIndex$]="selectedTabIndex$" (onTabChange)="tabChanged($event)">
        <tab [name]="tabsData.basic.name" [template]="basicTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
        <tab [name]="tabsData.children.name" [template]="childrenTemplate"
             [title]="lang.map.lbl_children_x.change({x: classification.getName()})"
             [disabled]="!this.model.id" *ngIf="(typeWithSubRecord && !this.model.parentId)"></tab>
      </tabs-list>
    </ng-container>
    <ng-template #basicTabTemplate>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="arName" for="arName"
                 class="form-label">{{lang.map.lbl_arabic_name}}</label>
          <input id="arName"
                 validationClasses="arName" maxlength="100"
                 formControlName="arName" class="form-control">
          <app-field-error-message controlName="arName"></app-field-error-message>
        </div>
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="enName" for="enName"
                 class="form-label">{{lang.map.lbl_english_name}}</label>
          <input id="enName"
                 validationClasses="enName" maxlength="100"
                 formControlName="enName" class="form-control">
          <app-field-error-message controlName="enName"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #childrenTemplate>
      <admin-lookup-list #childListComponent
                         [adminLookupTypeId]="adminLookupTypeId!"
                         [isRootLevel]="false" [parentId]="model.id"
                         [readonly]="readonly"
      ></admin-lookup-list>
    </ng-template>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="!readonly && validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="!readonly && saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
