<ng-container>
  <div class="row">
    <div class="col-md-6 ">
      <div  *ngIf="isClaimed && canUpdate">
        <label class="form-label" for="selectedOrg">{{lang.map.organization_officers}}</label>
        <div style="display: flex">
          <ng-select #selectOrganizations appendTo="body" [clearable]="true" id="selectedOrg" ng-model="selectedOrg"
            style="flex: 1" (change)="onChangeRecord($event)">
            <ng-option [value]="option.identificationNumber" *ngFor="let option of organizationUsers">
              {{option.fullName}}</ng-option>
          </ng-select>
          <button class="btn btn-link outline-none" style="padding: 0" tooltip="{{lang.map.btn_add}}" (click)="onSave()"
            [disabled]="allowAdd()">
            <i class="mdi mdi-plus-box"></i></button>
        </div>
      </div>
    </div>
    <app-grid-search class="search-grid" (searchTextEvent)="filterControl.setValue($event)"></app-grid-search>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <div class="table-responsive">
        <app-table #table sortableTable [paginator]="paginator" [data]="dataSource" [columns]="columns"
          [filter]="filterControl.value" [useSearchToFilter]="true">
          <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">

            <ng-container cdkColumnDef="fullName">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.full_name}}</th>
              <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.fullName}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="email">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_email}}</th>
              <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.email}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="phone">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_phone}}</th>
              <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.phone}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="extraPhone">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_extra_phone_number}}</th>
              <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.extraPhone}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
              <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
                <grid-actions [record]="row" [actions]="actions" [itemIndex]="i"></grid-actions>
              </td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="table.columns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"></tr>
            <tr *cdkNoDataRow>
              <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
            </tr>
          </table>
          <app-paginator #paginator></app-paginator>
        </app-table>
        <context-menu-item #menu [actions]="actions"></context-menu-item>
      </div>
    </div>
  </div>
</ng-container>
