<div class="row">
  <form autocomplete="off" [formGroup]="form" id="form">
    <tabs-list [accordionView]="accordionView" *ngIf="tabs.length > 0">
      <tab
        *ngFor="let tab of tabs; let i = index"
        [name]="tab.name"
        [template]="tab.template"
        [title]="tab.title"
        [hasError]="getTabInvalidStatus(i)"
      >
      </tab>
    </tabs-list>
    <ng-template #tabContent>
      <div class="row" formGroupName="metaData">
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="englishName"
            for="englishName"
            class="form-label"
            >{{ lang.map.english_name }}</label
          >
          <input
            type="text"
            class="form-control"
            id="englishName"
            validationClasses="englishName"
            formControlName="englishName"
          />
          <app-field-error-message
            controlName="englishName"
          ></app-field-error-message>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="arabicName"
            for="arabicName"
            class="form-label"
            >{{ lang.map.arabic_name }}</label
          >
          <input
            validationClasses="arabicName"
            type="text"
            class="form-control"
            id="arabicName"
            formControlName="arabicName"
          />

          <app-field-error-message controlName="arabicName">
            ></app-field-error-message
          >
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="shortName"
            for="shortName"
            class="form-label"
            validationClasses="shortName"
            >{{ lang.map.short_name }}</label
          >
          <input
            type="text"
            class="form-control"
            id="shortName"
            formControlName="shortName"
          />

          <app-field-error-message
            controlName="shortName"
          ></app-field-error-message>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="activityType"
            for="requestType"
            class="form-label"
            >{{ lang.map.activity_type }}</label
          >
          <ng-select
            [selectOnTab]="true"
            labelForId="activityType"
            [clearable]="true"
            placeholder="{{ lang.map.select }}"
            id="activityType"
            [notFoundText]="lang.map.msg_not_found"
            appendTo="body"
            validationClasses="activityType"
            formControlName="activityType"
          >
            <ng-option
              *ngFor="let type of activityTypes"
              [disabled]="!type.isActive()"
              [value]="type.id"
              >{{ type.getName() }}</ng-option
            >
          </ng-select>
          <app-field-error-message
            controlName="activityType"
          ></app-field-error-message>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label for="createdOn" class="form-label">{{
            lang.map.creation_date
          }}</label>
          <input
            type="text"
            class="form-control"
            id="createdOn"
            [readonly]="true"
            formControlName="createdOn"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <file-uploader
            labelKey="logo"
            [isRequired]="false"
            [showFilePreview]="true"
            (fileUploadEvent)="setLogoFile($event)"
            [allowedExtensions]="[
              fileExtensionsEnum.PNG,
              fileExtensionsEnum.JPEG,
              fileExtensionsEnum.JPG
            ]"
          >
          </file-uploader>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label for="registrationAuthority" class="form-label">{{
            lang.map.registered_by
          }}</label>
          <input
            type="text"
            class="form-control"
            id="registrationAuthority"
            [readonly]="true"
            formControlName="registrationAuthority"
          />
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label for="publishDate" class="form-label">{{
            lang.map.publish_date
          }}</label>
          <input
            type="text"
            class="form-control"
            id="publishDate"
            [readonly]="true"
            formControlName="publishDate"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label for="unifiedEconomicRecord" class="form-label">{{
            lang.map.unified_economic_record
          }}</label>
          <input
            type="text"
            class="form-control"
            id="unifiedEconomicRecord"
            formControlName="unifiedEconomicRecord"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label for="taxCardNo" class="form-label">{{
            lang.map.tax_card_number
          }}</label>
          <input
            type="text"
            class="form-control"
            id="taxCardNo"
            formControlName="taxCardNo"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="regulatingLaw"
            for="regulatingLaw"
            class="form-label"
            >{{ lang.map.regulating_law }}</label
          >
          <input
            type="text"
            class="form-control"
            id="regulatingLaw"
            validationClasses="regulatingLaw"
            formControlName="regulatingLaw"
          />

          <app-field-error-message
            controlName="regulatingLaw"
          ></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #tabContent>
      <div class="row" formGroupName="contactInformation">
        <div
          *ngFor="let input of contactInformationInputs"
          class="col-sm-6 col-md-4 mb-4 position-relative"
        >
          <label
            [asteriskIfRequired]="input.controlName"
            [for]="input.controlName"
            class="form-label"
            [validationClasses]="input.controlName"
            >{{ input.label }}</label
          >
          <input
            type="text"
            class="form-control"
            [id]="input.controlName"
            [formControlName]="input.controlName"
          />

          <app-field-error-message
            [controlName]="input.controlName"
          ></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #tabContent>
      <organization-officers
        #officer
        [readonly]="readonly"
        [list]="model!.complianceOfficerList"
      >
      </organization-officers>
    </ng-template>
    <ng-template #tabContent>
      <organization-officers
        #officer
        [readonly]="readonly"
        [list]="model!.charityContactOfficerList"
      >
      </organization-officers>
    </ng-template>
    <ng-template #tabContent>
      <charity-branch> </charity-branch>
    </ng-template>
    <ng-template #tabContent> </ng-template>
    <ng-template #tabContent>
      <attachments
        [caseId]="model?.id"
        [caseType]="model?.caseType"
        [service]="service.documentService"
      ></attachments>
    </ng-template>
  </form>
</div>
