<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="trainingProgramId" aria-label="Close"></button>
  </div>
</div>

<div class="dialog-content">
  <div *ngIf="employeeService.isInternalUser() && this.operation == operationTypes.CREATE">
    <div class="form-check form-check-inline">
      <input (change)="onEmployeeTypeChange()" [(ngModel)]="employeeType" class="form-check-input" id="authority"
             name="employeeType" type="radio"
             value="authority">
      <label class="form-check-label" for="authority">
        {{lang.map.training_program_add_authority_employee}}
      </label>
    </div>
    <div class="form-check form-check-inline mb-3">
      <input (change)="onEmployeeTypeChange()" [(ngModel)]="employeeType" class="form-check-input" id="organization"
             name="employeeType" type="radio"
             value="organization">
      <label class="form-check-label" for="organization">
        {{lang.map.training_program_add_organization_employee}}
      </label>
    </div>
  </div>

  <div *ngIf="showAuthorityTemplate()">
    <div class="row mb-3 add-to-list-container">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <label class="form-label"
                   for="authorityId">{{lang.map.training_program_authority_employees}}</label>
            <div class="mb-3 position-relative ng-select-wrapper">
              <ng-select
                (change)="onSelectAuthorityUser()"
                [(ngModel)]="selectedAuthorityUserId"
                [ngModelOptions]="{standalone: true}"
                appendTo="body"
                id="authorityId"
                placeholder="{{lang.map.select}}">
                <ng-option *ngFor="let authorityUser of authorityUsers"
                           [value]="authorityUser.id">{{authorityUser.getName()}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showOrganizationsTemplate()">
    <div class="row mb-3 add-to-list-container">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6" *ngIf="employeeService.isInternalUser()">
            <label class="form-label"
                   for="organizationId">{{lang.map.training_program_organizations}}</label>
            <div class="mb-3 position-relative ng-select-wrapper">
              <ng-select
                (change)="onOrganizationChange()"
                [(ngModel)]="selectedOrganizationId"
                [ngModelOptions]="{standalone: true}"
                appendTo="body"
                id="organizationId"
                placeholder="{{lang.map.select}}">
                <ng-option *ngFor="let organization of organizations"
                           [value]="organization.id">{{organization.getName()}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label"
                   for="organizationUserId">{{lang.map.training_program_organization_employees}}</label>
            <div class="mb-3 position-relative ng-select-wrapper">
              <ng-select
                (change)="onSelectOrganizationUser()"
                [(ngModel)]="selectedOrganizationUserId"
                appendTo="body"
                id="organizationUserId"
                placeholder="{{lang.map.select}}">
                <ng-option *ngFor="let organizationUser of organizationUsers"
                           [value]="organizationUser.id">{{organizationUser.getName()}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <form style="width: 800px;" novalidate autocomplete="off" [formGroup]="form">
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="arName" for="arName"
                 class="form-label">{{lang.map.arabic_name}}</label>
          <input id="arName"
                 validationClasses="arName"
                 formControlName="arName" class="form-control">
          <app-field-error-message controlName="arName"></app-field-error-message>
        </div>
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="enName" for="enName"
                 class="form-label">{{lang.map.english_name}}</label>
          <input id="enName"
                 validationClasses="enName"
                 formControlName="enName" class="form-control">
          <app-field-error-message controlName="enName"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="employementPosition" for="employementPosition"
                 class="form-label">{{lang.map.training_program_trainee_employment_position}}</label>
          <input id="employementPosition"
                 validationClasses="employementPosition"
                 formControlName="employementPosition" class="form-control">
          <app-field-error-message controlName="employementPosition"></app-field-error-message>
        </div>
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="department" for="department"
                 class="form-label">{{lang.map.training_program_trainee_department}}</label>
          <input id="department"
                 validationClasses="department"
                 formControlName="department" class="form-control">
          <app-field-error-message controlName="department"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="email" for="email"
                 class="form-label">{{lang.map.lbl_email}}</label>
          <input id="email"
                 validationClasses="email"
                 formControlName="email" class="form-control">
          <app-field-error-message controlName="email"></app-field-error-message>
        </div>
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="phoneNumber" for="phoneNumber"
                 class="form-label">{{lang.map.home_phone_number}}</label>
          <input id="phoneNumber" validationClasses="phoneNumber" trimInput
                 formControlName="phoneNumber" class="form-control">
          <app-field-error-message controlName="phoneNumber"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 position-relative">
          <label asteriskIfRequired="trainingRecord" for="trainingRecord"
                 class="form-label">{{lang.map.training_program_trainee_training_record}}</label>
          <textarea id="trainingRecord"
                    validationClasses="trainingRecord"
                    formControlName="trainingRecord"
                    class="form-control"
                    rows="3">
          </textarea>
          <app-field-error-message controlName="trainingRecord"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 position-relative">
          <label asteriskIfRequired="currentJob" for="currentJob"
                 class="form-label">{{lang.map.training_program_trainee_current_job}}</label>
          <textarea id="currentJob"
                    validationClasses="currentJob"
                    formControlName="currentJob"
                    class="form-control"
                    rows="3">
          </textarea>
          <app-field-error-message controlName="currentJob"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <div class="row">
            <label asteriskIfRequired="gender" for="gender"
                   class="form-label">{{lang.map.gender}}</label>
            <div class="position-relative ng-select-wrapper">
              <ng-select validationClasses="gender"
                         formControlName="gender"
                         id="gender">
                <ng-option [value]="gender.lookupKey" *ngFor="let gender of genders">{{gender.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="gender"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-sm-6 position-relative">
          <div class="row">
            <label asteriskIfRequired="nationality" for="nationality"
                   class="form-label">{{lang.map.lbl_nationality}}</label>
            <div class="position-relative ng-select-wrapper">
              <ng-select validationClasses="nationality"
                         formControlName="nationality"
                         id="nationality">
                <ng-option [value]="nationality.lookupKey" *ngFor="let nationality of nationalities"
                           [disabled]="nationality.isRetiredCommonStatus()">{{nationality.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="nationality"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <div class="row">
            <label asteriskIfRequired="jobType" for="jobType"
                   class="form-label">{{lang.map.training_program_job_type}}</label>
            <div class="position-relative ng-select-wrapper">
              <ng-select validationClasses="jobType"
                         formControlName="jobType"
                         id="jobType">
                <ng-option [value]="jobType.lookupKey" *ngFor="let jobType of jobTypes">{{jobType.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="nationality"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="dialog-actions">
  <span class="flex-grow-1"></span>
<!--  <button *ngIf="this.operation != operationTypes.VIEW" [disabled]="form.invalid" (click)="saveCandidate()" class="btn btn-primary">{{lang.map.btn_save}}</button>-->
  <button *ngIf="this.operation != operationTypes.VIEW && !isInternalUser" [disabled]="form.invalid" (click)="saveCandidateAndClose(true)" class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button *ngIf="this.operation != operationTypes.VIEW && !isInternalUser" [disabled]="form.invalid" (click)="saveCandidateAndClose(false)" class="btn btn-primary">{{lang.map.btn_save_and_send}}</button>

  <button *ngIf="this.operation != operationTypes.VIEW && isInternalUser" [disabled]="form.invalid" (click)="saveCandidateAndClose(false)" class="btn btn-primary">{{lang.map.btn_save}}</button>

  <button *ngIf="this.operation == operationTypes.VIEW && isInternalUser" [disabled]="form.invalid" (click)="acceptCandidate$.next()" class="btn btn-primary">{{lang.map.lbl_accept}}</button>
  <button *ngIf="this.operation == operationTypes.VIEW && isInternalUser" [disabled]="form.invalid" (click)="rejectCandidate()" class="btn btn-primary">{{lang.map.lbl_reject}}</button>

  <button [dialogClose]="trainingProgramId" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
