<ng-template #customHeaderTemplate>
  <ng-select [selectOnTab]="true" [clearable]="false" placeholder="{{lang.map.select}}" id="profileId"
    [notFoundText]="lang.map.msg_not_found" appendTo="body" [formControl]="profileIdControl"
    (change)="handleProfileChange()">
    <ng-option value="">{{lang.map.lbl_all}}</ng-option>
    <ng-option *ngFor="let option of profiles$|async" [value]="option.id">
      {{option.getName()}}
    </ng-option>
  </ng-select>
</ng-template>

<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator" [filter]="filterControl.value" [useSearchToFilter]="true"
        [selectable]="true" [data]="models" [columns]="displayedColumns" sortableTable>
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_external_user_request_approval"
                            [reload$]="reload$"
                            [add$]="add$"
                            (textChange)="filterControl.setValue($event)"
                            [customTemplate]="customHeaderTemplate"
                            [allowAdd]="service.canAddUser()"
                            ></table-header>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="rowSelection">
            <th cdk-header-cell *cdkHeaderCellDef>
              <input type="checkbox" [disabled]="table.filter"
                [indeterminate]="table.selection.hasValue() && !allSelected()"
                (change)="$event ? toggleAllInProgess() : null" [checked]="table.selection.hasValue() && allSelected()"
                class="form-check-input">
            </th>
            <td cdk-cell *cdkCellDef="let row">
              <input type="checkbox" *ngIf="row.requestStatus == externalUserUpdateRequestStatusEnum.IN_PROGRESS"
                (click)="$event.stopPropagation()" [checked]="table.selection.isSelected(row)"
                (change)="$event ? table.selection.toggle(row) : null" class="form-check-input">
            </td>
          </ng-container>
          <ng-container cdkColumnDef="header">
            <th cdk-header-cell colspan="100" *cdkHeaderCellDef="let row">
              <div class="d-flex flex-row">
                <ng-container *ngIf="table">
                  <app-bulk-actions class="w-auto" *ngIf="table.selection && table.selection.selected.length"
                    [selectedRecords]="table.selection.selected" [actionsList]="bulkActionsList"></app-bulk-actions>
                </ng-container>
                <div class="d-flex ms-auto" *ngIf="selectedFilter">
                  <button (click)="selectFilter(undefined)" class="btn btn-sm"
                    [ngClass]="requestStatusClasses[selectedFilter.lookupKey]">
                    {{lang.map.selected_status}} - {{selectedFilter.getName()}}
                  </button>
                  <div class="px-1"></div>
                  <div class="vr"></div>
                  <div class="px-1"></div>
                </div>
                <div class="d-flex gap-3" [ngClass]="{ 'ms-auto': !selectedFilter}">
                  <button *ngFor="let status of requestStatusList" (click)="selectFilter(status)"
                    class="btn btn-sm  position-relative {{requestStatusClasses[status.lookupKey]}}"
                    data-bs-toggle="button">
                    {{status.getName()}} <span
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">{{requestCountMap
                      && requestCountMap.get(status.lookupKey)}}</span>
                  </button>
                </div>
              </div>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="domainName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.login_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.domainName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="arName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_arabic_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.arName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="enName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_english_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-ltr d-inline-block">{{row.enName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="empNum">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_employee_number}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="user-select-all">{{row.empNum}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="requestType">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.request_type}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="user-select-all">
                <div class="d-flex flex-row">
                  <i class="mdi {{actionIconsEnum.ALPHABET_N}} text-primary me-2" *ngIf="row.isNewUserRequest()"
                    tooltip="{{lang.map.new_user_request}}"></i>
                  <i class="mdi {{actionIconsEnum.ALPHABET_U}} text-primary me-2" *ngIf="!row.isNewUserRequest()"
                    tooltip="{{lang.map.update_user_request}}"></i>
                  {{row.requestTypeInfo.getName()}}
                </div>
              </span>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="updatedOn">
            <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header [sortParamAsFullItem]="true"
              [sortCallback]="sortingCallbacks.updatedOn">{{lang.map.action_date}}</th>
            <td cdk-cell *cdkCellDef="let row" class="date-column">{{row.updatedOnString}}</td>
          </ng-container>
          <ng-container cdkColumnDef="updatedBy">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
              [sortCallback]="sortingCallbacks.updatedBy"> {{lang.map.updated_by}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.updateByInfo ? row.updateByInfo.getName() : ''}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="requestStatus">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
              [sortCallback]="sortingCallbacks.requestStatus">{{lang.map.request_status}}</th>
            <td cdk-cell *cdkCellDef="let row" class="date-column">{{row.requestStatusInfo ?
              row.requestStatusInfo.getName() : ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
              </grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="['header']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns" class="table-row-header"></tr>
          <tr cdk-row (contextmenu)="menu.open($event , row)" *cdkRowDef="let row; columns: table.columns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
      <app-paginator #paginator></app-paginator>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
