<ng-container *ngIf="showForm">
  <div [formGroup]="form">
    <div class="row">
      <!-- fullSerial -->
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="fullSerial" for="fullSerial" class="form-label">{{lang.map.serial_number}}</label>
        <input id="fullSerial" validationClasses="fullSerial" formControlName="fullSerial" trimInput class="form-control">
        <app-field-error-message controlName="fullSerial"></app-field-error-message>
      </div>
      <!-- qatariTransactionAmount -->
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="qatariTransactionAmount" for="qatariTransactionAmount" class="form-label">{{lang.map.qatari_riyal_transaction_amount}}</label>
        <input id="qatariTransactionAmount" validationClasses="qatariTransactionAmount" formControlName="qatariTransactionAmount" trimInput class="form-control">
        <app-field-error-message controlName="qatariTransactionAmount"></app-field-error-message>
      </div>
      <!-- notes -->
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="notes" for="notes" class="form-label">{{lang.map.notes}}</label>
        <input id="notes" validationClasses="notes" formControlName="notes" trimInput class="form-control">
        <app-field-error-message controlName="notes"></app-field-error-message>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button (click)="save()" *ngIf="!readonly" class="btn btn-primary m-2">{{!!editItem ? lang.map.btn_save :
        lang.map.btn_add}}</button>
      <button (click)="cancel()" class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
    </div>

  </div>

</ng-container>

<div class="row" [hidden]="showForm">
  <app-page-header pageTitle="lbl_projects" [clickOnNew$]="add$" [addPermission]="addAllowed()">
  </app-page-header>
  <app-grid-search (searchTextEvent)="filterControl.setValue($event)"></app-grid-search>
</div>

<div class="row pt-3" *ngIf="!showForm">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table sortableTable [paginator]="paginator" [data]="list" [columns]="columns"
        [filter]="filterControl.value" [useSearchToFilter]="true">
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="fullSerial">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header > {{lang.map.serial_number}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.fullSerial || ''}} </td>
          </ng-container>
          <ng-container cdkColumnDef="qatariTransactionAmount">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header > {{lang.map.qatari_riyal_transaction_amount}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.qatariTransactionAmount || ''}} </td>
          </ng-container>
          <ng-container cdkColumnDef="notes">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header > {{lang.map.notes}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.notes || ''}} </td>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="i"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"></tr>
          <tr *cdkNoDataRow>
            <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
          </tr>
        </table>
        <app-paginator #paginator></app-paginator>
      </app-table>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
