<ng-template #bulk>
  <ng-container *ngIf="table">
    <app-bulk-actions *ngIf="table.selection && table.selection.selected.length"
      [selectedRecords]="table.selection.selected" [actionsList]="bulkActionsList" [reversedColors]="true"
      [hasTableHeaderContainer]="true"></app-bulk-actions>
  </ng-container>
</ng-template>
<ng-template #userSelector>
  <div class="container-fluid">
    <div class="row justify-content-start mb-2">
      <div class="col-md-6" *ngIf="isInternal">
        <label for="userType" class="h6 text-primary">{{lang.map.lbl_user_type}}</label>
        <ng-select [selectOnTab]="true" [clearable]="false" id="userType" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" appendTo="body" [formControl]="userTypesControl"
          [readonly]="!isSuperAdmin">
          <ng-option [value]="userType.lookupKey" *ngFor="let userType of userTypes">{{userType.getName()}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6" *ngIf="isAllowedToSelectTeam()">
        <label for="team" class="h6 text-primary">{{lang.map.menu_teams}}</label>
        <ng-select [selectOnTab]="true" [clearable]="false" id="team" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" appendTo="body" [formControl]="teamsControl"
         >
          <ng-option [value]="team.id" *ngFor="let team of userTeams">{{team.getName()}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6" *ngIf="isExternalUsers()">
        <label for="profile" class="h6 text-primary">{{lang.map.lbl_organization}}</label>
        <ng-select [selectOnTab]="true" [clearable]="false" id="profile" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" appendTo="body" [formControl]="profileControl">
          <ng-option [value]="profile" *ngFor="let profile of profiles">{{profile.getName()}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="user" class="h6 text-primary">{{lang.map.employees}}</label>
        <ng-select [selectOnTab]="true" [clearable]="false" id="user" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" appendTo="body" [formControl]="userControl">
          <ng-option [value]="user" *ngFor="let user of users">{{user.getName()}}</ng-option>
        </ng-select>
      </div>
    </div>
  </div>
</ng-template>


<div class="row">
  <div class="col-12">
    <app-table #table [filter]="filterControl.value" [useSearchToFilter]="true" [selectable]="true"
      [data]="queryResultSet?.items?? []" [columns]="columns" sortableTable>
      <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
        <ng-container cdkColumnDef="extra-header">
          <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
            <table-header tableTitle="menu_manage_user_inbox" (textChange)="filterControl.setValue($event)"
              [sort]="table.dataSource.sort">
              <ng-container *ngTemplateOutlet="bulk"></ng-container>
            </table-header>
          </th>
        </ng-container>
        <ng-container cdkColumnDef="userSelectorHeader">
          <th cdk-header-cell colspan="100" *cdkHeaderCellDef="let row">
            <ng-container [ngTemplateOutlet]="userSelector"></ng-container>
          </th>
        </ng-container>
        <ng-container cdkColumnDef="rowSelection">
          <th class="select-all-td" cdk-header-cell *cdkHeaderCellDef>
            <input type="checkbox" [disabled]="table.filter"
              [indeterminate]="table.selection.hasValue() && !table.allSelected()"
              (change)="$event ? table.toggleAll() : null" [checked]="table.selection.hasValue() && table.allSelected()"
              class="form-check-input">
          </th>
          <td cdk-cell *cdkCellDef="let row">
            <input type="checkbox" (click)="$event.stopPropagation()" [checked]="table.selection.isSelected(row)"
              (change)="$event ? table.selection.toggle(row) : null" class="form-check-input">
          </td>
        </ng-container>
        <ng-container cdkColumnDef="BD_FULL_SERIAL">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
          <td cdk-cell *cdkCellDef="let row">{{row.BD_FULL_SERIAL}}</td>
        </ng-container>
        <ng-container cdkColumnDef="workItemStatus">
          <th style="width:8px" class="p-0" cdk-header-cell sortable-header *cdkHeaderCellDef></th>
          <td cdk-cell class="position-relative p-0" *cdkCellDef="let row">
            <work-item-status [item]="row"></work-item-status>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="ACTIVATED">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>{{lang.map.received_data}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.ACTIVATED|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="action">
          <th cdk-header-cell *cdkHeaderCellDef>{{lang.map.action}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.displayNameInfo ? row.displayNameInfo.getName() : ''}} </td>
        </ng-container>
        <ng-container cdkColumnDef="PI_CREATE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>{{lang.map.creation_date}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.PI_CREATE|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="PI_DUE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.due_date}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.PI_DUE|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="BD_CASE_TYPE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.service_type}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{getServiceName(row.BD_CASE_TYPE)}} </td>
        </ng-container>
        <ng-container cdkColumnDef="fromUserInfo">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.sender}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.fromUserInfo|langName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="BD_SUBJECT">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.subject}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.BD_SUBJECT}} </td>
        </ng-container>
        <ng-container cdkColumnDef="orgInfo">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_organization}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.orgInfo|langName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
          <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
            <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
            </grid-actions>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
        <tr cdk-header-row *cdkHeaderRowDef="['userSelectorHeader']"></tr>
        <tr cdk-header-row *cdkHeaderRowDef="columns" class="table-row-header"></tr>
        <tr cdk-row (contextmenu)="menu.open($event , row)" *cdkRowDef="let row; columns: columns;"></tr>
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>

    </app-table>
    <context-menu-item #menu [actions]="actions"></context-menu-item>
  </div>
</div>
