<div class="container bg-white shadow-sm p-4 h-100">
  <div class="row">
    <app-page-header pageTitle="menu_localization" [clickOnReload$]="reload$"></app-page-header>
    <app-grid-search (searchTextEvent)="search($event)"></app-grid-search>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="localization">
          <!--<ng-container cdkColumnDef="id">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_identifier}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.id}} </td>
          </ng-container>-->
          <ng-container cdkColumnDef="arName">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_arabic_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.arName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="enName">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_english_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-ltr d-inline-block">{{row.enName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="localizationKey">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_localization_key}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="user-select-all">{{row.localizationKey}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <div class="d-flex flex-row">
                <a href="#" (click)="edit(row , $event)" tooltip="{{langService.map.btn_edit}}" class="icon-btn">
                  <i class="mdi mdi-pen"></i>
                </a>
              </div>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
