<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator" sortableTable
                 [columns]="displayedColumns"
                 [data]="models"
                 [searchFieldsName]="'searchFieldsExternalFollowup'"
                 [filter]="searchText"
                 [useSearchToFilter]="true"
                 [filterCallback]="filterCallback">
        <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_external_followup" [useReloadValue]="true" [reload$]="reload$"
                            [sort]="table.dataSource.sort"
                            (textChange)="searchText = $event">
              </table-header>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="fullSerial">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.request_number}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.fullSerial}}</td>
          </ng-container>
          <ng-container cdkColumnDef="requestType">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.requestType">{{lang.map.request_type}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.requestTypeInfo?.getName() || ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.name">{{lang.map.name}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.getName()}}</td>
          </ng-container>
          <ng-container cdkColumnDef="serviceType">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.service">{{lang.map.service_type}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.serviceInfo?.getName() || ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="dueDate">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.dueDate}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <b [class]="getDateColor(row.dueDate)">{{row.dueDate | date}}</b>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="status">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.status">{{lang.map.status}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.statusInfo?.getName() || ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="createdBy">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.createdBy">{{lang.map.created_by}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.getCreatedBy()}}</td>
          </ng-container>
          <ng-container cdkColumnDef="orgInfo" *ngIf="isInternalUser">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortCallbacks.organization">{{lang.map.lbl_organization}}</th>
            <td cdk-cell *cdkCellDef="let row">{{row.orgInfo?.getName() || ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row" class="table-actions">
              <button *ngIf="!hasTerminatedRequest(row)" class="btn icon-btn text-primary"
                      [tooltip]="lang.map.comments" (click)="showComments(row, $event)">
                <i class="mdi mdi-comment"></i>
              </button>
              <button *ngIf="!hasTerminatedRequest(row)" class="btn icon-btn text-primary"
                      [disabled]="isDisabled(row)"
                      [tooltip]="lang.map.btn_terminate" (click)="terminate(row, $event)">
                <i class="mdi mdi-delete"></i>
              </button>
              <button *ngIf="hasTerminatedRequest(row)" class="btn icon-btn text-primary"
                      [disabled]="isDisabled(row)"
                      [tooltip]="lang.map.reject_terminate" (click)="rejectTerminate(row)">
                <i class="mdi mdi-close"></i>
              </button>
              <button *ngIf="hasTerminatedRequest(row)" class="btn icon-btn text-primary"
                      [disabled]="isDisabled(row)"
                      [tooltip]="lang.map.accept_terminate" (click)="terminate(row, $event)">
                <i class="mdi mdi-check"></i>
              </button>
              <button *ngIf="isInternalUser" class="btn icon-btn text-primary"
                      [tooltip]="lang.map.edit_due_date" (click)="editDueDate(row)">
                <i class="mdi mdi-calendar-edit"></i>
              </button>
              <button *ngIf="row.hasReason()" class="btn icon-btn text-primary"
                      [tooltip]="row.getReason()">
                <i class="mdi mdi-alert-circle"></i>
              </button>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
          <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="10" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
      <app-paginator #paginator [pageSize]="10" [length]="table.dataSource.data.length"></app-paginator>
    </div>
  </div>
</div>
