<div class="row">
  <div class="col-12">
    <app-table #table sortableTable [paginator]="paginator"
               [data]="list"
               [columns]="displayedColumns"
               [filter]="filterControl.value" [useSearchToFilter]="true">
      <table class="table table-striped table-bordered caption-top" cdk-table
             [dataSource]="table.dataSource">
        <ng-container cdkColumnDef="extra-header">
          <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
            <table-header tableTitle="lbl_housing_status" [headerClass]="'bg-secondary'"
                          [sort]="table.dataSource.sort"
                          (textChange)="filterControl.setValue($event)">
            </table-header>
          </th>
        </ng-container>

        <ng-container cdkColumnDef="beneficiaryType">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_beneficiary_type}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.beneficiaryType}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="beneficiaryDate">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_beneficiary_date}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.beneficiaryDate}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="statusString">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_status}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.statusString}}</span></td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
        <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"></tr>
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>
      <app-paginator #paginator></app-paginator>
    </app-table>
    <context-menu-item #menu
                       [actions]="actions"></context-menu-item>
  </div>
</div>
