@import "src/scss/custom_variables";
@import "src/scss/custom_mixin";

.sidebar-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  &:not(.level-1) {
    & > li {
      position: relative;

      .sidebar-menu-icon {
        display: none !important;
      }

      &:before {
        position: absolute;
        width: 10px;
        height: 0;
        content: "";
        border-bottom: dashed .5px $sidebar-gray;
        top: 20px;
      }
    }

  }

  &:not(.level-1):before {
    position: absolute;
    width: 0;
    height: 100%;
    content: "";
    border-left: .5px dashed $sidebar-gray;
  }

  a {
    text-decoration-line: none;
    color: $sidebar-gray;
    height: 40px;
  }

  li {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2px;
  }

  &:not(.level-1) > li {
    background-color: transparent;

    & > a {
      border-radius: 10px;
    }

    &:hover > a, &.active > a {
      background-color: $primary;
    }
  }

  li.parent-menu-item {
    //border-bottom: 1px solid #e5e5e5;
  }
}

:host-context(html[dir="rtl"]) {
  .badge-translate-middle-x {
    left: 25px;
  }

  .sidebar-menu-list {
    font-weight: 500;
  }

  .sidebar-menu-list:not(.level-1) {
    .sidebar-menu-item-text {
      font-weight: normal;
    }
  }
}

:host-context(html[dir="ltr"]) {
  .badge-translate-middle-x {
    right: 25px;
  }

  .sidebar-menu-list {
    font-weight: 500;
  }

  .sidebar-menu-item-text {
    font-size: 14px;
  }

  .sidebar-menu-list:not(.level-1) {
    .sidebar-menu-item-text {
      font-weight: normal;
      font-size: 13px;
    }
  }
}

.sidebar-menu-icon {
  width: 40px;
  height: 40px;
}

.sidebar-menu-item-svg, .sidebar-menu-item-font {
  width: 40px;
  height: 40px;
}

.sidebar-menu-item-svg {
  padding: 2.7px 5px;
}

.sidebar-menu-item-font {
  padding: 2.7px;
}

:host-context(html[dir="ltr"]) {
  .sidebar-menu-list:not(.level-1) {
    padding-left: 18px;

    & > li {
      padding-left: 18px !important;

      &:before {
        left: 1px;
      }
    }
  }
}

:host-context(html[dir="rtl"]) {
  .sidebar-menu-list:not(.level-1) {
    padding-right: 18px;

    & > li {
      padding-right: 18px !important;

      &:before {
        right: 1px;
      }
    }
  }
}

:host-context(.sidebar-closed) {
  .sidebar-menu-list:not(.level-1) {
    & > li:before {
      display: none;
    }
  }

  .sidebar-menu-list:not(.level-1):before {
    display: none;
  }
}

li.has-children {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    top: 15px;
    border: solid $sidebar-gray;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transition: transform .2s ease-in-out;
  }

  &.expanded:after {
    transform: rotate(45deg) !important;
    border-color: $primary;
  }
}


:host-context(html[dir="rtl"]) {
  li.has-children:after {
    left: 9px;
    transform: rotate(135deg);
  }
}

:host-context(html[dir="ltr"]) {
  li.has-children:after {
    right: 9px;
    transform: rotate(-45deg);
  }
}

li.active:not(.has-children), li:hover:not(.has-children) {
  background-color: $primary;

  a {
    color: white;
  }
}

li.expanded.has-children {
  background-color: $sidebar-expanded-bg;

  & > a {
    color: $primary;
  }
}

/*.instant-action {
  display: none;
  background: $primary
}

li:hover:not(.has-children) {
  .instant-action {
    display: block;
  }
}*/

// fully closed sidebar
:host-context(.sidebar-closed:not(.going-to-open)), :host-context(.sidebar-opened.going-to-close) {
  .sidebar-menu-item-text {
    display: none !important;
  }

  .sidebar-menu-list:not(.level-1), li.has-children:after {
    display: none;
  }

  li.active.has-children, li:hover.has-children {
    background-color: $primary;

    a {
      color: white;
    }
  }
}


