<div class="dialog-toolbar bg-primary d-flex justify-content-start">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <span class="flex-grow-1"></span>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="comment" aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height">
  <form style="width: 500px;" novalidate autocomplete="off" [formGroup]="form">
    <div class="row mb-3">
      <div class="col-sm-12 position-relative">
        <label asteriskIfRequired="comment" for="comment"
               class="form-label">{{lang.map.comment}}</label>
        <textarea name="comment" formControlName="comment" validationClasses="comment" id="comment"
                  rows="4" class="form-control"></textarea>
        <app-field-error-message controlName="comment"></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button [disabled]="form.invalid" (click)="rejectCandidate$.next()" class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="userClick.CANCEL" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
