<div class="d-flex flex-column">
  <fieldset>
    <form [formGroup]="form" autocomplete="off">
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="category" for="category"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.consulting_type}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select validationClasses="category" id="category" formControlName="category">
                <ng-option [value]="category.lookupKey"
                           *ngFor="let category of categories">{{category.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="category"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="isInternalUser" class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="competentDepartmentID" for="competentDepartmentID"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.competent_dep}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select (change)="onCompetentDepChange($event)" validationClasses="competentDepartmentID"
                         formControlName="competentDepartmentID"
                         id="competentDepartmentID">
                <ng-option [value]="dep.id" *ngFor="let dep of departments">{{dep.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="competentDepartmentID"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="!isInternalUser" class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="organizationId" for="organizationId"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_organization}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select validationClasses="organizationId"
                         formControlName="organizationId" id="organizationId">
                <ng-option [value]="org.id" *ngFor="let org of organizations">{{org.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="organizationId"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="fullName" for="fullName"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.full_name}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="fullName" validationClasses="fullName" formControlName="fullName" class="form-control">
              <app-field-error-message controlName="fullName"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="email" for="email"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_email}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="email" validationClasses="email" formControlName="email" class="form-control">
              <app-field-error-message controlName="email"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="mobileNo" for="mobileNo"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_phone}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="mobileNo" validationClasses="mobileNo" formControlName="mobileNo" class="form-control">
              <app-field-error-message controlName="mobileNo"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="isInternalUser" class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="organizationId" for="organizationId"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_organization}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select validationClasses="organizationId"
                         formControlName="organizationId" id="organizationId">
                <ng-option [value]="org.id" *ngFor="let org of organizations">{{org.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="organizationId"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label asteriskIfRequired="requestBody" for="requestBody"
               class="col-md-2 col-sm-12 col-form-label">{{lang.map.request_body}}</label>
        <div class="col-md-10 col-sm-12 mb-3 position-relative">
        <textarea rows="5" id="requestBody" validationClasses="requestBody" formControlName="requestBody"
                  class="form-control"></textarea>
          <app-field-error-message controlName="requestBody"></app-field-error-message>
        </div>
      </div>
    </form>
  </fieldset>
  <div *ngIf="fromDialog" class="row">
    <hr>
    <div class="col-md-12">
      <app-recommendations [gridStyle]="false" [case]="model" [caseId]="model?.id"
                           [service]="service.recommendationService"></app-recommendations>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <h6 class="text-primary d-inline-block">{{lang.map.attachments}}</h6>
        <button [disabled]="!model?.id" (click)="attachmentsCtrl.openUploadDialog()" class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-documents #attachmentsCtrl [caseId]="model?.id" [service]="service.documentService"></app-documents>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <h6 class="text-primary d-inline-block">{{lang.map.comments}}</h6>
        <button [disabled]="!model?.id" (click)="commentsCtrl.openCommentDialog()" class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService"></app-comments>
    </div>
  </div>
</div>
