<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form class="w800px" novalidate autocomplete="off" [formGroup]="form">
    <div class="row">
      <div class="col-sm-6 mb-4 position-relative">
        <label asteriskIfRequired="arName" for="arName" class="form-label">{{lang.map.lbl_arabic_name}}</label>
        <input id="arName" validationClasses="arName" formControlName="arName" class="form-control">
        <app-field-error-message controlName="arName"></app-field-error-message>
      </div>
      <div class="col-sm-6 mb-4 position-relative">
        <label asteriskIfRequired="enName" for="enName" class="form-label">{{lang.map.lbl_english_name}}</label>
        <input id="enName" validationClasses="enName" formControlName="enName" class="form-control">
        <app-field-error-message controlName="enName"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4 ng-select-wrapper">
        <label asteriskIfRequired="type" for="type" class="form-label">{{lang.map.type}}</label>
        <ng-select [selectOnTab]="true" labelForId="type" [clearable]="true"
                   placeholder="{{lang.map.select}}" id="type"
                   [notFoundText]="lang.map.msg_not_found"
                   appendTo="body" formControlName="type" validationClasses="type">
          <ng-option [value]="option.lookupKey"
                     *ngFor="let option of typeList">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="type"></app-field-error-message>
      </div>
    </div>
    <div class="row" *ngIf="operation !== operationTypes.CREATE">
      <field-assessment-service-link [type]="type.value" [model]="model" [readonly]="operation === operationTypes.VIEW" [operation]="operation"></field-assessment-service-link>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
