<div class="row">
  <tabs-list [accordionView]="accordionView" [hasForm]="true">
    <tab name="project_license_info" [hasError]="projectLicenseInfo.invalid" [template]="project_license_info"
      [title]="lang.map.project_license_information">
    </tab>
    <tab name="project_basic_info" [hasError]="projectBasicInfo.invalid " [template]="project_basic_info"
      [title]="lang.map.project_basic_info">
    </tab>
    <tab name="beneficiary_analytics_by_license" [hasError]="beneficiaryAnalyticsByLicense.invalid"
      [template]="beneficiaryAnalyticsByLicenseTemplate" [title]="lang.map.beneficiary_analytics">
    </tab>
    <tab name="best_practices_and_lessons_learnt" [hasError]="!isHasErrorLessonsLearnt_BestPracticesTab"
      [template]="bestPracticesAndLessonsLearnt" [title]="lang.map.best_practices + ' & ' + lang.map.lessons_learnt">
    </tab>
    <tab name="data_evaluation" [hasError]="dataEvaluation && dataEvaluation.invalid"
      [template]="dataEvaluationTemplate" [title]="lang.map.lbl_contractor_evaluation">
    </tab>
    <!-- <tab [hasError]="evaluation.invalid" name="evaluation_impact_cost_effort" [template]="evaluation_impact_cost_effort"
      [title]="lang.map.evaluation_impact_cost_effort"></tab> -->
    <tab [hasError]="specialExplanation.invalid" name="special_explanations" [template]="specialExplanations"
      [title]="lang.map.special_explanations"></tab>
    <tab name="attachments" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab"
      [title]="lang.map.attachments"></tab>
  </tabs-list>
  <ng-container [formGroup]="form">
    <ng-template #project_license_info>
      <ng-container formGroupName="projectLicenseInfo">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="requestType"
              for="requestType">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType" placeholder="{{lang.map.select}}" id="requestType"
              [clearable]="false" (change)="handleRequestTypeChange($event, true)"
              [notFoundText]="lang.map.msg_not_found" [readonly]="!isEditRequestTypeAllowed()"
              formControlName="requestType" validationClasses="requestType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of requestTypesList">{{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="oldFullSerial"
              for="oldFullSerial">{{lang.map.serial_number}}</label>
            <div class="input-group">
              <input [readonly]="!isUpdateRequestAllowed()"
                (keydown.enter)="isUpdateRequestAllowed() && requestSearch($event)" formControlName="oldFullSerial"
                type="text" validationClasses="oldFullSerial" class="form-control" id="oldFullSerial" trimInput>
              <button type="button" (click)="requestSearch($event)" *ngIf="isUpdateRequestAllowed()"
                class="input-group-text">
                <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldFullSerial"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectWorkArea"
              for="projectWorkArea">{{lang.map.project_work_area}}</label>
            <ng-select validationClasses="projectWorkArea" appendTo="body" [clearable]="false" id="projectWorkArea"
              formControlName="projectWorkArea" labelForId="projectWorkArea" placeholder="{{lang.map.select}}"
              [notFoundText]="lang.map.msg_not_found" [readonly]="readonly" (change)="handleWorkAreaChanges($event)">
              <ng-option [value]="option.lookupKey" *ngFor="let option of workAreas">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="projectWorkArea"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="beneficiaryCountry"
              for="beneficiaryCountry">{{lang.map.beneficiary_country}}</label>
            <ng-select validationClasses="beneficiaryCountry" appendTo="body" [clearable]="true" id="beneficiaryCountry"
              formControlName="beneficiaryCountry" labelForId="beneficiaryCountry" placeholder="{{lang.map.select}}"
              [notFoundText]="lang.map.msg_not_found" [readonly]="(this.isDisplayInsideQatar || readonly)">
              <ng-option [value]="option.id" *ngFor="let option of countries">
                {{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="beneficiaryCountry"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative" *ngIf="isDisplayOutsideQatar">
            <label class="form-label" asteriskIfRequired="domain" for="domain">{{lang.map.domain}}</label>
            <ng-select validationClasses="domain" appendTo="body" [clearable]="false" id="domain"
              formControlName="domain" labelForId="domain" placeholder="{{lang.map.select}}"
              [notFoundText]="lang.map.msg_not_found" [readonly]="readonly" (change)="handleDomainChange($event)">
              <ng-option [value]="option.lookupKey" *ngFor="let option of domains">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message [ignoreTop]="true" controlName="domain"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative" *ngIf="isDisplayInsideQatar">
            <label class="form-label" asteriskIfRequired="internalProjectClassification"
              for="internalProjectClassification">{{lang.map.internal_projects_classification}}</label>
            <ng-select validationClasses="internalProjectClassification" appendTo="body" [clearable]="true"
              id="internalProjectClassification" formControlName="internalProjectClassification"
              labelForId="internalProjectClassification" placeholder="{{lang.map.select}}"
              [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
              <ng-option [value]="option.lookupKey" *ngFor="let option of internalProjectClassificationList">
                {{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="internalProjectClassification"></app-field-error-message>
          </div>
          <ng-container *ngIf="isDevelopmentDomain">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="mainDACCategory"
                for="mainDACCategory">{{lang.map.main_dac_category}}</label>
              <ng-select validationClasses="mainDACCategory" appendTo="body" [clearable]="true" id="mainDACCategory"
                formControlName="mainDACCategory" labelForId="mainDACCategory" placeholder="{{lang.map.select}}"
                [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
                <ng-option [value]="option.id" [disabled]="!option.isActive()" *ngFor="let option of mainDacCategories">
                  {{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="mainDACCategory"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="subDACCategory"
                for="subDACCategory">{{lang.map.sub_dac_category}}</label>
              <ng-select validationClasses="subDACCategory" appendTo="body" [clearable]="true" id="subDACCategory"
                formControlName="subDACCategory" labelForId="subDACCategory" placeholder="{{lang.map.select}}"
                [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
                <ng-option [disabled]="!option.isActive()" [value]="option.id" *ngFor="let option of subDacCategories">
                  {{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="subDACCategory"></app-field-error-message>
            </div>
          </ng-container>
          <ng-container *ngIf="isHumanitarianDomain">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
              <ng-select validationClasses="mainUNOCHACategory" appendTo="body" [clearable]="true"
                id="mainUNOCHACategory" formControlName="mainUNOCHACategory" labelForId="mainUNOCHACategory"
                placeholder="{{lang.map.select}}" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
                <ng-option [disabled]="!option.isActive()" [value]="option.id"
                  *ngFor="let option of mainUNOCHACategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="mainUNOCHACategory"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="subUNOCHACategory"
                for="subUNOCHACategory">{{lang.map.sub_unocha_category}}</label>
              <ng-select validationClasses="subUNOCHACategory" appendTo="body" [clearable]="true" id="subUNOCHACategory"
                formControlName="subUNOCHACategory" labelForId="subUNOCHACategory" placeholder="{{lang.map.select}}"
                [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
                <ng-option [disabled]="!option.isActive()" [value]="option.id"
                  *ngFor="let option of subUNOCHACategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="subUNOCHACategory"></app-field-error-message>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #project_basic_info>
      <ng-container formGroupName="projectBasicInfo">
        <ng-container *ngIf="!readonly">
          <heading-row labelKey="menu_project_implementation"></heading-row>
          <selected-license-table [caseType]="caseTypes.PROJECT_IMPLEMENTATION" [ignoreDelete]="true"
            [caseTypeViewLicense]="caseTypes.PROJECT_IMPLEMENTATION" [licenseList]="projectImplementationLicenses"
            [columns]="displayedColumns" [allowSelect]="!readonly" (selectCallback)="selectProject($event)"
            [viewAction]="viewAction">
          </selected-license-table>
        </ng-container>
        <div class="row">
          <div class="col-md-3 col-sm-12 mb-4 ng-select-wrapper">
            <label class="form-label" for="projectLicenseFullSerial">{{lang.map.project_license_serial}}</label>
            <input readonly id="projectLicenseFullSerial"
              [value]="model && model.projectLicenseFullSerial ? model.projectLicenseFullSerial : ''"
              class="form-control">
          </div>
          <div class="col-md-3 col-sm-12 mb-4 ng-select-wrapper">
            <label class="form-label" for="projectName">{{lang.map.project_name}}</label>
            <input readonly id="projectName" [value]="model && model.projectName ? model.projectName : ''"
              class="form-control">
          </div>
          <div class="col-md-3 col-sm-12 mb-4 position-relative">
            <label class="form-label" for="licenseEndDate">{{lang.map.license_end_date}}</label>
            <input readonly id="licenseEndDate"
              [value]="model && model.licenseEndDate ? (model.licenseEndDate|date: 'mediumDate') : ''"
              class="form-control">
          </div>
          <div class="col-md-3 col-sm-12 mb-4 position-relative">
            <label class="form-label" for="templateCost">{{lang.map.predefined_project_cost}}</label>
            <input readonly id="templateCost" [value]="model && model.templateCost ? model.templateCost : ''"
              class="form-control">
          </div>
          <div class="col-md-3 col-sm-12 mb-4 position-relative">
            <label class="form-label" for="projectTotalCost">{{lang.map.project_total_cost}}</label>
            <input readonly id="projectTotalCost"
              [value]="model && model.projectTotalCost ? model.projectTotalCost : ''" class="form-control">
          </div>
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="projectDescription">{{lang.map.project_description}}</label>
            <textarea readonly id="projectDescription"
              [value]="model && model.projectDescription ? model.projectDescription : ''" class="form-control"
              rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-4 position-relative">
            <label for="projectEvaluationSLADate" asteriskIfRequired="projectEvaluationSLADate"
              class="form-label">{{lang.map.project_evaluation_sla_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="projectEvaluationSLADate" id="projectEvaluationSLADate"
                [options]="datepickerOptionsMap.projectEvaluationSLADate"
                (click)="!readonly && dpprojectEvaluationSLADate.toggleCalendar()"
                [ngClass]="{'input-disabled': readonly}" #dpprojectEvaluationSLADate="angular-mydatepicker"
                angular-mydatepicker validationClasses="projectEvaluationSLADate">
              </div>
              <app-field-error-message controlName="projectEvaluationSLADate"></app-field-error-message>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 position-relative">
            <label for="actualEndDate" asteriskIfRequired="actualEndDate"
              class="form-label">{{lang.map.the_date_of_the_end_of_the_actual_execution}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="actualEndDate" id="actualEndDate"
                [options]="datepickerOptionsMap.actualEndDate" (click)="!readonly && dpactualEndDate.toggleCalendar()"
                [ngClass]="{'input-disabled': readonly}" #dpactualEndDate="angular-mydatepicker" angular-mydatepicker
                validationClasses="actualEndDate">
              </div>
              <app-field-error-message controlName="actualEndDate"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="actualTotalCost"
              for="actualTotalCost">{{lang.map.actual_cost}}</label>
            <input id="actualTotalCost" validationClasses="actualTotalCost" formControlName="actualTotalCost"
              class="form-control" [readonly]="readonly" [mask]="inputMaskPatterns.DECIMAL_WITH_SEPARATOR(2)"
              [thousandSeparator]="inputMaskPatterns.THOUSAND_SEPARATOR">
            <app-field-error-message controlName="actualTotalCost"></app-field-error-message>
          </div>
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="notes" for="notes">{{lang.map.notes}}</label>
            <textarea name="notes" validationClasses="notes" [readonly]="readonly" id="notes" formControlName="notes"
              rows="4" class="form-control"></textarea>
            <app-field-error-message controlName="notes"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #beneficiaryAnalyticsByLicenseTemplate>
      <project-model-summary [model]="projectModel"></project-model-summary>
      <div formGroupName="beneficiaryAnalyticsByLicense" class="position-relative mb-4">
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="nationalities"
              for="nationalities">{{lang.map.lbl_analysis_beneficiaries_nationalities}}</label>
            <ng-select validationClasses="nationalities" appendTo="body" [clearable]="false" id="nationalities"
              formControlName="nationalities" labelForId="nationalities" placeholder="{{lang.map.select}}"
              [multiple]="true" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly">
              <ng-option [value]="option.lookupKey"
                *ngFor="let option of nationalities">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="nationalities"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="directBeneficiaryNumber" asteriskIfRequired="directBeneficiaryNumber"
              class="form-label">{{lang.map.number_of_direct_beneficiaries}}</label>
            <input id="directBeneficiaryNumber" validationClasses="directBeneficiaryNumber" onlyNumbers
              [readonly]="readonly" formControlName="directBeneficiaryNumber" trimInput class="form-control"
              type="text">
            <app-field-error-message controlName="directBeneficiaryNumber"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="indirectBeneficiaryNumber" asteriskIfRequired="indirectBeneficiaryNumber"
              class="form-label">{{lang.map.number_of_indirect_beneficiaries}}</label>
            <input id="indirectBeneficiaryNumber" validationClasses="indirectBeneficiaryNumber" onlyNumbers
              [readonly]="readonly" formControlName="indirectBeneficiaryNumber" trimInput class="form-control"
              type="text">
            <app-field-error-message controlName="indirectBeneficiaryNumber"></app-field-error-message>
          </div>
          <div class="col=12">
            <heading-row labelKey="number_of_direct_beneficiaries_by_age_group"></heading-row>
            <div class="row" validationGroupClasses>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries0to5"
                  for="beneficiaries0to5">{{lang.map.number_of_0_to_5}}</label>
                <input id="beneficiaries0to5" validationClasses="beneficiaries0to5" formControlName="beneficiaries0to5"
                  [mask]="inputMaskPatterns.NUMBER_ONLY" [readonly]="readonly" [dropSpecialCharacters]="false"
                  class="form-control">
                <app-field-error-message controlName="beneficiaries0to5"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries5to18"
                  for="beneficiaries5to18">{{lang.map.number_of_5_to_18}}</label>
                <input id="beneficiaries5to18" [readonly]="readonly" validationClasses="beneficiaries5to18"
                  formControlName="beneficiaries5to18" [mask]="inputMaskPatterns.NUMBER_ONLY"
                  [dropSpecialCharacters]="false" class="form-control">
                <app-field-error-message controlName="beneficiaries5to18"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries19to60"
                  for="beneficiaries19to60">{{lang.map.number_of_19_to_60}}</label>
                <input id="beneficiaries19to60" [readonly]="readonly" validationClasses="beneficiaries19to60"
                  [mask]="inputMaskPatterns.NUMBER_ONLY" [dropSpecialCharacters]="false"
                  formControlName="beneficiaries19to60" class="form-control">
                <app-field-error-message controlName="beneficiaries19to60"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiariesOver60"
                  for="beneficiariesOver60">{{lang.map.number_of_above_60}}</label>
                <input id="beneficiariesOver60" [readonly]="readonly" validationClasses="beneficiariesOver60"
                  [mask]="inputMaskPatterns.NUMBER_ONLY" [dropSpecialCharacters]="false"
                  formControlName="beneficiariesOver60" class="form-control">
                <app-field-error-message controlName="beneficiariesOver60"></app-field-error-message>
              </div>
            </div>
            <group-error-message></group-error-message>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #bestPracticesAndLessonsLearnt>
      <best-practices-list #bestPracticesListComponent [list]="(!model ? [] : model.bestPracticesList)"
        [readonly]="readonly"></best-practices-list>
      <hr>
      <lessons-learnt-list #lessonsLearntListComponent [list]="(!model ? [] : model.lessonsLearnedList)"
        [readonly]="readonly"></lessons-learnt-list>
    </ng-template>
    <ng-template #dataEvaluationTemplate>
      <ng-container formGroupName="dataEvaluation">
        <app-table #table [useSearchToFilter]="true" [data]="evaluationAxisDTO.controls"
          [columns]="evaluationAxisColumns">
          <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
            <ng-container cdkColumnDef="implementationAgencyAr">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef>
                {{lang.map.lbl_implementing_agency_ar}}
              </th>
            </ng-container>
            <ng-container cdkColumnDef="implementationAgencyArValue">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef>
                <input formControlName="implementingAgencyAr" type="text" [readOnly]="readonly"
                  validationClasses="implementingAgencyAr" class="form-control" trimInput id="implementingAgencyAr">
                <app-field-error-message controlName="implementingAgencyAr"></app-field-error-message>

              </th>
            </ng-container>
            <ng-container cdkColumnDef="implementationAgencyEn">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef style="width: 120px;">
                {{lang.map.lbl_implementing_agency_en}}
              </th>
            </ng-container>
            <ng-container cdkColumnDef="implementationAgencyEnValue">
              <th colspan="2" cdk-header-cell *cdkHeaderCellDef>
                <input formControlName="implementingAgencyEn" type="text" [readOnly]="readonly"
                  validationClasses="implementingAgencyEn" class="form-control" trimInput id="implementingAgencyEn">
                <app-field-error-message controlName="implementingAgencyEn"></app-field-error-message>

              </th>
            </ng-container>
            <ng-container cdkColumnDef="contractorAxis">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef>
                {{lang.map.lbl_contractor_axis}}
              </th>
            </ng-container>
            <ng-container cdkColumnDef="contractorLatitude">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef>
                <label class="form-label" asteriskIfRequired="contractorLatitude"
                  for="contractorLatitude">{{lang.map.latitude}}</label>
                <input formControlName="contractorLatitude" type="text" [readOnly]="readonly"
                  validationClasses="contractorLatitude" class="form-control" trimInput id="contractorLatitude ">
                <app-field-error-message controlName="contractorLatitude"></app-field-error-message>

              </th>
            </ng-container>
            <ng-container cdkColumnDef="contractorLongitude">
              <th colspan="1" cdk-header-cell *cdkHeaderCellDef>
                <label class="form-label" asteriskIfRequired="contractorLongitude"
                  for="contractorLongitude">{{lang.map.longitude}}</label>
                <input formControlName="contractorLongitude" type="text" [readOnly]="readonly"
                  validationClasses="contractorLongitude" class="form-control" trimInput id="contractorLongitude ">
                <app-field-error-message controlName="contractorLongitude"></app-field-error-message>

              </th>
            </ng-container>



            <ng-container cdkColumnDef="index">
              <th cdk-header-cell *cdkHeaderCellDef> #</th>
              <td cdk-cell *cdkCellDef="let row ; let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container cdkColumnDef="evaluationAxis">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_evaluation_axis}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.controls.evaluationAxisInfo.value?.getName()}} </td>
            </ng-container>

            <ng-container cdkColumnDef="5">
              <th cdk-header-cell *cdkHeaderCellDef> 5</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="radio" [id]="i+'-5'" [name]="i" [attr.disabled]="readonly" [formControl]="row.controls.evaluationValue" value="5">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="4">
              <th cdk-header-cell *cdkHeaderCellDef> 4</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="radio" [id]="i+'-4'" [name]="i" [attr.disabled]="readonly" [formControl]="row.controls.evaluationValue" value="4">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="3">
              <th cdk-header-cell *cdkHeaderCellDef> 3</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="radio" [id]="i+'-3'" [name]="i" [attr.disabled]="readonly" [formControl]="row.controls.evaluationValue" value="3">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="2">
              <th cdk-header-cell *cdkHeaderCellDef> 2</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="radio" [id]="i+'-2'" [name]="i" [attr.disabled]="readonly" [formControl]="row.controls.evaluationValue" value="2">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="1">
              <th cdk-header-cell *cdkHeaderCellDef> 1</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="radio" [id]="i+'-1'" [name]="i" [attr.disabled]="readonly" [formControl]="row.controls.evaluationValue" value="1">
              </td>
            </ng-container>

            <ng-container cdkColumnDef="notes">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.notes}}</th>
              <td cdk-cell *cdkCellDef="let row;let i = index">
                <input type="text" [formControl]="row.controls.notes" [readOnly]="readonly" class="form-control">
              </td>
            </ng-container>



            <ng-container cdkColumnDef="recommendation">
              <th colspan="1" cdk-header-cell *cdkFooterCellDef>
                {{lang.map.lbl_recommendations_and_notes}}
              </th>
            </ng-container>
            <ng-container cdkColumnDef="recommendContractor">
              <th colspan="1" cdk-header-cell *cdkFooterCellDef>
                <div class="d-flex align-items-center gap-2">
                  <input id="recommendContractor" style="width: 23px;" [readonly]="readonly"
                    formControlName="recommendContractor" class="form-check-input mb-2" 
                    type="checkbox" [attr.disabled]="readonly">
                  <label for="recommendContractor" asteriskIfRequired="recommendContractor"
                    class="form-label">{{lang.map.lbl_recommend_contractor}}</label>
                  <app-field-error-message controlName="recommendContractor"></app-field-error-message>
                </div>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="recommendStopContractor">
              <th colspan="2" cdk-header-cell *cdkFooterCellDef>
                <div class="d-flex align-items-center gap-2 ">
                  <input id="recommendStopContractor" [attr.disabled]="readonly" formControlName="recommendStopContractor"
                    class="form-check-input  mb-2" type="checkbox">
                  <label for="recommendStopContractor" asteriskIfRequired="recommendStopContractor"
                    class="form-label">{{lang.map.lbl_recommend_stop_contractor}}</label>
                  <app-field-error-message controlName="recommendStopContractor"></app-field-error-message>
                </div>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="additionalNotes">
              <th style="width: 120px;" cdk-header-cell *cdkFooterCellDef>
                {{lang.map.lbl_additional_notes}}
              </th>
            </ng-container>
            <ng-container cdkColumnDef="additionalNotesValue">
              <th colspan="5" cdk-header-cell *cdkFooterCellDef>
                <app-field-error-message controlName="additionalNotes"></app-field-error-message>
                <input formControlName="additionalNotes" type="text" [readOnly]="readonly"
                  validationClasses="additionalNotes" class="form-control" trimInput id="additionalNotes">

              </th>
            </ng-container>

            <tr cdk-header-row
              *cdkHeaderRowDef="['implementationAgencyAr','implementationAgencyArValue','implementationAgencyEn','implementationAgencyEnValue','contractorAxis','contractorLatitude','contractorLongitude']">
            </tr>
            <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="evaluationAxisColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: evaluationAxisColumns;"></tr>

            <tr cdk-footer-row class="table-row-header"
              *cdkFooterRowDef="['recommendation','recommendContractor','recommendStopContractor','additionalNotes','additionalNotesValue']">
            </tr>
            <tr *cdkNoDataRow>
              <td colspan="20">{{lang.map.no_records_to_display}}</td>
            </tr>
          </table>
        </app-table>
      </ng-container>
    </ng-template>

    <!-- <ng-template #evaluation_impact_cost_effort>
      <div class="row">
        <p>1) {{ lang.map.effort_impact_description_step_1}}</p>
        <p>2) {{ lang.map.effort_impact_description_step_2}}</p>
        <p>3) {{ lang.map.effort_impact_description_step_3}}</p>
        <p>4) {{ lang.map.effort_impact_description_step_4}}</p>
        <p>5) {{ lang.map.effort_impact_description_step_5}}</p>
        <small class="text-secondary text-bold">
          {{ lang.map.effort_impact_usage_description }}
        </small>
      </div>
      <div class="row justify-content-center pt-4">
        <select-by-color [XLabel]="lang.map.impact"  [YLabel]="lang.map.effort" (change)="!readonly && setImpactEffort($event)"></select-by-color>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-4 ng-select-wrapper">
          <label class="form-label" for="impact">{{lang.map.impact}}</label>
          <input readonly id="impact" [value]="model && model.impact ? model.impact : 0" class="form-control">
        </div>
        <div class="col-md-6 col-sm-12 mb-4 ng-select-wrapper">
          <label class="form-label" for="effort">{{lang.map.effort}}</label>
          <input readonly id="effort" [value]="model && model.effort ? model.effort : 0" class="form-control">
        </div>
      </div>
    </ng-template> -->
    <ng-template #specialExplanations>
      <ng-container formGroupName="explanation">
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="description"
              for="description">{{lang.map.special_explanations}}</label>
            <textarea name="description" formControlName="description" validationClasses="description" id="description"
              rows="4" class="form-control" [readOnly]="(readonly)" trimInput
              [maxlength]="customValidators.defaultLengths.EXPLANATIONS"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #attachmentsTab>
      <attachments [caseId]="model?.id" [caseType]="model?.caseType" [model]="model" [formProperties]="formProperties"
        [service]="service.documentService"></attachments>
    </ng-template>
  </ng-container>
</div>