<div class="row">
  <tabs-list>
    <tab name="basic_info" [hasError]="basicInfo.invalid" [template]="basic_info" [title]="lang.map.lbl_basic_info">
    </tab>
    <tab name="templates" [hasError]="templateDeductionRatioInfo.invalid" [template]="template_deduction_ratio_info"
         [title]="lang.map.template_deduction_ratio_info">
    </tab>
    <tab [hasError]="specialExplanation.invalid" name="special_explanations" [template]="special_explanations"
         [title]="lang.map.special_explanations"></tab>
    <tab name="attachments" *ngIf="!accordionView" [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
  <ng-template #basic_info>
    <ng-container [formGroup]="form">
      <ng-container formGroupName="basicInfo">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="requestType"
                   for="requestType">{{lang.map.request_type}}</label>
            <ng-select validationClasses="requestType" appendTo="body" [clearable]="true" id="requestType"
                       formControlName="requestType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of requestTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="permitType"
                   for="permitType">{{lang.map.permit_type}}</label>
            <ng-select validationClasses="permitType" appendTo="body" [clearable]="true" id="permitType"
                       formControlName="permitType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of permitTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="permitType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="oldLicenseFullSerial"
                   for="oldLicenseFullSerial">{{lang.map.license_number}}</label>
            <div class="input-group">
              <!--              (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"-->
              <!--              *ngIf="isEditLicenseAllowed()"-->
              <!--              (click)="licenseSearch($event)"-->
              <!--              [readOnly]="!isEditLicenseAllowed()"-->
              <input
                formControlName="oldLicenseFullSerial"
                type="text" validationClasses="oldLicenseFullSerial" class="form-control"
                id="oldLicenseFullSerial" trimInput>
              <button type="button"
                      class="input-group-text">
                <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectWorkArea"
                   for="projectWorkArea">{{lang.map.project_work_area}}</label>
            <ng-select validationClasses="projectWorkArea" appendTo="body" [clearable]="true" id="projectWorkArea"
                       formControlName="projectWorkArea">
              <ng-option [value]="option.lookupKey"
                         *ngFor="let option of projectWorkAreas">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="projectWorkArea"></app-field-error-message>
          </div>
          <div class="col-md-8 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="countries"
                   for="countries">{{lang.map.country_countries}}</label>
            <ng-select [multiple]="true" validationClasses="countries" appendTo="body" [clearable]="true" id="countries"
                       formControlName="countries">
              <ng-option [disabled]="checkCountryDisabled(option)" [value]="option.id"
                         *ngFor="let option of countries">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="countries"></app-field-error-message>
          </div>
        </div>
        <div class="row" *ngIf="displayDomainSection">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="domain"
                   for="domain">{{lang.map.domain}}</label>
            <ng-select validationClasses="domain" appendTo="body" [clearable]="true" id="domain"
                       formControlName="domain">
              <ng-option [value]="option.lookupKey" *ngFor="let option of domains">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message [ignoreTop]="true" controlName="domain"></app-field-error-message>
          </div>
          <div class="col-md-8 col-sm-12 mb-4">
            <div class="flex flex-column">
              <div *ngIf="displayDacSection" class="row">
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="mainDACCategory"
                         for="mainDACCategory">{{lang.map.main_dac_category}}</label>
                  <ng-select validationClasses="mainDACCategory" appendTo="body" [clearable]="true" id="mainDACCategory"
                             formControlName="mainDACCategory">
                    <ng-option [value]="option.id"
                               *ngFor="let option of mainDacCategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="mainDACCategory"></app-field-error-message>
                </div>
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="subDACCategory"
                         for="subDACCategory">{{lang.map.sub_dac_category}}</label>
                  <ng-select validationClasses="subDACCategory" appendTo="body" [clearable]="true" id="subDACCategory"
                             formControlName="subDACCategory">
                    <ng-option [value]="option.id"
                               *ngFor="let option of subDacCategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="subDACCategory"></app-field-error-message>
                </div>
              </div>
              <div *ngIf="displayOuchSection" class="row">
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                         for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
                  <ng-select validationClasses="mainUNOCHACategory" appendTo="body" [clearable]="true"
                             id="mainUNOCHACategory"
                             formControlName="mainUNOCHACategory">
                    <ng-option [value]="option.id"
                               *ngFor="let option of mainUNOCHACategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="mainUNOCHACategory"></app-field-error-message>
                </div>
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="subUNOCHACategory"
                         for="subUNOCHACategory">{{lang.map.sub_unocha_category}}</label>
                  <ng-select validationClasses="subUNOCHACategory" appendTo="body" [clearable]="true"
                             id="subUNOCHACategory"
                             formControlName="subUNOCHACategory">
                    <ng-option [value]="option.id"
                               *ngFor="let option of subUNOCHACategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="subUNOCHACategory"></app-field-error-message>
                </div>
              </div>
              <div *ngIf="!displayDacSection && !displayOuchSection" class="row">
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="licenseDuration"
                         for="licenseDuration">{{lang.map.license_duration}}</label>
                  <!--suppress XmlDuplicatedId -->
                  <input id="licenseDuration" validationClasses="licenseDuration" formControlName="licenseDuration"
                         class="form-control">
                  <app-field-error-message controlName="licenseDuration"></app-field-error-message>
                </div>
                <div class="col-md-6 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="projectTotalCost"
                         for="projectTotalCost">{{lang.map.project_total_cost}}</label>
                  <!--suppress XmlDuplicatedId -->
                  <input id="projectTotalCost" validationClasses="projectTotalCost" formControlName="projectTotalCost"
                         class="form-control">
                  <app-field-error-message controlName="projectTotalCost"></app-field-error-message>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="displayAidSection">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectType"
                   for="projectType">{{lang.map.project_type}}</label>
            <ng-select validationClasses="projectType" appendTo="body" [clearable]="true" id="projectType"
                       formControlName="projectType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of projectTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="projectType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="internalProjectClassification"
                   for="internalProjectClassification">{{lang.map.internal_projects_classification}}</label>
            <ng-select validationClasses="internalProjectClassification" appendTo="body" [clearable]="true"
                       id="internalProjectClassification"
                       formControlName="internalProjectClassification">
              <ng-option [value]="option.lookupKey"
                         *ngFor="let option of internalProjectsClassifications">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="internalProjectClassification"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="sanadiDomain"
                   for="sanadiDomain">{{lang.map.sanady_domain}}</label>
            <ng-select validationClasses="sanadiDomain" appendTo="body" [clearable]="true" id="sanadiDomain"
                       formControlName="sanadiDomain">
              <ng-option [value]="option.id" *ngFor="let option of sanadyDomains">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="sanadiDomain"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="sanadiMainClassification"
                   for="sanadiMainClassification">{{lang.map.sanady_main_classification}}</label>
            <ng-select validationClasses="sanadiMainClassification" appendTo="body" [clearable]="true"
                       id="sanadiMainClassification"
                       formControlName="sanadiMainClassification">
              <ng-option [value]="option.id"
                         *ngFor="let option of sanadyMainClassifications">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="sanadiMainClassification"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="licenseDuration"
                   for="licenseDuration">{{lang.map.license_duration}}</label>
            <!--suppress XmlDuplicatedId -->
            <input id="licenseDuration" validationClasses="licenseDuration" formControlName="licenseDuration"
                   class="form-control">
            <app-field-error-message controlName="licenseDuration"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectTotalCost"
                   for="projectTotalCost">{{lang.map.project_total_cost}}</label>
            <!--suppress XmlDuplicatedId -->
            <input id="projectTotalCost" validationClasses="projectTotalCost" formControlName="projectTotalCost"
                   class="form-control">
            <app-field-error-message controlName="projectTotalCost"></app-field-error-message>
          </div>
        </div>
        <div class="row" *ngIf="displayLLicenseAndTargetCostFields">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="licenseDuration"
                   for="licenseDuration">{{lang.map.license_duration}}</label>
            <!--suppress XmlDuplicatedId -->
            <input id="licenseDuration" validationClasses="licenseDuration" formControlName="licenseDuration"
                   class="form-control">
            <app-field-error-message controlName="licenseDuration"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectTotalCost"
                   for="projectTotalCost">{{lang.map.project_total_cost}}</label>
            <!--suppress XmlDuplicatedId -->
            <input id="projectTotalCost" validationClasses="projectTotalCost" formControlName="projectTotalCost"
                   class="form-control">
            <app-field-error-message controlName="projectTotalCost"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #template_deduction_ratio_info>
    <ng-container [formGroup]="form">
      <ng-container formGroupName="templateDeductionInfo">

      </ng-container>
    </ng-container>
  </ng-template>
  <ng-template #special_explanations>

  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [caseId]="model?.id" [caseType]="model?.caseType"
                 [model]="model"
                 [service]="service.documentService"></attachments>
  </ng-template>
</div>
