<div class="row mt-2">
  <app-table #table attachmentHandler [columns]="columns" [filter]="filterControl.value" [data]="list">
    <table cdk-table [dataSource]="table.dataSource" class="table border border-1">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header (textChange)="filterControl.setValue($event)" *ngIf="!approvalMode"
            tableTitle="collection_items" [add$]="add$" [allowAdd]="!disableAdd" [skipClearSort]="true">
          </table-header>
          <table-header (textChange)="filterControl.setValue($event)" *ngIf="approvalMode" tableTitle="collection_items"
            [skipClearSort]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="identificationNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.identification_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.identificationNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="zoneNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_zone}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.zoneNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="streetNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_street}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.streetNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="buildingNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.building_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.buildingNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="unitNumber">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.unit}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.unitNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="licenseEndDate">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_end_date}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.licenseEndDate|date: 'yyyy-MM-dd'}} </td>
      </ng-container>
      <ng-container cdkColumnDef="map">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.item_location}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <button (click)="openLocationMap(row)" [tooltip]="lang.map.show_location_on_map" class="btn icon-btn"><i
              class="mdi mdi-map-marker text-primary"></i>
          </button>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="approval_info_status">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_status}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex">
          <div *ngIf="approvalMode" class="d-flex">
            <i *ngIf="!row.hasValidApprovalInfo()" [tooltip]="lang.map.missing_approval_info"
              class="mdi mdi-alert-circle text-warning"></i>
            <i *ngIf="row.hasValidApprovalInfo()" [tooltip]="lang.map.approval_information_filled_out"
              class="mdi mdi-check-circle text-success"></i>
          </div>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="oldLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span *ngIf="isNewRequestType()">N/A</span>
          <span *ngIf="!isNewRequestType()" class="text-primary text-decoration-none cursor-pointer"
            (click)="viewOldLicense(row)">{{row.oldLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="exportedLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.generated_license_number}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span class="text-primary text-decoration-none cursor-pointer"
            (click)="viewGeneratedLicense(row)">{{row.exportedLicenseFullSerial || ''}}</span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
          <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
            <button multiAttachment [formObservables]="formProperties" [model]="model" [item]="row"
              identifier="collectionItemList" tooltip="{{lang.map.attachments}}" class="btn text-primary icon-btn">
              <i class="mdi mdi-attachment"></i>
            </button>
          </grid-actions>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: table.columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>
