<tabs-list>
  <tab name="basicInfo" [template]="basicInfoTemplate" [title]="lang.map.lbl_basic_info"></tab>
  <tab name="bankDetails" [template]="bankDetailsTemplate" [title]="lang.map.bank_details"></tab>
  <tab name="tradeLicense" [template]="tradeLicenseTemplate" [title]="lang.map.trade_license"></tab>
  <tab name="goals" [template]="goalsTemplate" [title]="lang.map.goals"></tab>
  <tab name="managementCouncils" [template]="managementCouncilsTemplate" [title]="lang.map.management_council"></tab>
  <tab name="executiveManagements" [template]="executiveManagementsTemplate"
       [title]="lang.map.executive_management"></tab>
  <tab name="contactOfficers" [template]="contactOfficersTemplate" [title]="lang.map.contact_officers"></tab>
  <tab name="approvalReasons" [template]="approvalReasonsTemplate" [title]="lang.map.approval_reasons"></tab>
</tabs-list>
<ng-template #basicInfoTemplate>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>
</ng-template>
<ng-template #bankDetailsTemplate>
  <audit-bank-account [newVersionList]="newVersion.bankAccountList"
                      [oldVersionList]="oldVersion.bankAccountList"
                      [caseType]="newVersion.caseType"
                      [uniqueComparisonProperty]="'itemId'">
  </audit-bank-account>
</ng-template>
<ng-template #tradeLicenseTemplate>
  <value-differences-list [differenceList]="commercialLicenseDifferences"></value-differences-list>
  <heading-row labelKey="commercial_activity"></heading-row>
  <audit-commercial-activity [newVersionList]="newVersion.commercialActivitiesList"
                             [oldVersionList]="oldVersion.commercialActivitiesList"
                             [uniqueComparisonProperty]="'itemId'"
  ></audit-commercial-activity>
</ng-template>
<ng-template #goalsTemplate>
  <heading-row labelKey="goals"></heading-row>
  <audit-goals [newVersionList]="newVersion.displayGoals"
               [oldVersionList]="oldVersion.displayGoals"
               [uniqueComparisonProperty]="'itemId'"
  ></audit-goals>
  <heading-row labelKey="domain"></heading-row>
  <audit-goals-list [newVersionList]="newVersion.goalsList"
                    [oldVersionList]="oldVersion.goalsList"
                    [uniqueComparisonProperty]="'itemId'"
  ></audit-goals-list>
  <heading-row labelKey="target_groups"></heading-row>
  <audit-target-group [newVersionList]="newVersion.targetGroupList"
                      [oldVersionList]="oldVersion.targetGroupList"
                      [uniqueComparisonProperty]="'itemId'"
  ></audit-target-group>
  <heading-row labelKey="work_areas"></heading-row>
  <audit-work-areas [newVersionList]="newVersion.workAreaObjectList"
                    [oldVersionList]="oldVersion.workAreaObjectList"
                    [uniqueComparisonProperty]="'itemId'"
  ></audit-work-areas>
</ng-template>
<ng-template #managementCouncilsTemplate>
  <audit-management-council [newVersionList]="newVersion.managementCouncilList"
                            [oldVersionList]="oldVersion.managementCouncilList"
                            [uniqueComparisonProperty]="'itemId'"
  ></audit-management-council>
</ng-template>
<ng-template #executiveManagementsTemplate>
  <audit-executive-management [newVersionList]="newVersion.executiveManagementList"
                              [oldVersionList]="oldVersion.executiveManagementList"
                              [uniqueComparisonProperty]="'itemId'"
                              [hidePassport]="false"
  ></audit-executive-management>
</ng-template>
<ng-template #contactOfficersTemplate>
  <audit-contact-officers [newVersionList]="newVersion.contactOfficerList"
                          [oldVersionList]="oldVersion.contactOfficerList"
                          [uniqueComparisonProperty]="'itemId'"
  ></audit-contact-officers>
</ng-template>
<ng-template #approvalReasonsTemplate>
  <audit-approval-reasons [newVersionList]="newVersion.approvalReasonList"
                          [oldVersionList]="oldVersion.approvalReasonList"
                          [uniqueComparisonProperty]="'itemId'"
  ></audit-approval-reasons>
</ng-template>
