<div class="row">
  <tabs-list [accordionView]="accordionView" [hasForm]="true">
    <tab name="basic_info" [hasError]="basicInfo.invalid" [template]="basic_info" [title]="lang.map.lbl_basic_info">
    </tab>
    <tab name="templates" [hasError]="templateTabHasError"
         [template]="template_deduction_ratio_info"
         [title]="lang.map.template_deduction_ratio_info">
    </tab>
    <tab [hasError]="specialExplanation.invalid" name="special_explanations" [template]="specialExplanations"
         [title]="lang.map.special_explanations"></tab>
    <tab name="attachments" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
  <ng-container [formGroup]="form">
    <ng-template #basic_info>
      <ng-container formGroupName="basicInfo">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="requestType"
                   for="requestType">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType"
                       placeholder="{{lang.map.select}}" id="requestType"
                       [clearable]="false"
                       (change)="handleRequestTypeChange($event, true)"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="!isEditRequestTypeAllowed()"
                       formControlName="requestType" validationClasses="requestType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of requestTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="permitType"
                   for="permitType">{{lang.map.permit_type}}</label>
            <ng-select [selectOnTab]="true" validationClasses="permitType"
                       labelForId="permitType"
                       placeholder="{{lang.map.select}}"
                       [notFoundText]="lang.map.msg_not_found"
                       appendTo="body" id="permitType"
                       [clearable]="false"
                       formControlName="permitType"
                       [readonly]="(isExtendOrCancelOrUpdateRequestType() || readonly)">
              <ng-option [value]="option.lookupKey" *ngFor="let option of permitTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="permitType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="oldLicenseFullSerial"
                   for="oldLicenseFullSerial">{{lang.map.license_number}}</label>
            <div class="input-group">
              <input [readonly]="!isEditLicenseAllowed()"
                     (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                     formControlName="oldLicenseFullSerial"
                     type="text" validationClasses="oldLicenseFullSerial" class="form-control"
                     id="oldLicenseFullSerial" trimInput>
              <button type="button" (click)="licenseSearch($event)" *ngIf="isEditLicenseAllowed()"
                      class="input-group-text">
                <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <selected-license-table (clearLicense)="clearLicense()" [ignoreDelete]="!isEditLicenseAllowed()"
                                  [caseType]="caseTypes.PROJECT_FUNDRAISING"
                                  [caseTypeViewLicense]="caseTypes.PROJECT_FUNDRAISING"
                                  [licenseList]="[selectedLicense]"
                                  [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
        </div>
        <div class="row">
          <ng-container *ngIf="displayAllFields">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="projectWorkArea"
                     for="projectWorkArea">{{lang.map.project_work_area}}</label>
              <ng-select validationClasses="projectWorkArea" appendTo="body" [clearable]="false" id="projectWorkArea"
                         formControlName="projectWorkArea"
                         labelForId="projectWorkArea"
                         placeholder="{{lang.map.select}}"
                         [notFoundText]="lang.map.msg_not_found"
                         [readonly]="(isExtendOrCancelOrUpdateRequestType() || readonly)">
                <ng-option [value]="option.lookupKey"
                           *ngFor="let option of projectWorkAreas">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="projectWorkArea"></app-field-error-message>
            </div>
            <div class="col-md-8 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="countries"
                     for="countries">{{lang.map.country_countries}}</label>
              <ng-select [multiple]="true" validationClasses="countries" appendTo="body" [clearable]="true"
                         id="countries"
                         formControlName="countries"
                         labelForId="countries"
                         placeholder="{{lang.map.select}}"
                         [notFoundText]="lang.map.msg_not_found"
                         [readonly]="(this.displayInsideQatar || isExtendOrCancelRequestType() || readonly)">
                <ng-option [disabled]="checkCountryDisabled(option)" [value]="option.id"
                           *ngFor="let option of countries">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="countries"></app-field-error-message>
            </div>
            <ng-container *ngIf="displayOutsideQatar">
              <div class="col-md-4 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="domain"
                       for="domain">{{lang.map.domain}}</label>
                <ng-select validationClasses="domain" appendTo="body" [clearable]="false" id="domain"
                           formControlName="domain"
                           labelForId="domain"
                           placeholder="{{lang.map.select}}"
                           [notFoundText]="lang.map.msg_not_found"
                           [readonly]="(isExtendOrCancelRequestType() || readonly)">
                  <ng-option [value]="option.lookupKey" *ngFor="let option of domains">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message [ignoreTop]="true" controlName="domain"></app-field-error-message>
              </div>
              <ng-container *ngIf="displayDacSection">
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="mainDACCategory"
                         for="mainDACCategory">{{lang.map.main_dac_category}}</label>
                  <ng-select validationClasses="mainDACCategory" appendTo="body" [clearable]="true" id="mainDACCategory"
                             formControlName="mainDACCategory"
                             labelForId="mainDACCategory"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [value]="option.id"
                               [disabled]="!option.isActive()"
                               *ngFor="let option of mainDacCategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="mainDACCategory"></app-field-error-message>
                </div>
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="subDACCategory"
                         for="subDACCategory">{{lang.map.sub_dac_category}}</label>
                  <ng-select validationClasses="subDACCategory" appendTo="body" [clearable]="true" id="subDACCategory"
                             formControlName="subDACCategory"
                             labelForId="subDACCategory"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [disabled]="!option.isActive()" [value]="option.id"
                               *ngFor="let option of subDacCategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="subDACCategory"></app-field-error-message>
                </div>
              </ng-container>
              <ng-container *ngIf="displayOchaSection">
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                         for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
                  <ng-select validationClasses="mainUNOCHACategory" appendTo="body" [clearable]="true"
                             id="mainUNOCHACategory"
                             formControlName="mainUNOCHACategory"
                             labelForId="mainUNOCHACategory"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [disabled]="!option.isActive()" [value]="option.id"
                               *ngFor="let option of mainUNOCHACategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="mainUNOCHACategory"></app-field-error-message>
                </div>
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="subUNOCHACategory"
                         for="subUNOCHACategory">{{lang.map.sub_unocha_category}}</label>
                  <ng-select validationClasses="subUNOCHACategory" appendTo="body" [clearable]="true"
                             id="subUNOCHACategory"
                             formControlName="subUNOCHACategory"
                             labelForId="subUNOCHACategory"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [disabled]="!option.isActive()" [value]="option.id"
                               *ngFor="let option of subUNOCHACategories">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="subUNOCHACategory"></app-field-error-message>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="displayInsideQatar">
              <div class="col-md-4 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="projectType"
                       for="projectType">{{lang.map.project_type}}</label>
                <ng-select validationClasses="projectType" appendTo="body" [clearable]="false" id="projectType"
                           formControlName="projectType"
                           labelForId="projectType"
                           placeholder="{{lang.map.select}}"
                           [notFoundText]="lang.map.msg_not_found"
                           [readonly]="(isExtendOrCancelRequestType() || readonly)">
                  <ng-option [value]="option.lookupKey"
                             *ngFor="let option of projectTypes">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="projectType"></app-field-error-message>
              </div>
              <div *ngIf="displayInternalSection" class="col-md-4 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="internalProjectClassification"
                       for="internalProjectClassification">{{lang.map.internal_projects_classification}}</label>
                <ng-select validationClasses="internalProjectClassification" appendTo="body" [clearable]="true"
                           id="internalProjectClassification"
                           formControlName="internalProjectClassification"
                           labelForId="internalProjectClassification"
                           placeholder="{{lang.map.select}}"
                           [notFoundText]="lang.map.msg_not_found"
                           [readonly]="(isExtendOrCancelRequestType() || readonly)">
                  <ng-option [value]="option.lookupKey"
                             *ngFor="let option of internalProjectsClassifications">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="internalProjectClassification"></app-field-error-message>
              </div>
              <ng-container *ngIf="displaySanadySection">
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="sanadiDomain"
                         for="sanadiDomain">{{lang.map.sanady_domain}}</label>
                  <ng-select validationClasses="sanadiDomain" appendTo="body" [clearable]="true" id="sanadiDomain"
                             formControlName="sanadiDomain"
                             labelForId="sanadiDomain"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [value]="option.id" *ngFor="let option of sanadyDomains">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="sanadiDomain"></app-field-error-message>
                </div>
                <div class="col-md-4 col-sm-12 mb-4 position-relative">
                  <label class="form-label" asteriskIfRequired="sanadiMainClassification"
                         for="sanadiMainClassification">{{lang.map.sanady_main_classification}}</label>
                  <ng-select validationClasses="sanadiMainClassification" appendTo="body" [clearable]="true"
                             id="sanadiMainClassification"
                             formControlName="sanadiMainClassification"
                             labelForId="sanadiMainClassification"
                             placeholder="{{lang.map.select}}"
                             [notFoundText]="lang.map.msg_not_found"
                             [readonly]="(isExtendOrCancelRequestType() || readonly)">
                    <ng-option [value]="option.id"
                               *ngFor="let option of sanadyMainClassifications">{{option.getName()}}</ng-option>
                  </ng-select>
                  <app-field-error-message controlName="sanadiMainClassification"></app-field-error-message>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectTotalCost"
                   for="projectTotalCost">{{lang.map.project_total_cost}}</label>
            <!--suppress XmlDuplicatedId -->
            <input id="projectTotalCost" validationClasses="projectTotalCost" formControlName="projectTotalCost"
                   class="form-control" [readonly]="(templateRequired || isExtendOrCancelRequestType() || readonly)"
                   [mask]="inputMaskPatterns.SEPARATOR"
                   [thousandSeparator]="inputMaskPatterns.THOUSAND_SEPARATOR">
            <app-field-error-message controlName="projectTotalCost"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="licenseDuration"
                   for="licenseDuration">{{lang.map.license_duration}} ({{lang.map.months}})</label>
            <!--suppress XmlDuplicatedId -->
            <input id="licenseDuration" validationClasses="licenseDuration"
                   [mask]="inputMaskPatterns.NUMBER_ONLY_WITH_LIMIT(4)" formControlName="licenseDuration"
                   class="form-control" [readonly]="(readonly || isLicenseDurationDisabled())">
            <app-field-error-message controlName="licenseDuration"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #template_deduction_ratio_info>
      <div *ngIf="templateRequired" class="row">
        <app-table #table sortableTable
                   [data]="(model!.templateList)"
                   [columns]="displayedColumns">
          <table cdk-table [dataSource]="table.dataSource" [hidden]="!templateRequired"  class="table table-striped table-bordered caption-top">
            <ng-container cdkColumnDef="extra-header">
              <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                <table-header tableTitle="templates" [add$]="addTemplate$" [allowAdd]="!(isExtendOrCancelRequestType() || readonly) && templateRequired" [skipClearSort]="true" [skipSearch]="true">
                </table-header>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="public_status">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.public_status}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.publicStatusInfo.getName()}} </td>
            </ng-container>
            <ng-container cdkColumnDef="review_status">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.review_status}}</th>
              <td cdk-cell *cdkCellDef="let row; let i = index">
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{row.templateStatusInfo.getName()}}</span>
                  <div *ngIf="needTemplateApproval(i)">
                    <button [tooltip]="lang.map.lbl_reject" (click)="rejectTemplate(i)" class="btn icon-btn">
                      <i class="mdi text-danger mdi-close-box"></i>
                    </button>
                    <button [tooltip]="lang.map.lbl_accept" (click)="acceptTemplate(i)" class="btn icon-btn">
                      <i class="mdi text-success mdi-checkbox-marked"></i>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.project_name}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.projectName}} </td>
            </ng-container>
            <ng-container cdkColumnDef="serial">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.templateFullSerial}}</td>
            </ng-container>
            <ng-container cdkColumnDef="totalCost">
              <th cdk-header-cell style="width:300px" *cdkHeaderCellDef> {{lang.map.total_cost}}</th>
              <td cdk-cell
                  *cdkCellDef="let row"> {{row.templateCost | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
            </ng-container>
            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell style="width:120px" *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
              <td cdk-cell *cdkCellDef="let row">
                <div class="d-flex">
                  <button *ngIf="!readonly && !isExtendOrCancelRequestType()" [tooltip]="lang.map.btn_remove"
                          (click)="deleteTemplate()"
                          class="btn icon-btn">
                    <i class="mdi mdi-trash-can text-primary"></i>
                  </button>
                  <button [tooltip]="lang.map.view" (click)="viewTemplate(row)" class="btn icon-btn">
                    <i class="mdi mdi-eye text-primary"></i>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
            <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
            <tr *cdkNoDataRow>
              <td colspan="20">{{lang.map.no_records_to_display}}</td>
            </tr>
          </table>
        </app-table>
      </div>
      <deduction-ratio-manager
        (onAddItem)="checkTemplateTabValidity()"
        (onItemChange)="checkTemplateTabValidity()"
        (onItemRemoved)="checkTemplateTabValidity()"
        (deductionChange)="onDeductionRatioChanges()"
        [clearItems]="clearDeductionItems"
        (afterClearItems)="onClearDeductionItems()"
        [checkForTemplate]="templateRequired"
        [model]="model!"
        [projectCost]="projectTotalCost.value"
        [readonly]="(isExtendOrCancelRequestType() || readonly)"
        [workArea]="projectWorkArea.value" [permitType]="permitType.value"></deduction-ratio-manager>

      <targeted-countries-distribution
        *ngIf="displayAllFields"
        (onAddItem)="checkTemplateTabValidity()"
        (onItemChange)="checkTemplateTabValidity()"
        (onItemRemoved)="checkTemplateTabValidity()"
        [deductionRatioChanged]="deductionRatioChanged"
        [model]="model!"
        [clearItems]="clearDeductionItems"
        [countriesChange]="countriesField.value"
        [readonly]="(isExtendOrCancelRequestType() || readonly)"
        [countries]="countries"></targeted-countries-distribution>

      <targeted-years-distribution
        (onAddItem)="checkTemplateTabValidity()"
        (onItemChange)="checkTemplateTabValidity()"
        (onItemRemoved)="checkTemplateTabValidity()"
        [clearItems]="clearDeductionItems"
        [deductionRatioChanged]="deductionRatioChanged"
        [model]="model!"
        [oldDuration]="selectedLicense?.totalLicenseDuration"
        [requestType]="requestType.value"
        [readonly]="isTargetedYearsDisabled()"
        [numberOfMonths]="licenseDuration.value"></targeted-years-distribution>

    </ng-template>
    <ng-container formGroupName="explanation">
      <ng-template #specialExplanations>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="description"
                   for="description">{{lang.map.special_explanations}}</label>
            <textarea name="description" formControlName="description" validationClasses="description" id="description"
                      rows="4" class="form-control" [readOnly]="(readonly)" trimInput
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #attachmentsTab>
      <attachments [caseId]="model?.id" [caseType]="model?.caseType"
                   [model]="model" [formProperties]="formProperties"
                   [service]="service.documentService"></attachments>
    </ng-template>
  </ng-container>
</div>
