<div class="d-flex flex-column">
  <div class="row mb-3" *ngIf="!accordionView && !fromDialog" >
    <div class="col">
      <div class="col"><h1 class="h6 text-primary">{{lang.map.menu_partner_approval}}</h1></div>
    </div>
  </div>
  <!-- content -->
  <div class="d-flex flex-column">
    <form [formGroup]="form" autocomplete="off">
      <tabs-list [accordionView]="accordionView">
        <tab [name]="tabsData.basic.name" [template]="basicTemplate" [title]="lang.map.lbl_basic_info"
             [hasError]="getTabInvalidStatus('basic')"></tab>
        <tab [name]="tabsData.bankAccounts.name" [template]="bankAccountsTemplate"
             [title]="lang.map.bank_details" [hasError]="getTabInvalidStatus('bankAccounts')"></tab>
        <tab [name]="tabsData.goals.name" [template]="goalsTemplate" [title]="lang.map.goals"
             [hasError]="getTabInvalidStatus('goals')"></tab>
        <tab [name]="tabsData.managementCouncils.name" [template]="managementCouncilsTemplate"
             [title]="lang.map.management_council" [hasError]="getTabInvalidStatus('managementCouncils')"></tab>
        <tab [name]="tabsData.executiveManagements.name" [template]="executiveManagementsTemplate"
             [title]="lang.map.executive_management" [hasError]="getTabInvalidStatus('executiveManagements')"></tab>
        <tab [name]="tabsData.targetGroups.name" [template]="targetGroupsTemplate"
             [title]="lang.map.target_groups" [hasError]="getTabInvalidStatus('targetGroups')"></tab>
        <tab [name]="tabsData.contactOfficers.name" [template]="contactOfficersTemplate"
             [title]="lang.map.contact_officers" [hasError]="getTabInvalidStatus('contactOfficers')"></tab>
        <tab [name]="tabsData.approvalReasons.name" [template]="approvalReasonsTemplate"
             [title]="lang.map.approval_reasons" [hasError]="getTabInvalidStatus('approvalReasons')"></tab>
        <tab [name]="tabsData.comments.name" [template]="commentsTemplate"
             [hasError]="getTabInvalidStatus('comments')" [title]="lang.map.comments"
             *ngIf="employeeService.isInternalUser()">{{lang.map.comments}}</tab>
        <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [template]="attachmentsTemplate"
             [hasError]="getTabInvalidStatus('attachments')"
             [title]="lang.map.attachments">{{lang.map.attachments}}</tab>
        <tab [name]="tabsData.logs.name" [hasError]="getTabInvalidStatus('logs')"
             [template]="logsTemplate" [title]="lang.map.logs" *ngIf="fromDialog" [disabled]="!model?.id"></tab>
      </tabs-list>
      <!-- basic -->
      <ng-template formGroupName="basic" #basicTemplate>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="organizationId"
                     class="col-form-label col-md-4 col-sm-12"
                     for="organizationId">{{lang.map.lbl_organization}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <ng-select [readonly]="readonly || !!(this.model?.id)" validationClasses="organizationId"
                           appendTo="body"
                           [clearable]="true"
                           id="organizationId"
                           formControlName="organizationId">
                  <ng-option [value]="org.id" *ngFor="let org of organizations">{{org.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="organizationId"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="requestClassification" for="requestClassification"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.request_classification}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
                <ng-select [readonly]="readonly" validationClasses="requestClassification"
                           id="requestClassification" formControlName="requestClassification">
                  <ng-option [value]="requestClassification.lookupKey"
                             *ngFor="let requestClassification of requestClassifications">{{requestClassification.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="requestClassification"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="requestType" for="requestType"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.request_type}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
                <ng-select [readonly]="!isEditRequestTypeAllowed()"
                           validationClasses="requestType" id="requestType"
                           formControlName="requestType" appendTo="body">
                  <ng-option [value]="requestType.lookupKey"
                             *ngFor="let requestType of requestTypes">{{requestType.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="requestType"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="oldLicenseFullserial" class="col-form-label col-md-4 col-sm-12"
                     for="oldLicenseFullserial">{{lang.map.license_number}}</label>
              <div class="col-md-8 col-sm-12 mb-position-relative">
                <div class="input-group">
                  <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch()"
                          class="input-group-text"><i
                    class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
                  <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch()"
                         formControlName="oldLicenseFullserial"
                         type="text" [readOnly]="!isEditLicenseAllowed()"
                         validationClasses="oldLicenseFullserial" [onlyInvalid]="false" class="form-control"
                         id="oldLicenseFullserial">
                </div>
                <app-field-error-message controlName="oldLicenseFullserial"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <app-table #table
                     [data]="[selectedLicense]"
                     [columns]="service.selectLicenseDisplayColumns">
            <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
              <ng-container cdkColumnDef="arName">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.office_arabic_name}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.arName}} </td>
              </ng-container>
              <ng-container cdkColumnDef="enName">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.office_english_name}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.enName}} </td>
              </ng-container>
              <ng-container cdkColumnDef="licenseNumber">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_number}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.licenseNumber}} </td>
              </ng-container>
              <ng-container cdkColumnDef="fullSerial">
                <!-- full serial will be shown as License number, so label is license number -->
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_number}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.fullSerial}} </td>
              </ng-container>
              <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_status}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.licenseStatusInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="endDate">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_end_date}}</th>
                <td cdk-cell
                    *cdkCellDef="let row"> {{!row.licenseEndDate ? '' : row.licenseEndDate|date: 'mediumDate'}} </td>
              </ng-container>
              <ng-container cdkColumnDef="actions">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
                <td cdk-cell *cdkCellDef="let row">
                  <button class="btn btn-link outline-none mx-2"
                          tooltip="{{lang.map.view_license}}"
                          (click)="viewLicenseAsPDF(row)">
                    <i class="mdi {{fileIconsEnum.PDF}}"></i></button>
                </td>
              </ng-container>
              <tr *cdkNoDataRow>
                <td colspan="20">{{lang.map.no_records_to_display}}</td>
              </tr>
              <tr cdk-header-row *cdkHeaderRowDef="service.selectLicenseDisplayColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: service.selectLicenseDisplayColumns;"></tr>
            </table>
          </app-table>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="arName" for="arName"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_arabic_name}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="arName" [readonly]="readonly" validationClasses="arName"
                       formControlName="arName" class="form-control"/>
                <app-field-error-message controlName="arName"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="enName" for="enName"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_english_name}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="enName" [readonly]="readonly" validationClasses="enName"
                       formControlName="enName" class="form-control"/>
                <app-field-error-message controlName="enName"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="country" for="country"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.country}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
                <ng-select [selectOnTab]="true" labelForId="country" [clearable]="false"
                           placeholder="{{lang.map.select}}" id="country" appendTo="body"
                           (change)="handleCountryChange($event)"
                           [notFoundText]="lang.map.msg_not_found" [readonly]="!isEditCountryAllowed()"
                           formControlName="country" validationClasses="country">
                  <ng-option *ngFor="let option of countries" [value]="option.id"
                             [disabled]="!option.isActive()">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="country"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="region" for="region"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.region}}</label>
              <div class="col-md-8 col-sm-12 mb-3 position-relative ng-select-wrapper">
                <input formControlName="region" type="text" [readOnly]="!isEditCountryAllowed()"
                       validationClasses="region" class="form-control" id="region">
                <app-field-error-message controlName="region"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="headQuarterType" for="headQuarterType"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.headquarter_type}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
                <ng-select [readonly]="readonly" validationClasses="headQuarterType" id="headQuarterType"
                           formControlName="headQuarterType">
                  <ng-option [value]="headQuarterType.lookupKey"
                             *ngFor="let headQuarterType of headQuarterTypes">{{headQuarterType.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="headQuarterType"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row d-flex flex-column flex-md-row">
              <label for="establishmentDate" asteriskIfRequired="establishmentDate"
                     class="col-sm-12 col-md-4 col-form-label">{{lang.map.establishment_date}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <div class="input-group">
                  <i class="input-group-text mdi mdi-calendar"></i>
                  <div class="form-control" formControlName="establishmentDate"
                       [ngClass]="{'input-disabled': readonly}"
                       id="establishmentDate" [options]="datepickerOptionsMap.establishmentDate"
                       (click)="!readonly && dpEstablishmentDate.toggleCalendar()"
                       #dpEstablishmentDate="angular-mydatepicker"
                       angular-mydatepicker validationClasses="establishmentDate"></div>
                  <app-field-error-message controlName="establishmentDate"></app-field-error-message>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="latitude" for="latitude"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.latitude}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="latitude" [readonly]="readonly" validationClasses="latitude"
                       formControlName="latitude" class="form-control"/>
                <app-field-error-message controlName="latitude"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="longitude" for="longitude"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.longitude}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="longitude" [readonly]="readonly" validationClasses="longitude"
                       formControlName="longitude" class="form-control"/>
                <app-field-error-message controlName="longitude"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="phone" for="phone"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_phone}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="phone" [readonly]="readonly" validationClasses="phone"
                       formControlName="phone" class="form-control"/>
                <app-field-error-message controlName="phone"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="fax" for="fax"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.fax_number}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="fax" [readonly]="readonly" validationClasses="fax"
                       formControlName="fax" class="form-control"/>
                <app-field-error-message controlName="fax"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="website" for="website"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.website}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="website" [readonly]="readonly" validationClasses="website"
                       formControlName="website" class="form-control"/>
                <app-field-error-message controlName="website"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="email" for="email"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_email}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="email" [readonly]="readonly" validationClasses="email"
                       formControlName="email" class="form-control"/>
                <app-field-error-message controlName="email"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="postalCode" for="address"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_address}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="address" [readonly]="readonly" validationClasses="address"
                       formControlName="address" class="form-control"/>
                <app-field-error-message controlName="address"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="postalCode" for="postalCode"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_po_box_num}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="postalCode" [readonly]="readonly" validationClasses="postalCode"
                       formControlName="postalCode" class="form-control"/>
                <app-field-error-message controlName="postalCode"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="firstSocialMedia" for="firstSocialMedia"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.social_media_1}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="firstSocialMedia" [readonly]="readonly" validationClasses="firstSocialMedia"
                       formControlName="firstSocialMedia" class="form-control"/>
                <app-field-error-message controlName="firstSocialMedia"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="secondSocialMedia" for="secondSocialMedia"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.social_media_2}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="secondSocialMedia" [readonly]="readonly" validationClasses="secondSocialMedia"
                       formControlName="secondSocialMedia" class="form-control"/>
                <app-field-error-message controlName="secondSocialMedia"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <label asteriskIfRequired="thirdSocialMedia" for="thirdSocialMedia"
                     class="col-md-4 col-sm-12 col-form-label">{{lang.map.social_media_3}}</label>
              <div class="col-md-8 mb-3 position-relative col-sm-12">
                <input id="thirdSocialMedia" [readonly]="readonly" validationClasses="thirdSocialMedia"
                       formControlName="thirdSocialMedia" class="form-control"/>
                <app-field-error-message controlName="thirdSocialMedia"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label asteriskIfRequired="description" for="description"
                 class="col-md-2 col-sm-12 col-form-label">{{lang.map.special_explanations}}</label>
          <div class="col-md-10 col-sm-12 mb-3 position-relative">
        <textarea rows="5" id="description" validationClasses="description" formControlName="description"
                  class="form-control" [readOnly]="readonly"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </ng-template>
      <!-- Bank accounts -->
      <ng-template #bankAccountsTemplate>
        <bank-account #bankAccountsTab [countriesList]="countries"
                      [list]="model?.bankAccountList || []"
                      [caseType]="model?.caseType"
                      [readonly]="readonly"
                      (readyEvent)="bankDetailsTabStatus = $event"></bank-account>
      </ng-template>
      <!-- Goals -->
      <ng-template #goalsTemplate>
        <goal #goalsTab
              [list]="model?.goalsList || []"
              [readonly]="readonly"
              (readyEvent)="goalsTabStatus = $event"></goal>
      </ng-template>
      <!-- Management Councils -->
      <ng-template #managementCouncilsTemplate>
        <management-council #managementCouncilsTab
                            [countriesList]="countries"
                            [jobTitlesList]="jobTitles"
                            [list]="model?.managementCouncilList || []"
                            [readonly]="readonly"
                            (readyEvent)="managementCouncilsTabStatus = $event"></management-council>
      </ng-template>
      <!-- Executive Managements -->
      <ng-template #executiveManagementsTemplate>
        <executive-management #executiveManagementsTab
                              [countriesList]="countries"
                              [jobTitlesList]="jobTitles"
                              [list]="model?.executiveManagementList || []"
                              [readonly]="readonly"
                              (readyEvent)="executiveManagementsTabStatus = $event"></executive-management>
      </ng-template>
      <!-- Target Groups -->
      <ng-template #targetGroupsTemplate>
        <target-group #targetGroupsTab
                      [list]="model?.targetGroupList || []"
                      [readonly]="readonly"
                      (readyEvent)="targetGroupsTabStatus = $event"></target-group>
      </ng-template>
      <!-- Contact Officers -->
      <ng-template #contactOfficersTemplate>
        <contact-officer #contactOfficersTab
                         [list]="model?.contactOfficerList || []"
                         [readonly]="readonly"
                         (readyEvent)="contactOfficersTabStatus = $event"></contact-officer>
      </ng-template>
      <!-- Approval Reasons -->
      <ng-template #approvalReasonsTemplate>
        <approval-reason #approvalReasonsTab
                         [list]="model?.approvalReasonList || []"
                         [readonly]="readonly"
                         (readyEvent)="approvalReasonsTabStatus = $event"></approval-reason>
      </ng-template>
      <ng-template #commentsTemplate>
        <div class="d-flex flex-row align-items-center justify-content-start">
          <button [disabled]="!isAddCommentAllowed()" (click)="commentsCtrl.openCommentDialog()"
                  class="d-inline-block btn p-0 icon-btn"><i
            class="mdi mdi-plus-box text-primary"></i></button>
        </div>
        <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService"
                      [readonly]="readonly"></app-comments>
      </ng-template>
      <ng-template #attachmentsTemplate>
        <div class="d-flex flex-row align-items-center justify-content-start">
          <button [disabled]="isAttachmentReadonly()" (click)="attachmentsCtrl.openUploadDialog()"
                  class="d-inline-block btn p-0 icon-btn"><i
            class="mdi mdi-plus-box text-primary"></i></button>
        </div>
        <app-documents #attachmentsCtrl [caseId]="model?.id" [service]="service.documentService"
                       [readonly]="isAttachmentReadonly()"></app-documents>
      </ng-template>
      <ng-template #logsTemplate>
        <!--<request-recommendations [record]="model"></request-recommendations>-->
        <log-viewer [caseId]="model!.getCaseId()" [service]="service.actionLogService"
                    [hideItemLocation]="true" [hideViewedAction]="true"></log-viewer>
      </ng-template>

      <!-- footer actions -->
      <div *ngIf="!fromDialog" class="d-flex align-items-center justify-content-center gap-2 mb-3">
        <button [disabled]="(form.invalid || model?.alreadyStarted())" (click)="save.next(saveTypes.FINAL)"
                class="btn shadow-sm btn-primary">{{lang.map.btn_save}}</button>
        <button [disabled]="!model?.canDraft()" (click)="save.next(saveTypes.DRAFT)"
                class="btn shadow-sm btn-primary">{{lang.map.save_as_draft}}</button>
        <button [disabled]="!model?.canStart()" (click)="launch$.next(null)"
                class="btn btn-primary">{{lang.map.launch}}</button>
        <button class="btn shadow-sm btn-secondary" (click)="resetForm$.next()">{{lang.map.btn_reset}}</button>
      </div>
    </form>
  </div>
</div>

