<div class="table-responsive">
  <app-table #table sortableTable [paginator]="paginator" [data]="listDataSource" [columns]="columns"
             [filter]="filterControl.value" [useSearchToFilter]="true">
    <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header (textChange)="filterControl.setValue($event)"
                        tableTitle="effective_coordination_capabilities" [add$]="add$"
                        [allowAdd]="canUpdate && isClaimed && addAllowed()"
                        [skipClearSort]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="eventTopic">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_event_topic}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.eventTopic}} </td>
      </ng-container>
      <ng-container cdkColumnDef="motivesAndRationale">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_motives_and_rationale}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.motivesAndRationale}} </td>
      </ng-container>
      <ng-container cdkColumnDef="eventObjectives">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_event_objectivese}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.eventObjectives}} </td>
      </ng-container>
      <ng-container cdkColumnDef="expectedOutcomes">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_expected_outcomes}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.expectedOutcomes}} </td>
      </ng-container>
      <ng-container cdkColumnDef="axes">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_axes}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.axes}} </td>
      </ng-container>

      <ng-container cdkColumnDef="daysNumber">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_days_number_for_event}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.daysNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="hoursNumber">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_hours_number_for_event}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.hoursNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="organizationWay">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_organization_way}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.organizationWayInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="sponsorsAndOrganizingPartners">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_sponsors_and_organizing_partners}}
        </th>
        <td cdk-cell *cdkCellDef="let row"> {{row.sponsorsAndOrganizingPartners}} </td>
      </ng-container>
      <ng-container cdkColumnDef="financialAllotment">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_financial_allotment}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.financialAllotment}} </td>
      </ng-container>
      <ng-container cdkColumnDef="organizationRequiredRole">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_organization_required_role}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.organizationRequiredRole}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
          <div class="d-flex flex-row">
            <button (click)="delete($event, row, i)" class="icon-btn text-primary" [hidden]="!canUpdate"
                    [disabled]="!isClaimed || formOpened" tooltip="{{lang.map.btn_delete}}">
              <i class="mdi mdi-close-box"></i>
            </button>
            <button (click)="edit($event, row, i)" class="icon-btn text-primary" [hidden]="!canUpdate"
                    [disabled]="!isClaimed || formOpened" tooltip="{{lang.map.btn_edit}}">
              <i class="mdi mdi-pen"></i>
            </button>
            <button (click)="view($event, row, i)" class="icon-btn text-primary" [disabled]="formOpened"
                    tooltip="{{lang.map.view}}">

              <i class="mdi mdi-eye"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
    <app-paginator #paginator></app-paginator>
  </app-table>
</div>
