<div *ngIf="gridStyle" class="row">
  <ul class="comments d-flex flex-column">
    <li class="comment d-flex flex-row align-items-center text-primary">
      <!--      <div><input class="form-check-input" type="checkbox"></div>-->
      <div class="comment-body header flex-shrink-1 flex-grow-1 text-truncate">
        <span class="h6 mx-1">{{lang.map.recommendation}}</span>
      </div>
      <div class="comment-by">
        <span class="h6 mx-1">{{lang.map.user}}</span>
      </div>
    </li>
    <li *ngFor="let recommendation of recommendations" class="comment d-flex flex-row align-items-center">
      <div class="comment-icon"><i class="mdi mdi-star-settings text-primary"></i></div>
      <div class="comment-body text-primary flex-shrink-1 flex-grow-1 text-truncate">
        <a [title]="recommendation.text" (click)="showRecommendation($event , recommendation )"
           href="#">{{recommendation.text}}</a>
      </div>
      <div class="p-1">{{recommendation.createdOn|date:"short"}}</div>
      <div [tooltip]="recommendation.creatorInfo.getName()" class="cursor-pointer comment-icon text-primary">
        <i class="mdi mdi-account-star"></i>
      </div>
    </li>
    <li *ngIf="!recommendations.length" class="comment d-flex flex-row align-items-center">
      <div class="comment-body text-primary flex-shrink-1 flex-grow-1 text-truncate">
        <span>{{lang.map.no_recommendations_to_show}}</span>
      </div>
      <div class="comment-icon invisible"><i class="mdi mdi-account-star"></i></div>
    </li>
  </ul>
</div>
<div *ngIf="!gridStyle" class="row mb-3">
  <label for="recommendation"
         asteriskIfRequired
         [control]="formControl"
         class="col-md-2 col-sm-12 col-form-label position-relative">
    <span class="d-block">{{lang.map.recommendation}}</span>
    <span class="d-flex align-items-center">
      <span [tooltip]="lang.map.save_changes">
        <button [disabled]="!caseId || disabled || !formControl.dirty || !formControl.value.length"
                (click)="saveRecommendationChanges()"
                class="btn p-0">
          <i class="mdi mdi-content-save-edit-outline text-primary"></i>
        </button>
      </span>
      <button [tooltip]="lang.map.recommendations_logs" (click)="showRecommendationsHistory()"
              class="btn">
        <i class="mdi mdi-history text-primary"></i>
      </button>
      <button [tooltip]="lang.map.btn_reload" (click)="loadRecommendations()"
              class="btn p-0">
        <i class="mdi mdi-reload text-primary"></i>
      </button>
    </span>
  </label>
  <div class="col-md-10 col-sm-12 mb-3 position-relative">
    <textarea rows="3" validationClasses [control]="formControl" [formControl]="formControl"
              id="recommendation"
              maxlength="1200"
              class="form-control"></textarea>
    <app-field-error-message [control]="formControl"></app-field-error-message>
  </div>
</div>
