<div>
  <!--<div class="row pb-3">
    <app-page-header [customTemplate]="headerTemplate"></app-page-header>
    <ng-template #headerTemplate>
      <div class="align-items-center">
        <h1 class="h6 text-primary m-0 d-inline-block">{{lang.map.attachments}}</h1>
        <button class="btn btn-link outline-none" tooltip="{{ lang.map.btn_add }}"
                [disabled]="disabled" (click)="addOtherAttachments.next()">
          <i class="mdi mdi-plus-box"></i>
        </button>
        <button class="btn btn-link" tooltip="{{ lang.map.btn_reload }}" (click)="forceReload()">
          <i class="mdi mdi-reload"></i>
        </button>
      </div>
    </ng-template>
  </div>-->

  <ng-template #reloadAttachmentsTemplate>
    <button [tooltip]="lang.map.btn_reload"
            (click)="forceReload()"
            class="btn icon-btn text-white">
      <i class="mdi {{actionIconsEnum.RELOAD}}"></i>
    </button>
  </ng-template>
  <app-table [selectable]="true" #table sortableTable [paginator]="paginator"
             [filter]="filter.value"
             [data]="attachments"
             [columns]="displayedColumns">
    <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header tableTitle="attachments"
                        [add$]="addOtherAttachments"
                        [allowAdd]="allowedToAddNewAttachment"
                        [skipClearSort]="true"
                        [skipSearch]="true"
                        [customTemplate]="reloadAttachmentsTemplate"
          ></table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="rowSelection">
        <th cdk-header-cell class="bg-primary" style="width: 20px;" *cdkHeaderCellDef>
          <input type="checkbox" [disabled]="table.filter"
                 [indeterminate]="table.selection.hasValue() && !table.allSelected()"
                 (change)="$event ? table.toggleAll() : null"
                 [checked]="table.selection.hasValue() && table.allSelected()"
                 class="form-check-input"></th>
        <td cdk-cell *cdkCellDef="let row">
          <input type="checkbox"
                 (click)="$event.stopPropagation()"
                 [checked]="table.selection.isSelected(row)"
                 (change)="$event ? table.selection.toggle(row) : null"
                 class="form-check-input"></td>
      </ng-container>
      <ng-container cdkColumnDef="icon">
        <th cdk-header-cell style="width: 20px;" *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let row"><i class="mdi text-primary {{getFileIcon(row)}}"></i></td>
      </ng-container>
      <ng-container cdkColumnDef="type">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.attachment_type}}</th>
        <td cdk-cell
            *cdkCellDef="let row"> {{row.attachmentTypeId === -1 ? row.documentTitle : row.attachmentTypeInfo.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_description}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.description}} </td>
      </ng-container>
      <ng-container cdkColumnDef="mandatory">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_mandatory}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.getRequiredTranslate()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="isPublished">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.published}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <span *ngIf="!canChangePublished(row)">{{row.getPublishedTranslate()}}</span>
          <span *ngIf="canChangePublished(row)" class="form-check form-switch switch-action" style="top: auto">
            <input class="form-check-input" type="checkbox" [checked]="row.isPublished"
                   [disabled]="isDisabledActionButtons(row, 'publish')"
                   *ngIf="canShowActionButtons(row, 'publish')"
                   (click)="!disabled && handleChangePublished(row, $event)">
          </span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="date">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.creation_date}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.createdOn|date: 'mediumDate' }} </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell style="width: 200px"
            *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; index as itemIndex">
          <div class="d-flex gap-2">
            <button [disabled]="isDisabledActionButtons(row, 'upload')"
                    [tooltip]="row.id ? lang.map.update_file : lang.map.upload_file"
                    (click)="uploadAttachment(row , uploader)"
                    [class.btn-success]="row.id"
                    *ngIf="canShowActionButtons(row, 'upload')"
                    class="btn btn-sm shadow-sm btn-secondary d-flex align-items-center justify-content-start">
              <i [class.mdi-progress-upload]="row.id" [class.mdi-upload]="!row.id" class="mdi mdi-upload"></i>
            </button>
            <button [tooltip]="lang.map.view" (click)="viewFile(row)"
                    [disabled]="isDisabledActionButtons(row, 'view')"
                    *ngIf="canShowActionButtons(row, 'view')"
                    class="btn btn-sm shadow-sm btn-info d-flex align-items-center justify-content-start">
              <i [class.mdi-eye-off]="!row.id" [class.mdi-eye]="row.id" class="mdi text-white"></i>
            </button>
            <button [tooltip]="lang.map.btn_delete" (click)="deleteFile(row)"
                    [disabled]="isDisabledActionButtons(row, 'delete')"
                    *ngIf="canShowActionButtons(row, 'delete')"
                    class="btn btn-sm shadow-sm btn-danger d-flex align-items-center justify-content-start">
              <i [class.mdi-delete-off]="!row.id" [class.mdi-delete]="row.id" class="mdi"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="table-row-header"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
  <input type="file" (change)="uploaderFileChange($event)" #uploader id="attachmentUploader" class="visually-hidden"
         [accept]="allowedExtensions.join(',')">
  <app-paginator #paginator></app-paginator>
</div>
