<tabs-list>
  <tab name="basic_info" [template]="basic_info" [title]="lang.map.lbl_basic_info">
  </tab>
  <tab name="project_info" [template]="project_info" [title]="lang.map.project_info">
  </tab>
  <tab name="fundingResources" [template]="funding_sources" [title]="lang.map.funding_resources"></tab>
  <tab name="special_explanations" [template]="specialExplanationTemplate"
         [title]="lang.map.special_explanations"></tab>
</tabs-list>
<ng-template #basic_info>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>
</ng-template>
<ng-template #project_info>
  <heading-row [labelKey]="'templates'"></heading-row>
  <audit-implementation-template [newVersionList]="newVersion.implementationTemplate"
    [oldVersionList]="oldVersion.implementationTemplate" [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'templateId'">
  </audit-implementation-template>
  <br>
  <heading-row [labelKey]="'implementation_agencies'"></heading-row>
  <audit-intervention-implementing-agency-list [newVersionList]="newVersion.implementingAgencyList"
    [oldVersionList]="oldVersion.implementingAgencyList" [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'implementingAgency'">
  </audit-intervention-implementing-agency-list>
  <value-differences-list [differenceList]="implementingAgencyTypeDifferences"></value-differences-list>
</ng-template>
<ng-template #funding_sources>
  <heading-row [labelKey]="'menu_projects_fundraising'"></heading-row>
  <audit-implementation-fundraising [newVersionList]="newVersion.implementationFundraising"
    [oldVersionList]="oldVersion.implementationFundraising" [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'projectLicenseId'">
  </audit-implementation-fundraising>
  <heading-row [labelKey]="'grant_financial'"></heading-row>
  <audit-fund-source [isGrant]="true" [newVersionList]="newVersion.financialGrant"
    [oldVersionList]="oldVersion.financialGrant" [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'itemId'">
  </audit-fund-source>
  <heading-row [labelKey]="'self_financial'"></heading-row>
  <audit-fund-source [newVersionList]="newVersion.selfFinancing" [oldVersionList]="oldVersion.selfFinancing"
    [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'itemId'">
  </audit-fund-source>
  <heading-row [labelKey]="'payments'"></heading-row>
  <audit-payment [newVersionList]="newVersion.payment" [oldVersionList]="oldVersion.payment"
    [caseType]="newVersion.caseType"
    [uniqueComparisonProperty]="'itemId'">
  </audit-payment>
</ng-template>
<ng-template #specialExplanationTemplate>
  <value-differences-list [differenceList]="explanationDifferences"></value-differences-list>
</ng-template>
