<tabs-list>
  <tab name="basic_info" [template]="basic_info" [title]="lang.map.lbl_basic_info">
  </tab>
  <tab name="project_info" [template]="project_info" [title]="lang.map.project_info">
  </tab>
  <tab name="fundingResources" [template]="funding_sources" [title]="lang.map.funding_resources"></tab>
</tabs-list>
<ng-template #basic_info>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>
</ng-template>
<ng-template #project_info>
  <!-- <implementation-template [requestType]="requestType.value" [caseId]="model!.id"
    formControlName="implementationTemplate" [criteria]="getCriteria"></implementation-template>
  <implementing-agency-list [country]="beneficiaryCountry.value" [type]="implementingAgencyType.value"
    formControlName="implementingAgencyList">
  </implementing-agency-list> -->
</ng-template>
<ng-template #funding_sources>
  <!-- <implementation-fundraising (amountConsumed)="onAmountConsumed($event)" [remainingAmount]="remainingAmount"
    [currentTemplate]="implementationTemplate.value" [criteria]="getCriteria"
    [projectTotalCost]="projectTotalCost.value" [caseId]="model!.getCaseId()" [requestType]="requestType.value"
    formControlName="implementationFundraising"></implementation-fundraising>
  <payments [projectTotalCost]="projectTotalCost.value" formControlName="payment"></payments> -->
  <audit-fund-source [newVersionList]="newVersion.selfFinancing"
    [oldVersionList]="oldVersion.selfFinancing" [caseType]="newVersion.caseType">
  </audit-fund-source>
  <audit-fund-source [isGrant]="true" [newVersionList]="newVersion.financialGrant"
    [oldVersionList]="oldVersion.financialGrant" [caseType]="newVersion.caseType">
  </audit-fund-source>
</ng-template>

