<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn" tabindex="-1" aria-label="Fullscreen"
            fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white" tabindex="-1" [dialogClose]="model"
            aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <div class="row">
    <div class="col-12">
      <app-table #table
                  [filter]="filterControl.value"
                  [useSearchToFilter]="true"
                  [selectable]="true"
                  [data]="children"
                  [columns]="displayedColumns"
                  sortableTable>
        <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_items"
                            (textChange)="filterControl.setValue($event)"
                            [allowAdd]="true"
                            [reload$]="reload$"
                            [add$]="add$"
                            ></table-header>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="arName">
            <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.arabic_name}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.arName}} </td>
          </ng-container>
          <ng-container cdkColumnDef="enName">
            <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.english_name}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.enName}} </td>
          </ng-container>
          <ng-container cdkColumnDef="menuType">
            <th cdk-header-cell sortable-header *cdkHeaderCellDef [sortParamAsFullItem]="true"
            [sortCallback]="sortingCallbacks.menuType"> {{lang.map.menu_type}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.menuTypeInfo ? row.menuTypeInfo.getName() : '' }} </td>
          </ng-container>
          <ng-container cdkColumnDef="status">
            <th cdk-header-cell sortable-header *cdkHeaderCellDef [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.statusInfo"> {{lang.map.lbl_status}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{(row.statusInfo ? row.statusInfo.getName() : '')}} </td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
              </grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="table-row-header"></tr>
          <tr cdk-row  *cdkRowDef="let row; columns: displayedColumns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
      <!-- <app-paginator #paginator (pageChange)="pageChange($event)" [length]="count" [backend]="true"></app-paginator>
      <context-menu-item #menu [actions]="actions"></context-menu-item> -->
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="!readonly && validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="!readonly && saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
