<div class="row">
  <tabs-list [accordionView]="accordionView" class="py-4" (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
         [template]="basicInfoTab" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.projectCategory.name" [hasError]="getTabInvalidStatus('projectCategory')"
         [template]="categoryInfoTab" [title]="lang.map.project_category_info"></tab>
    <tab [name]="tabsData.projectSummary.name" [hasError]="getTabInvalidStatus('projectSummary')"
         [template]="summaryInfoTab" [title]="lang.map.project_summary_info"></tab>
    <tab [name]="tabsData.projectComponentsAndBudget.name"
         [hasError]="getTabInvalidStatus('projectComponentsAndBudget')"
         [template]="componentsBudgetsTab" [title]="lang.map.project_components_budgets"></tab>
    <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
         [template]="specialExplanationTab" [title]="lang.map.special_explanations"></tab>
    <tab [name]="tabsData.comments.name" [hasError]="getTabInvalidStatus('comments')"
         [template]="commentsTabTemplate" [title]="lang.map.comments"
         *ngIf="employeeService.isInternalUser()"></tab>
    <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
         [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
</div>
<ng-container [formGroup]="form">
  <ng-template #basicInfoTab>
    <ng-container formGroupName="basicInfo">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="requestType"
                   for="requestType">{{lang.map.request_type}}</label>
            <ng-select (change)="onRequestTypeChange()" [readonly]="readonly" validationClasses="requestType"
                       appendTo="body" [clearable]="true"
                       id="requestType"
                       formControlName="requestType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of requestTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div *ngIf="displayTemplateSerialField" class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired [control]="templateSerialControl"
                   for="templateSerialControl">{{lang.map.template_serial}}</label>
            <div class="input-group">
              <input id="templateSerialControl" (keyup.enter)="searchForTemplate()"
                     [formControl]="templateSerialControl" [control]="templateSerialControl"
                     validationClasses class="form-control">
              <button (click)="searchForTemplate()" class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message [control]="templateSerialControl"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="templateType"
                   for="templateType">{{lang.map.model_type}}</label>
            <ng-select [readonly]="readonly" (change)="onModelTypeChange()" validationClasses="templateType"
                       appendTo="body"
                       [clearable]="true"
                       id="templateType"
                       formControlName="templateType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of modelTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="templateType"></app-field-error-message>
          </div>
          <div *ngIf="!displayTemplateSerialField" class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectType"
                   for="projectType">{{lang.map.project_type}}</label>
            <!--suppress XmlDuplicatedId -->
            <ng-select [readonly]="readonly" validationClasses="projectType" appendTo="body" [clearable]="true"
                       id="projectType"
                       formControlName="projectType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of projectTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="projectType"></app-field-error-message>
          </div>
        </div>
        <div *ngIf="selectedModel" class="row">
          <app-table #tableData sortableTable
                     [data]="[selectedModel]"
                     [columns]="displayedColumns">
            <table cdk-table [dataSource]="tableData.dataSource" class="table table-striped table-bordered caption-top">
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
              <ng-container cdkColumnDef="fullSerial">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.fullSerial}} </td>
              </ng-container>
              <ng-container cdkColumnDef="domainInfo">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.the_domain}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.domainInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="templateStatusInfo">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_status}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.templateStatusInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="projectTypeInfo">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.project_type}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.projectTypeInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="createdBy">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.created_by}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.creatorInfo.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="createdOn">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.creation_date}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.createdOn|date}} </td>
              </ng-container>
              <ng-container cdkColumnDef="templateTypeInfo">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.model_type}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.templateTypeInfo.getName()}} </td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </app-table>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <div class="mb-4" *ngIf="displayTemplateSerialField">
              <label class="form-label" asteriskIfRequired="projectType"
                     for="projectType">{{lang.map.project_type}}</label>
              <!--suppress XmlDuplicatedId -->
              <ng-select [readonly]="readonly" validationClasses="projectType" appendTo="body" [clearable]="true"
                         id="projectType"
                         formControlName="projectType">
                <ng-option [value]="option.lookupKey"
                           *ngFor="let option of projectTypes">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message [ignoreTop]="true" controlName="projectType"></app-field-error-message>
            </div>
            <div class="mb-3">
              <label class="form-label" asteriskIfRequired="projectName"
                     for="projectName">{{lang.map.project_name}}</label>
              <input id="projectName" validationClasses="projectName" formControlName="projectName"
                     class="form-control">
              <app-field-error-message [ignoreTop]="true" controlName="projectName"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectDescription"
                   for="projectDescription">{{lang.map.project_description}}</label>
            <textarea maxlength="1200" name="projectDescription" validationClasses="projectDescription"
                      formControlName="projectDescription" id="projectDescription" rows="6"
                      class="form-control"></textarea>
            <app-field-error-message [ignoreTop]="true" controlName="projectDescription"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.beneficiary_country_info}}</h2>
            <hr>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="mb-4 ng-select-wrapper flex-grow-1 ">
                <label class="form-label" asteriskIfRequired="beneficiaryCountry"
                       for="beneficiaryCountry">{{lang.map.country}}</label>
                <ng-select [readonly]="readonly" validationClasses="beneficiaryCountry"
                           appendTo="body" [clearable]="true"
                           id="beneficiaryCountry" formControlName="beneficiaryCountry">
                  <ng-option [value]="option.id" *ngFor="let option of countries"
                             [disabled]="!option.isActive()">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="beneficiaryCountry"></app-field-error-message>
              </div>
              <button *ngIf="!readonly && this.employeeService.checkPermissions('MANAGE_CITIES')"
                      (click)="addCountry($event)" class="btn btn-primary mt-2">{{lang.map.btn_add}}</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="beneficiaryRegion"
                   for="beneficiaryRegion">{{lang.map.region}}</label>
            <input id="beneficiaryRegion" validationClasses="beneficiaryRegion" formControlName="beneficiaryRegion"
                   class="form-control">
            <app-field-error-message controlName="beneficiaryRegion"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.execution_country_info}}</h2>
            <hr>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="executionCountry"
                   for="executionCountry">{{lang.map.country}}</label>
            <ng-select [readonly]="readonly" validationClasses="executionCountry" appendTo="body" [clearable]="true"
                       id="executionCountry" formControlName="executionCountry">
              <ng-option [value]="option.id" *ngFor="let option of countries"
                         [disabled]="!option.isActive()">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="executionCountry"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="executionRegion"
                   for="executionRegion">{{lang.map.region}}</label>
            <input id="executionRegion" validationClasses="executionRegion" formControlName="executionRegion"
                   class="form-control">
            <app-field-error-message controlName="executionRegion"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.execution_info}}</h2>
            <hr>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="implementingAgencyType"
                   for="implementingAgencyType">{{lang.map.implementation_agency_type}}</label>
            <ng-select [readonly]="readonly" validationClasses="implementingAgencyType" appendTo="body"
                       [clearable]="true"
                       id="implementingAgencyType"
                       formControlName="implementingAgencyType">
              <ng-option [value]="option.lookupKey"
                         *ngFor="let option of implementingAgencyTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="implementingAgencyType"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="year"
                   for="year">{{lang.map.year}}</label>
            <input id="year" maxlength="4" validationClasses="year" formControlName="year"
                   onlyNumbers
                   class="form-control">
            <app-field-error-message controlName="year"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="implementationPeriod"
                   for="implementationPeriod">{{lang.map.implementation_period}}</label>
            <input maxlength="4" id="implementationPeriod" validationClasses="implementationPeriod"
                   onlyNumbers
                   formControlName="implementationPeriod"
                   class="form-control">
            <app-field-error-message controlName="implementationPeriod"></app-field-error-message>
          </div>
        </div>
      </fieldset>
    </ng-container>
  </ng-template>
  <ng-template #categoryInfoTab>
    <ng-container formGroupName="categoryInfo">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="domain"
                   for="domain">{{lang.map.the_domain}}</label>
            <ng-select [readonly]="readonly" (change)="onDomainChange()" validationClasses="domain" appendTo="body"
                       [clearable]="true"
                       id="domain"
                       formControlName="domain">
              <ng-option [value]="option.lookupKey" *ngFor="let option of domains">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="domain"></app-field-error-message>
          </div>
          <ng-container *ngIf="domain.value === domainTypes.DEVELOPMENT" id="DACCategory">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="mainDACCategory"
                     for="mainDACCategory">{{lang.map.main_dac_category}}</label>
              <ng-select [readonly]="readonly" (change)="onMainDacOchaChanged()" validationClasses="mainDACCategory"
                         appendTo="body"
                         [clearable]="true" id="mainDACCategory"
                         formControlName="mainDACCategory">
                <ng-option [value]="option.id" *ngFor="let option of mainDacCategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="mainDACCategory"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="subDACCategory"
                     for="subDACCategory">{{lang.map.sub_dac_category}}</label>
              <ng-select [readonly]="readonly" validationClasses="subDACCategory" appendTo="body" [clearable]="true"
                         id="subDACCategory"
                         formControlName="subDACCategory">
                <ng-option [value]="option.id" *ngFor="let option of subDacCategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="subDACCategory"></app-field-error-message>
            </div>
          </ng-container>
          <ng-container *ngIf="domain.value === domainTypes.HUMANITARIAN" id="UNOCHACategory">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                     for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
              <ng-select [readonly]="readonly" (change)="onMainDacOchaChanged()" validationClasses="mainUNOCHACategory"
                         appendTo="body"
                         [clearable]="true" id="mainUNOCHACategory"
                         formControlName="mainUNOCHACategory">
                <ng-option [value]="option.id"
                           *ngFor="let option of mainOchaCategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="mainUNOCHACategory"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="subUNOCHACategory"
                     for="subUNOCHACategory">{{lang.map.sub_unocha_category}}</label>
              <ng-select [readonly]="readonly" validationClasses="subUNOCHACategory" appendTo="body" [clearable]="true"
                         id="subUNOCHACategory"
                         formControlName="subUNOCHACategory">
                <ng-option [value]="option.id" *ngFor="let option of subOchaCategories">{{option.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="subUNOCHACategory"></app-field-error-message>
            </div>
          </ng-container>
        </div>
        <div *ngIf="displayDevGoals" class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="firstSDGoal"
                   for="firstSDGoal">{{lang.map.first_sd_goal}}</label>
            <ng-select [readonly]="readonly" validationClasses="firstSDGoal" appendTo="body" [clearable]="true"
                       id="firstSDGoal"
                       formControlName="firstSDGoal">
              <ng-option *ngFor="let option of goals" [value]="option.id"
                         [disabled]="option.id === secondSDGoal.value || option.id === thirdSDGoal.value">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="firstSDGoal"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="secondSDGoal"
                   for="secondSDGoal">{{lang.map.second_sd_goal}}</label>
            <ng-select [readonly]="readonly" validationClasses="secondSDGoal" appendTo="body" [clearable]="true"
                       id="secondSDGoal"
                       formControlName="secondSDGoal">

              <ng-option *ngFor="let option of goals" [value]="option.id"
                         [disabled]="option.id === firstSDGoal.value || option.id === thirdSDGoal.value">{{option.getName()}}</ng-option>

            </ng-select>
            <app-field-error-message controlName="secondSDGoal"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="thirdSDGoal"
                   for="thirdSDGoal">{{lang.map.third_sd_goal}}</label>
            <ng-select [readonly]="readonly" validationClasses="thirdSDGoal" appendTo="body" [clearable]="true"
                       id="thirdSDGoal"
                       formControlName="thirdSDGoal">

              <ng-option *ngFor="let option of goals" [value]="option.id"
                         [disabled]="option.id === firstSDGoal.value || option.id === secondSDGoal.value">{{option.getName()}}</ng-option>

            </ng-select>
            <app-field-error-message controlName="thirdSDGoal"></app-field-error-message>
          </div>
        </div>
      </fieldset>
    </ng-container>
    <fieldset *ngIf="displayDevGoals" [disabled]="readonly">
      <div formGroupName="categoryGoalPercentGroup" class="position-relative mb-2">
        <div class="row" validationGroupClasses>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="firstSDGoalPercentage"
                   for="firstSDGoalPercentage">{{lang.map.first_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="firstSDGoalPercentage" validationClasses="firstSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     formControlName="firstSDGoalPercentage" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="firstSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="secondSDGoalPercentage"
                   for="secondSDGoalPercentage">{{lang.map.second_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="secondSDGoalPercentage" validationClasses="secondSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     formControlName="secondSDGoalPercentage" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="secondSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="thirdSDGoalPercentage"
                   for="thirdSDGoalPercentage">{{lang.map.third_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="thirdSDGoalPercentage" validationClasses="thirdSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     formControlName="thirdSDGoalPercentage" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="thirdSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
        </div>
        <group-error-message></group-error-message>
      </div>
    </fieldset>
  </ng-template>
  <ng-template #summaryInfoTab>
    <ng-container formGroupName="summaryInfo">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="needsAssessment"
                   for="needsAssessment">{{lang.map.project_needs_assessment}}</label>
            <textarea maxlength="1200" name="needsAssessment" formControlName="needsAssessment"
                      validationClasses="needsAssessment"
                      id="needsAssessment" rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="needsAssessment"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="goals" asteriskIfRequired="goals">{{lang.map.project_goals}}</label>
            <textarea maxlength="1200" name="goals" formControlName="goals" validationClasses="goals" id="goals"
                      rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="goals"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.direct_beneficiary_count_by_gender}}</h2>
            <hr>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="directMaleBeneficiaries"
                   for="directMaleBeneficiaries">{{lang.map.male_beneficiaries_number}}</label>
            <input id="directMaleBeneficiaries" validationClasses="directMaleBeneficiaries"
                   onlyNumbers
                   formControlName="directMaleBeneficiaries" class="form-control">
            <app-field-error-message controlName="directMaleBeneficiaries"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="directFemaleBeneficiaries"
                   for="directFemaleBeneficiaries">{{lang.map.female_beneficiaries_number}}</label>
            <input onlyNumbers id="directFemaleBeneficiaries" validationClasses="directFemaleBeneficiaries"
                   formControlName="directFemaleBeneficiaries" class="form-control">
            <app-field-error-message controlName="directFemaleBeneficiaries"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.indirect_beneficiary_count_by_gender}}</h2>
            <hr>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="indirectMaleBeneficiaries"
                   for="indirectMaleBeneficiaries">{{lang.map.male_beneficiaries_number}}</label>
            <input id="indirectMaleBeneficiaries" validationClasses="indirectMaleBeneficiaries"
                   onlyNumbers
                   formControlName="indirectMaleBeneficiaries" class="form-control">
            <app-field-error-message controlName="indirectMaleBeneficiaries"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="indirectFemaleBeneficiaries"
                   for="indirectFemaleBeneficiaries">{{lang.map.female_beneficiaries_number}}</label>
            <input id="indirectFemaleBeneficiaries" validationClasses="indirectFemaleBeneficiaries"
                   onlyNumbers
                   formControlName="indirectFemaleBeneficiaries" class="form-control">
            <app-field-error-message controlName="indirectFemaleBeneficiaries"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.number_of_beneficiaries_with_special_needs}}</h2>
            <hr>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="handicappedBeneficiaryNumber"
                   for="handicappedBeneficiaryNumber">{{lang.map.number_of_beneficiaries_with_special_needs}}</label>
            <input id="handicappedBeneficiaryNumber" onlyNumbers validationClasses="handicappedBeneficiaryNumber"
                   formControlName="handicappedBeneficiaryNumber" class="form-control">
            <app-field-error-message controlName="handicappedBeneficiaryNumber"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><h2
            class="h6 text-primary">{{lang.map.percentage_of_direct_beneficiaries_by_age_group}}</h2>
            <hr>
          </div>
        </div>
        <div [formGroup]="form">
          <div formGroupName="summaryPercentGroup" class="position-relative mb-4">
            <div class="row" validationGroupClasses>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries0to5"
                       for="beneficiaries0to5">{{lang.map.number_of_0_to_5}}</label>
                <input id="beneficiaries0to5" validationClasses="beneficiaries0to5" formControlName="beneficiaries0to5"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       class="form-control">
                <app-field-error-message controlName="beneficiaries0to5"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries5to18"
                       for="beneficiaries5to18">{{lang.map.number_of_5_to_18}}</label>
                <input id="beneficiaries5to18" validationClasses="beneficiaries5to18"
                       formControlName="beneficiaries5to18"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       class="form-control">
                <app-field-error-message controlName="beneficiaries5to18"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiaries19to60"
                       for="beneficiaries19to60">{{lang.map.number_of_19_to_60}}</label>
                <input id="beneficiaries19to60" validationClasses="beneficiaries19to60"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       formControlName="beneficiaries19to60"
                       class="form-control">
                <app-field-error-message controlName="beneficiaries19to60"></app-field-error-message>
              </div>
              <div class="col-md-3 col-sm-12 mb-4 position-relative">
                <label class="form-label" asteriskIfRequired="beneficiariesOver60"
                       for="beneficiariesOver60">{{lang.map.number_of_above_60}}</label>
                <input id="beneficiariesOver60" validationClasses="beneficiariesOver60"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       formControlName="beneficiariesOver60"
                       class="form-control">
                <app-field-error-message controlName="beneficiariesOver60"></app-field-error-message>
              </div>
            </div>
            <group-error-message></group-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="successItems"
                   asteriskIfRequired="successItems">{{lang.map.project_success_items}}</label>
            <textarea maxlength="1200" name="successItems" id="successItems" validationClasses="successItems"
                      formControlName="successItems" rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="successItems"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="outputs" asteriskIfRequired="outputs">{{lang.map.project_outputs}}</label>
            <textarea maxlength="1200" name="outputs" id="outputs" formControlName="outputs" validationClasses="outputs"
                      rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="outputs"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="expectedResults"
                   asteriskIfRequired="expectedResults">{{lang.map.project_expected_results}}</label>
            <textarea maxlength="1200" name="expectedResults" id="expectedResults" validationClasses="expectedResults"
                      formControlName="expectedResults" rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="expectedResults"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="expectedImpact"
                   asteriskIfRequired="expectedImpact">{{lang.map.project_expected_impacts}}</label>
            <textarea maxlength="1200" name="expectedImpact" id="expectedImpact" validationClasses="expectedImpact"
                      formControlName="expectedImpact" rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="expectedImpact"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" for="sustainabilityItems"
                   asteriskIfRequired="sustainabilityItems">{{lang.map.project_sustainability_items}}</label>
            <textarea maxlength="1200" name="sustainabilityItems" formControlName="sustainabilityItems"
                      validationClasses="sustainabilityItems" id="sustainabilityItems" rows="4"
                      class="form-control"></textarea>
            <app-field-error-message controlName="sustainabilityItems"></app-field-error-message>
          </div>
        </div>
      </fieldset>
    </ng-container>
  </ng-template>
  <ng-template #componentsBudgetsTab>
    <fieldset [disabled]="readonly">
      <div class="row">
        <div class="d-flex align-items-center justify-content-start">
          <h2 class="h6 text-primary">{{lang.map.project_components}}</h2>
          <button (click)="onClickAddProjectComponent()" class="btn text-primary icon-btn"><i
            class="mdi mdi-plus-box"></i></button>
        </div>
      </div>
      <ng-container formGroupName="componentBudgetInfo">
        <ng-container formArrayName="componentList">
          <div [formGroupName]="i" *ngFor="let control of componentBudgetArray.controls; index as i" class="row">
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="componentName"
                     for="componentName">{{lang.map.component_name}}</label>
              <input id="componentName" validationClasses="componentName" formControlName="componentName"
                     class="form-control" maxlength="100">
              <app-field-error-message controlName="componentName"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="details"
                     for="details">{{lang.map.details}}</label>
              <input id="details" validationClasses="details" formControlName="details"
                     class="form-control" maxlength="250">
              <app-field-error-message controlName="details"></app-field-error-message>
            </div>
            <div class="col-md-4 col-sm-12 mb-4 position-relative">
              <label class="form-label" asteriskIfRequired="totalCost"
                     for="totalCost">{{lang.map.total_cost}}</label>
              <input id="totalCost" validationClasses="totalCost" formControlName="totalCost"
                     class="form-control" maxlength="20">
              <app-field-error-message controlName="totalCost"></app-field-error-message>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div *ngIf="currentProjectComponent" class="d-flex align-items-center justify-content-center">
        <button (click)="saveProjectComponent()" [disabled]="currentProjectComponent?.invalid || readonly"
                class="btn btn-primary m-2">{{ lang.map.btn_save}}</button>
        <button (click)="cancelProjectComponent()"
                class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
      </div>
      <table *ngIf="model" class="table mt-3 table-striped table-bordered caption-top"
             cdk-table [dataSource]="(model?.componentList)!">
        <ng-container cdkColumnDef="componentName">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.component_name}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.componentName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="details">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.details}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.details}} </td>
        </ng-container>
        <ng-container cdkColumnDef="totalCost">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.total_cost}}</th>
          <td cdk-cell *cdkCellDef="let row" class="text-end"> {{row.totalCost}} </td>
        </ng-container>
        <ng-container cdkColumnDef="totalComponentCostLabel">
          <td cdk-footer-cell colspan="2" class="text-end" *cdkFooterCellDef="let row">
            <span><b> {{lang.map.total_cost}}: </b></span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="totalComponentCost">
          <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
            <span><b>{{projectTotalCostField ? projectTotalCostField.value : 0}}</b></span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
          <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
            <div class="d-flex flex-row">
              <button (click)="onClickDeleteProjectComponent(row)" class="icon-btn text-primary"
                      [disabled]="readonly"
                      tooltip="{{lang.map.btn_delete}}">
                <i class="mdi mdi-close-box"></i>
              </button>
              <button (click)="onClickEditProjectComponent(row)" class="icon-btn text-primary"
                      [disabled]="readonly"
                      tooltip="{{lang.map.btn_edit}}">
                <i class="mdi mdi-pen"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="projectListColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: projectListColumns;"></tr>
        <tr cdk-footer-row *cdkFooterRowDef="projectListTotalCostFooterColumns"
            [hidden]="model && model.componentList && model.componentList.length === 0"></tr>
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>
    </fieldset>
  </ng-template>
  <ng-template #specialExplanationTab>
    <fieldset [disabled]="readonly">
      <div class="row">
        <div class="col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="description"
                 for="description">{{lang.map.special_explanations}}</label>
          <textarea maxlength="1200" name="description" formControlName="description" validationClasses="description"
                    id="description"
                    rows="4"
                    class="form-control"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </fieldset>
  </ng-template>
  <ng-template #commentsTabTemplate>
    <div class="d-flex flex-row align-items-center justify-content-start">
      <button [disabled]="!isAddCommentAllowed()" (click)="commentsCtrl.openCommentDialog()"
              class="d-inline-block btn p-0 icon-btn"><i
        class="mdi mdi-plus-box text-primary"></i></button>
    </div>
    <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService"
                  [readonly]="readonly"></app-comments>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService"
                 [load]="loadAttachments"></attachments>
  </ng-template>
</ng-container>
