<div class="row">
  <div class="col-12">
    <app-table #table sortableTable [paginator]="paginator"
               [columns]="tableOptions.columns" [data]="queryResultSet?.items" [filter]="tableOptions.searchText"
               [useSearchToFilter]="true">
      <table cdk-table [dataSource]="table.dataSource" class="table border border-1">
        <ng-container cdkColumnDef="extra-header">
          <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
            <table-header (onSelectFilter)="onInboxFiltered($event)" tableTitle="menu_user_inbox"
                          [sort]="table.dataSource.sort"
                          (textChange)="tableOptions.searchText = $event"
                          [filterCriteria]="filterCriteria"
                          [stats]="queryResultSet?.stats"
                          (filterClicked)="tableOptions.filterCallback($event)"
                          [reload$]="reloadInbox$"></table-header>
          </th>
        </ng-container>

        <ng-container cdkColumnDef="BD_FULL_SERIAL">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
          <td cdk-cell *cdkCellDef="let row">
            <!--<a class="dir-ltr" [routerLink]="row.itemRoute"
               [queryParams]="{item:row.itemDetails}">{{row.BD_FULL_SERIAL}}</a>-->
            <span (click)="actionOpen(row)"
                  class="dir-ltr text-primary cursor-pointer text-decoration-underline">{{row.BD_FULL_SERIAL}}</span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="workItemStatus">
          <th style="width:8px" class="p-0" cdk-header-cell sortable-header *cdkHeaderCellDef></th>
          <td cdk-cell class="position-relative p-0" *cdkCellDef="let row">
            <work-item-status [item]="row"></work-item-status>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="ACTIVATED">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>{{lang.map.received_data}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.ACTIVATED|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="action">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef [sortParamAsFullItem]="true"
              [sortCallback]="tableOptions.sortingCallbacks.displayNameInfo">{{lang.map.action}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.displayNameInfo ? row.displayNameInfo.getName() : ''}} </td>
        </ng-container>
        <ng-container cdkColumnDef="PI_CREATE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef>{{lang.map.creation_date}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.PI_CREATE|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="PI_DUE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.due_date}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.PI_DUE|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="BD_CASE_TYPE">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.service_type}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{getServiceName(row.BD_CASE_TYPE)}} </td>
        </ng-container>
        <ng-container cdkColumnDef="fromUserInfo">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.sender}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.fromUserInfo.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="BD_SUBJECT">
          <th cdk-header-cell sortable-header *cdkHeaderCellDef> {{lang.map.subject}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.BD_SUBJECT}} </td>
        </ng-container>
        <ng-container cdkColumnDef="orgInfo">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_organization}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.orgInfo.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef></th>
          <td cdk-cell class="table-actions" *cdkCellDef="let row">
            <div class="d-flex">
              <inbox-grid-actions [actions]="gridActions" [model]="row"></inbox-grid-actions>
              <div class="vr"></div>
              <button [tooltip]="lang.map.more" (click)="menu.open($event , row, undefined , true)" class="btn p-0 icon-btn">
                <i class="mdi mdi-dots-vertical text-primary"></i>
              </button>
              <ng-container *ngIf="row.isAssignedTask()">
                <div class="vr"></div>
                <div class="d-flex align-items-center">
                  <i class="mdi mdi-account-check-outline text-primary"></i>
                </div>

              </ng-container>
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
        <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
        <tr cdk-row riskStatus readUnread [model]="row" (contextmenu)="menu.open($event , row)"
            *cdkRowDef="let row; columns: table.columns;"></tr>
        <!--suppress HtmlUnknownBooleanAttribute -->
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>
      <app-paginator #paginator [length]="(queryResultSet?.totalCount || 0)"></app-paginator>
    </app-table>
  </div>
  <context-menu-item #menu [actions]="actions"></context-menu-item>
</div>
