<div class="row">
  <div class="col-12 d-flex align-items-center">
    <h1 class="h6 text-primary m-0 d-inline-block">{{langService.map.menu_request_search}}</h1>
  </div>
</div>
<form autocomplete="off" [formGroup]="form">
  <div class="row mt-3">
    <tabs-list [tabByIndex$]="tabIndex$">
      <tab [template]="searchCriteria" [title]="langService.map.search_criteria"></tab>
      <tab [disabled]="!requests.length" [template]="searchResult" [title]="getResultTabTitle"></tab>
    </tabs-list>
  </div>
  <ng-template #searchCriteria>
    <div formGroupName="simpleSearch" id="simple-search">
      <div class="row">
        <div formGroupName="request" class="col-sm-12 col-md-6">
          <div class="row">
            <label for="requestSerial"
                   class="col-sm-12 col-md-4 col-form-label">{{langService.map.serial_number}}</label>
            <div class="col-md-8 col-sm-12 mb-4 position-relative">
              <input formControlName="requestSerial" id="requestSerial" type="text" class="form-control"
                     [ngClass]="fm.getInvalidClass('simpleSearch.request.requestSerial')">
              <app-field-error-message
                [control]="fm.getFormField('simpleSearch.request.requestSerial')"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <label for="year" class="col-sm-12 col-md-4 col-form-label">{{langService.map.year}}</label>
            <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
              <!--<select formControlName="year" class="form-select" id="year">
                <option [ngValue]="year" *ngFor="let year of years">{{year}}</option>
              </select>-->
              <ng-select [selectOnTab]="true" labelForId="year" [clearable]="false"
                         placeholder="{{langService.map.select}}" id="year"
                         [notFoundText]="langService.map.msg_not_found"
                         formControlName="year">
                <ng-option *ngFor="let option of years" [value]="option">
                  {{option}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div formGroupName="beneficiary">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="idType" class="col-sm-12 col-md-4 col-form-label">{{langService.map.id_type}}</label>
              <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                <!--<select formControlName="benPrimaryIdType" class="form-select"
                        id="idType">
                  <option [ngValue]="option.lookupKey" *ngFor="let option of idTypes">{{option.getName()}}</option>
                </select>-->
                <ng-select [selectOnTab]="true" labelForId="idType" [clearable]="false"
                           placeholder="{{langService.map.select}}" id="idType"
                           [notFoundText]="langService.map.msg_not_found"
                           formControlName="benPrimaryIdType">
                  <ng-option *ngFor="let option of idTypes" [value]="option.lookupKey">
                    {{option.getName()}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="idNumber" class="col-sm-12 col-md-4 col-form-label">{{langService.map.id_number}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <input [ngClass]="fm.getInvalidClass('simpleSearch.beneficiary.benPrimaryIdNumber')" id="idNumber"
                       formControlName="benPrimaryIdNumber" type="text" class="form-control">
                <app-field-error-message
                  [control]="fm.getFormField('simpleSearch.beneficiary.benPrimaryIdNumber')"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="arName" class="row">
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="arMethod"
                     class="col-sm-12 col-md-4 col-form-label">{{langService.map.search_method}}</label>
              <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                <!--<select formControlName="operator" class="form-select" id="arMethod">
                  <option [ngValue]="stringOperationMap[option.lookupKey]"
                          *ngFor="let option of stringOperators">{{option.getName()}}</option>
                </select>-->
                <ng-select [selectOnTab]="true" labelForId="arMethod" [clearable]="false"
                           placeholder="{{langService.map.select}}" id="arMethod"
                           [notFoundText]="langService.map.msg_not_found"
                           formControlName="operator">
                  <ng-option *ngFor="let option of stringOperators" [value]="stringOperationMap[option.lookupKey]">
                    {{option.getName()}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="arName" class="col-sm-12 col-md-4 col-form-label">{{langService.map.arabic_name}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <input formControlName="value" id="arName" type="text" class="form-control"
                       [ngClass]="fm.getInvalidClass('simpleSearch.beneficiary.arName.value')">
                <app-field-error-message
                  [control]="fm.getFormField('simpleSearch.beneficiary.arName.value')"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="enName" class="row">
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="enMethod"
                     class="col-sm-12 col-md-4 col-form-label">{{langService.map.search_method}}</label>
              <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                <!--<select formControlName="operator" class="form-select" id="enMethod">
                  <option [ngValue]="stringOperationMap[option.lookupKey]"
                          *ngFor="let option of stringOperators">{{option.getName()}}</option>
                </select>-->
                <ng-select [selectOnTab]="true" labelForId="enMethod" [clearable]="false"
                           placeholder="{{langService.map.select}}" id="enMethod"
                           [notFoundText]="langService.map.msg_not_found"
                           formControlName="operator">
                  <ng-option *ngFor="let option of stringOperators" [value]="stringOperationMap[option.lookupKey]">
                    {{option.getName()}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <label for="enName" class="col-sm-12 col-md-4 col-form-label">{{langService.map.english_name}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <input id="enName" formControlName="value" type="text" class="form-control"
                       [ngClass]="fm.getInvalidClass('simpleSearch.beneficiary.enName.value')">
                <app-field-error-message
                  [control]="fm.getFormField('simpleSearch.beneficiary.enName.value')"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- simple search-->
    <div class="accordion" id="advancedSearchAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="criteriaHeader">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#criteriaWrapper"
                  aria-expanded="true" aria-controls="criteriaWrapper">
            {{langService.map.advanced_search}}
          </button>
        </h2>
        <div id="criteriaWrapper" class="accordion-collapse collapse" aria-labelledby="criteriaHeader"
             data-bs-parent="#advancedSearchAccordion">
          <div class="accordion-body">
            <div formGroupName="advancedSearch" id="advanced-search">
              <div formGroupName="beneficiary">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="nationality"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.lbl_nationality}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                        <!--<select formControlName="benNationality" class="form-select" id="nationality">
                          <option [ngValue]="option.lookupKey"
                                  *ngFor="let option of nationalities">{{option.getName()}}</option>
                        </select>-->
                        <ng-select [selectOnTab]="true" labelForId="nationality" [clearable]="false"
                                   placeholder="{{langService.map.select}}" id="nationality"
                                   [notFoundText]="langService.map.msg_not_found"
                                   formControlName="benNationality">
                          <ng-option *ngFor="let option of nationalities" [value]="option.lookupKey">
                            {{option.getName()}}
                          </ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="occuptionStatus"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.employment_status}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                        <!--<select formControlName="occuptionStatus" class="form-select" id="occuptionStatus">
                          <option [ngValue]="option.lookupKey"
                                  *ngFor="let option of employmentStatus">{{option.getName()}}</option>
                        </select>-->
                        <ng-select [selectOnTab]="true" labelForId="occuptionStatus" [clearable]="false"
                                   placeholder="{{langService.map.select}}" id="occuptionStatus"
                                   [notFoundText]="langService.map.msg_not_found"
                                   formControlName="occuptionStatus">
                          <ng-option *ngFor="let option of employmentStatus" [value]="option.lookupKey">
                            {{option.getName()}}
                          </ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="phoneNumber1"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.mobile_number}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 position-relative">
                        <input formControlName="phoneNumber1" class="form-control" type="text" id="phoneNumber1"
                               [ngClass]="fm.getInvalidClass('advancedSearch.beneficiary.phoneNumber1')">
                        <app-field-error-message
                          [control]="fm.getFormField('advancedSearch.beneficiary.phoneNumber1')"></app-field-error-message>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div formGroupName="request">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="status"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.request_status}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                        <!--<select formControlName="status" class="form-select" id="status">
                          <option [ngValue]="option.lookupKey"
                                  *ngFor="let option of requestsStatus">{{option.getName()}}</option>
                        </select>-->
                        <ng-select [selectOnTab]="true" labelForId="status" [clearable]="false"
                                   placeholder="{{langService.map.select}}" id="status"
                                   [notFoundText]="langService.map.msg_not_found"
                                   formControlName="status">
                          <ng-option *ngFor="let option of requestsStatus" [value]="option.lookupKey">
                            {{option.getName()}}
                          </ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="requestType"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.reason_of_request}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 ng-select-wrapper">
                        <!--<select formControlName="requestType" class="form-select" id="requestType">
                          <option [ngValue]="option.lookupKey"
                                  *ngFor="let option of requestTypes">{{option.getName()}}</option>
                        </select>-->
                        <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="false"
                                   placeholder="{{langService.map.select}}" id="requestType"
                                   [notFoundText]="langService.map.msg_not_found"
                                   formControlName="requestType">
                          <ng-option *ngFor="let option of requestTypes" [value]="option.lookupKey">
                            {{option.getName()}}
                          </ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="creationDateFrom"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.creation_date_from}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 position-relative">
                        <!--<input type="date" formControlName="creationDateFrom" class="form-control" id="creationDateFrom">-->
                        <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="creationDateFrom"
                               formControlName="creationDateFrom" class="form-control"
                               [ngClass]="fm.getStatusClass('advancedSearch.creationDates.creationDateFrom')">-->
                        <input class="form-control" angular-mydatepicker #dpCreationDateFrom="angular-mydatepicker"
                               name="creationDateFrom" formControlName="creationDateFrom" id="creationDateFrom" dateFix
                               [options]="datepickerOptionsMap.creationDateFrom" autocomplete="off"
                               (inputFieldChanged)="onDateChange($event, 'creationDateFrom', 'creationDateTo')"
                               (click)="dpCreationDateFrom.toggleCalendar()"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.creationDateFrom')">
                        <span class="text-muted font-12">{{langService.map.msg_search_date_hint}}</span>
                        <app-field-error-message
                          [control]="fm.getFormField('advancedSearch.request.creationDateFrom')"></app-field-error-message>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="creationDateTo"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.creation_date_to}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 position-relative">
                        <!--<input type="date" formControlName="creationDateTo" class="form-control" id="creationDateTo">-->
                        <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="creationDateTo"
                               formControlName="creationDateTo" class="form-control datepicker-field"
                               [ngClass]="fm.getStatusClass('advancedSearch.creationDates.creationDateTo')">-->
                        <input class="form-control" angular-mydatepicker #dpCreationDateTo="angular-mydatepicker"
                               name="creationDateTo" formControlName="creationDateTo" id="creationDateTo" dateFix
                               [options]="datepickerOptionsMap.creationDateTo" autocomplete="off"
                               (inputFieldChanged)="onDateChange($event, 'creationDateFrom', 'creationDateTo')"
                               (click)="dpCreationDateTo.toggleCalendar()"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.creationDateTo')">
                        <span class="text-muted font-12">{{langService.map.msg_search_date_hint}}</span>
                        <app-field-error-message
                          [control]="fm.getFormField('advancedSearch.request.creationDateTo')"></app-field-error-message>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="statusDateFrom"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.status_date_from}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 position-relative">
                        <!--<input type="date" formControlName="statusDateModifiedFrom" class="form-control" id="statusDateFrom">-->
                        <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="statusDateFrom"
                               formControlName="statusDateModifiedFrom" class="form-control datepicker-field"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.statusDateModifiedFrom')">-->
                        <input class="form-control" angular-mydatepicker #dpStatusDateFrom="angular-mydatepicker"
                               name="statusDateFrom" formControlName="statusDateModifiedFrom" id="statusDateFrom" dateFix
                               [options]="datepickerOptionsMap.statusDateModifiedFrom" autocomplete="off"
                               (inputFieldChanged)="onDateChange($event, 'statusDateModifiedFrom', 'statusDateModifiedTo')"
                               (click)="dpStatusDateFrom.toggleCalendar()"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.statusDateModifiedFrom')">
                        <app-field-error-message
                          [control]="fm.getFormField('advancedSearch.request.statusDateModifiedFrom')"></app-field-error-message>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="row">
                      <label for="statusDateTo"
                             class="col-sm-12 col-md-4 col-form-label">{{langService.map.status_date_to}}</label>
                      <div class="col-md-8 col-sm-12 mb-4 position-relative">
                        <!--<input type="date" formControlName="statusDateModifiedTo" class="form-control" id="statusDateTo">-->
                        <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="statusDateTo"
                               formControlName="statusDateModifiedTo" class="form-control datepicker-field"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.statusDateModifiedTo')">-->
                        <input class="form-control" angular-mydatepicker #dpStatusDateTo="angular-mydatepicker"
                               name="statusDateTo" formControlName="statusDateModifiedTo" id="statusDateTo" dateFix
                               [options]="datepickerOptionsMap.statusDateModifiedTo" autocomplete="off"
                               (inputFieldChanged)="onDateChange($event, 'statusDateModifiedFrom', 'statusDateModifiedTo')"
                               (click)="dpStatusDateTo.toggleCalendar()"
                               [ngClass]="fm.getStatusClass('advancedSearch.request.statusDateModifiedTo')">
                        <app-field-error-message
                          [control]="fm.getFormField('advancedSearch.request.statusDateModifiedTo')"></app-field-error-message>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- advanced search -->
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12 d-flex flex-row align-items-center justify-content-center ">
        <button (click)="onSearch()"
                class="btn btn-primary mx-2">{{langService.map.lbl_search}}</button>
        <button (click)="clearSearch()"
                class="btn btn-secondary mx-2">{{langService.map.btn_clear}}</button>
      </div>
    </div>
  </ng-template>
</form>
<ng-template #searchResult>
  <div *ngIf="requests.length">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-start">
        <button class="btn btn-link outline-none"
                tooltip="{{langService.map.btn_reload}}"
                (click)="reloadSearchResults()">
          <i class="mdi mdi-reload"></i></button>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <button class="btn btn-link outline-none"
                tooltip="{{langService.map.print}}"
                (click)="printResult()">
          <i class="mdi mdi-printer"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered caption-top">
          <thead role="rowgroup">
          <tr>
            <th>{{langService.map.request_number}}</th>
            <th class="date-column">{{langService.map.request_date}}</th>
            <th>{{langService.map.lbl_org_unit}}</th>
            <th>{{langService.map.request_status}}</th>
            <th>{{langService.map.request_type}}</th>
            <th>{{langService.map.request_aid_amount}}</th>
            <th>{{langService.map.approved_aid_amount}}</th>
            <th>{{langService.map.lbl_actions}}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let request of requests;">
            <tr>
              <td>
                <a href="#" (click)="showRequestDetails(request , $event)"
                   class="dir-ltr d-inline-block"> {{request.requestFullSerial}} </a>
              </td>
              <td class="date-column"> {{request.creationDateString}} </td>
              <td> {{request.orgBranchInfo.getName()}} </td>
              <td> {{request.statusInfo.getName()}} </td>
              <td></td>
              <td> {{request.requestedAidAmount | mask:'separator':','}} </td>
              <td>{{request.approvedAmount | mask:'separator': ','}}</td>
              <td class="table-actions">
                <div class="d-flex flex-row">
                  <a tooltip="{{langService.map.aid_count}}" class="icon-btn"><span
                    class="badge bg-primary">{{request.aidCount}}</span></a>
                  <a href="#" (click)="printRequest($event, request)" tooltip="{{langService.map.print_request_form}}"
                     class="icon-btn">
                    <i class="mdi mdi-printer"></i>
                  </a>
                  <a href="#" (click)="request.showLog($event)" tooltip="{{langService.map.show_logs}}"
                     class="icon-btn">
                    <i class="mdi mdi-history"></i>
                  </a>
                  <a href="#" (click)="request.showAid($event)" tooltip="{{langService.map.show_aids}}"
                     class="icon-btn">
                    <i class="mdi mdi-heart-multiple"></i>
                  </a>
                  <button *ngIf="empService.checkPermissions('EDIT_SUBVENTION_REQUEST')"
                          [disabled]="request.notUnderProcess()"
                          (click)="editRequest(request)" tooltip="{{langService.map.btn_edit}}"
                          class="btn icon-btn text-primary">
                    <i class="mdi mdi-book-edit"></i>
                  </button>
                  <button *ngIf="empService.checkPermissions('EDIT_SUBVENTION_REQUEST')"
                          (click)="cancelRequest(request)" tooltip="{{langService.map.btn_cancel}}"
                          [disabled]="request.notUnderProcess()" class="btn icon-btn text-primary">
                    <i class="mdi mdi-book-cancel"></i>
                  </button>
                  <button *ngIf="!request.notUnderProcess()"
                          (click)="deleteRequest(request)" tooltip="{{langService.map.btn_delete}}"
                          class="btn icon-btn text-primary">
                    <i class="mdi mdi-trash-can"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</ng-template>
