<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{ popupTitle }}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content no-fixed-height" #dialogContent>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 mb-4 ng-select-wrapper">
        <label asteriskIfRequired="country" for="country" class="form-label">{{lang.map.country}}</label>
        <ng-select [selectOnTab]="true" labelForId="country" [clearable]="true"
                   placeholder="{{lang.map.select}}" id="country" [notFoundText]="lang.map.msg_not_found"
                   [readonly]="readonly" appendTo="body"
                   formControlName="country" validationClasses="country">
          <ng-option *ngFor="let option of countries" [value]="option.id" [disabled]="!option.isActive()">
            {{option.getName()}}
          </ng-option>
        </ng-select>
        <app-field-error-message controlName="country"></app-field-error-message>
      </div>
      <div class="col-sm-12 mb-4 position-relative">
        <label asteriskIfRequired="region" for="region" class="form-label">{{lang.map.region}}</label>
        <input id="region" validationClasses="region" formControlName="region" trimInput class="form-control">
        <app-field-error-message controlName="region"></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
