<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <form class="min-w400px" novalidate autocomplete="off"
        [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label for="localizationKey" class="form-label">{{langService.map.localization_key}}</label>
        <input id="localizationKey"
               [ngClass]="fm.getStatusClass('localizationKey')"
               formControlName="localizationKey" class="form-control">
        <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('localizationKey')?.required">{{langService.map.required_field}}</span>
          <span *ngIf="fm.getFieldErrors('localizationKey')?.minlength">{{langService.map.specific_min_length.change({
            length: 3,
            field: langService.map.localization_key
          })}}</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label for="arName" class="form-label">{{langService.map.arabic_name}}</label>
        <textarea id="arName" [ngClass]="fm.getStatusClass('arName')" formControlName="arName"
                  class="form-control"></textarea>
        <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('arName')?.required">{{langService.map.required_field}}</span>
          <span *ngIf="fm.getFieldErrors('arName')?.minlength">{{langService.map.too_short}}</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label for="enName" class="form-label">{{langService.map.english_name}}</label>
        <textarea id="enName" [ngClass]="fm.getStatusClass('enName')" formControlName="enName"
                  class="form-control"></textarea>
        <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('enName')?.required">{{langService.map.required_field}}</span>
          <span *ngIf="fm.getFieldErrors('enName')?.minlength">{{langService.map.too_short}}</span>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">save</button>
  <button [dialogClose]="model" class="btn btn-secondary">cancel</button>
</div>
