@import "src/scss/custom_variables";

:host {
  display: block;
}

.services-list {
  list-style: none;
  padding: 0;
}

.service-item {
  width: 180px;
  height: 230px;
  cursor: pointer;
}

.service-title {
  text-decoration: none;
  font-weight: bold;
}

.service-item-icon {
  border-radius: 10px;
}

.service-svg-icon {
  text-align: center;
}

.service-image {
  //height: 130px;
}
