@import "src/scss/custom_variables";

:host {
  display: block;
}

.services-list {
  list-style: none;
  padding: 0;
}

.service-item {
  transition: all .2s ease-in-out;
  @include border-radius(10px);

  &:hover {
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
  }

  .mdi {
    font-size: 100px;
    line-height: 1;
  }

  .service-title {
    font-weight: bold;
  }
}
