@import "src/scss/custom_variables";

:host {
  display: block;
}

.services-list {
  list-style: none;
  padding: 0;
}

.service-item {
  width: 180px;
  height: 230px;
  cursor: pointer;

  &:hover {
    .instant-action {
      display: flex;
    }
  }
}

.service-title {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.service-item-icon {
  border-radius: 10px;
}

.service-list-pattern {
  background-position: center center;
  background-repeat: no-repeat;
}

.service-svg-icon, .service-font-icon {
  text-align: center;
  padding: 30px;
  max-width: 162px;
  max-height: 162px;
}

.service-image {
  height: 171.11px;
}

.service-font-icon i {
  font-size: 70px;
  line-height: 109px;
}

.instant-action {
  display: none;
  background: #9A264B80;//#0a000378;
  color: white;
  border-radius: 10px;

  button {
    i {
      font-size: 36px;
    }

    &:hover {
      background: $primary !important;
    }
  }
}
