<div class="row">
  <form autocomplete="off" [formGroup]="form" id="form">
    <tabs-list [accordionView]="accordionView" [hasForm]="true" (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
      <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
           [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
      <tab [name]="tabsData.projectCategory.name" [hasError]="getTabInvalidStatus('projectCategory')"
           [template]="projectCategoryTabTemplate" [title]="lang.map.project_category_info"></tab>
      <tab [name]="tabsData.projectSummary.name" [hasError]="getTabInvalidStatus('projectSummary')"
           [template]="projectSummaryTabTemplate" [title]="lang.map.project_summary_info"></tab>
      <tab [name]="tabsData.beneficiaryAnalysis.name" [hasError]="getTabInvalidStatus('beneficiaryAnalysis')"
           [template]="beneficiaryAnalysisTabTemplate" [title]="lang.map.beneficiary_analysis"></tab>
      <tab [name]="tabsData.projectComponentsAndBudget.name"
           [hasError]="getTabInvalidStatus('projectComponentsAndBudget')"
           [template]="projectComponentsAndBudgetTabTemplate" [title]="lang.map.project_components_budgets"></tab>
      <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
           [template]="specialExplanationsTabTemplate" [title]="lang.map.special_explanations"></tab>
      <tab [name]="tabsData.comments.name" [hasError]="getTabInvalidStatus('comments')"
           [template]="commentsTabTemplate" [title]="lang.map.comments"
           *ngIf="employeeService.isInternalUser()"></tab>
      <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
           [template]="attachmentsTabTemplate" [title]="lang.map.attachments"></tab>
      <tab [name]="tabsData.logs.name" [hasError]="getTabInvalidStatus('logs')"
           [template]="logsTemplate" [title]="lang.map.logs" *ngIf="fromDialog" [disabled]="!model?.id"></tab>
    </tabs-list>
    <ng-template #basicInfoTabTemplate>
      <div formGroupName="basicInfo">
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="requestType" asteriskIfRequired="requestType"
                   class="form-label">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="requestType"
                       (change)="handleRequestTypeChange($event, true)"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="!isEditRequestTypeAllowed()"
                       formControlName="requestType" validationClasses="requestType">
              <ng-option *ngFor="let option of requestTypesList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="oldLicenseFullSerial" asteriskIfRequired="oldLicenseFullSerial"
                   class="form-label">{{lang.map.license_number}}</label>
            <div class="input-group">
              <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                     formControlName="oldLicenseFullSerial"
                     type="text" [readOnly]="!isEditLicenseAllowed()"
                     validationClasses="oldLicenseFullSerial" [onlyInvalid]="false" class="form-control"
                     id="oldLicenseFullSerial">
              <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch($event)"
                      class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="projectType" asteriskIfRequired="projectType"
                   class="form-label">{{lang.map.project_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="projectType" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="projectType"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="projectType" validationClasses="projectType">
              <ng-option *ngFor="let option of projectTypesList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <selected-license-table [caseType]="caseTypes.INTERNAL_PROJECT_LICENSE"
                                  [caseTypeViewLicense]="caseTypes.INTERNAL_PROJECT_LICENSE"
                                  [licenseList]="[selectedLicense]"
                                  [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="arName" asteriskIfRequired="arName"
                   class="form-label">{{lang.map.arabic_name}}</label>
            <input id="arName" validationClasses="arName" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                   formControlName="arName" trimInput class="form-control" type="text">
            <app-field-error-message controlName="arName"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="enName" asteriskIfRequired="enName"
                   class="form-label">{{lang.map.english_name}}</label>
            <input id="enName" validationClasses="enName" [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                   formControlName="enName" trimInput class="form-control" type="text">
            <app-field-error-message controlName="enName"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-4 position-relative">
            <label for="projectDescription" asteriskIfRequired="projectDescription"
                   class="form-label">{{lang.map.project_description}}</label>
            <textarea rows="5" id="projectDescription" validationClasses="projectDescription"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="projectDescription" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="projectDescription"></app-field-error-message>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #projectCategoryTabTemplate>
      <div formGroupName="projectCategory">
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="domain" asteriskIfRequired="domain"
                   class="form-label">{{lang.map.main_category}}</label>
            <ng-select [selectOnTab]="true" labelForId="domain" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="domain"
                       (change)="handleChangeMainCategory($event, true)"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="domain" validationClasses="domain">
              <ng-option *ngFor="let option of mainCategoriesList" [value]="option.id"
                         [disabled]="!option.isActive()">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="domain"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="firstSubDomain" asteriskIfRequired="firstSubDomain"
                   class="form-label">{{lang.map.sub_category1}}</label>
            <ng-select [selectOnTab]="true" labelForId="firstSubDomain" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="firstSubDomain"
                       (change)="handleChangeSubCategory1($event, true)"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="firstSubDomain" validationClasses="firstSubDomain">
              <ng-option *ngFor="let option of subCategories1List" [value]="option.id"
                         [disabled]="!option.isActive()">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="firstSubDomain"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="secondSubDomain" asteriskIfRequired="secondSubDomain"
                   class="form-label">{{lang.map.sub_category2}}</label>
            <ng-select [selectOnTab]="true" labelForId="secondSubDomain" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="secondSubDomain"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="secondSubDomain" validationClasses="secondSubDomain">
              <ng-option *ngFor="let option of subCategories2List" [value]="option.id"
                         [disabled]="!option.isActive()">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="secondSubDomain"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="firstSDGoal" asteriskIfRequired="firstSDGoal"
                   class="form-label">{{lang.map.first_sd_goal}}</label>
            <ng-select [selectOnTab]="true" labelForId="firstSDGoal" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="firstSDGoal"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="firstSDGoal" validationClasses="firstSDGoal">
              <ng-option *ngFor="let option of goalsList"
                         [disabled]="!option.isActive() || secondSDGoalField.value === option.id || thirdSDGoalField.value === option.id"
                         [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="firstSDGoal"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="secondSDGoal" asteriskIfRequired="secondSDGoal"
                   class="form-label">{{lang.map.second_sd_goal}}</label>
            <ng-select [selectOnTab]="true" labelForId="secondSDGoal" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="secondSDGoal"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="secondSDGoal" validationClasses="secondSDGoal">
              <ng-option *ngFor="let option of goalsList"
                         [disabled]="!option.isActive() || firstSDGoalField.value === option.id || thirdSDGoalField.value === option.id"
                         [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="secondSDGoal"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="thirdSDGoal" asteriskIfRequired="thirdSDGoal"
                   class="form-label">{{lang.map.third_sd_goal}}</label>
            <ng-select [selectOnTab]="true" labelForId="thirdSDGoal" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="thirdSDGoal"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="thirdSDGoal" validationClasses="thirdSDGoal">
              <ng-option *ngFor="let option of goalsList"
                         [disabled]="!option.isActive() || firstSDGoalField.value === option.id || secondSDGoalField.value === option.id"
                         [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="thirdSDGoal"></app-field-error-message>
          </div>
        </div>
      </div>

      <div formGroupName="projectCategoryPercent" class="position-relative mb-2">
        <div class="row" validationGroupClasses>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="firstSDGoalPercentage" asteriskIfRequired="firstSDGoalPercentage"
                   class="form-label">{{lang.map.first_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="firstSDGoalPercentage" validationClasses="firstSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="firstSDGoalPercentage" trimInput class="form-control" type="text">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="firstSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="secondSDGoalPercentage" asteriskIfRequired="secondSDGoalPercentage"
                   class="form-label">{{lang.map.second_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="secondSDGoalPercentage" validationClasses="secondSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="secondSDGoalPercentage" trimInput class="form-control" type="text">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="secondSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="thirdSDGoalPercentage" asteriskIfRequired="thirdSDGoalPercentage"
                   class="form-label">{{lang.map.third_sd_goal_percentage}}</label>
            <div class="input-group">
              <input id="thirdSDGoalPercentage" validationClasses="thirdSDGoalPercentage"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="thirdSDGoalPercentage" trimInput class="form-control" type="text">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="thirdSDGoalPercentage"></app-field-error-message>
            </div>
          </div>
        </div>
        <group-error-message></group-error-message>
      </div>
    </ng-template>

    <ng-template #projectSummaryTabTemplate>
      <div formGroupName="projectSummary">
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="needsAssessment" asteriskIfRequired="needsAssessment"
                   class="form-label">{{lang.map.project_needs_assessment}}</label>
            <textarea rows="2" id="needsAssessment" validationClasses="needsAssessment"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="needsAssessment" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="needsAssessment"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="goals" asteriskIfRequired="goals"
                   class="form-label">{{lang.map.project_goals}}</label>
            <textarea rows="2" id="goals" validationClasses="goals"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="goals" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="goals"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="outputs" asteriskIfRequired="outputs"
                   class="form-label">{{lang.map.project_outputs}}</label>
            <textarea rows="2" id="outputs" validationClasses="outputs"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="outputs" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="outputs"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="successItems" asteriskIfRequired="successItems"
                   class="form-label">{{lang.map.project_success_items}}</label>
            <textarea rows="2" id="successItems" validationClasses="successItems"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="successItems" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="successItems"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="expectedResults" asteriskIfRequired="expectedResults"
                   class="form-label">{{lang.map.project_expected_results}}</label>
            <textarea rows="2" id="expectedResults" validationClasses="expectedResults"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="expectedResults" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="expectedResults"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="expectedImpact" asteriskIfRequired="expectedImpact"
                   class="form-label">{{lang.map.project_expected_impacts}}</label>
            <textarea rows="2" id="expectedImpact" validationClasses="expectedImpact"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="expectedImpact" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="expectedImpact"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12 col-md-6 mb-4 position-relative">
            <label for="sustainabilityItems" asteriskIfRequired="sustainabilityItems"
                   class="form-label">{{lang.map.project_sustainability_items}}</label>
            <textarea rows="2" id="sustainabilityItems" validationClasses="sustainabilityItems"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                      formControlName="sustainabilityItems" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="sustainabilityItems"></app-field-error-message>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #beneficiaryAnalysisTabTemplate>
      <div formGroupName="beneficiaryAnalysis">
        <div class="row">
          <div class="col-sm-12 col-md-4 position-relative">
            <div class="form-check form-switch">
              <input type="checkbox" id="allNationalities" formControlName="allNationalities"
                     class="form-check-input cursor-pointer" (change)="handleAllNationalitiesChange($event)">
              <label for="allNationalities" class="cursor-pointer">{{lang.map.all_nationalities}}</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 mb-4 position-relative">
            <label for="targetedNationalities" asteriskIfRequired="targetedNationalities"
                   class="form-label">{{lang.map.lbl_nationality}}</label>
            <ng-select [selectOnTab]="true" [items]="nationalityList" labelForId="targetedNationalities"
                       bindValue="lookupKey" [clearable]="true"
                       [searchFn]="searchNgSelect"
                       placeholder="{{lang.map.select}}" id="targetedNationalities"
                       [notFoundText]="lang.map.msg_not_found"
                       [multiple]="true" [closeOnSelect]="false"
                       [readonly]="(isExtendOrCancelRequestType() || readonly || allNationalitiesField.value)"
                       formControlName="targetedNationalities" validationClasses="targetedNationalities">
              <ng-template ng-option-tmp let-item="item">
                <span class="custom-option">{{item.getName()}}</span>
              </ng-template>
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of (items ? items.slice(0,2): [])">
                  <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 2">
                  <span class="ng-value-label">{{items.length - 2}} more...</span>
                </div>
              </ng-template>
            </ng-select>
            <app-field-error-message controlName="targetedNationalities"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 position-relative">
            <div class="form-check form-switch">
              <input type="checkbox" id="hasFamilyBeneficiaries" formControlName="hasFamilyBeneficiaries"
                     class="form-check-input cursor-pointer" (change)="updateBeneficiaryValidations('FAMILY', true)">
              <label for="hasFamilyBeneficiaries" class="cursor-pointer">{{lang.map.family_beneficiary}}</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 position-relative">
            <div class="form-check form-switch">
              <input type="checkbox" id="hasIndividualBeneficiaries" formControlName="hasIndividualBeneficiaries"
                     class="form-check-input cursor-pointer"
                     (change)="updateBeneficiaryValidations('INDIVIDUAL', true)">
              <label for="hasIndividualBeneficiaries"
                     class="cursor-pointer">{{lang.map.individual_beneficiary}}</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 mb-2">
            <span class="text-danger font-12" [innerHTML]="validFamilyOrIndividualSwitchMsg"></span>
          </div>
        </div>
        <div *ngIf="familyBeneficiarySwitchField.value">
          <div class="row">
            <div class="col-sm-12">
              <h6 class="text-primary">{{lang.map.family_beneficiary}}</h6>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="beneficiaryFamiliesNumber" asteriskIfRequired="beneficiaryFamiliesNumber"
                     class="form-label">{{lang.map.number_of_target_families}}</label>
              <input id="beneficiaryFamiliesNumber" validationClasses="beneficiaryFamiliesNumber"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="beneficiaryFamiliesNumber" trimInput class="form-control" type="text">
              <app-field-error-message controlName="beneficiaryFamiliesNumber"></app-field-error-message>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="individualsAverageNumber" asteriskIfRequired="individualsAverageNumber"
                     class="form-label">{{lang.map.average_number_of_people}}</label>
              <input id="individualsAverageNumber" validationClasses="individualsAverageNumber"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="individualsAverageNumber" trimInput class="form-control" type="text">
              <app-field-error-message controlName="individualsAverageNumber"></app-field-error-message>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="ageAverageCategory" asteriskIfRequired="ageAverageCategory"
                     class="form-label">{{lang.map.average_age_group}}</label>
              <input id="ageAverageCategory" validationClasses="ageAverageCategory"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="ageAverageCategory" trimInput class="form-control" type="text">
              <app-field-error-message controlName="ageAverageCategory"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="individualBeneficiarySwitchField.value">
          <div class="row">
            <div class="col-sm-12">
              <h6 class="text-primary">{{lang.map.individual_beneficiary}}</h6>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="directBeneficiaryNumber" asteriskIfRequired="directBeneficiaryNumber"
                     class="form-label">{{lang.map.number_of_direct_beneficiaries}}</label>
              <input id="directBeneficiaryNumber" validationClasses="directBeneficiaryNumber"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="directBeneficiaryNumber" trimInput class="form-control" type="text">
              <app-field-error-message controlName="directBeneficiaryNumber"></app-field-error-message>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="indirectBeneficiaryNumber" asteriskIfRequired="indirectBeneficiaryNumber"
                     class="form-label">{{lang.map.number_of_indirect_beneficiaries}}</label>
              <input id="indirectBeneficiaryNumber" validationClasses="indirectBeneficiaryNumber"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="indirectBeneficiaryNumber" trimInput class="form-control" type="text">
              <app-field-error-message controlName="indirectBeneficiaryNumber"></app-field-error-message>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label for="handicappedBeneficiaryNumber" asteriskIfRequired="handicappedBeneficiaryNumber"
                     class="form-label">{{lang.map.number_of_beneficiaries_with_special_needs}}</label>
              <input id="handicappedBeneficiaryNumber" validationClasses="handicappedBeneficiaryNumber"
                     onlyNumbers
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="handicappedBeneficiaryNumber" trimInput class="form-control" type="text">
              <app-field-error-message controlName="handicappedBeneficiaryNumber"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="individualBeneficiarySwitchField.value">
        <div class="row">
          <div class="col-sm-12">
            <h6 class="text-primary">{{lang.map.percentage_of_direct_beneficiaries_by_age_group}}</h6>
            <hr>
          </div>
        </div>
        <div formGroupName="beneficiaryAnalysisIndividualPercent" class="position-relative mb-2">
          <div class="row" validationGroupClasses>
            <div class="col-sm-12 col-md-3 mb-4 position-relative">
              <label for="beneficiaries0to5" asteriskIfRequired="beneficiaries0to5"
                     class="form-label">{{lang.map.number_of_0_to_5}}</label>
              <div class="input-group">
                <input id="beneficiaries0to5" validationClasses="beneficiaries0to5"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="beneficiaries0to5" trimInput class="form-control" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
                <app-field-error-message controlName="beneficiaries0to5"></app-field-error-message>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-4 position-relative">
              <label for="beneficiaries5to18" asteriskIfRequired="beneficiaries5to18"
                     class="form-label">{{lang.map.number_of_5_to_18}}</label>
              <div class="input-group">
                <input id="beneficiaries5to18" validationClasses="beneficiaries5to18"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="beneficiaries5to18" trimInput class="form-control" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
                <app-field-error-message controlName="beneficiaries5to18"></app-field-error-message>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-4 position-relative">
              <label for="beneficiaries19to60" asteriskIfRequired="beneficiaries19to60"
                     class="form-label">{{lang.map.number_of_19_to_60}}</label>
              <div class="input-group">
                <input id="beneficiaries19to60" validationClasses="beneficiaries19to60"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="beneficiaries19to60" trimInput class="form-control" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
                <app-field-error-message controlName="beneficiaries19to60"></app-field-error-message>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-4 position-relative">
              <label for="beneficiariesOver60" asteriskIfRequired="beneficiariesOver60"
                     class="form-label">{{lang.map.number_of_above_60}}</label>
              <div class="input-group">
                <input id="beneficiariesOver60" validationClasses="beneficiariesOver60"
                       [mask]="inputMaskPatterns.PERCENT"
                       [dropSpecialCharacters]="false"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="beneficiariesOver60" trimInput class="form-control" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
                <app-field-error-message controlName="beneficiariesOver60"></app-field-error-message>
              </div>
            </div>
          </div>
          <group-error-message></group-error-message>
        </div>
      </div>
    </ng-template>

    <ng-template #projectComponentsAndBudgetTabTemplate>

      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-primary">{{lang.map.project_budget}}</h6>
          <hr>
        </div>
      </div>
      <div formGroupName="projectBudget">
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="licenseDuration" asteriskIfRequired="licenseDuration"
                   class="form-label">{{lang.map.license_duration}}</label>
            <input id="licenseDuration" validationClasses="licenseDuration"
                   maxlength="3"
                   onlyNumbers
                   [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                   formControlName="licenseDuration" trimInput class="form-control" type="text">
            <app-field-error-message controlName="licenseDuration"></app-field-error-message>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="expectedImpactDate" asteriskIfRequired="expectedImpactDate"
                   class="form-label">{{lang.map.expected_date_of_impact_evaluation}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="expectedImpactDate"
                   [ngClass]="{'input-disabled': (isExtendOrCancelRequestType() || readonly)}"
                   id="expectedImpactDate" [options]="datepickerOptionsMap.expectedImpactDate"
                   (click)="!isExtendOrCancelRequestType() && !readonly && dpExpectedImpactDate.toggleCalendar()"
                   #dpExpectedImpactDate="angular-mydatepicker"
                   angular-mydatepicker validationClasses="expectedImpactDate"></div>
              <app-field-error-message controlName="expectedImpactDate"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label for="deductionPercent" asteriskIfRequired="deductionPercent"
                   class="form-label">{{lang.map.deduction_ratio}}</label>
            <div class="input-group">
              <input id="deductionPercent" validationClasses="deductionPercent"
                     [mask]="inputMaskPatterns.PERCENT"
                     [dropSpecialCharacters]="false"
                     (change)="updateTotalAdminDeductionAndTargetCost()"
                     [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                     formControlName="deductionPercent" trimInput class="form-control" type="text">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
              <app-field-error-message controlName="deductionPercent"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-primary">{{lang.map.project_components}}</h6>
          <hr>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-start"
           *ngIf="(!projectComponentsFormArray.controls.length) && !(isExtendOrCancelRequestType() || readonly)">
        <button type="button" (click)="addProjectComponent()" tooltip="{{lang.map.btn_add}}"
                class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>

      <div formGroupName="projectComponents">
        <ng-container *ngFor="let account of projectComponentsFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-sm-12 col-md-4 mb-4 position-relative">
                <label for="componentName" asteriskIfRequired="componentName"
                       class="form-label">{{lang.map.component_name}}</label>
                <input id="componentName" validationClasses="componentName"
                       maxlength="100"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="componentName" class="form-control">
                <app-field-error-message controlName="componentName"></app-field-error-message>
              </div>
              <div class="col-sm-12 col-md-4 mb-4 position-relative">
                <label for="details" asteriskIfRequired="details"
                       class="form-label">{{lang.map.details}}</label>
                <input id="details" validationClasses="details"
                       maxlength="250"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="details" class="form-control">
                <app-field-error-message controlName="details"></app-field-error-message>
              </div>
              <div class="col-sm-12 col-md-4 mb-4 position-relative">
                <label for="totalCost" asteriskIfRequired="totalCost"
                       class="form-label">{{lang.map.total_cost}}</label>
                <input id="totalCost" validationClasses="totalCost"
                       maxlength="20"
                       [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                       formControlName="totalCost" class="form-control">
                <app-field-error-message controlName="totalCost"></app-field-error-message>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <button (click)="saveProjectComponent()" [disabled]="(isExtendOrCancelRequestType() || readonly)"
                      *ngIf="!(isExtendOrCancelRequestType() || readonly)"
                      class="btn btn-primary m-2">{{lang.map.btn_save}}</button>
              <button (click)="cancelProjectComponent()"
                      class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
            </div>
          </div>
        </ng-container>
      </div>

      <table *ngIf="model" class="table mt-3 table-striped table-bordered caption-top"
             cdk-table [dataSource]="(model?.componentList)!">
        <ng-container cdkColumnDef="componentName">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.component_name}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.componentName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="details">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.details}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.details}} </td>
        </ng-container>
        <ng-container cdkColumnDef="totalCost">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.total_cost}}</th>
          <td cdk-cell *cdkCellDef="let row" class="text-end"> {{row.totalCost}} </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
          <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
            <div class="d-flex flex-row">
              <button (click)="deleteProjectComponent($event, row, i)" class="icon-btn text-primary"
                      [disabled]="(isExtendOrCancelRequestType() || readonly)"
                      tooltip="{{lang.map.btn_delete}}">
                <i class="mdi mdi-close-box"></i>
              </button>
              <button (click)="editProjectComponent($event, row, i)" class="icon-btn text-primary"
                      [disabled]="(isExtendOrCancelRequestType() || readonly)"
                      tooltip="{{lang.map.btn_edit}}">
                <i class="mdi mdi-pen"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="projectListColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: projectListColumns;"></tr>

        <ng-container cdkColumnDef="totalComponentCostLabel">
          <td cdk-footer-cell colspan="2" class="text-end" *cdkFooterCellDef="let row">
            <span><b> {{lang.map.total_cost}}: </b></span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="totalComponentCost">
          <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
            <span><b>{{projectTotalCostField ? projectTotalCostField.value : 0}}</b></span>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="adminTotalCostLabel">
          <td cdk-footer-cell colspan="2" class="text-end" *cdkFooterCellDef="let row">
            <span><b> {{lang.map.total_value_of_admin_deduction}}: </b></span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="adminTotalCost">
          <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
            <span><b>{{adminTotalDeductionCostField ? adminTotalDeductionCostField.value : 0}}</b></span>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="targetCostLabel">
          <td cdk-footer-cell colspan="2" class="text-end" *cdkFooterCellDef="let row">
            <span><b> {{lang.map.target_cost}}: </b></span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="targetCost">
          <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
            <span><b>{{targetCostField ? targetCostField.value : 0}}</b></span>
          </td>
        </ng-container>

        <tr cdk-footer-row *cdkFooterRowDef="projectListTotalCostFooterColumns"
            [hidden]="model && model.componentList.length === 0"></tr>
        <tr cdk-footer-row *cdkFooterRowDef="projectListAdminTotalCostFooterColumns"
            [hidden]="model && model.componentList.length === 0"></tr>
        <tr cdk-footer-row *cdkFooterRowDef="projectListTargetCostFooterColumns"
            [hidden]="model && model.componentList.length === 0"></tr>
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>

    </ng-template>

    <ng-template #specialExplanationsTabTemplate>
      <div formGroupName="specialExplanations">
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-4 position-relative">
            <label for="description" asteriskIfRequired="description"
                   class="form-label">{{lang.map.special_explanations}}</label>
            <textarea rows="5" id="description" validationClasses="description"
                      [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                      [readOnly]="(readonly)"
                      formControlName="description" trimInput class="form-control"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #commentsTabTemplate>
      <div class="d-flex flex-row align-items-center justify-content-start">
        <button [disabled]="!isAddCommentAllowed()" (click)="commentsCtrl.openCommentDialog()"
                class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService"
                    [readonly]="readonly"></app-comments>
    </ng-template>

    <ng-template #attachmentsTabTemplate>
      <!--<div class="d-flex flex-row align-items-center justify-content-start">
        <button [disabled]="isAttachmentReadonly()" (click)="attachmentsCtrl.openUploadDialog()"
                class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-documents #attachmentsCtrl [caseId]="model?.id" [service]="service.documentService"
                     [readonly]="isAttachmentReadonly()"></app-documents>-->

      <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                   [service]="service.documentService" [model]="model"
                   [load]="loadAttachments" [formProperties]="formProperties"></attachments>
    </ng-template>

    <ng-template #logsTemplate>
      <!--<request-recommendations [record]="model"></request-recommendations>-->
      <log-viewer [caseId]="model!.getCaseId()" [service]="service.actionLogService"
                  [hideItemLocation]="true" [hideViewedAction]="true"></log-viewer>
    </ng-template>
  </form>
</div>

