<div class="row">
  <tabs-list [accordionView]="accordionView" class="py-4" (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
      [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.transferOperationGroup.name" [hasError]="getTabInvalidStatus('transferOperationGroup')"
      [template]="transferOperationGroupTemplate" [title]="lang.map.transfer_operation"></tab>
    <tab [name]="tabsData.transfereeBankAccountGroup.name"
      [hasError]="getTabInvalidStatus('transfereeBankAccountGroup')" [template]="transfereeBankAccountTabTemplate"
      [title]="lang.map.transferee_bank_account"></tab>
    <tab [name]="tabsData.transferBankAccountGroup.name" [hasError]="getTabInvalidStatus('transferBankAccountGroup')"
      [template]="transferBankAccountTabTemplate" [title]="lang.map.transfer_bank_account"></tab>
    <tab *ngIf="tabsData.financialTransfersProjects.show!()" [name]="tabsData.financialTransfersProjects.name"
      [hasError]=" getTabInvalidStatus('financialTransfersProjects')" [template]="financialTransfersProjectsTabTemplate"
      [title]="lang.map.financial_transfers_projects"></tab>
    <tab [name]="tabsData.affidavitOfCompletionGroup.name"
      [hasError]="getTabInvalidStatus('affidavitOfCompletionGroup')" [template]="affidavitOfCompletionTabTemplate"
      [title]="lang.map.affidavit_of_completion"></tab>
    <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
      [template]="specialExplanationsTabTemplate" [title]="lang.map.special_explanations"></tab>
    <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
      [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
</div>
<ng-container [formGroup]="form">
  <ng-template #basicInfoTabTemplate>
    <ng-container formGroupName="basicInfo">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="requestType" asteriskIfRequired="requestType" class="form-label">{{lang.map.request_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true" placeholder="{{lang.map.select}}"
            id="requestType" (change)="handleRequestTypeChange($event, true)" [notFoundText]="lang.map.msg_not_found"
            [readonly]="!isEditRequestTypeAllowed()" appendTo="body" formControlName="requestType"
            validationClasses="requestType">
            <ng-option *ngFor="let option of requestTypesList" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="oldLicenseFullSerial" asteriskIfRequired="oldLicenseFullSerial"
            class="form-label">{{lang.map.license_number}}</label>
          <div class="input-group">
            <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
              formControlName="oldLicenseFullSerial" type="text" [readOnly]="!isEditLicenseAllowed()"
              validationClasses="oldLicenseFullSerial" [onlyInvalid]="false" class="form-control"
              id="oldLicenseFullSerial" trimInput>
            <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch($event)"
              class="input-group-text"><i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>

      </div>

    </ng-container>
  </ng-template>
  <ng-template #transferOperationGroupTemplate>
    <ng-container formGroupName="transferOperation">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="transferType" asteriskIfRequired="transferType"
            class="form-label">{{lang.map.transfer_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="transferType" [clearable]="true" placeholder="{{lang.map.select}}"
            id="transferType" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly" appendTo="body"
            formControlName="transferType" validationClasses="transferType">
            <ng-option *ngFor="let option of financialTransferTypeList" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="transferType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="subject" for="subject">{{lang.map.subject}}</label>
          <input validationClasses="subject" formControlName="subject" type="text" id="subject" [readonly]="readonly"
            class="form-control">
          <app-field-error-message controlName="subject"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transferDescription"
            for="transferDescription">{{lang.map.lbl_description}}</label>
          <input validationClasses="transferDescription" formControlName="transferDescription" type="text"
            id="transferDescription" [readonly]="readonly" class="form-control">
          <app-field-error-message controlName="transferDescription"></app-field-error-message>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="transferCountry" asteriskIfRequired="transferCountry"
            class="form-label">{{lang.map.transfer_to_country}}</label>
          <ng-select [selectOnTab]="true" labelForId="transferCountry" [clearable]="true"
            placeholder="{{lang.map.select}}" id="transferCountry" [notFoundText]="lang.map.msg_not_found"
            [readonly]="readonly" appendTo="body" formControlName="transferCountry" validationClasses="transferCountry">
            <ng-option *ngFor="let option of countries" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="transferCountry"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="country" asteriskIfRequired="country" class="form-label">{{lang.map.execution_country}}</label>
          <ng-select [selectOnTab]="true" labelForId="country" [clearable]="true" placeholder="{{lang.map.select}}"
            id="country" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly" appendTo="body"
            formControlName="country" validationClasses="country">
            <ng-option *ngFor="let option of countries" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="country"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="qatariTransactionAmount"
            for="qatariTransactionAmount">{{lang.map.transaction_amount_in_transfer_currency}}</label>
          <input validationClasses="qatariTransactionAmount" formControlName="qatariTransactionAmount" type="text"
            id="qatariTransactionAmount" [readonly]="isQatariTransactionAmountAllowed() || readonly"
            class="form-control">
          <app-field-error-message controlName="qatariTransactionAmount"></app-field-error-message>
        </div>
      </div>

    </ng-container>
  </ng-template>
  <ng-template #transfereeBankAccountTabTemplate>
    <ng-container formGroupName="transfereeBankAccount">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="transfereeType" asteriskIfRequired="transfereeType"
            class="form-label">{{lang.map.transferee_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="transfereeType" [clearable]="true"
            placeholder="{{lang.map.select}}" id="transfereeType" [notFoundText]="lang.map.msg_not_found"
            [readonly]=" isExternalTransferType() || readonly" appendTo="body" formControlName="transfereeType" validationClasses="transfereeType">
            <ng-option *ngFor="let option of financialTransfereeTypeList" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="transfereeType"></app-field-error-message>
        </div>

        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="receiverType" asteriskIfRequired="receiverType"
            class="form-label">{{lang.map.entity_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="receiverType" [clearable]="true" placeholder="{{lang.map.select}}"
            id="receiverType" [notFoundText]="lang.map.msg_not_found"
            [readonly]="!isEditReceiverTypeAllowed() || readonly" appendTo="body" formControlName="receiverType"
            validationClasses="receiverType">
            <ng-option *ngFor="let option of implementingAgencyType" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="receiverType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transferringEntityName"
            for="transferringEntityName">{{lang.map.entity_name}}</label>
          <div class="input-group">
            <input validationClasses="transferringEntityName" formControlName="transferringEntityName" type="text"
              id="transferringEntityName" trimInput [readonly]="!isEditTransfereeAllowed() || readonly"
              class="form-control">
            <button *ngIf=" isSearchAuthorizedEntityAllowed()" type="button"
              (click)="transfereeEntitySearch()" class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <button *ngIf=" isPreRegisteredEntityAllowed()" type="button"
              (click)="transfereeEntitySearch()" class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="transferringEntityName"></app-field-error-message>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transferAccountNumber"
            for="transferAccountNumber">{{lang.map.account_number}}</label>
          <input validationClasses="transferAccountNumber" formControlName="transferAccountNumber" type="text"
            id="transferAccountNumber" [readonly]="!isEditTransfereeAllowed() || readonly" class="form-control">
          <app-field-error-message controlName="transferAccountNumber"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transfereeIBAN"
            for="transfereeIBAN">{{lang.map.transferee_iban}}</label>
          <input validationClasses="transfereeIBAN" formControlName="transfereeIBAN" type="text" id="transfereeIBAN"
            [readonly]="!isEditTransfereeAllowed() || readonly" class="form-control">
          <app-field-error-message controlName="transfereeIBAN"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transfereeBankName"
            for="transfereeBankName">{{lang.map.transferee_bank_name}}</label>
          <input validationClasses="transfereeBankName" formControlName="transfereeBankName" type="text"
            id="transfereeBankName" [readonly]="!isEditTransfereeAllowed() || readonly" class="form-control">
          <app-field-error-message controlName="transfereeBankName"></app-field-error-message>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #transferBankAccountTabTemplate>
    <ng-container formGroupName="transferBankAccount">
      <div class="row" *ngIf="!readonly">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="bankAccountsControl" asteriskIfRequired [control]="bankAccountsControl"
            class="form-label">{{lang.map.bank_accounts}}</label>
          <ng-select
           [selectOnTab]="true" labelForId="bankAccountsControl" [clearable]="true"
           [formControl]="bankAccountsControl"
            placeholder="{{lang.map.select}}" id="bankAccountsControl" [notFoundText]="lang.map.msg_not_found"
            [readonly]="readonly" appendTo="body" validationClasses [control]="bankAccountsControl">
            <ng-option *ngFor="let option of transferEntityBankAccounts" [value]="option">
              {{option.accountNumber}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="bankAccountsControl"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="accountNumber"
            for="accountNumber">{{lang.map.account_number}}</label>
          <input validationClasses="accountNumber" formControlName="accountNumber" type="text" id="accountNumber"
            [readonly]="true" class="form-control">
          <app-field-error-message controlName="accountNumber"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transferFromIBAN"
            for="transferFromIBAN">{{lang.map.transfer_from_iban}}</label>
          <input validationClasses="transferFromIBAN" formControlName="transferFromIBAN" type="text"
            id="transferFromIBAN" [readonly]="true" class="form-control">
          <app-field-error-message controlName="transferFromIBAN"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="bankName" for="bankName">{{lang.map.bank_name}}</label>
          <input validationClasses="bankName" formControlName="bankName" type="text" id="bankName" [readonly]="true"
            class="form-control">
          <app-field-error-message controlName="bankName"></app-field-error-message>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #financialTransfersProjectsTabTemplate>
    <ng-container formGroupName="financialTransfersProjects">
      <financial-transfers-projects

      #financialTransfersProjectsTab [list]="model?.financialTransfersProjects  || []"
        [readonly]="readonly" (readyEvent)="financialTransfersProjectsTabStatus = $event"
        (listUpdated)="updateTransactionAmount($event)" [submissionMechanism]="submissionMechanism"
        [approvedFinancialTransferProjects]="approvedFinancialTransferProjectsList"
        >
      </financial-transfers-projects>

    </ng-container>
  </ng-template>
  <ng-template #affidavitOfCompletionTabTemplate>
    <ng-container formGroupName="affidavitOfCompletion">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="currency" asteriskIfRequired="currency" class="form-label">{{lang.map.currency}}</label>
          <ng-select [selectOnTab]="true" labelForId="currency" [clearable]="true" placeholder="{{lang.map.select}}"
            id="currency" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly" appendTo="body"
            formControlName="currency" validationClasses="currency">
            <ng-option *ngFor="let option of currencies" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="currency"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="currencyTransferTransactionAmount"
            for="currencyTransferTransactionAmount">{{lang.map.transaction_amount_in_transfer_currency}}</label>
          <input validationClasses="currencyTransferTransactionAmount"
            formControlName="currencyTransferTransactionAmount" type="text" id="currencyTransferTransactionAmount"
            [readonly]="readonly" class="form-control">
          <app-field-error-message controlName="currencyTransferTransactionAmount"></app-field-error-message>
        </div>
        <div class="mb-4 col-md-4 col-sm-12 position-relative">
          <label for="actualTransferDate" asteriskIfRequired="actualTransferDate" class="form-label">{{
            lang.map.lbl_transfer_operation_date }}</label>
          <div class="input-group">
            <i class="input-group-text mdi mdi-calendar"></i>
            <div class="form-control" formControlName="actualTransferDate" id="actualTransferDate"
            [ngClass]="{'input-disabled': readonly}" id="establishmentDate"
              [options]="datepickerOptionsMap.actualTransferDate" (click)="!readonly && dpactualTransferDate.toggleCalendar()"
              #dpactualTransferDate="angular-mydatepicker" angular-mydatepicker validationClasses="actualTransferDate">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="transferNumber"
            for="transferNumber">{{lang.map.transfer_number}}</label>
          <input validationClasses="transferNumber" formControlName="transferNumber" type="text" id="transferNumber"
            [readonly]="readonly" class="form-control">
          <app-field-error-message controlName="transferNumber"></app-field-error-message>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #specialExplanationsTabTemplate>
    <div class="row">
      <div class="col-sm-12 col-md-12 mb-4 position-relative">
        <label for="description" asteriskIfRequired="description"
          class="form-label">{{lang.map.special_explanations}}</label>
        <textarea rows="5" id="description" validationClasses="description"
          [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readOnly]="(readonly)"
          formControlName="description" trimInput class="form-control"></textarea>
        <app-field-error-message controlName="description"></app-field-error-message>
      </div>
    </div>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
      [formProperties]="formProperties"
      [service]="service.documentService" [model]="model" [load]="loadAttachments"></attachments>
  </ng-template>
</ng-container>
