<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator" [data]="list" [columns]="displayColumns">
        <table class="table caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="legendHeader">
            <th cdk-header-cell colspan="100" *cdkHeaderCellDef="let row">
              <ng-container [ngTemplateOutlet]="legendHeaderTemplate"></ng-container>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="year">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.year}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.year}} {{lang.map.year_s}}</td>
          </ng-container>

          <ng-container cdkColumnDef="amount">
            <th cdk-header-cell style="width: 300px" *cdkHeaderCellDef> {{lang.map.amount}}</th>
            <td cdk-cell *cdkCellDef="let row;">
              {{row.targetAmount}}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions audit-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="i"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="['legendHeader']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"
            class="{{getAuditRowClass(row.auditOperation)}}"></tr>
          <tr *cdkNoDataRow>
            <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
          </tr>
        </table>
        <app-paginator #paginator></app-paginator>
      </app-table>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
<ng-template #legendHeaderTemplate>
  <div class="d-flex align-items-center justify-content-end gap-1">
    <div class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.ADDED)}}">{{lang.map.lbl_record_added}}</div>
    <div class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.UPDATED)}}">{{lang.map.lbl_record_updated}}
    </div>
    <div class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.DELETED)}}">{{lang.map.lbl_record_deleted}}
    </div>
  </div>
</ng-template>
