<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px" #dialogContent>
  <form novalidate autocomplete="off" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="arabicName" class="form-label" for="arabicName">{{lang.map.arabic_name}}</label>
        <input [readonly]="(readonly)" class="form-control" formControlName="arabicName"
               id="arabicName" validationClasses="arabicName" trimInput>
        <app-field-error-message controlName="arabicName"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="englishName" class="form-label" for="englishName">{{lang.map.english_name}}</label>
        <input [readonly]="(readonly)" class="form-control" formControlName="englishName"
               id="englishName" validationClasses="englishName" trimInput>
        <app-field-error-message controlName="englishName"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="identificationNumber" class="form-label"
               for="identificationNumber">{{lang.map.identification_number}}</label>
        <input [readonly]="(readonly)" class="form-control" formControlName="identificationNumber"
               id="identificationNumber" validationClasses="identificationNumber" trimInput>
        <app-field-error-message controlName="identificationNumber"></app-field-error-message>
      </div>
      <div *ngIf="isGeneralAssociationMembers"
           class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="jobTitle" class="form-label" for="jobTitle">{{lang.map.job_title}}</label>
        <input id="jobTitle" validationClasses="jobTitle" formControlName="jobTitle" class="form-control" trimInput>
        <app-field-error-message controlName="jobTitle"></app-field-error-message>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button (click)="searchMembers()"
          class="btn btn-primary" *ngIf="searchVisible">{{lang.map.lbl_search}}</button>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
