<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <!--<h1 class="h6 text-white">{{ lang.map.approval_foreign_countries_projects }}</h1>-->
  <h1 class="h6 text-white">
    {{ lang.map[label] }} : {{ data.model.fullSerial }}
  </h1>
  <button type="button" class="btn-close btn-close-white" tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height" [ngStyle]="{ width: !canShowApprovalForm()  ? '400px' : '800px' }">
  <div class="row">
    <form [formGroup]="approvalForm" *ngIf="canShowApprovalForm()">
      <div class="row">
        <!-- nPOList -->
        <div class="col-sm-6 col-md-6 mb-4 ng-select-wrapper">
          <label asteriskIfRequired="nPOList" for="nPOList" class="form-label">{{lang.map.npo_list}}</label>
          <ng-select formControlName="nPOList" appendTo="body" [selectOnTab]="true" [items]="npos$| async"
                     labelForId="nPOList" bindValue="id" [clearable]="true" placeholder="{{lang.map.select}}"
                     id="nPOList"
                     [notFoundText]="lang.map.msg_not_found" [multiple]="true" [closeOnSelect]="false">
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <span class="custom-option">{{item.getName()}}</span>
            </ng-template>
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of (items ? items.slice(0,2): [])">
                <span class="ng-value-label">{{item && item.getName ? item.getName() : ''}}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">{{items.length - 2}} more...</span>
              </div>
            </ng-template>
          </ng-select>
          <app-field-error-message controlName="nPOList"></app-field-error-message>
        </div>
        <!-- followUpDate -->
        <div class="col-sm-6 col-md-6 mb-4 position-relative">
          <label for="followUpDate" asteriskIfRequired="followUpDate"
                 class="form-label">{{ lang.map.follow_up_date}}</label>
          <div class="input-group">
            <i class="input-group-text mdi mdi-calendar"></i>
            <div class="form-control" formControlName="followUpDate" id="followUpDate"
                 [options]="datepickerOptionsMap.followUpDate" (click)="openDateMenu(dpfollowUpDate)"
                 #dpfollowUpDate="angular-mydatepicker" angular-mydatepicker validationClasses="followUpDate"></div>
          </div>
        </div>
      </div>
      <!-- customTerms -->
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="customTerms" for="customTerms">{{lang.map.custom_terms}}</label>
        <textarea name="customTerms" formControlName="customTerms" validationClasses="customTerms" id="customTerms"
                  rows="4" class="form-control"></textarea>
      </div>
      <!-- publicTerms -->
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="publicTerms" for="publicTerms">{{lang.map.public_terms}}</label>
        <textarea name="publicTerms" formControlName="publicTerms" validationClasses="publicTerms" id="publicTerms"
                  rows="4" class="form-control"></textarea>
      </div>
    </form>
    <div class="col-sm-12 mb-4 position-relative">
      <label class="form-label" asteriskIfRequired [control]="comment" for="comment">{{lang.map.comment}}</label>
      <textarea name="comment" [formControl]="comment" validationClasses [control]="comment" id="comment" rows="4"
                class="form-control"></textarea>
      <app-field-error-message [control]="comment"></app-field-error-message>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button class="btn btn-primary" (click)="action$.next(null)">
    {{ lang.map.approve_task }}
  </button>
  <button dialogClose class="btn btn-secondary">
    {{ lang.map.btn_close }}
  </button>
</div>
