<div class="d-flex flex-column">
  <ng-container *ngIf="internal">
    <div class="row">
      <div class="col">
        <div class="col"><h1 class="h6 text-primary">{{lang.map[component.service.serviceKey]}}</h1></div>
      </div>
    </div>
    <tabs-list (onTabChange)="onTabChange($event)" class="position-relative">
      <button (click)="print()" [disabled]="!model?.id"
              class="btn btn-primary btn-sm d-flex position-absolute top-0 end-0">
        <i class="mdi mdi-printer"></i>
        <span class="px-1"></span>
        <span>{{lang.map.print}}</span>
      </button>
      <tab [title]="lang.map.request_info" name="request_info">
        <ng-template #internalContainer></ng-template>
      </tab>
      <tab [title]="lang.map.attachments" [template]="attachment" name="attachments">{{lang.map.attachments}}</tab>
      <tab [title]="lang.map.logs" [template]="logsTemplate" name="logs">{{lang.map.logs}}</tab>
      <!--      <tab [title]="lang.map.outputs" [template]="outputs" name="outputs">{{lang.map.outputs}}</tab>-->
      <tab [title]="lang.map.supporting_information" name="supporting_information">
        <span>{{lang.map.supporting_information}}</span>
        <span>- under construction</span>
      </tab>
    </tabs-list>
    <ng-template #attachment>
      <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                   [service]="service.documentService"
                   [load]="loadAttachments"></attachments>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!internal">
    <ng-template #externalContainer></ng-template>
  </ng-container>
  <ng-template #logsTemplate>
    <log-viewer [accordionView]="true" displayCategorizedAs="tabs"
                [categorizeLogs]="true" [caseId]="component?.model?.getCaseId()"
                [service]="service.actionLogService"></log-viewer>
  </ng-template>
  <!--  <ng-template #outputs>-->

  <!--  </ng-template>-->
  <div class="row mb-2">
    <div class="col-12">
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">
        <button [ngClass]="action?.class || ''" [disabled]="isDisabled(action)" *ngFor="let action of actions"
                (click)="actionCallback(action)" class="btn btn-primary">
          <div class="d-flex">
            <i class="mdi" *ngIf="action.icon" [ngClass]="action.icon!"></i>
            <span [ngClass]="{'ms-2': action.icon}" class="ms-2">{{action.translatedLabel}}</span>
          </div>
        </button>
        <button class="btn btn-link" [tooltip]="lang.map.validate_fields"
                *ngIf="component.formValidity$ && !component.readonly"
                (click)="component.formValidity$.next('main-content')"><i
          class="mdi mdi-information-outline text-info"></i></button>
      </div>
    </div>
  </div>
</div>
