<div [formGroup]="form">
  <div formGroupName="targetGroups">
    <ng-container *ngFor="let _ of targetGroupsFormArray.controls; let i = index">
      <div [formGroupName]="i">
        <div class="row d-flex flex-row">
          <div class="col-sm-12 col-md-6">
            <div class="row d-flex flex-column flex-md-row">
              <label for="services" asteriskIfRequired="services"
                     class="col-sm-12 col-md-4 col-form-label">{{lang.map.lbl_services}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <input id="services" validationClasses="services"
                       formControlName="services" class="form-control">
                <app-field-error-message controlName="services"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row d-flex flex-column flex-md-row">
              <label for="targetedGroup" asteriskIfRequired="targetedGroup"
                     class="col-sm-12 col-md-4 col-form-label">{{lang.map.targeted_groups}}</label>
              <div class="col-md-8 col-sm-12 mb-4 position-relative">
                <input id="targetedGroup" validationClasses="targetedGroup"
                       formControlName="targetedGroup" class="form-control">
                <app-field-error-message controlName="targetedGroup"></app-field-error-message>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-center">
          <button (click)="save()"
                  class="btn btn-primary m-2">{{(editIndex > -1) ? lang.map.btn_save : lang.map.btn_add}}</button>
          <button (click)="cancel()"
                  class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-page-header [hidden]="targetGroupsFormArray.controls.length" pageTitle="target_groups"
                 [clickOnNew$]="add$"
                 [addPermission]="addAllowed()"></app-page-header>

<table *ngIf="list.length" class="table mt-3 table-striped table-bordered caption-top" cdk-table
       [dataSource]="dataSource">
  <ng-container cdkColumnDef="services">
    <th cdk-header-cell *cdkHeaderCellDef class="date-column"> {{lang.map.lbl_services}}</th>
    <td cdk-cell *cdkCellDef="let row"> {{row.services}} </td>
  </ng-container>
  <ng-container cdkColumnDef="targetedGroup">
    <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.targeted_groups}}</th>
    <td cdk-cell *cdkCellDef="let row"> {{row.targetedGroup}} </td>
  </ng-container>
  <ng-container cdkColumnDef="actions">
    <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
    <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
      <div class="d-flex flex-row">
        <button (click)="delete($event, row, i)" class="icon-btn text-primary"
                tooltip="{{lang.map.btn_delete}}">
          <i class="mdi mdi-close-box"></i>
        </button>
        <button (click)="edit($event, row, i)" class="icon-btn text-primary"
                tooltip="{{lang.map.btn_edit}}">
          <i class="mdi mdi-pen"></i>
        </button>
      </div>
    </td>
  </ng-container>
  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
  <tr *cdkNoDataRow>
    <td colspan="10" class="text-center">{{lang.map.no_records_to_display}}</td>
  </tr>
</table>
