<div class="flex-row d-flex align-items-center">
  <ng-content select="*:not([afterTemplate])"></ng-content>
  <ng-container *ngFor="let action of filteredActions; first as isFirst; last as isLast">
    <ng-container *ngIf="isAction(action)">
      <ng-container *ngIf="!hasChildren(action)">
        <button *ngIf="action.icon" class="btn icon-btn text-primary p-0 grid-action bg-transparent"
                [disabled]="isActionDisabled(action)"
                [tooltip]="displayLabel(action)" (click)="onClick($event, action)">
          <i class="mdi {{action.icon}} {{actionClass(action)}}"></i>
        </button>
        <button *ngIf="!action.icon" class="btn btn-primary grid-action {{actionClass(action)}}"
                [disabled]="isActionDisabled(action)" type="button"
                (click)="onClick($event, action)">{{displayLabel(action)}}</button>
      </ng-container>
      <div class="dropdown" *ngIf="hasChildren(action)">
        <button type="button" class="btn btn-link outline-none dropdown-toggle p-0 grid-action bg-transparent"
                id="dropdownMenuButton1" [disabled]="isActionDisabled(action)"
                data-bs-toggle="dropdown" aria-expanded="false">
          <i class="mdi {{action.icon}}"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let child of action.children">
            <button class="dropdown-item" type="button" [disabled]="isActionDisabled(child)"
                    (click)="onClick($event, child)">{{displayLabel(child)}}</button>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="isDivider(action) && !isFirst && !isLast">
      <div class="vr"></div>
    </ng-container>
  </ng-container>
  <ng-content select="[afterTemplate]"></ng-content>
</div>
