<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn" tabindex="-1"
      aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white" tabindex="-1" [dialogClose]="null"
      aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px no-fixed-height" #dialogContent>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="oldLicenseFullSerial" [control]="oldLicenseFullSerialControl"
          for="oldLicenseFullSerial">{{lang.map.serial_number}}</label>
        <div class="input-group">
          <input (keydown.enter)="isSearchAllowed() && searchForLicense()" id="oldLicenseFullSerial"
            validationClasses="oldLicenseFullSerial" [control]="oldLicenseFullSerialControl"
            formControlName="oldLicenseFullSerial" class="form-control">
          <button *ngIf="isSearchAllowed()" (click)="searchForLicense()" class="input-group-text">
            <i class="mdi mdi-magnify text-primary"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="identificationNumber"
          for="identificationNumber">{{lang.map.identification_number}}</label>
        <input id="identificationNumber" validationClasses="identificationNumber" formControlName="identificationNumber"
          class="form-control" [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="identificationNumber"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="collectorType"
          for="collectorType">{{lang.map.collector_type}}</label>
        <ng-select validationClasses="collectorType" appendTo="body" [clearable]="true"
          placeholder="{{lang.map.select}}" [notFoundText]="lang.map.msg_not_found" id="collectorType"
          [readonly]="(isCancelRequestType() || readonly)" formControlName="collectorType">
          <ng-option [value]="option.lookupKey" *ngFor="let option of collectorTypes">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="collectorType"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="arabicName" for="arabicName">{{lang.map.arabic_name}}</label>
        <input id="arabicName" validationClasses="arabicName" formControlName="arabicName" class="form-control"
          [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="arabicName"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="collectorNumber"
          for="collectorNumber">{{lang.map.collector_number}}</label>
        <input id="collectorNumber" validationClasses="collectorNumber" formControlName="collectorNumber"
          class="form-control" [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="collectorNumber"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="gender" for="gender">{{lang.map.gender}}</label>
        <ng-select validationClasses="gender" appendTo="body" [clearable]="true" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" id="gender" [readonly]="(isCancelRequestType() || readonly)"
          formControlName="gender">
          <ng-option [value]="option.lookupKey" *ngFor="let option of genders">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="gender"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="nationality"
          for="nationality">{{lang.map.lbl_nationality}}</label>
        <ng-select validationClasses="nationality" appendTo="body" [clearable]="true" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" id="nationality" [readonly]="(isCancelRequestType() || readonly)"
          formControlName="nationality">
          <ng-option [value]="option.lookupKey" *ngFor="let option of nationalities">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="nationality"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="jobTitle" for="jobTitle">{{lang.map.job_title}}</label>
        <input id="jobTitle" validationClasses="jobTitle" formControlName="jobTitle" class="form-control"
          [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="jobTitle"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="relationship" for="relationship">{{lang.map.relationship}}</label>
        <ng-select validationClasses="relationship" appendTo="body" [clearable]="true" placeholder="{{lang.map.select}}"
          [notFoundText]="lang.map.msg_not_found" id="relationship" [readonly]="(isCancelRequestType() || readonly)"
          formControlName="relationship">
          <ng-option [value]="option.lookupKey" *ngFor="let option of relationships">{{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="relationship"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="email" for="email">{{lang.map.lbl_email}}</label>
        <input id="email" validationClasses="email" formControlName="email" class="form-control"
          [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="email"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="licenseEndDate" asteriskIfRequired="licenseEndDate"
          class="form-label">{{lang.map.license_end_date}}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <div class="form-control" formControlName="licenseEndDate"
            [ngClass]="{'input-disabled': isEditLicenseEndDateDisabled()}" id="licenseEndDate"
            [options]="datepickerOptionsMap.licenseEndDate"
            (click)="!isEditLicenseEndDateDisabled() && dpLicenseEndDate.toggleCalendar()"
            #dpLicenseEndDate="angular-mydatepicker" angular-mydatepicker></div>
          <app-field-error-message controlName="licenseEndDate"></app-field-error-message>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
    tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
    class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
