<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-start">
  <h1 class="h6 text-white">{{lang.map[data.key]}}</h1>
  <span class="flex-grow-1"></span>
  <button type="button" fullscreenBtn class="btn btn-fullscreen btn-close-white icon-btn"
          tabindex="-1" aria-label="fullscreen"></button>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content" style="width: 90vw">
  <viewer-case-info [model]="model"></viewer-case-info>
  <ng-template #template></ng-template>
</div>
<div class="dialog-actions">
  <button (click)="takeAction(action)" *ngFor="let action of actions" [tooltip]="displayLabel(action)"
          class="btn btn-outline-light icon-btn">
    <i *ngIf="action.icon" class="mdi" [ngClass]="action.icon"></i>
    <i *ngIf="!action.icon" class="mdi mdi-hand invisible"></i>
  </button>
  <div class="flex-grow-1"></div>
  <button [disabled]="component?.form?.invalid || component?.readonly" (click)="saveCase()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button dialogClose class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>

