<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a id="basic-tab" href="#basic-tab-content" data-bs-toggle="tab" role="tab"
         class="nav-link active position-relative">{{langService.map.lbl_basic_info}}
        <span *ngIf="fm.getFieldInvalidStatus('basic')"
              class="position-absolute text-danger top-0 start-0 translate-middle mdi mdi-alert-circle"></span>
      </a>
    </li>
  </ul>
  <div class="tab-content pt-2">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="basic-tab"
         id="basic-tab-content">
      <form class="min-w400px" novalidate autocomplete="off" [formGroup]="form">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="arName" class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName" [ngClass]="fm.getStatusClass('arName')" formControlName="arName"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('arName')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="enName" class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName" [ngClass]="fm.getStatusClass('enName')" formControlName="enName"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('enName')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="qid" class="form-label">{{langService.map.lbl_qid}}</label>
            <input id="qid" [ngClass]="fm.getStatusClass('qid')" formControlName="qid"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('qid')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="empNum" class="form-label">{{langService.map.lbl_employee_number}}</label>
            <input id="empNum" [ngClass]="fm.getStatusClass('empNum')" formControlName="empNum"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('empNum')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber" class="form-label">{{langService.map.lbl_phone}}</label>
            <input id="phoneNumber" [ngClass]="fm.getStatusClass('phoneNumber')" formControlName="phoneNumber"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('phoneNumber')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="officialPhoneNumber" class="form-label">{{langService.map.lbl_official_phone_number}}</label>
            <input id="officialPhoneNumber" [ngClass]="fm.getStatusClass('officialPhoneNumber')"
                   formControlName="officialPhoneNumber"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('officialPhoneNumber')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
        </div>
        <div>
          <div class="col-sm-12 mb-4 position-relative">
            <label for="email" class="form-label">{{langService.map.lbl_email}}</label>
            <input id="email" [ngClass]="fm.getStatusClass('email')" formControlName="email"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('email')?.required">{{langService.map.err_required_field}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <div class="form-check form-switch">
              <input type="checkbox" id="status" formControlName="status" class="form-check-input cursor-pointer">
              <label for="status" class="cursor-pointer">{{fm.getStatusFieldTranslate('status')}}</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">save</button>
  <button [dialogClose]="model" class="btn btn-secondary">cancel</button>
</div>
