<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content" #dialogContent>
  <form style="width: 800px;" novalidate autocomplete="off" [formGroup]="form">
    <tabs-list (onTabChange)="onTabChange($event)">
      <tab [name]="tabsData.basic.name" [template]="basicTabTemplate" [title]="langService.map.lbl_basic_info"
           [hasError]="fm.getFieldInvalidStatus('basic')"></tab>
      <tab [name]="tabsData.permissions.name" [template]="permissionsTabTemplate"
           [title]="langService.map.lbl_permissions"
           [hasError]="fm.getFieldInvalidStatus('permissions')"></tab>
      <tab name="services"
           [disabled]="!model.id"
           [title]="langService.map.link_services"
           [template]="serviceTab"></tab>
    </tabs-list>
    <ng-template #basicTabTemplate>
      <div formGroupName="basic">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="arName" for="arName"
                   class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName" [ngClass]="fm.getStatusClass('basic.arName')" formControlName="arName"
                   class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.arName')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="enName" for="enName"
                   class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName" [ngClass]="fm.getStatusClass('basic.enName')" formControlName="enName"
                   class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.enName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="empNum" asteriskIfRequired="empNum"
                   class="form-label">{{langService.map.lbl_employee_number}}</label>
            <input id="empNum" [ngClass]="fm.getStatusClass('basic.empNum')" formControlName="empNum"
                   class="form-control" [mask]="inputMaskPatterns.NUMBER_ONLY">
            <app-field-error-message [control]="fm.getFormField('basic.empNum')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="qid" asteriskIfRequired="qid"
                   class="form-label">{{langService.map.lbl_qid}}</label>
            <input id="qid" [ngClass]="fm.getStatusClass('basic.qid')" formControlName="qid"
                   class="form-control" [mask]="inputMaskPatterns.NUMBER_ONLY">
            <app-field-error-message [control]="fm.getFormField('basic.qid')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber" asteriskIfRequired="phoneNumber"
                   class="form-label">{{langService.map.lbl_phone}}</label>
            <input id="phoneNumber" [ngClass]="fm.getStatusClass('basic.phoneNumber')" formControlName="phoneNumber"
                   class="form-control" trimInput>
            <app-field-error-message [control]="fm.getFormField('basic.phoneNumber')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneExtension" class="form-label">{{langService.map.lbl_phone_extension}}</label>
            <input id="phoneExtension" [ngClass]="fm.getStatusClass('basic.phoneExtension')"
                   formControlName="phoneExtension" class="form-control" [mask]="inputMaskPatterns.NUMBER_ONLY">
            <app-field-error-message [control]="fm.getFormField('basic.phoneExtension')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="officialPhoneNumber" class="form-label">{{langService.map.lbl_official_phone_number}}</label>
            <input id="officialPhoneNumber" [ngClass]="fm.getStatusClass('basic.officialPhoneNumber')"
                   formControlName="officialPhoneNumber" class="form-control" trimInput>
            <app-field-error-message [control]="fm.getFormField('basic.officialPhoneNumber')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="email" for="email" class="form-label">{{langService.map.lbl_email}}</label>
            <input id="email" [ngClass]="fm.getStatusClass('basic.email')" formControlName="email"
                   class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.email')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="userType" asteriskIfRequired="userType"
                   class="form-label">{{langService.map.lbl_user_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="userType" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="userType"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="userType"
                       [ngClass]="fm.getStatusClass('basic.userType')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of userTypeList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.userType')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="jobTitle" asteriskIfRequired="jobTitle"
                   class="form-label">{{langService.map.lbl_job_title}}</label>
            <ng-select [selectOnTab]="true" labelForId="jobTitle" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="jobTitle"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="jobTitle"
                       [ngClass]="fm.getStatusClass('basic.jobTitle')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of jobTitleList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.jobTitle')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="orgId" asteriskIfRequired="orgId" class="form-label">{{langService.map.lbl_org_unit}}</label>
            <ng-select [selectOnTab]="true" labelForId="orgId" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="orgId"
                       [notFoundText]="langService.map.msg_not_found"
                       (change)="onOrgUnitChange()"
                       formControlName="orgId"
                       [readonly]="employeeService.isExternalUser()"
                       [ngClass]="fm.getStatusClass('basic.orgId')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of orgUnitList" [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.orgId')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="orgBranchId" asteriskIfRequired="orgBranchId"
                   class="form-label">{{langService.map.lbl_branch}}</label>
            <ng-select [selectOnTab]="true" labelForId="orgBranchId" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="orgBranchId"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="orgBranchId"
                       [ngClass]="fm.getStatusClass('basic.orgBranchId')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of orgBranchList" [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.orgBranchId')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="status" asteriskIfRequired="status"
                   class="form-label">{{langService.map.lbl_status}}</label>
            <ng-select [selectOnTab]="true" labelForId="status" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="status"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="status"
                       [ngClass]="fm.getStatusClass('basic.status')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of statusList" [value]="option.lookupKey"
                         [disabled]="(option.lookupKey === commonStatusEnum.RETIRED)">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.status')"></app-field-error-message>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #permissionsTabTemplate>
      <div formGroupName="permissions">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="customRoleId" class="form-label">{{langService.map.lbl_custom_role}}</label>
            <ng-select [selectOnTab]="true" labelForId="customRoleId" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="customRoleId"
                       [notFoundText]="langService.map.msg_not_found"
                       (change)="updatePermissionsByRole($event)"
                       formControlName="customRoleId"
                       [ngClass]="fm.getStatusClass('permissions.customRoleId')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of customRoleList" [value]="option.id"
                         [disabled]="!option.status">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="customRoleControl"></app-field-error-message>
          </div>
        </div>
        <div class="row" *ngIf="customRoleControl?.value">
          <ng-container>
            <div *ngFor="let checkBoxGroup of groups" class="col-sm-12 mb-2">
              <div class="p-2 border border-1">
                <div class="form-check mb-2 pb-2 border-bottom">
                  <input [indeterminate]="checkBoxGroup.isIndeterminate()" [disabled]="readonly" [checked]="checkBoxGroup.isFull()"
                         type="checkbox"
                         id="group-id-{{checkBoxGroup.group.id}}" (change)="onGroupClicked(checkBoxGroup)"
                         class="form-check-input cursor-pointer">
                  <label for="group-id-{{checkBoxGroup.group.id}}"
                         class="cursor-pointer">{{checkBoxGroup.group.getName()}}</label>
                </div>
                <div *ngFor="let row of checkBoxGroup.rows" class="row mx-2">
                  <div *ngFor="let permission of row" class="form-check col-sm-12 col-md-4">
                    <input type="checkbox" [checked]="checkBoxGroup.isSelected(permission.id)" [disabled]="readonly" [value]="permission.id"
                           id="group-permission-id-{{permission.id}}"
                           (change)="onPermissionClicked($event , permission , checkBoxGroup)"
                           class="form-check-input cursor-pointer">
                    <label for="group-permission-id-{{permission.id}}"
                           class="cursor-pointer">{{permission.getName()}}</label>
                  </div>
                </div>

              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </form>
  <ng-template #serviceTab>
    <user-security [operation]="operation" [readonly]="readonly" [model]="model"></user-security>
  </ng-template>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="fm.displayFormValidity(dialogContent)"
          tooltip="{{langService.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="displaySaveBtn" (click)="saveModel()"
          class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
