<app-table
  #table attachmentHandler
  [paginator]="paginator"
  [data]="employees"
  [columns]="displayedColumns"
>
  <table
    cdk-table
    [dataSource]="table.dataSource"
    class="table mt-3 table-striped table-bordered caption-top"
  >
    <ng-container cdkColumnDef="arabicName">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.arabic_name }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.arabicName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="englishName">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.english_name }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.englishName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="jobTitleInfo">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.job_title }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.jobTitleInfo?.getName() }}</td>
    </ng-container>
    <ng-container cdkColumnDef="gender">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.gender }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ getGenderName(row.gender) }}</td>
    </ng-container>
    <ng-container cdkColumnDef="attachment">
      <th cdk-header-cell *cdkHeaderCellDef class="table-actions"></th>
      <td cdk-cell *cdkCellDef="let row" class="table-actions">
        <button multiAttachment [formObservables]="formProperties" [model]="model" [item]="row"
                identifier="employeeInfoDTOs" tooltip="{{lang.map.attachments}}"
                class="btn text-primary icon-btn">
          <i class="mdi mdi-attachment"></i>
        </button>
      </td>
    </ng-container>
    <ng-container cdkColumnDef="actions" *ngIf="actions.length">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.lbl_actions }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        <ng-container *ngFor="let btn of actions">
          <a
            *ngIf="btn.show && btn.show(row)"
            href="#"
            (click)="cb($event, btn, row)"
            tooltip="{{ lang.map[btn.langKey] }}"
            class="icon-btn"
          >
            <i [class]="'mdi mdi-' + btn.icon"></i>
          </a>
        </ng-container>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    <tr *cdkNoDataRow>
      <td colspan="100" class="text-center">
        {{ lang.map.no_records_to_display }}
      </td>
    </tr>
  </table>
</app-table>
<app-paginator #paginator></app-paginator>
