<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{data.sendToUser ? lang.map.send_to_user : lang.map.send_to_competent_dep}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div [formGroup]="group" class="dialog-content no-fixed-height" style="width: 500px">
  <div *ngIf="data.sendToUser" class="col-12 mb-4 position-relative ng-select-wrapper">
    <label asteriskIfRequired="user" for="user" class="form-label">{{lang.map.select_user}}</label>
    <ng-select validationClasses="user" appendTo="body" [selectOnTab]="true" labelForId="user" [clearable]="true"
               placeholder="{{lang.map.select}}" id="user"
               [notFoundText]="lang.map.msg_not_found"
               formControlName="user">
      <ng-option *ngFor="let user of users" [value]="user.id">{{user.getName()}}</ng-option>
    </ng-select>
    <app-field-error-message controlName="user"></app-field-error-message>
  </div>
  <div *ngIf="!data.sendToUser" class="col-12 mb-4 position-relative ng-select-wrapper">
    <label asteriskIfRequired="department" for="department" class="form-label">{{lang.map.select_department}}</label>
    <ng-select validationClasses="department" appendTo="body" [selectOnTab]="true" labelForId="department"
               [clearable]="true"
               placeholder="{{lang.map.select}}" id="department"
               [notFoundText]="lang.map.msg_not_found"
               formControlName="department">
      <ng-option *ngFor="let department of departments" [value]="department.id">{{department.getName()}}</ng-option>
    </ng-select>
    <app-field-error-message controlName="department"></app-field-error-message>
  </div>
  <div class="col-12 mb-4 position-relative ng-select-wrapper">
    <label asteriskIfRequired="comment" for="comment" class="form-label">{{lang.map.comment}}</label>
    <textarea class="form-control" formControlName="comment" id="comment" rows="3"></textarea>
  </div>
</div>
<div class="dialog-actions">
  <div class="flex-grow-1"></div>
  <button (click)="send()" class="btn btn-primary">{{lang.map.send}}</button>
  <button dialogClose class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>
