<div class="table-responsive">
  <app-table #table sortableTable [paginator]="paginator" [data]="list" [columns]="columns"
    [filter]="filterControl.value" [useSearchToFilter]="true">
    <table class="table mt-3 table-striped table-bordered caption-top" cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header tableTitle="contact_officers" [add$]="add$" [allowAdd]="!readonly" [skipClearSort]="true" (textChange)="filterControl.setValue($event)">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="idNumber">
        <th cdk-header-cell *cdkHeaderCellDef class="date-column"> {{lang.map.id_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.identificationNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="fullName">
        <th cdk-header-cell *cdkHeaderCellDef class="date-column"> {{lang.map.full_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.fullName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="email">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.email_address_of_the_employer}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container cdkColumnDef="phone">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.phone_of_the_employer}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.phone}} </td>
      </ng-container>
      <ng-container cdkColumnDef="extraPhone">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.mobile_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.extraPhone}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
          <div class="d-flex flex-row">
            <button (click)="delete($event, row, i)" *ngIf="!readonly" class="icon-btn text-primary"
              tooltip="{{lang.map.btn_delete}}" [disabled]="readonly">
              <i class="mdi mdi-close-box"></i>
            </button>
            <button (click)="edit($event, row, i)" *ngIf="!readonly" class="icon-btn text-primary"
              tooltip="{{lang.map.btn_edit}}" [disabled]="readonly">
              <i class="mdi mdi-pen"></i>
            </button>
            <button (click)="view($event, row, i)" *ngIf="readonly" class="icon-btn text-primary"
              tooltip="{{lang.map.view}}">
              <i class="mdi mdi-eye"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
    <app-paginator #paginator></app-paginator>
  </app-table>
</div>
