:host {
  background-color: white;
  min-height: 95%;
  max-height: 100% !important;
  max-width: 95% !important;
  overflow: hidden;
  display: inline-table;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
}
