:host {
  background-color: white;
  min-height: inherit;
  max-height: inherit;
  overflow: hidden;
  display: table;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
}
