<div class="d-flex flex-column">
  <div class="row">
    <tabs-list [accordionView]="accordionView" [hasForm]="true">
      <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
           [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info">{{lang.map.lbl_basic_info}}</tab>
      <tab [name]="tabsData.comments.name" [hasError]="getTabInvalidStatus('comments')"
           [template]="commentsTabTemplate" [title]="lang.map.comments"
           *ngIf="employeeService.isInternalUser()"></tab>
      <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
           [template]="attachmentsTabTemplate" [title]="lang.map.attachments"></tab>
      <tab [name]="tabsData.logs.name" [hasError]="getTabInvalidStatus('logs')"
           [template]="logsTemplate" [title]="lang.map.logs" *ngIf="fromDialog" [disabled]="!model?.id"></tab>
    </tabs-list>
    <ng-template #basicInfoTabTemplate>
      <form [formGroup]="form">
        <div class="row">
          <!-- Organization -->
          <div *ngIf="employeeService.isInternalUser()" class="col-sm-12 col-md-4 mb-4 position-relative">
            <label asteriskIfRequired="organizationId" for="organizationId"
                   class="form-label">{{lang.map.lbl_organization}}</label>
            <ng-select [selectOnTab]="true" labelForId="organizationId" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="organizationId"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="(readonly || !!(this.model?.id))" appendTo="body"
                       formControlName="organizationId" validationClasses="organizationId">
              <ng-option [value]="org.id" *ngFor="let org of organizations">{{org.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="organizationId"></app-field-error-message>
          </div>
          <!-- Request Type -->
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label asteriskIfRequired="requestType" for="requestType"
                   class="form-label">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="requestType"
                       (change)="handleRequestTypeChange($event, true)"
                       [notFoundText]="lang.map.msg_not_found"
                       [readonly]="!isEditRequestTypeAllowed()" appendTo="body"
                       formControlName="requestType" validationClasses="requestType">
              <ng-option [value]="type.lookupKey" *ngFor="let type of requestTypes">{{type.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <!-- License Number -->
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label asteriskIfRequired="oldLicenseFullSerial" for="oldLicenseFullSerial"
                   class="form-label">{{lang.map.license_number}}</label>
            <div class="input-group">
              <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                     formControlName="oldLicenseFullSerial" trimInput
                     type="text" [readOnly]="!isEditLicenseAllowed()"
                     validationClasses="oldLicenseFullSerial" [onlyInvalid]="false" class="form-control"
                     id="oldLicenseFullSerial">
              <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch()"
                      class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <selected-license-table [caseType]="caseTypes.INITIAL_EXTERNAL_OFFICE_APPROVAL"
                                  [caseTypeViewLicense]="caseTypes.INITIAL_EXTERNAL_OFFICE_APPROVAL"
                                  [licenseList]="[selectedLicense]"
                                  [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
        </div>
        <div class="row">
          <!-- Country -->
          <div class="col-sm-12 col-md-4">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="mb-4 ng-select-wrapper flex-grow-1 ">
                <label asteriskIfRequired="country" for="country" class="form-label">{{lang.map.country}}</label>
                <ng-select [selectOnTab]="true" labelForId="country" [clearable]="true"
                           placeholder="{{lang.map.select}}" id="country"
                           [notFoundText]="lang.map.msg_not_found"
                           [readonly]="!isEditCountryAllowed()" appendTo="body"
                           (change)="onCountrySelected()"
                           formControlName="country" validationClasses="country">
                  <ng-option *ngFor="let option of countries" [value]="option.id"
                             [disabled]="!option.isActive()">{{option.getName()}}</ng-option>
                </ng-select>
                <app-field-error-message controlName="country"></app-field-error-message>
              </div>
              <button *ngIf="isEditCountryAllowed() && this.employeeService.checkPermissions('MANAGE_CITIES')"
                      (click)="addCountry($event)" class="btn btn-primary mt-2">{{lang.map.btn_add}}</button>
            </div>
          </div>
          <!-- Region -->
          <div class="col-sm-12 col-md-4 mb-4 position-relative">
            <label asteriskIfRequired="region" for="region" class="form-label">{{lang.map.region}}</label>
            <input formControlName="region" type="text" [readOnly]="!isEditCountryAllowed()"
                   validationClasses="region" class="form-control" trimInput id="region">
            <app-field-error-message controlName="region"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <!-- Special Explanation -->
          <div class="col-sm-12 mb-4 position-relative">
            <label asteriskIfRequired="description" for="description"
                   class="form-label">{{lang.map.special_explanations}}</label>
            <textarea rows="5" id="description" validationClasses="description" formControlName="description"
                      class="form-control" trimInput [readOnly]="readonly"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #commentsTabTemplate>
      <div class="d-flex flex-row align-items-center justify-content-start">
        <button [disabled]="!isAddCommentAllowed()" (click)="commentsCtrl.openCommentDialog()"
                class="d-inline-block btn p-0 icon-btn"><i
          class="mdi mdi-plus-box text-primary"></i></button>
      </div>
      <app-comments #commentsCtrl [caseId]="model?.id" [service]="service.commentService"
                    [readonly]="readonly"></app-comments>
    </ng-template>
    <ng-template #attachmentsTabTemplate>
      <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                   [service]="service.documentService" [model]="model"
                   [load]="loadAttachments" [formProperties]="formProperties"></attachments>
    </ng-template>
    <ng-template #logsTemplate>
      <log-viewer [caseId]="model!.getCaseId()" [service]="service.actionLogService"
                  [hideItemLocation]="true" [hideViewedAction]="true"></log-viewer>
    </ng-template>
  </div>
</div>
