<tabs-list>
  <tab name="basicInfo" [template]="basicInfoTemplate" [title]="lang.map.lbl_basic_info"></tab>
  <tab name="dSNNN" [template]="dSNNNTemplate"
       [title]="lang.map.disclosure_statements_notices_notifications_notices"></tab>
  <tab name="sampleData" [template]="sampleDataTemplate" [title]="lang.map.sample_data_for_operations"></tab>
  <tab name="specialExplanation" [template]="specialExplanationTemplate" [title]="lang.map.special_explanations"></tab>
</tabs-list>
<ng-template #basicInfoTemplate>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>
</ng-template>

<ng-template #dSNNNTemplate>
  <value-differences-list [differenceList]="dSNNNDifferences"></value-differences-list>
</ng-template>

<ng-template #sampleDataTemplate>
  <audit-sample-data [newVersionList]="newVersion.parsedTemplates"
                     [oldVersionList]="oldVersion.parsedTemplates"
                     [caseType]="newVersion.caseType"
                     [newVersion]="newVersion"
                     [oldVersion]="oldVersion"></audit-sample-data>
</ng-template>

<ng-template #specialExplanationTemplate>
  <value-differences-list [differenceList]="explanationDifferences"></value-differences-list>
</ng-template>

