<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <inspection-operation [parentId]="model.id"></inspection-operation>
</div>
<div class="dialog-actions">

  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
