<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation" *ngIf="canShowTab(tabsData.basic)">
      <a id="org-unit-basic-tab" href="#org-unit-basic-tab-content" data-bs-toggle="tab" role="tab"
         class="nav-link active position-relative">{{langService.map.lbl_basic_info}}
      </a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="canShowTab(tabsData.branches)">
      <a id="branches-tab" href="#branches-tab-content" data-bs-toggle="tab" role="tab"
         class="nav-link position-relative">{{langService.map.lbl_org_branches}}
      </a>
    </li>
  </ul>
  <div class="tab-content pt-2">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="org-unit-basic-tab"
         id="org-unit-basic-tab-content" *ngIf="canShowTab(tabsData.basic)">
      <form style="width: 600px" novalidate autocomplete="off"
            [formGroup]="form">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="arName" class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName"
                   [ngClass]="fm.getStatusClass('arName')"
                   formControlName="arName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('arName')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="enName" class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName"
                   [ngClass]="fm.getStatusClass('enName')"
                   formControlName="enName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('enName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="orgUnitType" class="form-label">{{langService.map.lbl_org_unit_type}}</label>
            <select id="orgUnitType" formControlName="orgUnitType"
                    class="form-select"
                    [ngClass]="fm.getStatusClass('orgUnitType')">
              <option value="">{{langService.map.lbl_none}}</option>
              <option *ngFor="let option of orgUnitTypesList"
                      [ngValue]="option.lookupKey">{{option.getName()}}</option>
            </select>
            <app-field-error-message [control]="fm.getFormField('orgUnitType')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="orgCode" class="form-label">{{langService.map.lbl_org_unit_code}}</label>
            <input id="orgCode"
                   [ngClass]="fm.getStatusClass('orgCode')"
                   formControlName="orgCode" class="form-control">
            <app-field-error-message [control]="fm.getFormField('orgCode')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="status" class="form-label">{{langService.map.lbl_status}}</label>
            <select id="status" formControlName="status"
                    class="form-select"
                    [ngClass]="fm.getStatusClass('status')">
              <option value="">{{langService.map.lbl_none}}</option>
              <option *ngFor="let option of orgUnitStatusList"
                      [ngValue]="option.lookupKey">{{option.getName()}}</option>
            </select>
            <app-field-error-message [control]="fm.getFormField('status')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="email" class="form-label">{{langService.map.lbl_email}}</label>
            <input id="email"
                   [ngClass]="fm.getStatusClass('email')"
                   formControlName="email" class="form-control">
            <app-field-error-message [control]="fm.getFormField('email')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber1" class="form-label">{{langService.map.lbl_phone_1}}</label>
            <input id="phoneNumber1"
                   [ngClass]="fm.getStatusClass('phoneNumber1')"
                   formControlName="phoneNumber1" class="form-control">
            <app-field-error-message [control]="fm.getFormField('phoneNumber1')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber2" class="form-label">{{langService.map.lbl_phone_2}}</label>
            <input id="phoneNumber2"
                   [ngClass]="fm.getStatusClass('phoneNumber2')"
                   formControlName="phoneNumber2" class="form-control">
            <app-field-error-message [control]="fm.getFormField('phoneNumber2')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="address" class="form-label">{{langService.map.lbl_address}}</label>
            <textarea id="address"
                      [ngClass]="fm.getStatusClass('address')"
                      formControlName="address" class="form-control">
            </textarea>
            <app-field-error-message [control]="fm.getFormField('address')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="buildingName" class="form-label">{{langService.map.lbl_building_name}}</label>
            <input id="buildingName"
                   [ngClass]="fm.getStatusClass('buildingName')"
                   formControlName="buildingName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('buildingName')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="unitName" class="form-label">{{langService.map.lbl_unit_name}}</label>
            <input id="unitName"
                   [ngClass]="fm.getStatusClass('unitName')"
                   formControlName="unitName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('unitName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="street" class="form-label">{{langService.map.lbl_street}}</label>
            <input id="street"
                   [ngClass]="fm.getStatusClass('street')"
                   formControlName="street" class="form-control">
            <app-field-error-message [control]="fm.getFormField('street')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="zone" class="form-label">{{langService.map.lbl_zone}}</label>
            <input id="zone"
                   [ngClass]="fm.getStatusClass('zone')"
                   formControlName="zone" class="form-control">
            <app-field-error-message [control]="fm.getFormField('zone')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="orgNationality" class="form-label">{{langService.map.lbl_nationality}}</label>
            <select id="orgNationality" formControlName="orgNationality"
                    class="form-select"
                    [ngClass]="fm.getStatusClass('orgNationality')">
              <option value="">{{langService.map.lbl_none}}</option>
              <option *ngFor="let option of orgNationalityList"
                      [ngValue]="option.lookupKey">{{option.getName()}}</option>
            </select>
            <app-field-error-message [control]="fm.getFormField('orgNationality')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="poBoxNum" class="form-label">{{langService.map.lbl_po_box_num}}</label>
            <input id="poBoxNum"
                   [ngClass]="fm.getStatusClass('poBoxNum')"
                   formControlName="poBoxNum" class="form-control">
            <app-field-error-message [control]="fm.getFormField('poBoxNum')"></app-field-error-message>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" role="tabpanel" aria-labelledby="branches-tab"
         id="branches-tab-content" *ngIf="canShowTab(tabsData.branches)">
      <app-organization-branch [organization]="model"></app-organization-branch>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button dialogClose="welcome" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
