<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content" #dialogContent>
  <form [formGroup]="form" novalidate autocomplete="off">
    <tabs-list (onTabChange)="setDialogButtonsVisibility($event)">
      <tab [name]="tabsData.basic.name" [hasError]="fm.getFieldInvalidStatus('basic')"
           [template]="basicInfoTemplate" [tabWidth]="'600px'"
           [title]="langService.map.lbl_basic_info">{{langService.map.lbl_basic_info}}</tab>
      <tab [name]="tabsData.advanced.name" [hasError]="fm.getFieldInvalidStatus('advanced')"
           [template]="advancedInfoTemplate" [tabWidth]="'600px'"
           [title]="langService.map.advanced">{{langService.map.advanced}}</tab>
      <tab [name]="tabsData.branches.name" [template]="branchesTemplate"
           *ngIf="model.id" [title]="langService.map.lbl_org_branches">{{langService.map.lbl_org_branches}}</tab>
    </tabs-list>
    <ng-template #basicInfoTemplate style="width: 600px">
      <div formGroupName="basic">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="arName" for="arName"
                   class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName"
                   [ngClass]="fm.getStatusClass('basic.arName')"
                   formControlName="arName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.arName')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="enName" for="enName"
                   class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName"
                   [ngClass]="fm.getStatusClass('basic.enName')"
                   formControlName="enName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.enName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="orgUnitType" asteriskIfRequired="orgUnitType"
                   class="form-label">{{langService.map.lbl_org_unit_type}}</label>
            <!--<select id="orgUnitType" formControlName="orgUnitType"
                    class="form-select"
                    [ngClass]="fm.getStatusClass('basic.orgUnitType')">
              <option value="">{{langService.map.lbl_none}}</option>
              <option *ngFor="let option of orgUnitTypesList"
                      [ngValue]="option.lookupKey">{{option.getName()}}</option>
            </select>-->
            <ng-select [selectOnTab]="true" labelForId="orgUnitType" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="orgUnitType"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="orgUnitType"
                       [ngClass]="fm.getStatusClass('basic.orgUnitType')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of orgUnitTypesList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.orgUnitType')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="orgCode" for="orgCode"
                   class="form-label">{{langService.map.lbl_org_unit_code}}</label>
            <input id="orgCode"
                   [ngClass]="fm.getStatusClass('basic.orgCode')"
                   formControlName="orgCode" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.orgCode')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="status" asteriskIfRequired="status" class="form-label">{{langService.map.lbl_status}}</label>
            <!--<select id="status" formControlName="status"
                    class="form-select"
                    [ngClass]="fm.getStatusClass('basic.status')">
              <option value="">{{langService.map.lbl_none}}</option>
              <option *ngFor="let option of orgUnitStatusList"
                      [disabled]="option.isRetiredOrgStatus()"
                      [ngValue]="option.lookupKey">{{option.getName()}}</option>
            </select>-->
            <ng-select [selectOnTab]="true" labelForId="status" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="status"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="status"
                       [ngClass]="fm.getStatusClass('basic.status')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of orgUnitStatusList" [value]="option.lookupKey"
                         [disabled]="option.isRetiredOrgStatus()">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.status')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="email" for="email" class="form-label">{{langService.map.lbl_email}}</label>
            <input id="email"
                   [ngClass]="fm.getStatusClass('basic.email')"
                   formControlName="email" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.email')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber1" asteriskIfRequired="phoneNumber1"
                   class="form-label">{{langService.map.lbl_phone_1}}</label>
            <input id="phoneNumber1"
                   [ngClass]="fm.getStatusClass('basic.phoneNumber1')"
                   formControlName="phoneNumber1" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.phoneNumber1')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="phoneNumber2" class="form-label">{{langService.map.lbl_phone_2}}</label>
            <input id="phoneNumber2"
                   [ngClass]="fm.getStatusClass('basic.phoneNumber2')"
                   formControlName="phoneNumber2" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.phoneNumber2')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="address" class="form-label">{{langService.map.lbl_address}}</label>
            <textarea id="address"
                      [ngClass]="fm.getStatusClass('basic.address')"
                      formControlName="address" class="form-control">
            </textarea>
            <app-field-error-message [control]="fm.getFormField('basic.address')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="buildingName" for="buildingName"
                   class="form-label">{{langService.map.lbl_building_name}}</label>
            <input id="buildingName"
                   [ngClass]="fm.getStatusClass('basic.buildingName')"
                   formControlName="buildingName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.buildingName')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="unitName" for="unitName"
                   class="form-label">{{langService.map.lbl_unit_name}}</label>
            <input id="unitName"
                   [ngClass]="fm.getStatusClass('basic.unitName')"
                   formControlName="unitName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.unitName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="street" for="street" class="form-label">{{langService.map.lbl_street}}</label>
            <input id="street"
                   [ngClass]="fm.getStatusClass('basic.street')"
                   formControlName="street" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.street')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="zone" for="zone" class="form-label">{{langService.map.lbl_zone}}</label>
            <input id="zone"
                   [ngClass]="fm.getStatusClass('basic.zone')"
                   formControlName="zone" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.zone')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="city" asteriskIfRequired="city"
                   class="form-label">{{langService.map.city}}</label>
            <ng-select [selectOnTab]="true" labelForId="city" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="city"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="city"
                       [ngClass]="fm.getStatusClass('basic.city')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of cityList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.city')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="poBoxNum" class="form-label">{{langService.map.lbl_po_box_num}}</label>
            <input id="poBoxNum"
                   [ngClass]="fm.getStatusClass('basic.poBoxNum')"
                   formControlName="poBoxNum" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.poBoxNum')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="faxNumber" asteriskIfRequired="faxNumber"
                   class="form-label">{{langService.map.fax_number}}</label>
            <input id="faxNumber"
                   [ngClass]="fm.getStatusClass('basic.faxNumber')"
                   formControlName="faxNumber" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.faxNumber')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="hotLine" asteriskIfRequired="hotLine"
                   class="form-label">{{langService.map.hotline}}</label>
            <input id="hotLine"
                   [ngClass]="fm.getStatusClass('basic.hotLine')"
                   formControlName="hotLine" class="form-control">
            <app-field-error-message [control]="fm.getFormField('basic.hotLine')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
            <label for="registryCreator" asteriskIfRequired="registryCreator"
                   class="form-label">{{langService.map.registered_by}}</label>
            <ng-select [selectOnTab]="true" labelForId="registryCreator" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="registryCreator"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="registryCreator"
                       [ngClass]="fm.getStatusClass('basic.registryCreator')">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of orgUnitsList" [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message [control]="fm.getFormField('basic.orgNationality')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="registryDate" asteriskIfRequired="registryDate"
                   class="form-label">{{langService.map.first_registration_date}}</label>
            <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="registryDate"
                   formControlName="registryDate" class="form-control datepicker-field"
                   [ngClass]="fm.getStatusClass('basic.registryDate')">-->
            <input class="form-control" angular-mydatepicker #dpRegistryDate="angular-mydatepicker"
                   name="registryDate" formControlName="registryDate" id="registryDate" dateFix
                   [options]="dpOptionsPast" autocomplete="off" (click)="dpRegistryDate.toggleCalendar()"
                   [ngClass]="fm.getStatusClass('basic.registryDate')">
            <app-field-error-message [control]="fm.getFormField('basic.registryDate')"></app-field-error-message>
          </div>
        </div>
      </div>

      <!--<div class="col-sm-6 mb-4 position-relative ng-select-wrapper">
        <label for="orgNationality" asteriskIfRequired="orgNationality"
               class="form-label">{{langService.map.lbl_nationality}}</label>
        &lt;!&ndash;<select id="orgNationality" formControlName="orgNationality"
                class="form-select"
                [ngClass]="fm.getStatusClass('basic.orgNationality')">
          <option value="">{{langService.map.lbl_none}}</option>
          <option *ngFor="let option of orgNationalityList"
                  [ngValue]="option.lookupKey">{{option.getName()}}</option>
        </select>&ndash;&gt;
        <ng-select [selectOnTab]="true" labelForId="orgNationality" [clearable]="false"
                   placeholder="{{langService.map.select}}" id="orgNationality"
                   [notFoundText]="langService.map.msg_not_found"
                   formControlName="orgNationality"
                   [ngClass]="fm.getStatusClass('basic.orgNationality')">
          <ng-option value="">{{langService.map.lbl_none}}</ng-option>
          <ng-option *ngFor="let option of orgNationalityList" [value]="option.lookupKey">
            {{option.getName()}}
          </ng-option>
        </ng-select>
        <app-field-error-message [control]="fm.getFormField('basic.orgNationality')"></app-field-error-message>
      </div>-->
    </ng-template>
    <ng-template #advancedInfoTemplate style="width: 600px">
      <div formGroupName="advanced">
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="unifiedEconomicRecord" class="form-label">{{langService.map.unified_economic_record}}</label>
            <input id="unifiedEconomicRecord"
                   [ngClass]="fm.getStatusClass('advanced.unifiedEconomicRecord')"
                   formControlName="unifiedEconomicRecord" class="form-control">
            <app-field-error-message
              [control]="fm.getFormField('advanced.unifiedEconomicRecord')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="webSite" class="form-label">{{langService.map.website}}</label>
            <input id="webSite"
                   [ngClass]="fm.getStatusClass('advanced.webSite')"
                   formControlName="webSite" class="form-control">
            <app-field-error-message [control]="fm.getFormField('advanced.webSite')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="establishmentDate" class="form-label">{{langService.map.establishment_date}}</label>
            <!--<input id="establishmentDate" type="date"
                   [ngClass]="fm.getStatusClass('advanced.establishmentDate')"
                   formControlName="establishmentDate" class="form-control">-->
            <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="establishmentDate"
                   formControlName="establishmentDate" class="form-control datepicker-field"
                   [ngClass]="fm.getStatusClass('advanced.establishmentDate')">-->
            <input class="form-control" angular-mydatepicker #dpEstablishmentDate="angular-mydatepicker"
                   name="establishmentDate" formControlName="establishmentDate" id="establishmentDate" dateFix
                   [options]="dpOptionsNormal" autocomplete="off" (click)="dpEstablishmentDate.toggleCalendar()"
                   [ngClass]="fm.getStatusClass('advanced.establishmentDate')">
            <app-field-error-message
              [control]="fm.getFormField('advanced.establishmentDate')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="budgetClosureDate" class="form-label">{{langService.map.budget_closure_date}}</label>
            <!--<input id="budgetClosureDate" type="date"
                   [ngClass]="fm.getStatusClass('advanced.budgetClosureDate')"
                   formControlName="budgetClosureDate" class="form-control">-->
            <!--<input theme="dp-material" [dpDayPicker]="dateConfig" id="budgetClosureDate"
                   formControlName="budgetClosureDate" class="form-control datepicker-field"
                   [ngClass]="fm.getStatusClass('advanced.budgetClosureDate')">-->
            <input class="form-control" angular-mydatepicker #dpBudgetClosureDate="angular-mydatepicker"
                   name="budgetClosureDate" formControlName="budgetClosureDate" id="budgetClosureDate" dateFix
                   [options]="dpOptionsNormal" autocomplete="off" (click)="dpBudgetClosureDate.toggleCalendar()"
                   [ngClass]="fm.getStatusClass('advanced.budgetClosureDate')">
            <app-field-error-message
              [control]="fm.getFormField('advanced.budgetClosureDate')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="registryNumber" class="form-label">{{langService.map.registry_number}}</label>
            <input id="registryNumber"
                   [ngClass]="fm.getStatusClass('advanced.registryNumber')"
                   formControlName="registryNumber" class="form-control">
            <app-field-error-message [control]="fm.getFormField('advanced.registryNumber')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="orgUnitAuditor" class="form-label">{{langService.map.auditor}}</label>
            <input id="orgUnitAuditor"
                   [ngClass]="fm.getStatusClass('advanced.orgUnitAuditor')"
                   formControlName="orgUnitAuditor" class="form-control">
            <app-field-error-message [control]="fm.getFormField('advanced.orgUnitAuditor')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="linkToInternalSystem" class="form-label">{{langService.map.link_to_internal_system}}</label>
            <input id="linkToInternalSystem"
                   [ngClass]="fm.getStatusClass('advanced.linkToInternalSystem')"
                   formControlName="linkToInternalSystem" class="form-control">
            <app-field-error-message
              [control]="fm.getFormField('advanced.linkToInternalSystem')"></app-field-error-message>
          </div>
          <div class="col-sm-6 mb-4 position-relative">
            <label for="lawSubjectedName" class="form-label">{{langService.map.law_subjected_name}}</label>
            <input id="lawSubjectedName"
                   [ngClass]="fm.getStatusClass('advanced.lawSubjectedName')"
                   formControlName="lawSubjectedName" class="form-control">
            <app-field-error-message [control]="fm.getFormField('advanced.lawSubjectedName')"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-4 position-relative">
            <label for="boardDirectorsPeriod" class="form-label">{{langService.map.board_of_directors_period}}</label>
            <input id="boardDirectorsPeriod"
                   [ngClass]="fm.getStatusClass('advanced.boardDirectorsPeriod')"
                   formControlName="boardDirectorsPeriod" class="form-control">
            <app-field-error-message
              [control]="fm.getFormField('advanced.boardDirectorsPeriod')"></app-field-error-message>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #branchesTemplate>
      <app-organization-branch [organization]="model"></app-organization-branch>
    </ng-template>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="fm.displayFormValidity(dialogContent)"
          tooltip="{{langService.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="saveModel()"
          class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
