<div class="d-flex flex-column">
  <tabs-list [accordionView]="accordionView">
    <tab
      [name]="tabsData.basicInfo.name"
      [hasError]="getTabInvalidStatus('basicInfo')"
      [template]="basicInfoTabTemplate"
      [title]="lang.map.lbl_basic_info"
    ></tab>
    <tab
      [name]="tabsData.contectInfo.name"
      [hasError]="getTabInvalidStatus('contectInfo')"
      [template]="contectInfoTabTemplate"
      [title]="lang.map.lbl_contact_info"
    ></tab>
    <tab
      [name]="tabsData.nationalAddress.name"
      [hasError]="getTabInvalidStatus('nationalAddress')"
      [template]="nationalAddressTabTemplate"
      [title]="lang.map.lbl_national_address"
    ></tab>
    <tab
      [name]="tabsData.founderMember.name"
      [hasError]="getTabInvalidStatus('founderMember')"
      [template]="founderMemberTabTemplate"
      [title]="lang.map.lbl_founder_members"
    ></tab>
    <tab
      [name]="tabsData.contactOfficer.name"
      [hasError]="getTabInvalidStatus('contactOfficer')"
      [template]="contactOfficerTabTemplate"
      [title]="lang.map.contact_officers"
    ></tab>
    <tab
      [name]="tabsData.bankAccount.name"
      [hasError]="getTabInvalidStatus('bankAccount')"
      [template]="bankAccountTabTemplate"
      [title]="lang.map.bank_accounts"
    ></tab>
    <tab
    [name]="tabsData.realBeneficiary.name"
    [hasError]="getTabInvalidStatus('realBeneficiary')"
    [template]="realBeneficiaryTabTemplate"
    [title]="lang.map.lbl_real_beneficiary"
  ></tab>
  </tabs-list>

  <ng-template #basicInfoTabTemplate>
    <form [formGroup]="basicInfo" autocomplete="off">
      <div class="row">
        <!-- Request Type -->
        <div class="col-md-4 mb-4 position-relative">
          <label
            asteriskIfRequired="requestType"
            for="requestType"
            class="form-label"
            >{{ lang.map.request_type }}</label
          >
          <ng-select
            [selectOnTab]="true"
            labelForId="requestType"
            [clearable]="true"
            placeholder="{{ lang.map.select }}"
            id="requestType"
            (change)="handleRequestTypeChange($event, true)"
            [notFoundText]="lang.map.msg_not_found"
            appendTo="body"
            validationClasses="requestType"
            formControlName="requestType"
          >
            <ng-option
              *ngFor="let type of NPORequestTypesList"
              [value]="type.lookupKey"
              >{{ type.getName() }}</ng-option
            >
          </ng-select>
          <app-field-error-message
            controlName="requestType"
          ></app-field-error-message>
        </div>
        <!-- ar name -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="arabicName" for="arabicName" class="form-label">{{
            lang.map.lbl_arabic_name
          }}</label>
          <input
            id="arabicName"
            formControlName="arabicName"
            validationClasses="arabicName"
            class="form-control"
          />
          <app-field-error-message
            controlName="arabicName"
          ></app-field-error-message>
        </div>
        <!-- en name -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="englishName" for="englishName" class="form-label">{{
            lang.map.lbl_english_name
          }}</label>
          <input
            id="englishName"
            formControlName="englishName"
            validationClasses="englishName"
            class="form-control"
          />
          <app-field-error-message
            controlName="englishName"
          ></app-field-error-message>
        </div>
        <!-- clearance Name -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="clearanceName" for="clearanceName" class="form-label">{{
            lang.map.lbl_clearance_name
          }}</label>
          <input
            id="clearanceName"
            formControlName="clearanceName"
            validationClasses="clearanceName"
            class="form-control"
          />
          <app-field-error-message
            controlName="clearanceName"
          ></app-field-error-message>
        </div>
        <!-- registration number -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="registrationNumber" for="registrationNumber" class="form-label">{{
            lang.map.lbl_registration_number
          }}</label>
          <input
            id="registrationNumber"
            formControlName="registrationNumber"
            validationClasses="registrationNumber"
            class="form-control"
          />
          <app-field-error-message
            controlName="registrationNumber"
          ></app-field-error-message>
        </div>
        <!-- unified economic record -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="unifiedEconomicRecord" for="unifiedEconomicRecord" class="form-label">{{
            lang.map.unified_economic_record
          }}</label>
          <input
            id="unifiedEconomicRecord"
            formControlName="unifiedEconomicRecord"
            validationClasses="unifiedEconomicRecord"
            class="form-control"
          />
          <app-field-error-message
            controlName="unifiedEconomicRecord"
          ></app-field-error-message>
        </div>
        <!-- Activity Type -->
        <div class="col-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="activityType" for="activityType" class="form-label">{{
            lang.map.activity_type }}</label>
          <ng-select [selectOnTab]="true" placeholder="{{ lang.map.select }}"
            [notFoundText]="lang.map.msg_not_found" appendTo="body" id="activityType"
            validationClasses="activityType" formControlName="activityType">
            <ng-option *ngFor="let option of activityTypesList" [value]="option">{{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="activityType"></app-field-error-message>
        </div>
        <!-- Clearance Type -->
        <div class="col-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="clearanceType" for="clearanceType" class="form-label">{{
            lang.map.lbl_clearance_type }}</label>
          <ng-select [selectOnTab]="true" placeholder="{{ lang.map.select }}"
            [notFoundText]="lang.map.msg_not_found" appendTo="body" id="clearanceType"
            validationClasses="clearanceType" formControlName="clearanceType">
            <ng-option *ngFor="let option of NPODecisionsList" [value]="option">{{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="clearanceType"></app-field-error-message>
        </div>
        <!-- Disbandment Type -->
        <div class="col-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="disbandmentType" for="disbandmentType" class="form-label">{{
            lang.map.lbl_disbandment_type }}</label>
          <ng-select [selectOnTab]="true" placeholder="{{ lang.map.select }}"
            [notFoundText]="lang.map.msg_not_found" appendTo="body" id="disbandmentType"
            validationClasses="disbandmentType" formControlName="disbandmentType">
            <ng-option *ngFor="let option of NPODecisionsList" [value]="option">{{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="disbandmentType"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #contectInfoTabTemplate>
    <form [formGroup]="contectInfo" autocomplete="off">
      <div class="row">
        <!-- Email -->
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="email" for="email" class="form-label">{{lang.map.lbl_email}}</label>
          <input id="email" validationClasses="email" formControlName="email" trimInput class="form-control">
          <app-field-error-message controlName="email"></app-field-error-message>
        </div>
        <!-- phone -->
        <div class="col-md-6 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="phone"
                for="phone">{{lang.map.lbl_phone}}</label>
          <input id="phone" validationClasses="phone" formControlName="phone" class="form-control">
          <app-field-error-message controlName="phone"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #nationalAddressTabTemplate>
    <form [formGroup]="nationalAddress" autocomplete="off">
      <div class="row">
        <!-- zone number -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="zoneNumber" for="zoneNumber" class="form-label">{{
            lang.map.lbl_zone
          }}</label>
          <input
            id="zoneNumber"
            formControlName="zoneNumber"
            validationClasses="zoneNumber"
            class="form-control"
          />
          <app-field-error-message
            controlName="zoneNumber"
          ></app-field-error-message>
        </div>
        <!-- street number -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="streetNumber" for="streetNumber" class="form-label">{{
            lang.map.lbl_street
          }}</label>
          <input
            id="streetNumber"
            formControlName="streetNumber"
            validationClasses="streetNumber"
            class="form-control"
          />
          <app-field-error-message
            controlName="streetNumber"
          ></app-field-error-message>
        </div>
        <!-- building number -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="buildingNumber" for="buildingNumber" class="form-label">{{
            lang.map.building_number
          }}</label>
          <input
            id="buildingNumber"
            formControlName="buildingNumber"
            validationClasses="buildingNumber"
            class="form-control"
          />
          <app-field-error-message
            controlName="buildingNumber"
          ></app-field-error-message>
        </div>
        <!-- address -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="address" for="address" class="form-label">{{
            lang.map.lbl_address
          }}</label>
          <input
            id="address"
            formControlName="address"
            validationClasses="address"
            class="form-control"
          />
          <app-field-error-message
            controlName="address"
          ></app-field-error-message>
        </div>
        <!-- website -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="website" for="website" class="form-label">{{
            lang.map.website
          }}</label>
          <input
            id="website"
            formControlName="website"
            validationClasses="website"
            class="form-control"
          />
          <app-field-error-message
            controlName="website"
          ></app-field-error-message>
        </div>
        <!-- facebook -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="facebook" for="facebook" class="form-label">{{
            lang.map.lbl_facebook
          }}</label>
          <input
            id="facebook"
            formControlName="facebook"
            validationClasses="facebook"
            class="form-control"
          />
          <app-field-error-message
            controlName="facebook"
          ></app-field-error-message>
        </div>
        <!-- twitter -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="twitter" for="twitter" class="form-label">{{
            lang.map.lbl_twitter
          }}</label>
          <input
            id="twitter"
            formControlName="twitter"
            validationClasses="twitter"
            class="form-control"
          />
          <app-field-error-message
            controlName="twitter"
          ></app-field-error-message>
        </div>
        <!-- instagram -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="instagram" for="instagram" class="form-label">{{
            lang.map.lbl_instagram
          }}</label>
          <input
            id="instagram"
            formControlName="instagram"
            validationClasses="instagram"
            class="form-control"
          />
          <app-field-error-message
            controlName="instagram"
          ></app-field-error-message>
        </div>
        <!-- snapChat -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="snapChat" for="snapChat" class="form-label">{{
            lang.map.lbl_snapchat
          }}</label>
          <input
            id="snapChat"
            formControlName="snapChat"
            validationClasses="snapChat"
            class="form-control"
          />
          <app-field-error-message
            controlName="snapChat"
          ></app-field-error-message>
        </div>
        <!-- youTube -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="youTube" for="youTube" class="form-label">{{
            lang.map.lbl_youtube
          }}</label>
          <input
            id="youTube"
            formControlName="youTube"
            validationClasses="youTube"
            class="form-control"
          />
          <app-field-error-message
            controlName="youTube"
          ></app-field-error-message>
        </div>
        <!-- fax -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="fax" for="fax" class="form-label">{{
            lang.map.fax_number
          }}</label>
          <input
            id="fax"
            formControlName="fax"
            validationClasses="fax"
            class="form-control"
          />
          <app-field-error-message
            controlName="fax"
          ></app-field-error-message>
        </div>
        <!-- hotline -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="hotline" for="hotline" class="form-label">{{
            lang.map.hotline
          }}</label>
          <input
            id="hotline"
            formControlName="hotline"
            validationClasses="hotline"
            class="form-control"
          />
          <app-field-error-message
            controlName="hotline"
          ></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #founderMemberTabTemplate>
  </ng-template>

  <ng-template #contactOfficerTabTemplate>
  </ng-template>

  <ng-template #bankAccountTabTemplate>
    <bank-account
      #bankAccountsTab
      [caseType]="model?.caseType"
      [countriesList]="countriesList"
      [list]="model?.bankAccountList || []"
      (readyEvent)="bankDetailsTabStatus = $event"
      ></bank-account>
      <!-- [readonly]="isCancelRequestType() || readonly" -->
  </ng-template>

  <ng-template #realBeneficiaryTabTemplate>
  </ng-template>
</div>
