<app-table #table sortableTable [data]="list" [columns]="displayedColumns"
          [useSearchToFilter]="false">
          <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
            <ng-container cdkColumnDef="extra-header">
              <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                <table-header tableTitle="out_of_office" [add$]="add$" [allowAdd]="!list.length"
                [skipSearch]="true"
                [skipClearSort]="true" >
                </table-header>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="vacationFrom">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.vacation_date_from}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.vacationFrom}} </td>
            </ng-container>
            <ng-container cdkColumnDef="vacationTo">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.vacation_date_to}}</th>
              <td cdk-cell *cdkCellDef="let row"> {{row.vacationTo}} </td>
            </ng-container>
            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
              <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
                <grid-actions [record]="row" [actions]="actions" [itemIndex]="i" ></grid-actions>
              </td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
            <tr cdk-header-row *cdkHeaderRowDef="table.columns" class="table-row-header"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: table.columns;" ></tr>
            <tr *cdkNoDataRow>
              <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
            </tr>
          </table>
          <!-- <app-paginator #paginator></app-paginator> -->
          <context-menu-item #menu [actions]="actions"></context-menu-item>

        </app-table>
