<div
  class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between"
>
  <h1 class="h6 text-white">{{ lang.map.approval_external_org_affiliation }}</h1>
  <button
    type="button"
    class="btn-close btn-close-white"
    tabindex="-1"
    dialogClose
    aria-label="Close"
  ></button>
</div>
<div class="dialog-content" [ngClass]="isCancelRequestType() ? 'no-fixed-height' : 'w800px'">
  <div class="row">
    <form [formGroup]="approvalForm" *ngIf="!isCancelRequestType()">
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="customTerms" for="customTerms">{{lang.map.custom_terms}}</label>
        <textarea name="customTerms" formControlName="customTerms"
          validationClasses="customTerms" id="customTerms" rows="4" class="form-control"></textarea>
      </div>
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="publicTerms" for="publicTerms">{{lang.map.public_terms}}</label>
        <textarea name="publicTerms" formControlName="publicTerms"
          validationClasses="publicTerms" id="publicTerms" rows="4" class="form-control"></textarea>
      </div>
      <div class="col-sm-12 mb-4 position-relative">
        <label class="form-label me-2" for="conditionalLicenseIndicator">{{lang.map.conditional_license_indicator}}</label>
        <input type="checkbox" formControlName="conditionalLicenseIndicator" id="conditionalLicenseIndicator" class="form-check-input">
      </div>
      <div class="mb-4 position-relative">
        <label
          for="followUpDate"
          asteriskIfRequired="followUpDate"
          class="form-label"
          >{{ lang.map.follow_up_date }}</label
        >
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <div
            class="form-control"
            formControlName="followUpDate"
            id="followUpDate"
            [options]="datepickerOptionsMap.followUpDate"
            (click)="openDateMenu(dpfollowUpDate)"
            #dpfollowUpDate="angular-mydatepicker"
            angular-mydatepicker
            validationClasses="followUpDate"
          ></div>
        </div>
      </div>
    </form>
    <div class="col-sm-12 mb-4 position-relative">
      <label class="form-label" asteriskIfRequired [control]="comment" for="comment">{{lang.map.comment}}</label>
      <textarea name="comment" [formControl]="comment" validationClasses [control]="comment" id="comment" rows="4"
                class="form-control"></textarea>
      <app-field-error-message [control]="comment"></app-field-error-message>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button
    class="btn btn-primary"
    (click)="action$.next(null)"
  >
    {{ lang.map.approve_task }}
  </button>
  <button dialogClose class="btn btn-secondary">
    {{ lang.map.btn_close }}
  </button>
</div>
