<ng-container *ngIf="hideItemLocation">
  <ng-container [ngTemplateOutlet]="logTableTemplate"
    [ngTemplateOutletContext]="{data: logsAll, displayColumns: displayedColumns}">
  </ng-container>
</ng-container>

<ng-container *ngIf="!hideItemLocation">
  <tabs-list class="position-relative" (onTabChange)="tabChanged($event)">
    <button [tooltip]="lang.map.btn_reload" (click)="reload$.next()" class="btn icon-btn position-absolute top-0 end-0">
      <i class="mdi mdi-reload text-primary"></i></button>
    <tab [template]="logTemplate" name="logs_view" [title]="lang.map.logs"></tab>
    <tab name="location" [template]="locationTemplate" [title]="lang.map.item_location"></tab>
  </tabs-list>
</ng-container>

<ng-template #logTemplate>
  <!-- Not Categorized -->
  <div *ngIf="!categorizeLogs">
    <ng-container [ngTemplateOutlet]="logTableTemplate"
      [ngTemplateOutletContext]="{data: logsAll, displayColumns: displayedColumns}">
    </ng-container>
  </div>

  <!-- Categorized -->
  <div *ngIf="categorizeLogs">
    <div *ngIf="displayCategorizedAs === 'one-page'">
      <div *ngIf="!hideViewedAction">
        <div class="row">
          <div class="col-sm-12">
            <h6 class="text-primary">{{lang.map.action_viewed}}</h6>
            <hr>
          </div>
        </div>
        <ng-container [ngTemplateOutlet]="logTableTemplate"
          [ngTemplateOutletContext]="{data: logsViewed, displayColumns: displayedColumnsViewed}">
        </ng-container>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-primary">{{lang.map.action_updated}}</h6>
          <hr>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="logTableTemplate"
        [ngTemplateOutletContext]="{data: logsUpdated, displayColumns: displayedColumnsUpdated}">
      </ng-container>

      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-primary">{{lang.map.action_others}}</h6>
          <hr>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="logTableTemplate"
        [ngTemplateOutletContext]="{data: logsOthers, displayColumns: displayedColumnsOthers}">
      </ng-container>
    </div>

    <div *ngIf="displayCategorizedAs === 'tabs'">
      <tabs-list [accordionView]="accordionView">
        <tab name="view_actions" [template]="logTemplateViewed" [title]="lang.map.action_viewed"
          *ngIf="!hideViewedAction"></tab>
        <tab name="update_actions" [template]="logTemplateUpdated" [title]="lang.map.action_updated"></tab>
        <tab name="other_actions" [template]="logTemplateOthers" [title]="lang.map.action_others"></tab>
      </tabs-list>
      <ng-template #logTemplateViewed>
        <ng-container [ngTemplateOutlet]="logTableTemplate"
          [ngTemplateOutletContext]="{data: logsViewed, displayColumns: displayedColumnsViewed}">
        </ng-container>
      </ng-template>
      <ng-template #logTemplateUpdated>
        <ng-container [ngTemplateOutlet]="logTableTemplate"
          [ngTemplateOutletContext]="{data: logsUpdated, displayColumns: displayedColumnsUpdated}">
        </ng-container>
      </ng-template>
      <ng-template #logTemplateOthers>
        <ng-container [ngTemplateOutlet]="logTableTemplate"
          [ngTemplateOutletContext]="{data: logsOthers, displayColumns: displayedColumnsOthers}">
        </ng-container>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #logTableTemplate let-data="data" let-tableColumns="displayColumns">
  <div class="table-responsive">
    <app-table #table sortableTable [paginator]="paginator" [data]="data" [columns]="tableColumns">
      <table class="table border border-1" cdk-table [dataSource]="table.dataSource">
        <ng-container cdkColumnDef="action">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.action_type}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.actionInfo.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="user">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.user}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.userFromInfo?.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="toUser">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.to_user}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.userToInfo.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="addedOn">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.action_date}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.addedOn|date}} </td>
        </ng-container>
        <ng-container cdkColumnDef="time">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.action_time}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.addedOn|date:"shortTime"}} </td>
        </ng-container>
        <ng-container cdkColumnDef="comment">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.comment}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.comment}} </td>
        </ng-container>
        <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: table.columns;"></tr>
        <!--suppress HtmlUnknownBooleanAttribute -->
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>
      <app-paginator #paginator [length]="data.length"></app-paginator>
    </app-table>
  </div>
</ng-template>

<ng-template #locationTemplate>
  <div class="table-responsive">
    <app-table #table2 [data]="locations">
      <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table2.dataSource">
        <ng-container cdkColumnDef="location">
          <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.item_location}}</th>
          <td cdk-cell *cdkCellDef="let row" class="d-flex justify-content-between">
            {{row.getName()}}
            <button [tooltip]="lang.map.return_from_department" *ngIf="displayReturnBtn && !isMainTask(row.tkiid)" (click)="terminate(row.tkiid)"
              class="btn icon-btn">
              <i class="mdi mdi-undo-variant text-primary"></i></button>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayLocationColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayLocationColumns;"></tr>
        <!--suppress HtmlUnknownBooleanAttribute -->
        <tr *cdkNoDataRow>
          <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
      </table>
    </app-table>
  </div>
</ng-template>
