<div
  class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between"
>
  <h1 class="h6 text-white">{{ lang.map.add_new_Employee_data }}</h1>
  <button
    type="button"
    class="btn-close btn-close-white"
    tabindex="-1"
    dialogClose
    aria-label="Close"
  ></button>
</div>
<div class="dialog-content no-fixed-height">
  <form style="width: 800px" [formGroup]="form"></form>
</div>
<div class="dialog-actions">
  <div class="flex-grow-1"></div>
  <button dialogClose class="btn btn-primary">
    {{ lang.map.btn_save }}
  </button>
  <button dialogClose class="btn btn-secondary">
    {{ lang.map.btn_close }}
  </button>
</div>
