<script src="followup-comment-popup.component.ts"></script>
<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{lang.map.followup_comments}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content" #dialogContent style="width: 600px">
  <div class="d-flex flex-column">
    <ng-container *ngFor="let comment of comments; trackBy: trackCommentBy">
      <div class="d-flex flex-row" [ngClass]="isCurrentUser(comment) ? 'justify-content-end': 'justify-content-start'">
        <div class="mb-2 border border-1 rounded rounded-2 shadow shadow-sm p-2 align-content-end"
             [ngClass]="isCurrentUser(comment) ? 'own-comment align-content-start': 'other-comment align-content-end'">
          <div>
            <div *ngIf="isInternal()">
              <p class="name">{{comment.generalUseInfo?.getName()}}</p>
              <hr>
            </div>
            <p class="fw-normal text-wrap">{{comment.comment}}</p>
            <hr>
            <div class="d-flex flex-row justify-content-end">
              <span class="date fst-italic">{{comment.statusDateModified | date :'medium'}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div [formGroup]="form" class="dialog-actions">
  <div class="d-flex flex-grow-1">
        <textarea name="comment" formControlName="comment" validationClasses="comment" id="comment" rows="2"
                  class="form-control"></textarea>
    <app-field-error-message controlName="comment"></app-field-error-message>
  </div>
  <button [disabled]="form.invalid"
          (click)="save$.next()" class="btn btn-primary bottom">{{lang.map.send}}</button>
</div>
