#login-logo {
  height: 150px;
  width: 150px;
}

#logo-image {
  max-width: 150px;
}

.view-password-btn {
  background-color: transparent;
  position: absolute;
  border: none;
  bottom: 2px;
  right: 2px;
  z-index: 4;
}

:host-context(html[dir="rtl"]) {
  .view-password-btn {
    right: auto;
    left: 2px;
  }
}

.nas-logo {
  height: 60px !important;
}

#login-card {
  max-width: 100%;
  width: 400px;
}
.lang-icon {
  width: 20px;
  margin: 0 5px;
}
#login-wrapper {
  background-size: cover;
}
