#login-logo {
  height: 150px;
  width: 150px;
}

#logo-image {
  max-width: 250px;
}

#view-password-btn {
  background-color: transparent;
  position: absolute;
  border: none;
  bottom: 2px;
  right: 2px;
  z-index: 4;
}

:host-context(html[dir="rtl"]) {
  #view-password-btn {
    right: auto;
    left: 2px;
  }
}
.nas-logo {
  width: 60px !important;
}
.lang-icon {
  width: 20px;
  margin: 0 5px;
}
