<div class="row">
  <div class="col-12 d-flex align-items-center">
    <h1 class="h6 text-primary m-0 d-inline-block">{{langService.map[pageTitle]}}</h1>
    <button class="btn btn-link outline-none" *ngIf="isAddAvailable"
            tooltip="{{langService.map.btn_add}}" (click)="clickOnNew$.next(null)">
      <i class="mdi mdi-plus-box"></i></button>
    <button class="btn btn-link" *ngIf="isReloadAvailable"
            tooltip="{{langService.map.btn_reload}}" (click)="clickOnReload$.next(null)">
      <i class="mdi mdi-reload"></i></button>
  </div>
</div>
