<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{ lang.map.add_fund_amount }}</h1>
  <button type="button" class="btn-close btn-close-white" tabindex="-1" dialogClose="" aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height min-w400px">
  <form novalidate autocomplete="off" [formGroup]="form">
    <div class="col-sm-12 mb-4 position-relative">
      <label asteriskIfRequired="collectedAmount" for="collectedAmount"
        class="form-label">{{ lang.map.collected_amount }}</label>
      <input id="collectedAmount" validationClasses="collectedAmount" formControlName="collectedAmount" class="form-control" type="number" trimInput>
      <app-field-error-message controlName="collectedAmount"></app-field-error-message>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <div class="flex-grow-1"></div>
  <button (click)="save$.next()" class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button dialogClose="" class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>