<div class="d-flex flex-column">
  <tabs-list [accordionView]="accordionView" [hasForm]="true" (onTabChange)="onTabChange($event)">
    <tab
      [name]="tabsData.basicInfo.name"
      [hasError]="getTabInvalidStatus('basicInfo')"
      [template]="basicInfoTabTemplate"
      [title]="lang.map.lbl_basic_info"
    ></tab>
    <tab
      [name]="tabsData.employeeInfo.name"
      [hasError]="getTabInvalidStatus('employeeInfo')"
      [template]="employeeInfoTabTemplate"
      [title]="lang.map.employee_data"
    ></tab>
    <tab
      [name]="tabsData.attachments.name" [hideIcon]="true"
      *ngIf="!accordionView"
      [template]="attachmentsTab"
      [title]="lang.map.attachments"
      [hasError]="getTabInvalidStatus('attachments')"
    ></tab>
  </tabs-list>

  <ng-template #basicInfoTabTemplate>
    <fieldset [disabled]="readonly">
      <form [formGroup]="form" autocomplete="off">
        <div class="row">
          <div class="col-12 col-md-6 mb-4 position-relative">
            <label
              asteriskIfRequired="category"
              for="category"
              class="form-label"
              >{{ lang.map.order_type }}</label
            >
            <ng-select
              [selectOnTab]="true"
              placeholder="{{ lang.map.select }}"
              [readonly]="!isEditRequestTypeAllowed()"
              [notFoundText]="lang.map.msg_not_found"
              appendTo="body"
              id="category"
              validationClasses="category"
              formControlName="category"
            >
              <ng-option
                *ngFor="let option of EmploymentCategory"
                [value]="option.lookupKey"
                >{{ option.getName() }}</ng-option
              >
            </ng-select>
            <app-field-error-message
              controlName="category"
            ></app-field-error-message>
          </div>
          <div class="col-12 col-md-6 mb-4 position-relative">
            <label
              asteriskIfRequired="requestType"
              for="requestType"
              labelForId="requestType"
              class="form-label"
              >{{ lang.map.request_type }}</label
            >
            <ng-select
              [selectOnTab]="true"
              placeholder="{{ lang.map.select }}"
              [readonly]="!isEditRequestTypeAllowed()"
              [notFoundText]="lang.map.msg_not_found"
              appendTo="body"
              (change)="handleRequestTypeChange($event, true);"
              id="requestType"
              validationClasses="requestType"
              formControlName="requestType"
            >
              <ng-option
                *ngFor="let option of getRequestTypeList()"
                [value]="option.lookupKey"
                >{{ option.getName() }}</ng-option
              >
            </ng-select>
            <app-field-error-message
              controlName="requestType"
            ></app-field-error-message>
          </div>
          <div class="col-12 mb-4 position-relative">
            <label
              asteriskIfRequired="description"
              for="description"
              class="form-label"
              >{{ lang.map.lbl_description }}</label
            >
            <textarea
              rows="5"
              id="description"
              validationClasses="description"
              formControlName="description"
              class="form-control"
              trimInput
            ></textarea>
            <app-field-error-message
              controlName="description"
            ></app-field-error-message>
          </div>
        </div>
      </form>
    </fieldset>
  </ng-template>

  <ng-template #employeeInfoTabTemplate>
    <div class="row">
      <div
        class="col-12 mb-2 d-flex justify-content-between align-items-end"
        *ngIf="category.value && requestTypeField.value"
      >
      <div>
          <button
            [ngClass]="{isDisabled: !isNewRequestType() && !employees.length}"
            class="btn btn-link outline-none d-flex align-items-center"
            [disabled]="!isNewRequestType() && !employees.length"
            [tooltip]="isEditRequestTypeAllowed() && isNewRequestType() ? lang.map.btn_add : lang.map.btn_edit"
            (click)="openForm()">
            <h1 class="h6 m-0 text-primary d-inline-block me-2">{{isEditRequestTypeAllowed() && isNewRequestType()
              ? lang.map.adding_employees
              : lang.map.employees_details}}</h1>
            <i class="mdi" [class]="isEditRequestTypeAllowed() && isNewRequestType() ? 'mdi-plus-box' : 'mdi-pen'"></i></button>
        </div>
        <form
          class="d-flex align-items-end"
          [formGroup]="searchCriteriaForm"
          *ngIf="isCreateOperation()"
        >
          <div>
            <label for="passportNumber" class="form-label">{{
              lang.map.passport_number
            }}</label>
            <div class="input-group">
              <input
                formControlName="passportNumber"
                [readonly]="isNewRequestType()"
                trimInput
                type="text"
                class="form-control"
                id="passportNumber"
              />
            </div>
          </div>
          <div class="ms-3">
            <label for="identificationNumber" class="form-label">{{
              lang.map.identification_number
            }}</label>
            <div class="input-group">
              <input
                formControlName="identificationNumber"
                [readonly]="isNewRequestType()"
                trimInput
                type="text"
                class="form-control"
                id="identificationNumber"
              />
            </div>
          </div>
          <div class="ms-3">
            <button
              type="button"
              class="input-group-text"
              [disabled]="
                isNewRequestType() ||
                !(identificationNumber.value || passportNumber.value)
              "
              (click)="CriteriaSearch()"
            >
              <i class="mdi {{ fileIconsEnum.SEARCH }} text-primary"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-12">
        <app-employees-data
          #ETable
          [employees]="employees"
          [actions]="[]"
          [model]="model!"
          [formProperties]="formProperties"
          (attachmentHandlerEmitter)="registerAttachmentHandler($event)"
        ></app-employees-data>
      </div>
    </div>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService" [model]="model"
                 [load]="loadAttachments" [formProperties]="formProperties"></attachments>
  </ng-template>
</div>
