<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form class="w800px" novalidate autocomplete="off" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="documentTitle" for="documentTitle"
               class="form-label">{{lang.map.attachment_type}}</label>
        <input id="documentTitle" validationClasses="documentTitle"
               formControlName="documentTitle" class="form-control" trimInput>
        <app-field-error-message controlName="documentTitle"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="description" for="description"
               class="form-label">{{lang.map.lbl_description}}</label>
        <input id="description" validationClasses="description"
               formControlName="description" class="form-control" trimInput>
        <app-field-error-message controlName="description"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label class="form-label" for="isPublished">{{lang.map.published}}</label>
        <div class="form-check form-switch form-switch-container">
          <input class="form-check-input" type="checkbox" id="isPublished"
                 formControlName="isPublished">
          <label
            class="form-check-label">{{isPublished.value ? lang.map.lbl_yes : lang.map.lbl_no}}</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <file-uploader #fileUploaderComponent [labelKey]="'file'" [allowedExtensions]="allowedExtensions" [readonly]="readonly"
                       [isRequired]="true" (fileUploadEvent)="setAttachmentFile($event)"></file-uploader>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="!isValidForm(form)" *ngIf="saveVisible" (click)="save()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
