.predefined-dialog-icon {
  & > i {
    font-size: 55px;
  }
}

.predefined-dialog-content {
  text-align: center;
  white-space: pre-wrap;
  padding: 0 15px;
}

.dialog-actions {
  & > * {
    margin: 0 5px;
  }
}
