<div class="dialog-content no-fixed-height">
  <div class="predefined-dialog-close-icon position-relative d-flex justify-content-end">
    <button *ngIf="config.showCloseIcon" type="button" class="btn-close position-absolute"
            tabindex="-1" [dialogClose]="userClickOn.CLOSE" aria-label="Close"></button>
  </div>
  <div class="predefined-dialog-icon d-flex align-items-center justify-content-center"><i
    class="mdi {{typeList[type].icon}} {{typeList[type].textClass}}"></i></div>
  <div [innerHTML]="data"
       class="predefined-dialog-content d-flex flex-column align-items-center justify-content-center"></div>
</div>
<div class="dialog-actions justify-content-center">
  <button class="btn btn-primary shadow" [dialogClose]="userClickOn.YES">{{langService.map[config.actionBtn]}}</button>
  <button class="btn btn-warning shadow" *ngIf="type === 'confirmWithThree'"
          [dialogClose]="userClickOn.THIRD_BTN">{{langService.map[config.thirdBtn]}}</button>
  <button class="btn btn-secondary shadow" *ngIf="type === 'confirm' || type === 'confirmWithThree'"
          [dialogClose]="userClickOn.NO">{{langService.map[config.cancelBtn]}}</button>
</div>
