<div class="row">
  <div class="d-flex align-items-center justify-content-start position-relative">
    <input type="hidden" *ngIf="control" validationClasses="" [control]="control!">
    <app-field-error-message [absolute]="false" class="flex-grow-1" *ngIf="control"
                             [control]="control"></app-field-error-message>
  </div>
  <app-table #table sortableTable
             [useSearchToFilter]="true"
             [data]="value"
             [columns]="displayedColumns">
    <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header tableTitle="templates" [add$]="addTemplate$" [allowAdd]="!disabled || !isUpdateRequestType()" [skipClearSort]="true" [skipSearch]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="templateName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.templateName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="templateCost">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.template_cost}}</th>
        <td cdk-cell
            *cdkCellDef="let row"> {{row.templateCost| mask: inputMaskPatterns.SEPARATOR : {thousandSeparator:inputMaskPatterns.THOUSAND_SEPARATOR}  }} </td>
      </ng-container>
      <ng-container cdkColumnDef="executionRegion">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.execution_country}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.executionCountryInfo ? row.executionCountryInfo.getName() : ''}} </td>
      </ng-container>
      <ng-container cdkColumnDef="arabicName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.arabic_name}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.arabicName}}</td>
      </ng-container>
      <ng-container cdkColumnDef="englishName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.english_name}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.englishName}}</td>
      </ng-container>
      <ng-container cdkColumnDef="region">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.region}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.region}} </td>
      </ng-container>
      <ng-container cdkColumnDef="beneficiaryCountry">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.beneficiary_country}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.beneficiaryCountryInfo ? row.beneficiaryCountryInfo.getName() : ''}} </td>
      </ng-container>
      <ng-container cdkColumnDef="location">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.location}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <button (click)="openTemplateLocation(row)" class="btn icon-btn">
            <i class="mdi text-primary mdi-map-marker"></i>
          </button>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="projectCost">
        <th cdk-header-cell style="width:120px" *cdkHeaderCellDef> {{lang.map.project_total_cost}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.projectTotalCost | mask: inputMaskPatterns.SEPARATOR : {thousandSeparator:inputMaskPatterns.THOUSAND_SEPARATOR} }} </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell style="width:200px" *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row">
          <button [disabled]="disabled" (click)="!disabled && editTemplate(row)" class="btn p-0 icon-btn">
            <i class="mdi text-primary mdi-pen"></i>
          </button>
          <button  (click)="viewTemplate(row)" class="btn icon-btn">
            <i class="mdi text-primary mdi-eye"></i>
          </button>
          <button [disabled]="disabled || isUpdateRequestType()||disableRemove" (click)="!disabled && !isUpdateRequestType() && removeTemplate(row)" class="btn p-0 icon-btn">
            <i class="mdi text-primary mdi-trash-can"></i>
          </button>
          <button  (click)="viewProjectModel(row)" [tooltip]="this.lang.map.template_file" class="btn icon-btn">
            <i class="mdi text-primary mdi-file-eye"></i>
          </button>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="20">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>

