<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
    <h1 class="h6 text-white">{{lang.map.lbl_external_specialists}}</h1>
    <button type="button" class="btn-close btn-close-white" tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height" style="width: 600px">
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired [control]="control"
                for="incidenceText">{{lang.map.lbl_incidence_text}}</label>
            <input id="incidenceText" [formControl]="control" [control]="control" validationClasses class="form-control"
                [readOnly]="readonly">
            <app-field-error-message [control]="control"></app-field-error-message>
        </div>
    </div>



</div>
<div class="dialog-actions">
    <div class="flex-grow-1"></div>
    <button (click)="control.valid && save()" [disabled]="control.invalid"
        class="btn btn-primary">{{lang.map.btn_save}}</button>
    <button dialogClose class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>