<ng-container *ngIf="showForm">

  <div [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="financialTransferProjectControl" asteriskIfRequired [control]="financialTransferProjectControl"
          class="form-label">{{lang.map.lbl_projects}}</label>
        <ng-select [selectOnTab]="true" labelForId="financialTransferProjectControl" [clearable]="true"
          [formControl]="financialTransferProjectControl" placeholder="{{lang.map.select}}"
          id="financialTransferProjectControl" [notFoundText]="lang.map.msg_not_found" [readonly]="readonly"
          appendTo="body" validationClasses [control]="financialTransferProjectControl">
          <ng-option *ngFor="let option of approvedFinancialTransferProjects" [value]="option.id">
            {{option.getName()}}
          </ng-option>
        </ng-select>
        <app-field-error-message controlName="financialTransferProjectControl"></app-field-error-message>
      </div>

      <!-- qatariTransactionAmount -->
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="qatariTransactionAmount" for="qatariTransactionAmount"
          class="form-label">{{lang.map.qatari_riyal_transaction_amount}}</label>
        <input id="qatariTransactionAmount" validationClasses="qatariTransactionAmount"
          formControlName="qatariTransactionAmount" trimInput class="form-control">
        <app-field-error-message controlName="qatariTransactionAmount"></app-field-error-message>
      </div>
      <!-- notes -->
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="notes" for="notes" class="form-label">{{lang.map.notes}}</label>
        <input id="notes" validationClasses="notes" formControlName="notes" trimInput class="form-control">
        <app-field-error-message controlName="notes"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label asteriskIfRequired="fullSerial" for="fullSerial" class="form-label">{{lang.map.serial_number}}</label>
        <input id="fullSerial" validationClasses="fullSerial" formControlName="fullSerial" trimInput readonly
          class="form-control">
        <app-field-error-message controlName="fullSerial"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="projectTotalCost" asteriskIfRequired="projectTotalCost"
          class="form-label">{{lang.map.project_total_cost}}</label>
        <span id="projectTotalCost" class="form-control input-disabled"
          [innerHTML]="(selectedProject && selectedProject.projectTotalCost || '0') | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR"></span>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="transferAmount" asteriskIfRequired="transferAmount"
          class="form-label">{{lang.map.transferred_amount}}</label>
        <span id="transferAmount" class="form-control input-disabled"
          [innerHTML]="(selectedProject && selectedProject.transferAmount || '0') | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR "></span>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="remainingAmount" asteriskIfRequired="remainingAmount"
          class="form-label">{{lang.map.remaining_amount}}</label>
        <span id="remainingAmount" class="form-control input-disabled"
          [innerHTML]="(selectedProject && selectedProject.remainingAmount || '0') | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR"></span>
      </div>
      <div class="col-sm-12 col-md-4 mb-4 position-relative">
        <label for="dueAmount" asteriskIfRequired="dueAmount" class="form-label">{{lang.map.due_amount}}</label>
        <span id="dueAmount" class="form-control input-disabled"
          [innerHTML]="(selectedProject && selectedProject.dueAmount || '0') | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR"></span>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button (click)="save()" *ngIf="!readonly" class="btn btn-primary m-2">{{!!editItem ? lang.map.btn_save :
        lang.map.btn_add}}</button>
      <button (click)="cancel()" class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
    </div>

  </div>

</ng-container>

<div class="row" [hidden]="showForm">
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-4 position-relative">
      <label for="totalQatariRiyalTransactions"
        class="form-label">{{lang.map.total_qatari_riyal_transaction_amount}}</label>
      <span id="totalQatariRiyalTransactions" class="form-control input-disabled"
        [innerHTML]="(totalQatariRiyalTransactions || '&nbsp;')| mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR"></span>
    </div>
  </div>
  <app-page-header pageTitle="lbl_projects" [clickOnNew$]="add$" [addPermission]="addAllowed()">
  </app-page-header>
  <app-grid-search (searchTextEvent)="filterControl.setValue($event)"></app-grid-search>
</div>

<div class="row pt-3" *ngIf="!showForm">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table sortableTable [paginator]="paginator" [data]="list" [columns]="columns"
        [filter]="filterControl.value" [useSearchToFilter]="true">
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="fullSerial">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.serial_number}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.fullSerial || ''}} </td>
          </ng-container>
          <ng-container cdkColumnDef="qatariTransactionAmount">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.qatari_riyal_transaction_amount}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.qatariTransactionAmount | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
          </ng-container>
          <ng-container cdkColumnDef="notes">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.notes}}</th>
            <td cdk-cell *cdkCellDef="let row">
              {{row.notes || ''}} </td>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="i"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns"></tr>
          <tr cdk-row [ngClass]="isTransferAmountGreaterThenDueAmount(row) ? 'risk' : '' "
            *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"></tr>
          <tr *cdkNoDataRow>
            <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
          </tr>
        </table>
        <app-paginator #paginator></app-paginator>
      </app-table>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
