<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table sortableTable [paginator]="paginator" [data]="requests" [columns]="displayedColumns"
                 [filter]="filterControl.value" [useSearchToFilter]="true">
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_under_process"
                            [sort]="table.dataSource.sort"
                            (textChange)="filterControl.setValue($event)"
                            [reload$]="reload$"></table-header>
            </th>
          </ng-container>

          <ng-container cdkColumnDef="requestFullSerial">
            <th cdk-header-cell *cdkHeaderCellDef class="serial-column"
                sortable-header> {{langService.map.request_number}}</th>
            <td cdk-cell *cdkCellDef="let row" class="serial-column">
              <div class="d-flex flex-row">
                <span class="dir-ltr d-inline-block flex-grow-1 text-start"> {{row.requestFullSerial}} </span>
                <i class="mdi {{fileIconsEnum.HIDDEN}} text-primary" *ngIf="row.isPartial"
                   tooltip="{{langService.map.partial_request}}"></i>
              </div>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="requestDate">
            <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.requestDate"> {{langService.map.request_date}}</th>
            <td cdk-cell *cdkCellDef="let row" class="date-column"><span>{{row.creationDateString}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="organization">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.organization"> {{langService.map.lbl_organization}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.orgInfo.getName()}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="requestStatus">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.requestStatus"> {{langService.map.lbl_status}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.requestStatusInfo.getName()}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="requestedAidAmount">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.request_aid_amount}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <span>{{row.requestedAidAmount | mask:inputMaskPatterns.SEPARATOR:{thousandSeparator:inputMaskPatterns.THOUSAND_SEPARATOR} }}</span>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row" class="table-actions">
              <grid-actions [record]="row" [actions]="actions"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
          <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="table.columns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{langService.map.no_records_to_display}}</td>
          </tr>
        </table>
        <app-paginator #paginator [length]="(requests.length || 0)"></app-paginator>
      </app-table>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
