<div class="row">
  <app-page-header [clickOnReload$]="reload$" pageTitle="menu_under_process"></app-page-header>
  <app-grid-search (searchTextEvent)="search($event)"></app-grid-search>
</div>
<div class="pt-3 row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="requests">
        <ng-container cdkColumnDef="requestSerial">
          <th cdk-header-cell *cdkHeaderCellDef class="serial-column"> {{langService.map.request_number}}</th>
          <td cdk-cell *cdkCellDef="let row" class="serial-column">
            <div class="d-flex flex-row">
              <span class="dir-ltr d-inline-block flex-grow-1 text-start"> {{row.requestFullSerial}} </span>
              <i class="mdi {{fileIconsEnum.HIDDEN}} text-primary" *ngIf="row.isPartial"
                 tooltip="{{langService.map.partial_request}}"></i>
            </div>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="requestDate">
          <th cdk-header-cell *cdkHeaderCellDef class="date-column"> {{langService.map.request_date}}</th>
          <td cdk-cell *cdkCellDef="let row" class="date-column"><span>{{row.creationDateString}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="organization">
          <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_organization}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.orgAndBranchInfo.getName()}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="requestStatus">
          <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.request_status}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.requestStatusInfo.getName()}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="requestAmount">
          <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.request_aid_amount}}</th>
          <td cdk-cell *cdkCellDef="let row"><span>{{row.requestedAidAmount | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span></td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
          <td cdk-cell *cdkCellDef="let row" class="table-actions">
            <div class="d-flex flex-row">
              <a href="#" (click)="printRequest($event, row)" tooltip="{{langService.map.print_request_form}}"
                 class="icon-btn">
                <i class="mdi mdi-printer"></i>
              </a>
              <a href="#" (click)="row.showLog($event)" tooltip="{{langService.map.show_logs}}"
                 class="icon-btn">
                <i class="mdi mdi-history"></i>
              </a>
              <button *ngIf="empService.checkPermissions('EDIT_SUBVENTION_REQUEST')"
                      (click)="editRequest(row)" tooltip="{{langService.map.btn_edit}}"
                      class="icon-btn text-primary">
                <i class="mdi mdi-book-edit"></i>
              </button>
              <button *ngIf="empService.checkPermissions('EDIT_SUBVENTION_REQUEST')"
                      (click)="cancelRequest(row)" tooltip="{{langService.map.btn_cancel}}"
                      class="btn icon-btn text-primary">
                <i class="mdi mdi-book-cancel"></i>
              </button>
              <button *ngIf="row.isUnderProcessing()"
                      (click)="deleteRequest(row)" tooltip="{{langService.map.btn_delete}}"
                      class="btn icon-btn text-primary">
                <i class="mdi mdi-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
