<div class="d-flex flex-column">
  <form [formGroup]="form" autocomplete="off">
    <tabs-list [accordionView]="accordionView" [hasForm]="true">
      <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
           [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
      <tab *ngIf="isInternalUser" [name]="tabsData.participantOrganizations.name" [template]="participating_organizaions"
           [title]="lang.map.participant_organizations" [hasError]="getTabInvalidStatus('participantOrganizations')">
      </tab>
      <tab *ngIf="!isInternalUser" [name]="tabsData.organizationOfficers.name" [template]="organization_officers"
           [title]="lang.map.organization_officers" [hasError]="getTabInvalidStatus('organizationOfficers')">
      </tab>
      <tab *ngIf="!isInternalUser && isCorrectModelToDisplay(coordinationTypes.BuildingAbilities)"
           [name]="tabsData.buildingAbilities.name" [template]="building_abilities"
           [title]="lang.map.building_abilities"
           [hasError]="getTabInvalidStatus('buildingAbilities')">
      </tab>
      <tab *ngIf="!isInternalUser && isCorrectModelToDisplay(coordinationTypes.EffectiveCoordinationCapabilities)"
           [name]="tabsData.effectiveCoordinationCapabilities.name" [template]="effective_coordination_capabilities"
           [title]="lang.map.effective_coordination_capabilities"
           [hasError]="getTabInvalidStatus('effectiveCoordinationCapabilities')">
      </tab>
      <tab *ngIf="!isInternalUser && isCorrectModelToDisplay(coordinationTypes.ResearchAndStudies)"
           [name]="tabsData.researchAndStudies.name" [template]="research_and_studies"
           [title]="lang.map.research_and_studies" [hasError]="getTabInvalidStatus('researchAndStudies')">
      </tab>
      <tab *ngIf="!isInternalUser && isOtherDomain" [name]="tabsData.dynamicTempaltes.name"
           [template]="dynamic_tempaltes" [title]="lang.map.lbl_template"
           [hasError]="getTabInvalidStatus('dynamicTempaltes')">
      </tab>
      <tab [name]="tabsData.specialExplanation.name" [hasError]="getTabInvalidStatus('specialExplanation')"
           [template]="specialExplanationTab" [title]="lang.map.special_explanations">
      </tab>
      <tab *ngIf="!accordionView" [hideIcon]="true" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
           [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
    </tabs-list>

    <ng-template #basicInfoTabTemplate>
      <fieldset [disabled]="!isEditAllowed()">
        <div class="row mb-4">
          <!-- Domain -->
          <div class="col-12 col-md-4 mb-6 position-relative">
            <label asteriskIfRequired="domain" for="domain" class="form-label">{{ lang.map.domain }}</label>
            <ng-select [selectOnTab]="true" placeholder="{{ lang.map.select }}" [readonly]="!isEditAllowed()"
                       [notFoundText]="lang.map.msg_not_found" (change)="handleDomainChange()" appendTo="body"
                       id="domain"
                       validationClasses="domain" labelForId="domain" formControlName="domain">
              <ng-option [disabled]="!isEditAllowed()" *ngFor="let option of domains" [value]="option.lookupKey">{{
                option.getName() }}</ng-option>
            </ng-select>
            <app-field-error-message controlName="domain"></app-field-error-message>
          </div>
          <!-- template -->
          <div class="col-12 col-md-4 mb-6 position-relative" *ngIf="isOtherDomain">
            <label asteriskIfRequired="processId" for="processId" class="form-label">{{ lang.map.lbl_template
              }}</label>
            <ng-select [selectOnTab]="true" placeholder="{{ lang.map.select }}" [readonly]="!isEditAllowed()"
                       [notFoundText]="lang.map.msg_not_found" appendTo="body" id="processId"
                       validationClasses="processId"
                       labelForId="processId" formControlName="processId">
              <ng-option [disabled]="!isEditAllowed()" *ngFor="let option of formsList" [value]="option.id">{{
                option.getName() }}</ng-option>
            </ng-select>
            <app-field-error-message controlName="processId"></app-field-error-message>
          </div>
        </div>

        <div class="row">
          <!-- Campaign Name -->
          <div class="col-sm-12 col-md-4 mb-6 position-relative">
            <label asteriskIfRequired="fullName" for="fullName" class="form-label">{{lang.map.coordination_request}}</label>
            <input id="fullName" validationClasses="fullName" [value]="model?.fullName" formControlName="fullName"
                   trimInput class="form-control">
            <app-field-error-message controlName="fullName"></app-field-error-message>
          </div>

          <!-- License Start Date -->
          <div class="col-12 col-md-4 mb-6 position-relative">
            <label for="licenseStartDate" asteriskIfRequired="licenseStartDate"
                   class="form-label">{{lang.map.starting_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="licenseStartDate" id="licenseStartDate"
                   [options]="datepickerOptionsMap.licenseStartDate" [ngClass]="{'input-disabled': !isEditAllowed()}"
                   (click)="isEditAllowed() && openDateMenu(dpLicenseStartDate)"
                   (inputFieldChanged)="onDateChange($event, 'licenseStartDate', 'licenseEndDate')"
                   #dpLicenseStartDate="angular-mydatepicker" angular-mydatepicker validationClasses="licenseStartDate">
              </div>
              <app-field-error-message controlName="licenseStartDate"></app-field-error-message>
            </div>
          </div>
          <!-- License End Date -->
          <div class="col-12 col-md-4 mb-6 position-relative">
            <label for="licenseEndDate" asteriskIfRequired="licenseEndDate"
                   class="form-label">{{lang.map.ending_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="licenseEndDate" id="licenseEndDate"
                   [options]="datepickerOptionsMap.licenseEndDate" [ngClass]="{'input-disabled': !isEditAllowed()}"
                   (click)="isEditAllowed() && openDateMenu(dpLicenseEndDate)"
                   (inputFieldChanged)="onDateChange($event, 'licenseStartDate', 'licenseEndDate')"
                   #dpLicenseEndDate="angular-mydatepicker" angular-mydatepicker
                   validationClasses="licenseEndDate"></div>
              <app-field-error-message controlName="licenseEndDate"></app-field-error-message>
            </div>
          </div>

        </div>
      </fieldset>
    </ng-template>
    <ng-template #specialExplanationTab>
      <div class="row">
        <div class="col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="description"
                 for="description">{{lang.map.special_explanations}}</label>
          <textarea name="description" formControlName="description" validationClasses="description" id="description"
                    rows="4" class="form-control" [readOnly]="!isEditAllowed()"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #participating_organizaions>
      <participant-organization #participantOrganizations [list]="model?.participatingOrganizaionList || []"
                                [locations]="model?.locations|| []" [canTerminate]="participatingOrgsCanTerminate"
                                [organizationUnits]="organizationUnits"
                                (readyEvent)="participantOrganizationsTapStatus = $event"
                                [canAdd]="participatingOrgsCanAdd" [canView]="participatingOrgsCanView"
                                [canDelete]="participatingOrgsCanDelete"
                                (listUpdated)="updateParticipantOrgs()" (requestView)="openParticipantOrgPopup($event)"
                                (requestTerminate)="terminateOrganizationTask($event)">

      </participant-organization>
      <button *ngIf="allowedToUploadFinalReport"
              [tooltip]="lang.map.upload_file" style="margin-inline-end: 1rem;"
              class="btn btn-primary" (click)="uploadAttachment(uploader)">
        {{lang.map.upload_final_report}}
        <i [class.mdi-progress-upload]="model!.coordinationReportId" [class.mdi-upload]="!model!.coordinationReportId"
           class="mdi mdi-upload"></i>
      </button>
      <button *ngIf="model?.coordinationReportId" [tooltip]="lang.map.view" (click)="viewFile()"
              class="btn btn-primary">
        {{lang.map.view_final_report}}
        <i class="mdi text-white mdi-eye"></i>
      </button>

      <input type="file" (change)="uploaderFileChange($event)" #uploader id="attachmentUploader" class="visually-hidden"
             [accept]="allowedExtensions.join(',')">

    </ng-template>
    <ng-template #organization_officers>
      <organization-officer #organizationOfficersTap [list]="organizationOfficersList"
                            [organizationUsers]="service.orgUsers" (readyEvent)="organizationOfficersTabStatus = $event"
                            [canUpdate]="isCharityUser" [isClaimed]="true" [currentUserOrgId]="currentUserOrgId">
      </organization-officer>
    </ng-template>
    <ng-template #building_abilities>
      <building-ability #buildingAbilityTap [list]="buildingAbilitiesList " [organizationUnits]="organizationUnits"
                        [trainingTypes]="trainingTypes" [orgId]="currentUserOrgId"
                        [trainingLanguages]="trainingLanguages"
                        [trainingWays]="trainingWays" [recommendedWays]="recommendedWays" [readonly]=" isEditAllowed()"
                        [canUpdate]="isCharityUser" [isClaimed]="true">
      </building-ability>
    </ng-template>
    <ng-template #effective_coordination_capabilities>
      <effective-coordination-capabilities #effectiveCoordinationCapabilitiesTap
                                           [list]="effectiveCoordinationCapabilitiesList"
                                           [organizationWays]="organizationWays"
                                           [organizationUnits]="organizationUnits" [readonly]=" isEditAllowed()"
                                           [canUpdate]="isCharityUser"
                                           [orgId]="currentUserOrgId" [isClaimed]="true">
      </effective-coordination-capabilities>
    </ng-template>
    <ng-template #research_and_studies>
      <app-research-and-studies #researchAndStudiesTap [list]="researchAndStudiesList" [readonly]=" isEditAllowed()"
                                [orgId]="currentUserOrgId" [canUpdate]="isCharityUser" [isClaimed]="true">
      </app-research-and-studies>
    </ng-template>
    <ng-template #dynamic_tempaltes>
      <app-dynamic-templates #dynamicTemplatesTap [templateId]="templateField.value" [list]="dynamicTemplatesList"
                             [readonly]=" isEditAllowed()" [profileId]="currentUserOrgId" [canUpdate]="isCharityUser"
                             [isClaimed]="true">
      </app-dynamic-templates>
    </ng-template>

  </form>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService" [model]="model" [load]="loadAttachments"
                 [formProperties]="formProperties"></attachments>
  </ng-template>
</div>
