<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{lang.map.view_changes}}</h1>
  <span class="flex-grow-1"></span>
  <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
          tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content w800px" #dialogContent>
  <heading-row [labelKey]="'lbl_basic_info'"></heading-row>
  <value-differences-list [differenceList]="basicInfoDifferences"></value-differences-list>

  <heading-row [labelKey]="'lbl_permissions'"></heading-row>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <app-table #addedPermissionsTable [data]="addedPermissionsList"
                 [columns]="addedPermissionsDisplayedColumns">
        <table class="table table-striped table-bordered caption-top" cdk-table
               [dataSource]="addedPermissionsTable.dataSource">
          <ng-container cdkColumnDef="permissions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.added_permissions}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="addedPermissionsTable.columns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: addedPermissionsTable.columns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-table #removedPermissionsTable [data]="removedPermissionsList"
                 [columns]="removedPermissionsDisplayedColumns">
        <table class="table table-striped table-bordered caption-top" cdk-table
               [dataSource]="removedPermissionsTable.dataSource">
          <ng-container cdkColumnDef="permissions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.removed_permissions}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="removedPermissionsTable.columns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: removedPermissionsTable.columns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
    </div>
  </div>

  <heading-row [labelKey]="'menus'"></heading-row>
  <div class="row">
    <div class="col-12">
      <div class="row ps-3">
        <heading-row [labelKey]="'lbl_custom_menus'"></heading-row>
        <div class="col-sm-12 col-md-6">
          <app-table #addedMenusTable [data]="addedUserMenusList"
                     [columns]="addedMenusDisplayedColumns">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="addedMenusTable.dataSource">
              <ng-container cdkColumnDef="menus">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.added_menus}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="addedMenusTable.columns" class="table-row-header"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: addedMenusTable.columns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
          </app-table>
        </div>
        <div class="col-sm-12 col-md-6">
          <app-table #removedMenusTable [data]="removedUserMenusList"
                     [columns]="removedMenusDisplayedColumns">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="removedMenusTable.dataSource">
              <ng-container cdkColumnDef="menus">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.removed_menus}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="removedMenusTable.columns" class="table-row-header"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: removedMenusTable.columns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
          </app-table>
        </div>
      </div>
      <div class="row ps-3">
        <heading-row [labelKey]="'systemMenus'"></heading-row>
        <div class="col-sm-12 col-md-6">
          <app-table #addedSystemMenusTable [data]="addedSystemUserMenusList"
                     [columns]="addedMenusDisplayedColumns">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="addedSystemMenusTable.dataSource">
              <ng-container cdkColumnDef="menus">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.added_menus}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="addedSystemMenusTable.columns" class="table-row-header"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: addedSystemMenusTable.columns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
          </app-table>
        </div>
        <div class="col-sm-12 col-md-6">
          <app-table #removedSystemMenusTable [data]="removedSystemUserMenusList"
                     [columns]="removedMenusDisplayedColumns">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="removedSystemMenusTable.dataSource">
              <ng-container cdkColumnDef="menus">
                <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.removed_menus}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.getName()}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="removedSystemMenusTable.columns" class="table-row-header"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: removedSystemMenusTable.columns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
          </app-table>
        </div>
      </div>
    </div>
  </div>

  <heading-row [labelKey]="'link_services'"></heading-row>
  <div class="row">
    <div class="col-sm-12">
      <app-table #servicePermissionsTable [data]="servicePermissionDifferences"
                 [columns]="servicePermissionDisplayedColumns">
        <table cdk-table [dataSource]="servicePermissionsTable.dataSource"
               class="table table-striped table-bordered caption-top">
          <ng-container cdkColumnDef="serviceName">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.service_name}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.serviceInfo?.getName()}} </td>
          </ng-container>
          <ng-container cdkColumnDef="search">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_search}}</th>
            <td cdk-cell *cdkCellDef="let row" class="text-center">
              <ng-container [ngTemplateOutlet]="servicePermissionIconsTemplate"
                            [ngTemplateOutletContext]="{oldValue: row.canManageOld, newValue: row.canManageNew}">
              </ng-container>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="teamInbox">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.menu_team_inbox}}</th>
            <td cdk-cell *cdkCellDef="let row" class="text-center">
              <ng-container [ngTemplateOutlet]="servicePermissionIconsTemplate"
                            [ngTemplateOutletContext]="{oldValue: row.canViewOld, newValue: row.canViewNew}">
              </ng-container>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="add">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.btn_add}}</th>
            <td cdk-cell *cdkCellDef="let row" class="text-center">
              <ng-container [ngTemplateOutlet]="servicePermissionIconsTemplate"
                            [ngTemplateOutletContext]="{oldValue: row.canAddOld, newValue: row.canAddNew}">
              </ng-container>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="approval">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.approve_inbox}}</th>
            <td cdk-cell *cdkCellDef="let row" class="text-center">
              <ng-container [ngTemplateOutlet]="servicePermissionIconsTemplate"
                            [ngTemplateOutletContext]="{oldValue: row.approvalOld, newValue: row.approvalNew}">
              </ng-container>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="followUp">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.followup}}</th>
            <td cdk-cell *cdkCellDef="let row" class="text-center">
              <ng-container [ngTemplateOutlet]="servicePermissionIconsTemplate"
                            [ngTemplateOutletContext]="{oldValue: row.followUpOld, newValue: row.followUpNew}">
              </ng-container>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="servicePermissionsTable.columns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: servicePermissionsTable.columns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
    </div>
  </div>
  <div class="row" *ngIf="model?.requestStatus == externalUserUpdateRequestStatusEnum.REJECTED">
    <div class="col-sm-12">
      <textarea rows="5" class="form-control" readonly [value]="model?.notes"></textarea>
    </div>
  </div>

  <ng-template #servicePermissionIconsTemplate let-oldValue="oldValue" let-newValue="newValue">
    <i *ngIf="!oldValue && !!newValue" tooltip="{{lang.map.added}}"
       class="mdi {{actionIconsEnum.ADDED_VALUE}} text-success"></i>
    <i *ngIf="!!oldValue && !newValue" tooltip="{{lang.map.removed}}"
       class="mdi {{actionIconsEnum.REMOVED_VALUE}} text-danger"></i>
    <i *ngIf="!!oldValue && !!newValue" tooltip="{{lang.map.lbl_yes}}"
       class="mdi {{actionIconsEnum.HAS_VALUE}} text-secondary"></i>
    <i *ngIf="!oldValue && !newValue" tooltip="{{lang.map.lbl_no}}"
       class="mdi {{actionIconsEnum.HAS_NO_VALUE}} text-secondary"></i>
  </ng-template>
</div>
<div class="dialog-actions">
  <span class="flex-grow-1"></span>
  <button (click)="acceptRequest()"
          *ngIf="service.canAcceptUserRequest() && model?.requestStatus != externalUserUpdateRequestStatusEnum.APPROVED"
          class="btn btn-primary">{{lang.map.lbl_accept}}</button>
  <button (click)="rejectRequest()"
          *ngIf="service.canRejectUserRequest() && model?.requestStatus != externalUserUpdateRequestStatusEnum.APPROVED"
          class="btn btn-primary">{{lang.map.lbl_reject}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
