<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px no-fixed-height" #dialogContent>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="" [control]="searchControl"
               for="searchControl">{{lang.map.search_by_serial_number}}</label>
        <div validationClasses="" [control]="searchControl" class="input-group">
          <input (keydown.enter)="isSearchAllowed() && searchForLicense()" id="searchControl" validationClasses=""
                 [control]="searchControl" [formControl]="searchControl" class="form-control">
          <button *ngIf="isSearchAllowed()" (click)="searchForLicense()" class="input-group-text">
            <i class="mdi mdi-magnify text-primary"></i>
          </button>
        </div>
        <app-field-error-message [control]="searchControl"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="oldLicenseFullSerial"
               for="oldLicenseFullSerial">{{lang.map.serial_number}}</label>
        <input id="oldLicenseFullSerial" validationClasses="oldLicenseFullSerial" formControlName="oldLicenseFullSerial"
               class="form-control" [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="identificationNumber"
               for="identificationNumber">{{lang.map.identification_number}}</label>
        <input id="identificationNumber" validationClasses="identificationNumber" formControlName="identificationNumber"
               class="form-control" [readonly]="(isCancelRequestType() || readonly)">
        <app-field-error-message controlName="identificationNumber"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="locationDetails"
                   for="locationDetails">{{lang.map.location_details}}</label>
            <input id="locationDetails" validationClasses="locationDetails" formControlName="locationDetails"
                   class="form-control" [readonly]="(isCancelRequestType() || readonly)">
            <app-field-error-message controlName="locationDetails"></app-field-error-message>
          </div>
          <div class="col-sm-12 mb-4 position-relative" *ngIf="isTemporaryLicenseDuration()">
            <label for="licenseEndDate" asteriskIfRequired="licenseEndDate"
                   class="form-label">{{lang.map.license_end_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="licenseEndDate" id="licenseEndDate"
                   [options]="datepickerOptionsMap.licenseEndDate"
                   [ngClass]="{'input-disabled': isEditLicenseEndDateDisabled()}"
                   (click)="!isEditLicenseEndDateDisabled() && dpLicenseEndDate.toggleCalendar()"
                   #dpLicenseEndDate="angular-mydatepicker" angular-mydatepicker validationClasses="licenseEndDate">
              </div>
              <app-field-error-message controlName="licenseEndDate"></app-field-error-message>
            </div>
          </div>
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="latitude" for="latitude">{{lang.map.latitude}} /
              {{lang.map.longitude}}</label>
            <div class="input-group">
              <input id="latitude" validationClasses="latitude" formControlName="latitude" class="form-control">
              <button type="button" (click)="openMapMarker()" class="input-group-text">
                <i class="mdi mdi-map-marker text-primary"></i>
              </button>
              <input id="longitude" validationClasses="longitude" formControlName="longitude" class="form-control">
            </div>
            <app-field-error-message controlName="latitude"></app-field-error-message>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 mb-4">
        <building-plate #buildingPlate [record]="model" [readOnly]="(isCancelRequestType() || readonly)"
                        [propertyMap]="{buildingNo: 'buildingNumber', street:'streetNumber', zone: 'zoneNumber', unit: 'unitNumber'}">
        </building-plate>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
