// RACA secondary sunrise palette
$group1Color: #7b1e3c;
$group1Background: #FBF7B3; // 80%
$group1ActiveBackground: #FDF39E; // 100%
$group1DisabledBackground: #FCF9C6; // 60%
$group1ActiveBorder: #FCFBDA; // 40%

// RACA secondary palm palette
$group2Color: #fff;
$group2Background: #22AF9B; // 80%
$group2ActiveBackground: #009C80; // 100%
$group2DisabledBackground: #64C3B4; // 60%
$group2ActiveBorder: #9AD6CD; // 40%

// RACA secondary Skyline palette
$group3Color: #fff;
$group3Background: #396881; // 80%
$group3ActiveBackground: #0D4261; // 100%
$group3DisabledBackground: #6E8EA0; // 60%
$group3ActiveBorder: #9DB4C0; // 40%

// RACA secondary sea palette
$group4Color: #fff;
$group4Background: #64A8C1; // 80%
$group4ActiveBackground: #4194B3; // 100%
$group4DisabledBackground: #8CBED0; // 60%
$group4ActiveBorder: #B1D5E3; // 40%

.action-button {
  .action-info {
    visibility: hidden;
  }

  .icon-action-info {
    font-size: 18px;
  }

  &:hover, &:active, &:focus {
    .action-info {
      visibility: visible;
    }
  }
}

ul.dropdown-menu {
  min-width: 13rem;
  max-height: 60vh;
  overflow-y: auto;
  background: whitesmoke;

  .dropdown-item {
    border-bottom: 1px solid #d9d9d9;

    &:focus-visible {
      outline: none;
    }
  }
}

.button-group-1 {
  button {
    &.dropdown-item {
      .icon-action-info {
        color: $group1Color;
      }

      &:hover, &.active, &:active, &:focus {
        color: $group1Color;
        background: $group1Background;
      }

      &:active, &:focus {
        box-shadow: 0 0 0 0.25rem $group1ActiveBorder;
      }
    }

    &:not(.dropdown-item) {
      color: $group1Color;
      background-color: $group1Background;
      border-color: white;

      &:hover {
        background-color: $group1ActiveBackground;
      }

      &:focus, &:active {
        background-color: $group1ActiveBackground;
        box-shadow: 0 0 0 0.25rem $group1ActiveBorder;
      }

      &:disabled {
        background-color: $group1DisabledBackground;
      }
    }
  }
}

.button-group-2 {
  button {
    &.dropdown-item {
      .icon-action-info {
        color: $group2Color;
      }

      &:hover, &.active, &:active, &:focus {
        color: $group2Color;
        background: $group2Background;
      }

      &:active, &:focus {
        box-shadow: 0 0 0 0.25rem $group2ActiveBorder;;
      }
    }

    &:not(.dropdown-item) {
      color: $group2Color;
      background-color: $group2Background;
      border-color: white;

      &:hover {
        background-color: $group2ActiveBackground;
      }

      &:focus, &:active {
        background-color: $group2ActiveBackground;
        box-shadow: 0 0 0 0.25rem $group2ActiveBorder;
      }

      &:disabled {
        background-color: $group2DisabledBackground;
      }
    }
  }
}

.button-group-3 {
  button {
    &.dropdown-item {
      .icon-action-info {
        color: $group3Color;
      }

      &:hover, &.active, &:active, &:focus {
        color: $group3Color;
        background: $group3Background;
      }

      &:active, &:focus {
        box-shadow: 0 0 0 0.25rem $group3ActiveBorder;;
      }
    }

    &:not(.dropdown-item) {
      color: $group3Color;
      background-color: $group3Background;
      border-color: white;

      &:hover {
        background-color: $group3ActiveBackground;
      }

      &:focus, &:active {
        background-color: $group3ActiveBackground;
        box-shadow: 0 0 0 0.25rem $group3ActiveBorder;
      }

      &:disabled {
        background-color: $group3DisabledBackground;
      }
    }
  }
}

.button-group-4 {
  button {
    &.dropdown-item {
      .icon-action-info {
        color: $group4Color;
      }

      &:hover, &.active, &:active, &:focus {
        color: $group4Color;
        background: $group4Background;
      }

      &:active, &:focus {
        box-shadow: 0 0 0 0.25rem $group4ActiveBorder;;
      }
    }

    &:not(.dropdown-item) {
      color: $group4Color;
      background-color: $group4Background;
      border-color: white;

      &:hover {
        background-color: $group4ActiveBackground;
      }

      &:focus, &:active {
        background-color: $group4ActiveBackground;
        box-shadow: 0 0 0 0.25rem $group4ActiveBorder;
      }

      &:disabled {
        background-color: $group4DisabledBackground;
      }
    }
  }
}
