<div class="row">
  <app-page-header [clickOnReload$]="reload$" [clickOnNew$]="add$" pageTitle="lbl_org_branches"></app-page-header>
  <ng-container *ngIf="table">
    <app-bulk-actions *ngIf="table.selection && table.selection.selected.length"
                      [selectedRecords]="table.selection.selected"
                      [actionsList]="bulkActionsList"></app-bulk-actions>
    <app-grid-search *ngIf="(table.selection && !table.selection.selected.length)"
                     (searchTextEvent)="filterControl.setValue($event)"></app-grid-search>
  </ng-container>
</div>
<div class="row pt-3">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator"
                 [filter]="filterControl.value"
                 [useSearchToFilter]="true"
                 [selectable]="true"
                 [data]="branches"
                 [columns]="displayedColumns"
                 sortableTable>
        <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
          <ng-container cdkColumnDef="rowSelection">
            <th class="select-all-td" cdk-header-cell *cdkHeaderCellDef>
              <input type="checkbox" [disabled]="table.filter"
                     [indeterminate]="table.selection.hasValue() && !table.allSelected()"
                     (change)="$event ? table.toggleAll() : null"
                     [checked]="table.selection.hasValue() && table.allSelected()"
                     class="form-check-input"></th>
            <td cdk-cell *cdkCellDef="let row">
              <input type="checkbox"
                     (click)="$event.stopPropagation()"
                     [checked]="table.selection.isSelected(row)"
                     (change)="$event ? table.selection.toggle(row) : null"
                     class="form-check-input"></td>
          </ng-container>
        <ng-container cdkColumnDef="arName">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_arabic_name}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.arName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="enName">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_english_name}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.enName}} </td>
        </ng-container>
        <ng-container cdkColumnDef="phoneNumber1">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_phone_1}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.phoneNumber1}} </td>
        </ng-container>
        <ng-container cdkColumnDef="address">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_address}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.address}} </td>
        </ng-container>
        <ng-container cdkColumnDef="status">
          <th cdk-header-cell *cdkHeaderCellDef sortable-header
              [sortParamAsFullItem]="true"
              [sortCallback]="sortingCallbacks.status"> {{langService.map.lbl_status}}</th>
          <td cdk-cell *cdkCellDef="let row"> {{row.getOrgStatusLookup()?.getName()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="statusDateModified">
          <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header>{{langService.map.lbl_status_date_modified}}</th>
          <td cdk-cell *cdkCellDef="let row" class="date-column">{{row.statusDateModifiedString}}</td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
          <td cdk-cell *cdkCellDef="let row" class="table-actions">
            <div class="d-flex flex-row">
              <a href="#" (click)="deactivate(row, $event)" tooltip="{{langService.map.btn_delete}}" class="icon-btn">
                <i class="mdi mdi-close-box"></i>
              </a>
              <a href="#" (click)="edit(row , $event)" tooltip="{{langService.map.btn_edit}}" class="icon-btn">
                <i class="mdi mdi-pen"></i>
              </a>
              <a href="#" (click)="showAuditLogs(row, $event)" tooltip="{{langService.map.show_logs}}" class="icon-btn">
                <i class="mdi mdi-history"></i>
              </a>
            </div>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row (contextmenu)="menu.open($event , row)" *cdkRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </app-table>
      <app-paginator #paginator></app-paginator>
      <context-menu-item #menu [actions]="actionsList"></context-menu-item>
    </div>
  </div>
</div>
