<div class="table-responsive">
  <app-table #table sortableTable [paginator]="paginator" [data]="listDataSource" [columns]="columns"
    [filter]="filterControl.value" [useSearchToFilter]="true">
    <table class="table mt-3 table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header *ngIf="canUpdate && isClaimed" (textChange)="filterControl.setValue($event)"
            tableTitle="research_and_studies" [add$]="add$" [allowAdd]="addAllowed()"
            [skipClearSort]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="researchTopic">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_research_topic}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.researchTopic}} </td>
      </ng-container>
      <ng-container cdkColumnDef="researchAndStudyObjectives">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_research_and_study_objectives}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.researchAndStudyObjectives}}</td>
      </ng-container>
      <ng-container cdkColumnDef="expectedResearchResults">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_expected_research_results}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.expectedResearchResults}}</td>
      </ng-container>
      <ng-container cdkColumnDef="generalLandmarks">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_general_landmarks}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.generalLandmarks}}</td>
      </ng-container>
      <ng-container cdkColumnDef="requiredRole">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_required_role}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.requiredRole}}</td>
      </ng-container>
      <ng-container cdkColumnDef="financialCost">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_financial_cost}}</th>
        <td cdk-cell *cdkCellDef="let row">{{row.financialCost}}</td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
          <div class="d-flex flex-row">
            <button (click)="delete($event, row, i)" class="icon-btn text-primary" [hidden]="!canUpdate"
              [disabled]="!isClaimed || formOpend" tooltip="{{lang.map.btn_delete}}">
              <i class="mdi mdi-close-box"></i>
            </button>
            <button (click)="edit($event, row, i)" class="icon-btn text-primary" [hidden]="!canUpdate"
              [disabled]="!isClaimed || formOpend" tooltip="{{lang.map.btn_edit}}">
              <i class="mdi mdi-pen"></i>
            </button>
            <button (click)="view($event, row, i)" class="icon-btn text-primary" [disabled]="formOpend"
              tooltip="{{lang.map.view}}">
              <i class="mdi mdi-eye"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
    <app-paginator #paginator></app-paginator>
  </app-table>
</div>
