<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content" #dialogContent>
  <form style="width: 800px;" novalidate autocomplete="off" [formGroup]="form">
    <div class="row mb-3">
      <div class="col-sm-6">
        <label asteriskIfRequired="serviceId" for="serviceId"
               class="form-label">{{lang.map.lbl_services}}</label>
        <div class="mb-3 position-relative ng-select-wrapper">
          <ng-select
            labelForId="serviceId"
            validationClasses="serviceId"
            formControlName="serviceId"
            placeholder="{{lang.map.select}}"
            id="serviceId"
            appendTo="Body"
            (change)="onServiceChange()">
            <ng-option [value]="service.id" *ngFor="let service of services">{{service.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message [control]="fm.getFormField('serviceId')"></app-field-error-message>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="userType" asteriskIfRequired="userType"
               class="form-label">{{lang.map.lbl_user_type}}</label>
        <ng-select
          [selectOnTab]="true"
          labelForId="userType"
          validationClasses="userType"
          [clearable]="false"
          placeholder="{{lang.map.select}}" id="userType"
          formControlName="userType"
          appendTo="Body"
          [ngClass]="fm.getStatusClass('userType')">
          <ng-option *ngFor="let option of attachmentTypeUsersList" [value]="option.lookupKey">
            {{option.getName()}}
          </ng-option>
        </ng-select>
        <app-field-error-message [control]="fm.getFormField('userType')"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4 form-check form-switch">
        <div class="ms-3">
          <input class="form-check-input" type="checkbox" id="isRequired" formControlName="isRequired">
          <label class="form-check-label"
                 for="isRequired">{{lang.map.lbl_mandatory}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div formArrayName="customProperties" *ngIf="customProperties.length > 0">
        <div class="col-sm-6" *ngFor="let control of customPropertiesArrayForm.controls; index as index ">
          <label asteriskIfRequired [control]="control" [for]="customProperties[index].name"
                 class="form-label">{{getCustomPropertyName(customProperties[index].name)}}</label>
          <div class="mb-3 position-relative ng-select-wrapper">
            <ng-select
              appendTo="body"
              [labelForId]="customProperties[index].name"
              validationClasses
              [control]="control"
              [formControlName]="index"
              placeholder="{{lang.map.select}}"
              [id]="customProperties[index].name"
            (change)="onCustomPropertyChange(index)">
              <ng-option [value]="option[customProperties[index].bindKey]" *ngFor="let option of customProperties[index].values">{{getOptionName(option)}}</ng-option>
            </ng-select>
            <app-field-error-message></app-field-error-message>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="fm.displayFormValidity(dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="saveModel()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
