<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn" tabindex="-1" aria-label="Fullscreen"
            fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white" tabindex="-1" [dialogClose]="model"
            aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content min-w800px" #dialogContent>
  <form novalidate autocomplete="off" [formGroup]="form">
    <tabs-list [tabByIndex$]="selectedTabIndex$" [hasForm]="true" (onTabChange)="setDialogButtonsVisibility($event)">
      <tab [name]="tabsData.basic.name" [template]="basicTabTemplate" [title]="lang.map.lbl_basic_info"
           [hasError]="getTabInvalidStatus('basic')"></tab>
      <tab [name]="tabsData.linkSettings.name" [template]="linkSettingsTabTemplate" [title]="lang.map.link_settings"
           [hasError]="getTabInvalidStatus('linkSettings')">
      </tab>
      <tab [name]="tabsData.sub.name" [template]="subDataTabTemplate" [title]="lang.map.sub_lists"
           *ngIf="model.id && !model.parentMenuItemId"></tab>
    </tabs-list>
    <ng-template #basicTabTemplate>
      <div class="row" *ngIf="isDefaultParent()">
        <div class="col-sm-12 mb-4 ng-select-wrapper">
          <label asteriskIfRequired="systemMenuKey" for="systemMenuKey" class="form-label">{{lang.map.parent}}</label>
          <ng-select validationClasses="systemMenuKey" labelForId="systemMenuKey" placeholder="{{lang.map.select}}"
                     [notFoundText]="lang.map.msg_not_found" formControlName="systemMenuKey" id="systemMenuKey" appendTo="body">
            <ng-option [value]="option.menuKey?? ''" *ngFor="let option of defaultParents">
              {{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="systemMenuKey"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-4 position-relative">
          <label asteriskIfRequired="arName" for="arName" class="form-label">{{lang.map.lbl_arabic_name}}</label>
          <input id="arName" validationClasses="arName" formControlName="arName" class="form-control">
          <app-field-error-message controlName="arName"></app-field-error-message>
        </div>
        <div class="col-sm-6 mb-4 position-relative">
          <label asteriskIfRequired="enName" for="enName" class="form-label">{{lang.map.lbl_english_name}}</label>
          <input id="enName" validationClasses="enName" formControlName="enName" class="form-control">
          <app-field-error-message controlName="enName"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-4 position-relative">
          <label asteriskIfRequired="menuOrder" for="menuOrder" class="form-label">{{lang.map.menu_order}}</label>
          <input id="menuOrder" validationClasses="menuOrder" formControlName="menuOrder" class="form-control"
                 [mask]="inputMaskPatterns.NUMBER_ONLY" max="99" maxlength="2">
          <app-field-error-message controlName="menuOrder"></app-field-error-message>
        </div>

        <div class="col-sm-6 mb-4 ng-select-wrapper">
          <label asteriskIfRequired="menuType" for="menuType" class="form-label">{{lang.map.menu_type}}</label>
          <ng-select validationClasses="menuType" labelForId="menuType" placeholder="{{lang.map.select}}"
                     [notFoundText]="lang.map.msg_not_found" formControlName="menuType" id="menuType" appendTo="body">
            <ng-option [value]="option.lookupKey" *ngFor="let option of menuTypes">
              {{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="menuType"></app-field-error-message>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-4 position-relative">
          <label asteriskIfRequired="userType" for="userType" class="form-label">{{lang.map.lbl_user_type}}</label>
          <div class="mb-3 position-relative ng-select-wrapper">
            <ng-select validationClasses="userType" labelForId="userType" placeholder="{{lang.map.select}}"
                       [notFoundText]="lang.map.msg_not_found" formControlName="userType" id="userType" appendTo="body">
              <ng-option [value]="option.lookupKey" *ngFor="let option of userTypes">
                {{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="userType"></app-field-error-message>
          </div>
        </div>

        <div class="col-sm-6 mb-4 position-relative">
          <label asteriskIfRequired="icon" for="icon" class="form-label">{{lang.map.lbl_icon}}</label>
          <div class="mb-3 position-relative ng-select-wrapper">
            <ng-select validationClasses="icon" labelForId="icon" placeholder="{{lang.map.select}}"
                       [notFoundText]="lang.map.msg_not_found" formControlName="icon" id="icon" appendTo="body">
              <ng-option [value]="option" *ngFor="let option of icons">
                <div class="sidebar-menu-item-font d-flex flex-row align-items-center">
                  <i class="mdi {{option}}"></i>
                </div>
            </ng-option>
            </ng-select>
            <app-field-error-message controlName="icon"></app-field-error-message>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-4 position-relative">
          <label for="menuView" class="form-label" asteriskIfRequired="menuView">{{lang.map.menu_view}}</label>
          <div class="form-check form-switch form-switch-container">
            <input class="form-check-input" type="checkbox" id="menuView" formControlName="menuView">
            <label class="form-check-label" for="menuView">{{getTranslatedMenuView()}}</label>
          </div>
          <app-field-error-message controlName="menuView"></app-field-error-message>
        </div>
      </div>

    </ng-template>
    <ng-template #linkSettingsTabTemplate>
      <custom-menu-url-handler #urlHandlerComponent [readonly]="readonly" [record]="model"></custom-menu-url-handler>
    </ng-template>
    <ng-template #subDataTabTemplate>
      <app-custom-menu #customMenuChildren (listUpdated)="handleDisableFields()"
                       [parent]="model" [readonly]="readonly"></app-custom-menu>
    </ng-template>

  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="!readonly && validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="!readonly && saveVisible" (click)="save$.next()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
