<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{langService.map.select_beneficiary}}</h1>
</div>
<div class="dialog-content">
  <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="list">
    <ng-container cdkColumnDef="id">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_identifier}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container cdkColumnDef="arName">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.arabic_name}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.arName}} </td>
    </ng-container>
    <ng-container cdkColumnDef="enName">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.english_name}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.enName}} </td>
    </ng-container>
    <ng-container cdkColumnDef="gender">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.gender}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.genderInfo.getName()}} </td>
    </ng-container>
    <ng-container cdkColumnDef="nationality">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_nationality}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.benPrimaryIdNationalityInfo.getName()}} </td>
    </ng-container>
    <ng-container cdkColumnDef="sponsors">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.sponsors_count}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.benDependentsCount}} </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
      <td cdk-cell *cdkCellDef="let row">
        <div class="d-flex flex-row">
          <a href="#" (click)="selectBeneficiary(row , $event)" tooltip="{{langService.map.select}}" class="icon-btn">
            <i class="mdi mdi-check-circle"></i>
          </a>
        </div>
      </td>
    </ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="dialog-actions">
  <button [dialogClose]="userClick.CLOSE" class="btn btn-secondary">{{langService.map.btn_close}}</button>
</div>
