<div class="row">
  <div class="col-8"></div>
  <div class="col-4">
    <div *ngIf="filterButton" class="d-flex align-items-center justify-content-end position-relative">
      <a href="#" class="text-primary text-decoration-none" *ngIf="hasFilterCriteria()"
         (click)="clearFilter($event)">{{langService.map.clear_filter}}</a>
      <button class="btn icon-btn text-primary" tooltip="{{langService.map.filter}}"
              (click)="openCriteriaDialog($event)">
        <i class="mdi {{hasFilterCriteria() ? 'mdi-filter' : 'mdi-filter-outline'}}"></i>
      </button>
    </div>
    <div *ngIf="!filterButton" class=" d-flex align-items-center justify-content-end position-relative">
      <input id="search" class="form-control pe-4" autocomplete="off"
             [formControl]="searchText" (keyup)="search($event)"
             placeholder="{{langService.map.lbl_search}}">
      <button *ngIf="searchText.value" class="btn icon-btn position-fixed me-0 pe-2"
              (click)="clearSearch($event)">
        <i class="mdi mdi-close"></i>
      </button>
    </div>
  </div>
</div>
