<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-center">
  <h1 class="h6 text-white">{{lang.map.select_survey_template}}</h1>
  <span class="flex-grow-1"></span>
  <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
          tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height" style="width: 600px">
  <div class="row">
    <div class="col-sm-12 mb-4 position-relative">
      <label class="form-label" asteriskIfRequired [control]="control"
             for="template">{{lang.map.select_survey_template}}</label>
      <ng-select validationClasses="template"
                 [formControl]="control"
                 appendTo="body" [clearable]="true" id="template"
                 [control]="control">
        <ng-option [value]="template" *ngFor="let template of templates">{{template.getName()}}</ng-option>
      </ng-select>
      <app-field-error-message [control]="control"></app-field-error-message>
    </div>
  </div>
  <!--<div *ngIf="selectedTemplate">
    <div class="col-12">
      <survey-view [title]="program.activityName" [viewOnly]="true" [surveyTemplate]="selectedTemplate"></survey-view>
    </div>
  </div>-->
</div>
<div class="dialog-actions">
  <div class="flex-grow-1"></div>
  <button (click)="publishSurvey()" class="btn btn-primary">{{lang.map.btn_publish}}</button>
  <button dialogClose class="btn btn-secondary">{{lang.map.btn_close}}</button>
</div>
