<div class="table-responsive">
  <app-table #table sortableTable [paginator]="paginator" [data]="listDataSource" [columns]="columns"
             [filter]="filterControl.value" [useSearchToFilter]="true">
    <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header (textChange)="filterControl.setValue($event)"
                        tableTitle="building_abilities" [add$]="add$"
                        [allowAdd]="canUpdate && isClaimed && addAllowed()" [skipClearSort]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="activityName">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.activity_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.activityName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="trainingActivityType">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.training_activity_type}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.trainingActivityTypeInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="activityGoal">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.activity_goal}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.activityGoal}} </td>
      </ng-container>
      <ng-container cdkColumnDef="trainingActivityMainAxes">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_training_activit_main_axes}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.trainingActivityMainAxes}} </td>
      </ng-container>
      <ng-container cdkColumnDef="trainingLanguage">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.training_language}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.trainingLanguageInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="targetGroupNature">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_target_group_nature}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.targetGroupNature}} </td>
      </ng-container>
      <ng-container cdkColumnDef="participantsMaximumNumber">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_participants_maximum_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.participantsMaximumNumber}} </td>
      </ng-container>
      <ng-container cdkColumnDef="trainingWay">
        <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_training_way}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.trainingWayInfo?.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions">
          <grid-actions [record]="row" [actions]="actions" [itemIndex]="i" [rebindTrigger]="readonly"></grid-actions>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="columns" class="table-row-header"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
    <app-paginator #paginator></app-paginator>
  </app-table>
</div>
