<app-table [selectable]="true" #table sortableTable [paginator]="paginator" [filter]="filter.value" [data]="attachments"
    [columns]="displayedColumns">
    <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
        <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                <table-header tableTitle="attachments" [allowAdd]="false" [skipClearSort]="true" [skipSearch]="true"
                    [reload$]="reload$"></table-header>
            </th>
        </ng-container>

        <ng-container cdkColumnDef="icon">
            <th cdk-header-cell style="width: 20px;" *cdkHeaderCellDef></th>
            <td cdk-cell *cdkCellDef="let row"><i class="mdi text-primary {{getFileIcon(row)}}"></i></td>
        </ng-container>
        <ng-container cdkColumnDef="attachmentTypeId">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.document_title}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.attachmentTypeInfo.getName() }} </td>
        </ng-container>
        <ng-container cdkColumnDef="documentTitle">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_description}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{!!row.id ? row.documentTitle: ''}} </td>
        </ng-container>
        <ng-container cdkColumnDef="mandatory">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_mandatory}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.getRequiredTranslate()}} </td>
        </ng-container>
        <ng-container cdkColumnDef="date">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.creation_date}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.createdOn|date: 'mediumDate' }} </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
            <th cdk-header-cell style="width: 200px" *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex">
                <div class="d-flex gap-2">
                    <button [tooltip]="row.id ? lang.map.update_file : lang.map.upload_file" [disabled]="!requestId"
                        (click)="uploadAttachment(row , uploader)" [class.btn-success]="row.id"
                        class="btn btn-sm shadow-sm btn-secondary d-flex align-items-center justify-content-start">
                        <i [class.mdi-progress-upload]="row.id" [class.mdi-upload]="!row.id" class="mdi mdi-upload"></i>
                    </button>
                    <button [tooltip]="lang.map.view" (click)="viewFile(row)" [disabled]="!row.vsId"
                        class="btn btn-sm shadow-sm btn-info d-flex align-items-center justify-content-start">
                        <i [class.mdi-eye-off]="!row.id" [class.mdi-eye]="row.id" class="mdi text-white"></i>
                    </button>
                    <button [tooltip]="lang.map.btn_delete" (click)="deleteFile(row)" [disabled]="!row.vsId"
                        class="btn btn-sm shadow-sm btn-danger d-flex align-items-center justify-content-start">
                        <i [class.mdi-delete-off]="!row.id" [class.mdi-delete]="row.id" class="mdi"></i>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="table-row-header"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
        </tr>
    </table>
</app-table>
<input type="file" (change)="uploaderFileChange($event)" #uploader id="attachmentUploader" class="visually-hidden"
    [accept]="allowedExtensions.join(',')">
<app-paginator #paginator></app-paginator>