<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content no-fixed-height" #dialogContent>
  <div [formGroup]="form">
    <div class="row">
      <!-- Arabic Name -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="arabicName" for="arabicName" class="form-label">{{lang.map.arabic_name}}</label>
        <input id="arabicName" validationClasses="arabicName" formControlName="arabicName" trimInput
          class="form-control">
        <app-field-error-message controlName="arabicName"></app-field-error-message>
      </div>
      <!-- English Name -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="englishName" for="englishName" class="form-label">{{lang.map.english_name}}</label>
        <input id="englishName" validationClasses="englishName" formControlName="englishName" trimInput
          class="form-control">
        <app-field-error-message controlName="englishName"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <!-- Phone -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="phone" for="phone" class="form-label">{{lang.map.lbl_phone}}</label>
        <input id="phone" validationClasses="phone" formControlName="phone" trimInput class="form-control">
        <app-field-error-message controlName="phone"></app-field-error-message>
      </div>
      <!-- Email -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="email" for="email" class="form-label">{{lang.map.lbl_email}}</label>
        <input id="email" validationClasses="email" formControlName="email" trimInput class="form-control">
        <app-field-error-message controlName="email"></app-field-error-message>
      </div>
    </div>
    <div class="row">
      <!-- Country -->
      <!-- <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="countriesList.length">
        <label asteriskIfRequired="country" for="country" class="form-label">{{lang.map.country}}</label>
        <ng-select [selectOnTab]="true" labelForId="country" [clearable]="false" placeholder="{{lang.map.select}}"
          id="country" [notFoundText]="lang.map.msg_not_found" appendTo="body" formControlName="country"
          validationClasses="country">
          <ng-option *ngFor="let option of countriesList" [value]="option.id" [disabled]="!option.isActive()">
            {{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="country"></app-field-error-message>
      </div> -->
      <!-- nationalities -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative" *ngIf="nationalities.length">
        <label asteriskIfRequired="nationality" for="nationality"
          class="form-label">{{lang.map.lbl_nationality}}</label>
        <ng-select [selectOnTab]="true" labelForId="nationality" [clearable]="false" placeholder="{{lang.map.select}}"
          id="nationality" [notFoundText]="lang.map.msg_not_found" appendTo="body" formControlName="nationality"
          validationClasses="nationality">
          <ng-option *ngFor="let option of nationalities" [value]="option.lookupKey" [disabled]="!option.isActive()">
            {{option.getName()}}</ng-option>
        </ng-select>
        <app-field-error-message controlName="nationality"></app-field-error-message>
      </div>
      <!-- Job Title -->
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="jobTitle" for="jobTitle" class="form-label">{{lang.map.job_title}}</label>
        <input id="jobTitle" validationClasses="jobTitle" formControlName="jobTitle" trimInput class="form-control">
        <app-field-error-message controlName="jobTitle"></app-field-error-message>
      </div>
      <!-- Passport -->
      <div *ngIf="!hidePassport" class="col-sm-12 col-md-6 mb-4 position-relative">
        <label asteriskIfRequired="passportNumber" for="passportNumber"
          class="form-label">{{lang.map.passport_number}}</label>
        <input id="passportNumber" validationClasses="passportNumber" formControlName="passportNumber" trimInput
          class="form-control">
        <app-field-error-message controlName="passportNumber"></app-field-error-message>
      </div>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
