@import "src/scss/custom_variables";

.formly-row {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1 1 0;
  }
}

@include media-breakpoint-up(md) {
  .formly-row {
    flex-direction: row;
  }
}
