<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{langService.map.aids}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="userClick.CLOSE" aria-label="Close"></button>
</div>
<div class="dialog-content">
  <table class="table mt-3 table-striped table-bordered caption-top" cdk-table
         [dataSource]="aidList">
    <ng-container cdkColumnDef="approvalDate">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.approval_date}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.approvalDate}} </td>
    </ng-container>
    <ng-container cdkColumnDef="aidLookupId">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.aid_type}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.aidLookupInfo.getName()}} </td>
    </ng-container>
    <ng-container cdkColumnDef="periodicType">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.payment_periodicity}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{getLookup(row.periodicType)?.getName()}} </td>
    </ng-container>
    <ng-container cdkColumnDef="installementsCount">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.monthly_installment}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.installementsCount}} </td>
    </ng-container>
    <ng-container cdkColumnDef="aidStartPayDate">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.payment_date}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.aidStartPayDate}} </td>
    </ng-container>
    <ng-container cdkColumnDef="aidAmount">
      <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.request_aid_amount}}</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.aidAmount}} </td>
    </ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="dialog-actions">
  <button [dialogClose]="userClick.CLOSE" class="btn btn-secondary">{{langService.map.btn_close}}</button>
</div>
