<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
</div>
<div class="dialog-content" #dialogContent>
  <form novalidate autocomplete="off" [formGroup]="form">
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="arName" for="arName"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.arabic_name}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="arName" validationClasses="arName" formControlName="arName"
                   class="form-control">
            <app-field-error-message controlName="arName"></app-field-error-message>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="enName" for="enName"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.english_name}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="enName" validationClasses="enName" formControlName="enName"
                   class="form-control">
            <app-field-error-message controlName="enName"></app-field-error-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="bawServiceCode" for="bawServiceCode"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.baw_service_code}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="bawServiceCode" validationClasses="bawServiceCode" formControlName="bawServiceCode"
                   class="form-control">
            <app-field-error-message controlName="bawServiceCode"></app-field-error-message>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="caseType" for="caseType"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.case_type}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="caseType" validationClasses="caseType" formControlName="caseType"
                   class="form-control">
            <app-field-error-message controlName="caseType"></app-field-error-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="licenseSerialCode" for="licenseSerialCode"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.license_serial_code}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="licenseSerialCode" validationClasses="licenseSerialCode" formControlName="licenseSerialCode"
                   class="form-control">
            <app-field-error-message controlName="licenseSerialCode"></app-field-error-message>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label asteriskIfRequired="requestSerialCode" for="requestSerialCode"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.request_serial_code}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <input id="requestSerialCode" validationClasses="requestSerialCode" formControlName="requestSerialCode"
                   class="form-control">
            <app-field-error-message controlName="requestSerialCode"></app-field-error-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <label for="status" asteriskIfRequired="status"
                 class="col-md-4 col-sm-12 col-form-label">{{langService.map.lbl_status}}</label>
          <div class="col-md-8 mb-3 position-relative col-sm-12">
            <ng-select [selectOnTab]="true" labelForId="status" [clearable]="false"
                       placeholder="{{langService.map.select}}" id="status"
                       [notFoundText]="langService.map.msg_not_found"
                       formControlName="status">
              <ng-option value="">{{langService.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of statusList" [value]="option.lookupKey">
                {{option.getName()}}
              </ng-option>
            </ng-select>
          </div>
          <app-field-error-message [control]="fm.getFormField('status')"></app-field-error-message>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity(dialogContent)" tooltip="{{langService.map.validate_fields}}"
          class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid || form.pending" (click)="saveModel()"
          class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>
