<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1
    class="h6 text-white">{{langService.map.request_details}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="userClick.CLOSE" aria-label="Close"></button>
</div>
<div class="dialog-content">
  <tabs-list>
    <tab [name]="tabsData.request.name" [template]="requestTemplate" [tabWidth]="'800px'"
         [title]="langService.map.request">{{langService.map.request}}</tab>
    <tab [name]="tabsData.beneficiary.name" [template]="beneficiaryTemplate" [tabWidth]="'800px'"
         [title]="langService.map.beneficiary">{{langService.map.beneficiary}}</tab>
    <tab [name]="tabsData.aids.name" [template]="aidsTemplate" [tabWidth]="'800px'"
         [title]="langService.map.aids">{{langService.map.aids}}</tab>
  </tabs-list>
  <ng-template #requestTemplate>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_date}}</label>
        <span class="form-control">{{requestDetails.creationDateString}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.reason_of_request}}</label>
        <span class="form-control">{{requestDetails.requestTypeInfo.getName()}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_aid_amount}}</label>
        <span
          class="form-control">{{requestDetails.requestedAidAmount | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_status}}</label>
        <span class="form-control">{{requestDetails.requestStatusInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.status_date}}</label>
        <span class="form-control">{{requestDetails.statusDateModifiedString || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.family_member_count}}</label>
        <span class="form-control">{{beneficiary.familyCount || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label class="form-label">{{langService.map.request_summary}}</label>
        <span class="form-control">{{requestDetails.requestSummary || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label class="form-label">{{langService.map.notes}}</label>
        <span class="form-control">{{requestDetails.requestNotes || '&nbsp;'}}</span>
      </div>
    </div>
  </ng-template>
  <ng-template #beneficiaryTemplate>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.date_of_birth}}</label>
        <span class="form-control">{{beneficiary.dateOfBirthString || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.gender}}</label>
        <span class="form-control">{{beneficiary.genderInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.lbl_nationality}}</label>
        <span class="form-control">{{beneficiary.benNationalityInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.sponsors_count}}</label>
        <span class="form-control">{{beneficiary.benDependentsCount || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.educational_level}}</label>
        <span class="form-control">{{beneficiary.educationLevelInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <span>{{langService.map.income_employment}}</span>
    <hr class="mt-0">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.employment_status}}</label>
        <span class="form-control">{{beneficiary.occuptionStatusInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.occupation}}</label>
        <span class="form-control">{{beneficiary.occuption || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.workplace}}</label>
        <span class="form-control">{{beneficiary.employeerAddress || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.monthly_income}}</label>
        <span
          class="form-control">{{(beneficiary.benIncome | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR) || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.extra_income}}</label>
        <span
          class="form-control">{{(beneficiary.benExtraIncome | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR) || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.extra_income_source}}</label>
        <span class="form-control">{{beneficiary.benExtraIncomeSource || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.total_debts}}</label>
        <span
          class="form-control">{{(beneficiary.totalDebts | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR) || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.number_of_installments}}</label>
        <span class="form-control">{{beneficiary.totalInstalments || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.monthly_rent}}</label>
        <span
          class="form-control">{{(beneficiary.benHouseRent | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR) || '&nbsp;'}}</span>
      </div>
    </div>
  </ng-template>
  <ng-template #aidsTemplate>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #table sortableTable [paginator]="paginator" [data]="aidList" [columns]="aidColumns"
                     [filter]="filterControl.value" [useSearchToFilter]="true"
                     [searchFieldsName]="'searchFieldsPartialRequestDetails'">
            <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header [sort]="table.dataSource.sort"
                                (textChange)="filterControl.setValue($event)"></table-header>
                </th>
              </ng-container>

              <ng-container cdkColumnDef="approvalDate">
                <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.approvalDate"> {{langService.map.approval_date}}</th>
                <td cdk-cell *cdkCellDef="let row" class="date-column"> {{row.approvalDateString}} </td>
              </ng-container>
              <ng-container cdkColumnDef="aidType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.aidType"> {{langService.map.aid_type}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.aidLookupInfo?.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="estimatedAmount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.estimatedAmount"> {{langService.map.estimated_amount}}</th>
                <td cdk-cell
                    *cdkCellDef="let row"> {{row.aidSuggestedAmount | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
              </ng-container>
              <ng-container cdkColumnDef="periodicType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.periodicity"> {{langService.map.payment_periodicity}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.periodicTypeInfo?.getName()}} </td>
              </ng-container>
              <ng-container cdkColumnDef="installementsCount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.number_of_installments}}</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.installementsCount}} </td>
              </ng-container>
              <ng-container cdkColumnDef="aidStartPayDate">
                <th cdk-header-cell *cdkHeaderCellDef class="date-column" sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.paymentDate"> {{langService.map.payment_date}}</th>
                <td cdk-cell *cdkCellDef="let row" class="date-column"> {{row.aidStartPayDateString}} </td>
              </ng-container>
              <ng-container cdkColumnDef="givenAmount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.givenAmount"> {{langService.map.given_amount}}</th>
                <td cdk-cell
                    *cdkCellDef="let row"> {{row.aidAmount | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
              </ng-container>
              <ng-container cdkColumnDef="remainingAmount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacks.remainingAmount"> {{langService.map.remaining_amount}}</th>
                <td cdk-cell
                    *cdkCellDef="let row"> {{row.aidRemainingAmount | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="aidColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: aidColumns;"></tr>
              <tr class="cdk-row" *cdkNoDataRow>
                <td class="cdk-cell text-center" colSpan="100">{{langService.map.msg_no_records_found}}</td>
              </tr>
            </table>
            <app-paginator #paginator [length]="(aidList.length || 0)"></app-paginator>
          </app-table>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="dialog-actions">
  <button class="btn btn-primary" *ngIf="data.allowAddPartialRequest"
          (click)="addPartialRequest()">{{langService.map.btn_add_partial_request}}</button>
  <button [dialogClose]="userClick.CLOSE" class="btn btn-secondary">{{langService.map.btn_close}}</button>
</div>
