<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1
    class="h6 text-white">{{langService.map.request_details}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" [dialogClose]="userClick.CLOSE" aria-label="Close"></button>
</div>
<div class="dialog-content">
  <tabs-list>
    <tab [name]="tabsData.request.name" [template]="requestTemplate" [tabWidth]="'800px'"
         [title]="langService.map.request">{{langService.map.request}}</tab>
    <tab [name]="tabsData.beneficiary.name" [template]="beneficiaryTemplate" [tabWidth]="'800px'"
         [title]="langService.map.beneficiary">{{langService.map.beneficiary}}</tab>
    <tab [name]="tabsData.aids.name" [template]="aidsTemplate" [tabWidth]="'800px'"
         [title]="langService.map.aids">{{langService.map.aids}}</tab>
  </tabs-list>
  <ng-template #requestTemplate>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_date}}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <span class="form-control">{{requestDetails.creationDateString || '&nbsp;'}}</span>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_aid_amount}}</label>
        <span
          class="form-control">{{(requestDetails.requestedAidAmount | mask:inputMaskPatterns.SEPARATOR:{thousandSeparator:inputMaskPatterns.THOUSAND_SEPARATOR}) || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.requested_aid_category}}</label>
        <span class="form-control">{{requestDetails.aidLookupParentInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.requested_aid}}</label>
        <span class="form-control">{{requestDetails.aidLookupInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.request_status}}</label>
        <span class="form-control">{{requestDetails.requestStatusInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.status_date}}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <span class="form-control">{{requestDetails.statusDateModifiedString || '&nbsp;'}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label class="form-label">{{langService.map.request_summary}}</label>
        <textarea class="form-control input-disabled bg-transparent" disabled
                  [innerHTML]="(requestDetails.requestSummary || '&nbsp;')"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <label class="form-label">{{langService.map.notes}}</label>
        <textarea class="form-control input-disabled bg-transparent" disabled
                  [innerHTML]="(requestDetails.requestNotes || '&nbsp;')"></textarea>
      </div>
    </div>
  </ng-template>
  <ng-template #beneficiaryTemplate>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.date_of_birth}}</label>
        <div class="input-group">
          <i class="input-group-text mdi mdi-calendar"></i>
          <span class="form-control">{{beneficiary.dateOfBirthString || '&nbsp;'}}</span>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.gender}}</label>
        <span class="form-control">{{beneficiary.genderInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.lbl_nationality}}</label>
        <span class="form-control">{{beneficiary.benNationalityInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.special_needs_handicap}}</label>
        <div class="form-check form-switch form-switch-container">
          <input class="form-check-input" type="checkbox"
                 [checked]="beneficiary.isHandicapped" disabled>
          <label
            class="form-check-label">{{beneficiary.isHandicapped ? langService.map.lbl_yes : langService.map.lbl_no}}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.sponsors_count}}</label>
        <span class="form-control">{{beneficiary.benDependentsCount || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.family_member_count}}</label>
        <span class="form-control">{{beneficiary.familyCount || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.educational_level}}</label>
        <span class="form-control">{{beneficiary.educationLevelInfo.getName() || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.employment_status}}</label>
        <span class="form-control">{{beneficiary.occuptionStatusInfo.getName() || '&nbsp;'}}</span>
      </div>
    </div>
    <div class="row" *ngIf="beneficiary.isBeneficiaryWorking()">
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.occupation}}</label>
        <span class="form-control">{{beneficiary.occuption || '&nbsp;'}}</span>
      </div>
      <div class="col-sm-6 mb-4">
        <label class="form-label">{{langService.map.workplace}}</label>
        <span class="form-control">{{beneficiary.employeerAddress || '&nbsp;'}}</span>
      </div>
    </div>
    <h6 class="text-primary">{{langService.map.income_obligation}}</h6>
    <hr class="mt-0">
    <beneficiary-obligation [readonly]="true"
                            [list]="beneficiary.beneficiaryObligationSet"></beneficiary-obligation>

    <hr class="mt-0">
    <beneficiary-income [readonly]="true"
                        [list]="beneficiary.beneficiaryIncomeSet"></beneficiary-income>

  </ng-template>
  <ng-template #aidsTemplate>
    <aid-list tableTitle="provided_aid" [list]="aidList" [displayColumns]="aidColumns"
              [searchFieldsName]="'searchFieldsPartialRequestDetails'">
    </aid-list>
  </ng-template>
</div>
<div class="dialog-actions">
  <button class="btn btn-primary" *ngIf="data.allowAddPartialRequest"
          (click)="addPartialRequest()">{{langService.map.btn_add_partial_request}}</button>
  <button [dialogClose]="userClick.CLOSE" class="btn btn-secondary">{{langService.map.btn_close}}</button>
</div>
