<fieldset class="mb-4">
  <legend>
    <span class="h6 text-primary">{{ langService.map.menu_inquiries }}</span>
  </legend>
  <form
    [formGroup]="form"
    *ngIf="isNormalBenSearch"
    autocomplete="off"
    action="#"
  >
    <!-- Inquiry Types -->
    <div class="row">
      <div class="col mb-4">
        <div
          class="form-check form-check-inline"
          *ngIf="searchByNamePermission"
        >
          <input
            formControlName="inquiryType"
            [value]="false"
            class="form-check-input"
            type="radio"
            name="inquiryType"
            id="inquiryByName"
          />
          <label class="form-check-label" for="inquiryByName">
            {{ langService.map.inquiry_by_name }}
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            formControlName="inquiryType"
            [value]="true"
            class="form-check-input"
            type="radio"
            name="inquiryType"
            id="inquiryById"
          />
          <label class="form-check-label" for="inquiryById">
            {{ langService.map.inquiry_by_id }}
          </label>
        </div>
      </div>
    </div>
    <!-- Search By Name -->
    <div
      formGroupName="searchByName"
      *ngIf="!displayIdCriteria && searchByNamePermission"
      class="row"
    >
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper">
          <label for="searchMethod">{{ langService.map.search_method }}</label>
          <ng-select
            [selectOnTab]="true"
            labelForId="searchMethod"
            [clearable]="false"
            placeholder="{{ langService.map.select }}"
            id="searchMethod"
            [notFoundText]="langService.map.msg_not_found"
            formControlName="operator"
            appendTo="body"
          >
            <ng-option
              *ngFor="let option of stringOperators"
              [value]="option.lookupKey"
            >
              {{ option.getName() }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4">
          <label for="arName">{{ langService.map.arabic_name }}</label>
          <input
            type="text"
            formControlName="arName"
            id="arName"
            class="form-control"
          />
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4">
          <label for="enName">{{ langService.map.english_name }}</label>
          <input
            type="text"
            formControlName="enName"
            id="enName"
            class="form-control"
            name="enName"
          />
        </div>
      </div>
    </div>
    <!-- Search By Id -->
    <div
      formGroupName="searchById"
      *ngIf="displayIdCriteria"
      class="row flex-sm-column flex-md-row"
    >
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper">
          <label
            for="identification"
            class="form-label"
            asteriskIfRequired="identification"
            >{{ langService.map.identification }}</label
          >
          <ng-select
            [selectOnTab]="true"
            labelForId="identification"
            [clearable]="false"
            placeholder="{{ langService.map.select }}"
            id="identification"
            [notFoundText]="langService.map.msg_not_found"
            formControlName="identification"
            appendTo="body"
          >
            <ng-option
              *ngFor="let option of identifications"
              [value]="option.lookupKey"
            >
              {{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message
            [control]="fm.getFormField('searchById.identification')"
          ></app-field-error-message>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper">
          <label for="idType" class="form-label" asteriskIfRequired="idType">{{
            langService.map.id_type
          }}</label>
          <ng-select
            [selectOnTab]="true"
            labelForId="idType"
            [clearable]="false"
            placeholder="{{ langService.map.select }}"
            id="idType"
            [notFoundText]="langService.map.msg_not_found"
            formControlName="idType"
            appendTo="body"
          >
            <ng-option
              *ngFor="let option of idTypes"
              [value]="option.lookupKey"
            >
              {{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message
            [control]="fm.getFormField('searchById.idType')"
          ></app-field-error-message>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 position-relative">
          <label for="text" class="form-label" asteriskIfRequired="idNumber">{{
            langService.map.id_number
          }}</label>
          <input
            [ngClass]="fm.getInvalidClass('searchById.idNumber')"
            type="text"
            formControlName="idNumber"
            id="text"
            class="form-control"
            name="idNumber"
            maxlength="20"
          />
          <app-field-error-message
            [control]="fm.getFormField('searchById.idNumber')"
          ></app-field-error-message>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper" *ngIf="nationalityVisible">
          <ng-container *ngIf="nationalityListType === 'normal'">
            <label
              for="nationality"
              class="form-label"
              asteriskIfRequired="nationality"
              >{{ langService.map.lbl_nationality }}</label
            >
            <ng-select
              [selectOnTab]="true"
              labelForId="nationality"
              [clearable]="false"
              placeholder="{{ langService.map.select }}"
              id="nationality"
              [notFoundText]="langService.map.msg_not_found"
              formControlName="nationality"
              appendTo="body"
              [ngClass]="fm.getStatusClass('searchById.nationality')"
            >
              <ng-option value="">{{ langService.map.lbl_none }}</ng-option>
              <ng-option
                *ngFor="let option of nationalities"
                [value]="option.lookupKey"
              >
                {{ option.getName() }}
              </ng-option>
            </ng-select>
          </ng-container>
          <ng-container *ngIf="nationalityListType === 'gulf'">
            <label
              for="nationalityGulf"
              class="form-label"
              asteriskIfRequired="nationality"
              >{{ langService.map.country }}</label
            >
            <ng-select
              [selectOnTab]="true"
              labelForId="nationalityGulf"
              [clearable]="false"
              placeholder="{{ langService.map.select }}"
              id="nationalityGulf"
              [notFoundText]="langService.map.msg_not_found"
              formControlName="nationality"
              appendTo="body"
              [ngClass]="fm.getStatusClass('searchById.nationality')"
            >
              <ng-option value="">{{ langService.map.lbl_none }}</ng-option>
              <ng-option
                *ngFor="let option of gulfCountries"
                [value]="option.lookupKey"
              >
                {{ option.getName() }}
              </ng-option>
            </ng-select>
          </ng-container>
          <app-field-error-message
            [control]="fm.getFormField('searchById.nationality')"
          ></app-field-error-message>
        </div>
      </div>
    </div>
    <!-- Form Button -->
    <div class="row">
      <div class="col d-flex flex-row justify-content-start">
        <button
          (click)="search()"
          [disabled]="currentForm?.invalid"
          class="btn shadow-sm btn-primary"
        >
          {{ langService.map.lbl_search }}
        </button>
        <button
          (click)="resetCurrentForm()"
          class="btn shadow-sm btn-secondary mx-3"
        >
          {{ langService.map.btn_clear }}
        </button>
      </div>
    </div>
  </form>

  <div [formGroup]="form" *ngIf="isBenSearchFromRequest">
    <div formGroupName="searchById" class="row flex-sm-column flex-md-row">
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper">
          <label
            for="identification"
            class="form-label"
            asteriskIfRequired="identification"
            >{{ langService.map.identification }}</label
          >
          <span class="form-control input-disabled">{{
            identificationsLookup[identificationField?.value].getName() ||
              '&nbsp;'
          }}</span>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper">
          <label for="idType" class="form-label" asteriskIfRequired="idType">{{
            langService.map.id_type
          }}</label>
          <span class="form-control input-disabled">{{
            idTypesLookup[idTypeField?.value].getName() || 'nbsp;'
          }}</span>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 position-relative">
          <label for="text" class="form-label" asteriskIfRequired="idNumber">{{
            langService.map.id_number
          }}</label>
          <span class="form-control input-disabled">{{
            idNumberField?.value || '&nbsp;'
          }}</span>
        </div>
      </div>
      <div class="col flex-grow-1">
        <div class="mb-4 ng-select-wrapper" *ngIf="nationalityVisible">
          <ng-container *ngIf="nationalityListType === 'normal'">
            <label
              for="nationality"
              class="form-label"
              asteriskIfRequired="nationality"
              >{{ langService.map.lbl_nationality }}</label
            >
            <span class="form-control input-disabled">{{
              nationalitiesLookup[nationalityField?.value].getName() || '&nbsp;'
            }}</span>
          </ng-container>
          <ng-container *ngIf="nationalityListType === 'gulf'">
            <label
              for="nationalityGulf"
              class="form-label"
              asteriskIfRequired="nationality"
              >{{ langService.map.country }}</label
            >
            <span class="form-control input-disabled">{{
              gulfCountriesLookup[nationalityField?.value].getName() || '&nbsp;'
            }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<div *ngIf="!!beneficiary" class="row">
  <div class="col-12">
    <div>
      <h1 class="h6 text-primary">{{ langService.map.personal_info }}</h1>
    </div>
    <div class="table-responsive column-style">
      <table class="table table-bordered caption-top">
        <tbody>
          <tr>
            <th>{{ langService.map.arabic_name }}</th>
            <td>{{ beneficiary?.arName }}</td>
            <th>{{ langService.map.employer }}</th>
            <td>{{ beneficiary?.employeer }}</td>
          </tr>
          <tr>
            <th>{{ langService.map.lbl_nationality }}</th>
            <td>{{ beneficiary?.benNationalityInfo?.getName() }}</td>
            <th>{{ langService.map.id_type }}</th>
            <td>{{ beneficiary?.benPrimaryIdTypeInfo?.getName() }}</td>
          </tr>
          <tr>
            <th>{{ langService.map.gender }}</th>
            <td>{{ beneficiary?.genderInfo?.getName() }}</td>
            <th>{{ langService.map.date_of_birth }}</th>
            <td>{{ beneficiary?.dateOfBirthString | date }}</td>
          </tr>
          <tr>
            <th>{{ langService.map.sponsors_count }}</th>
            <td class="position-relative">
              <div class="d-flex align-items-center flex-row h-100 w-100">
                <span>{{ beneficiary?.benDependentsCount }}</span
                ><span class="flex-grow-1"></span>
                <button disabled class="btn btn-sm btn-primary shadow-sm">
                  {{ langService.map.show_details }}
                </button>
              </div>
            </td>
            <th>{{ langService.map.date_of_death }}</th>
            <td>
              {{
                !mophMortality
                  ? ''
                  : !mophMortality.serviceStatus
                  ? this.langService.map.msg_service_unavailable
                  : (mophMortality.deathDate | date)
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- table -->
    </div>
    <!-- table container-->
  </div>
</div>
<!--  we hide this part cause there is no integration with MOI yet -->
<div *ngIf="false" class="row">
  <div class="col-12">
    <div>
      <h6>{{ langService.map.family_info }}</h6>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered caption-top">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Relation</th>
            <th scope="col">ID Number</th>
            <th scope="col">ID type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahmed Mohamed Mostafa Ismail</td>
            <td>Son</td>
            <td>30697114</td>
            <td>Passport</td>
          </tr>
          <tr>
            <td>Ahmed Mohamed Mostafa Ismail</td>
            <td>Son</td>
            <td>30697114</td>
            <td>Passport</td>
          </tr>
          <tr>
            <td>Ahmed Mohamed Mostafa Ismail</td>
            <td>Son</td>
            <td>30697114</td>
            <td>Passport</td>
          </tr>
          <tr>
            <td>Ahmed Mohamed Mostafa Ismail</td>
            <td>Son</td>
            <td>30697114</td>
            <td>Passport</td>
          </tr>
        </tbody>
      </table>
      <!-- table -->
    </div>
    <!-- table container-->
  </div>
</div>
<div *ngIf="!!beneficiary" class="row my-3">
  <tabs-list (onTabChange)="onTabChange($event)">
    <tab
      [name]="resultTabs.providedAids.name"
      [template]="personalAidsTemplate"
      [title]="langService.map.personal_aid"
    ></tab>
    <tab
      [name]="resultTabs.integrationInquiries.name"
      [template]="integrationInquiriesTemplate"
      [title]="langService.map.integration_inquiries"
      *ngIf="beneficiary && getBeneficiaryQID(beneficiary!)"
    ></tab>
  </tabs-list>
  <ng-template #personalAidsTemplate>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table
            #table
            sortableTable
            [paginator]="paginator"
            [data]="requests"
            [columns]="displayedColumns"
            [filter]="filterControl.value"
            [useSearchToFilter]="true"
            [searchFieldsName]="'searchFieldsInquiry'"
          >
            <table
              class="table table-striped table-bordered caption-top"
              cdk-table
              [dataSource]="table.dataSource"
            >
              <ng-container cdkColumnDef="extra-header">
                <th
                  class="extra-header"
                  cdk-header-cell
                  colSpan="100"
                  *cdkHeaderCellDef
                >
                  <table-header
                    tableTitle="requests"
                    [sort]="table.dataSource.sort"
                    (textChange)="filterControl.setValue($event)"
                  >
                    <button
                      class="btn icon-btn outline-none"
                      tooltip="{{ langService.map.print }}"
                      (click)="printResult()"
                    >
                      <i class="mdi mdi-printer"></i>
                    </button>
                  </table-header>
                </th>
              </ng-container>

              <ng-container cdkColumnDef="requestFullSerial">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  class="serial-column"
                  sortable-header
                >
                  {{ langService.map.request_number }}
                </th>
                <td cdk-cell *cdkCellDef="let row" class="serial-column">
                  <div class="d-flex flex-row">
                    <span class="dir-ltr d-inline-block flex-grow-1 text-start">
                      {{ row.requestFullSerial }}
                    </span>
                    <i
                      class="mdi {{ fileIconsEnum.HIDDEN }} text-primary"
                      *ngIf="row.isPartial"
                      tooltip="{{ langService.map.partial_request }}"
                    ></i>
                  </div>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="requestDate">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  class="date-column"
                  sortable-header
                  [sortParamAsFullItem]="true"
                  [sortCallback]="sortingCallbacks.requestDate"
                >
                  {{ langService.map.request_date }}
                </th>
                <td cdk-cell *cdkCellDef="let row" class="date-column">
                  <span>{{ row.creationDateString }}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="organization">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  sortable-header
                  [sortParamAsFullItem]="true"
                  [sortCallback]="sortingCallbacks.organization"
                >
                  {{ langService.map.lbl_organization }}
                </th>
                <td cdk-cell *cdkCellDef="let row">
                  <span>{{ row.orgInfo.getName() }}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="requestStatus">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  sortable-header
                  [sortParamAsFullItem]="true"
                  [sortCallback]="sortingCallbacks.requestStatus"
                >
                  {{ langService.map.request_status }}
                </th>
                <td cdk-cell *cdkCellDef="let row">
                  <span>{{ row.statusInfo.getName() }}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="requestedAidAmount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>
                  {{ langService.map.request_aid_amount }}
                </th>
                <td cdk-cell *cdkCellDef="let row">
                  <span>{{
                    row.requestedAidAmount
                      | mask
                        : inputMaskPatterns.SEPARATOR
                        : {
                            thousandSeparator:
                              inputMaskPatterns.THOUSAND_SEPARATOR
                          }
                  }}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="totalApprovedAmount">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  sortable-header
                  [sortParamAsFullItem]="true"
                  [sortCallback]="sortingCallbacks.totalApprovedAmount"
                >
                  {{ langService.map.total_approved_amount }}
                </th>
                <td cdk-cell *cdkCellDef="let row">
                  <span>{{
                    row.aidTotalPayedAmount
                      | mask
                        : inputMaskPatterns.SEPARATOR
                        : {
                            thousandSeparator:
                              inputMaskPatterns.THOUSAND_SEPARATOR
                          }
                  }}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="aidLookupParent">
                <th
                  cdk-header-cell
                  *cdkHeaderCellDef
                  sortable-header
                  [sortParamAsFullItem]="true"
                  [sortCallback]="sortingCallbacks.aidLookupParent"
                >
                  {{ langService.map.requested_aid_category }}
                </th>
                <td cdk-cell *cdkCellDef="let row">
                  <span>{{
                    row.aidLookupParentInfo && row.aidLookupParentInfo.getName()
                  }}</span>
                </td>
              </ng-container>

              <ng-container cdkColumnDef="actions">
                <th cdk-header-cell *cdkHeaderCellDef>
                  {{ langService.map.lbl_actions }}
                </th>
                <td cdk-cell *cdkCellDef="let row" class="table-actions">
                  <grid-actions [record]="row" [actions]="actions">
                    <a
                      tooltip="{{ langService.map.show_aids }}"
                      href="#"
                      class="icon-btn"
                      (click)="row.showAids($event)"
                    >
                      <span class="badge bg-primary grid-badge">{{
                        row.aidCount
                      }}</span>
                    </a>
                  </grid-actions>
                </td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr
                cdk-header-row
                class="table-row-header"
                *cdkHeaderRowDef="table.columns"
              ></tr>
              <tr
                cdk-row
                *cdkRowDef="let row; columns: table.columns"
                (contextmenu)="menu.open($event, row)"
              ></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">
                  {{ langService.map.no_records_to_display }}
                </td>
              </tr>
            </table>
            <app-paginator
              #paginator
              [length]="requests.length || 0"
            ></app-paginator>
          </app-table>
          <context-menu-item #menu [actions]="actions"></context-menu-item>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #integrationInquiriesTemplate>
    <integration-inquiries
      [beneficiary]="beneficiary!"
      [requests]="requests"
    ></integration-inquiries>
  </ng-template>
</div>
