<div id="main-wrapper" class="bg-white h-100 d-flex flex-column">
  <app-header [sidebar]="sidebar"></app-header>
  <div class="d-flex flex-grow-1">
    <app-sidebar #sidebar class="flex-grow-0 flex-shrink-0 d-flex"></app-sidebar>
    <main class="flex-grow-1 align-self-stretch d-flex flex-column">
      <div class="flex-grow-1 flex-shrink-1 container-fluid d-flex flex-column p-2" id="main-content">
        <div class="h-100 container-fluid p-3">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer class="d-none d-md-block"></app-footer>
    </main>
  </div>
</div>
