<div class="row">
  <tabs-list [hasForm]="true" [accordionView]="accordionView">
    <tab name="basic_info" [hasError]="basicInfo.invalid" [template]="basic_info" [title]="lang.map.lbl_basic_info">
    </tab>
    <tab [hasError]="specialExplanation.invalid" name="special_explanations" [template]="special_explanations"
         [title]="lang.map.special_explanations"></tab>
    <tab name="attachments" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
  <ng-container [formGroup]="form">
    <ng-container formGroupName="basicInfo">
      <ng-template #basic_info>
        <div class="row">
          <!-- Request Type -->
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="requestType"
                   for="requestType">{{lang.map.request_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
                       [readonly]="!isEditRequestTypeAllowed()"
                       placeholder="{{lang.map.select}}" id="requestType" [notFoundText]="lang.map.msg_not_found"
                       appendTo="body" formControlName="requestType" validationClasses="requestType"
                       (change)="handleRequestTypeChange($event, true)">
              <ng-option [value]="type.lookupKey" *ngFor="let type of requestTypes">{{type.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="requestType"></app-field-error-message>
          </div>
          <!-- License Type -->
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="licenseDurationType"
                   for="licenseDurationType">{{lang.map.license_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="licenseDurationType" [clearable]="true"
                       placeholder="{{lang.map.select}}" id="licenseDurationType"
                       [notFoundText]="lang.map.msg_not_found"
                       appendTo="body" formControlName="licenseDurationType" validationClasses="licenseDurationType"
                       [readonly]="(isCancelRequestType() || readonly)">
              <ng-option [value]="option.lookupKey" *ngFor="let option of licenseDurationTypes">
                {{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="licenseDurationType"></app-field-error-message>
          </div>
          <!--License Number -->
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="oldLicenseFullSerial"
                   for="oldLicenseFullSerial">{{lang.map.license_number}}</label>
            <div class="input-group">
              <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                     formControlName="oldLicenseFullSerial" trimInput type="text"
                     [readOnly]="!isEditLicenseAllowed()" validationClasses="oldLicenseFullSerial"
                     [onlyInvalid]="false" class="form-control" id="oldLicenseFullSerial">
              <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch($event)"
                      class="input-group-text"><i
                class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
              <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
            </div>
          </div>
        </div>
        <div *ngIf="selectedLicense">
          <selected-license-table (clearLicense)="clearSelectedLicense()" [caseType]="caseTypes.FUNDRAISING_LICENSING"
                                  [caseTypeViewLicense]="caseTypes.FUNDRAISING_LICENSING"
                                  [licenseList]="[selectedLicense]"
                                  [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
        </div>
        <!-- channel/media name -->
        <div class="row">
          <!-- arabic name -->
          <div class="col-md-4 col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="arName" for="arName" class="form-label">{{lang.map.lbl_arabic_name}}</label>
            <input id="arName" validationClasses="arName" formControlName="arName" class="form-control"
                   [readOnly]="(isCancelRequestType() || readonly)">
            <app-field-error-message controlName="arName"></app-field-error-message>
          </div>
          <!-- english name -->
          <div class="col-md-4 col-sm-6 mb-4 position-relative">
            <label asteriskIfRequired="enName" for="enName" class="form-label">{{lang.map.lbl_english_name}}</label>
            <input id="enName" validationClasses="enName" formControlName="enName" class="form-control"
                   [readOnly]="(isCancelRequestType() || readonly)">
            <app-field-error-message controlName="enName"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <!-- Introduction to the new channel/media -->
          <div class="col-md-12 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="about" for="about">{{lang.map.about_channel}}</label>
            <textarea name="about" formControlName="about" validationClasses="about" id="about" rows="4"
                      class="form-control" [readOnly]="(isCancelRequestType() || readonly)"></textarea>
            <app-field-error-message controlName="about"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <!-- How the new channel/media works -->
          <div class="col-md-12 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="workingMechanism"
                   for="workingMechanism">{{lang.map.working_mechanism}}</label>
            <textarea name="workingMechanism" formControlName="workingMechanism"
                      validationClasses="workingMechanism" id="workingMechanism" rows="4"
                      class="form-control" [readOnly]="(isCancelRequestType() || readonly)"></textarea>
            <app-field-error-message controlName="workingMechanism"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <!-- Risk assessment for the new channel/media -->
          <div class="col-md-12 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="riskAssessment"
                   for="riskAssessment">{{lang.map.risk_assessment}}</label>
            <textarea name="riskAssessment" formControlName="riskAssessment"
                      validationClasses="riskAssessment" id="riskAssessment" rows="4"
                      class="form-control" [readOnly]="(isCancelRequestType() || readonly)"></textarea>
            <app-field-error-message controlName="riskAssessment"></app-field-error-message>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container formGroupName="explanation">
      <ng-template #special_explanations>
        <div class="row">
          <!-- Special Explanations -->
          <div class="col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="description"
                   for="description">{{lang.map.special_explanations}}</label>
            <textarea name="description" formControlName="description" validationClasses="description"
                      id="description" rows="4" class="form-control" [readOnly]="readonly"></textarea>
            <app-field-error-message controlName="description"></app-field-error-message>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template #attachmentsTab>
    <attachments [model]="model" [caseId]="model?.id" [caseType]="model?.caseType" [service]="service.documentService"
                 [formProperties]="formProperties">
    </attachments>
  </ng-template>
</div>
