<div class="d-flex flex-column">
  <div class="row mb-3">
    <div class="col"><h1 class="h6 text-primary">{{lang.map.menu_inquiries_and_complaints}}</h1></div>
  </div>
  <fieldset>
    <form [formGroup]="from" autocomplete="off">
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="category" for="category"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.subject}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select validationClasses="category" id="category" formControlName="category">
                <ng-option [value]="category.lookupKey"
                           *ngFor="let category of categories">{{category.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="category"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="competentDepartmentID" for="competentDepartmentID"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.competent_dep}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12 ng-select-wrapper">
              <ng-select (change)="onCompetentDepChange($event)" validationClasses="competentDepartmentID"
                         formControlName="competentDepartmentID"
                         id="competentDepartmentID">
                <ng-option [value]="dep.id" *ngFor="let dep of departments">{{dep.getName()}}</ng-option>
              </ng-select>
              <app-field-error-message controlName="competentDepartmentID"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="fullName" for="fullName"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.full_name}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="fullName" validationClasses="fullName" formControlName="fullName" class="form-control">
              <app-field-error-message controlName="fullName"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="mobileNo" for="mobileNo"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_phone}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="mobileNo" validationClasses="mobileNo" formControlName="mobileNo" class="form-control">
              <app-field-error-message controlName="mobileNo"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="organization" for="organization"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_organization}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="organization" validationClasses="organization" formControlName="organization"
                     class="form-control">
              <app-field-error-message controlName="organization"></app-field-error-message>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="occupation" for="occupation"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.occupation}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="occupation" validationClasses="occupation" formControlName="occupation" class="form-control">
              <app-field-error-message controlName="occupation"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <label asteriskIfRequired="email" for="email"
                   class="col-md-4 col-sm-12 col-form-label">{{lang.map.lbl_email}}</label>
            <div class="col-md-8 mb-3 position-relative col-sm-12">
              <input id="email" validationClasses="email" formControlName="email" class="form-control">
              <app-field-error-message controlName="email"></app-field-error-message>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label asteriskIfRequired="requestBody" for="requestBody"
               class="col-md-2 col-sm-12 col-form-label">{{lang.map.request_body}}</label>
        <div class="col-md-10 col-sm-12 mb-3 position-relative">
        <textarea rows="5" id="requestBody" validationClasses="requestBody" formControlName="requestBody"
                  class="form-control"></textarea>
          <app-field-error-message controlName="requestBody"></app-field-error-message>
        </div>
      </div>
    </form>
  </fieldset>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <h6 class="text-primary d-inline-block">{{lang.map.attachments}}</h6>
        <button (click)="attachmentsCtrl.openUploadDialog()" class="d-inline-block text-primary icon-btn"><i
          class="mdi mdi-plus-box"></i></button>
      </div>
      <app-documents #attachmentsCtrl [caseId]="model.id" [service]="service.documentService"></app-documents>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <h6 class="text-primary d-inline-block">{{lang.map.recommendations}}</h6>
        <button class="d-inline-block text-primary icon-btn"><i
          class="mdi mdi-plus-box"></i></button>
      </div>
    </div>
  </div>
  <div class="mb-3 d-flex align-items-center justify-content-center">
    <button (click)="save.next(saveTypes.FINAL)" [disabled]="from.invalid"
            class="btn btn-primary shadow-sm">{{lang.map.btn_save}}</button>
    <button [disabled]="!model?.canSaveAsDraft()" (click)="save.next(saveTypes.DRAFT)"
            class="btn btn-primary shadow-sm mx-3">{{lang.map.save_as_draft}}</button>
    <button [disabled]="from.invalid" (click)="save.next(saveTypes.COMMIT)"
            class="btn btn-primary shadow-sm">{{lang.map.launch}}</button>
    <button class="btn btn-secondary mx-3 shadow-sm">{{lang.map.btn_cancel}}</button>
  </div>
</div>
