<app-table
  #table
  [paginator]="paginator"
  [data]="employees"
  [columns]="displayedColumns"
>
  <table
    cdk-table
    [dataSource]="table.dataSource"
    class="table table-striped table-bordered caption-top"
  >
    <ng-container cdkColumnDef="arabicName">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.arabic_name }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.arabicName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="englishName">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.english_name }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.englishName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="jobTitle">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.job_title }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ row.jobTitle }}</td>
    </ng-container>
    <ng-container cdkColumnDef="gender">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.gender }}
      </th>
      <td cdk-cell *cdkCellDef="let row">{{ getGenderName(row.gender) }}</td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.lbl_actions }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        <ng-container *ngFor="let btn of actions">
          <a
            *ngIf="btn.show && btn.show()"
            href="#"
            (click)="cb($event, btn, row)"
            tooltip="{{ lang.map[btn.langKey] }}"
            class="icon-btn"
          >
            <i [class]="'mdi mdi-' + btn.icon"></i>
          </a>
        </ng-container>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    <tr *cdkNoDataRow>
      <td colspan="100" class="text-center">
        {{ lang.map.no_records_to_display }}
      </td>
    </tr>
  </table>
</app-table>
<app-paginator #paginator></app-paginator>
