<div class="dialog-toolbar bg-primary">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
</div>
<div class="dialog-content">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a [id]="'basic-tab'+aidType" [href]="'#basic-tab-content'+aidType" data-bs-toggle="tab" role="tab"
         class="nav-link active position-relative">{{langService.map.lbl_basic_info}}
        <span *ngIf="fm.getFieldInvalidStatus('basic')"
              class="position-absolute text-danger top-0 start-0 translate-middle mdi mdi-alert-circle"></span>
      </a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="isAidTabVisible">
      <a [id]="'aid-lookup-list-tab'+aidType" [href]="'#aid-lookup-list-tab-content' + aidType" data-bs-toggle="tab"
         role="tab"
         class="nav-link position-relative">{{getTabTitleText()}}
        <span *ngIf="fm.getFieldInvalidStatus('aid-lookup-list')"
              class="position-absolute text-danger top-0 start-0 translate-middle mdi mdi-alert-circle"></span>
      </a>
    </li>
  </ul>
  <div class="tab-content pt-2">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="basic-tab"
         [id]="'basic-tab-content'+aidType">
      <form class="min-w400px" novalidate autocomplete="off" [formGroup]="form">
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="aidCode" class="form-label">{{langService.map.lbl_aid_code}}</label>
            <input id="aidCode"
                   [ngClass]="fm.getStatusClass('aidCode')"
                   formControlName="aidCode" class="form-control">
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('aidCode')?.required">{{langService.map.err_required_field}}</span>
          <span *ngIf="fm.getFieldErrors('aidCode')?.minlength">{{langService.map.err_specific_min_length.change({
            length: 3,
            field: langService.map.lbl_aid_code
          })}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="arName" class="form-label">{{langService.map.lbl_arabic_name}}</label>
            <input id="arName" [ngClass]="fm.getStatusClass('arName')" formControlName="arName"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('arName')?.required">{{langService.map.err_required_field}}</span>
          <span *ngIf="fm.getFieldErrors('arName')?.minlength">{{langService.map.err_specific_min_length.change({
            length: 3,
            field: langService.map.lbl_arabic_name
          })}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <label for="enName" class="form-label">{{langService.map.lbl_english_name}}</label>
            <input id="enName" [ngClass]="fm.getStatusClass('enName')" formControlName="enName"
                   class="form-control"/>
            <span class="invalid-feedback position-absolute">
          <span *ngIf="fm.getFieldErrors('enName')?.required">{{langService.map.err_required_field}}</span>
          <span *ngIf="fm.getFieldErrors('enName')?.minlength">{{langService.map.err_specific_min_length.change({
            length: 3,
            field: langService.map.lbl_english_name
          })}}</span>
        </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 position-relative">
            <div class="form-check form-switch">
              <input type="checkbox" id="status" formControlName="status" class="form-check-input cursor-pointer">
              <label for="status" class="cursor-pointer">{{fm.getStatusFieldTranslate('status')}}</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade show" role="tabpanel" aria-labelledby="aid-lookup-list-tab"
         [id]="'aid-lookup-list-tab-content'+aidType" *ngIf="isAidTabVisible">
      <app-aid-lookup [aidType]="gridAidType" [parentId]="parentId"></app-aid-lookup>
    </div>
  </div>
</div>

<div class="dialog-actions">
  <button tabindex="-1" (click)="fm.displayFormValidity()" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" (click)="saveModel()" class="btn btn-primary">{{langService.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{langService.map.btn_cancel}}</button>
</div>

