<div class="row">
  <tabs-list [accordionView]="accordionView" [hasForm]="true" class="py-4" (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
         [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.emergencyFunds.name" [hasError]="getTabInvalidStatus('emergencyFunds')"
         [template]="emergencyFundsTabTemplate" [title]="lang.map.emergency_funds_info"></tab>
    <tab [name]="tabsData.projectSummary.name" [hasError]="getTabInvalidStatus('projectSummary')"
         [template]="projectSummaryTabTemplate" [title]="lang.map.project_summary_info"></tab>
    <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
         [template]="specialExplanationsTabTemplate" [title]="lang.map.special_explanations"></tab>
    <tab *ngIf="!accordionView" [name]="tabsData.attachments.name" [hasError]="getTabInvalidStatus('attachments')"
         [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
</div>
<ng-container [formGroup]="form">
  <ng-template #basicInfoTabTemplate>
    <div formGroupName="basicInfo">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="requestType" asteriskIfRequired="requestType"
                 class="form-label">{{lang.map.request_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
                     placeholder="{{lang.map.select}}" id="requestType"
                     (change)="handleRequestTypeChange($event, true)"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="!isEditRequestTypeAllowed()" appendTo="body"
                     formControlName="requestType" validationClasses="requestType">
            <ng-option *ngFor="let option of requestTypesList" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="oldLicenseFullSerial" asteriskIfRequired="oldLicenseFullSerial"
                 class="form-label">{{lang.map.license_number}}</label>
          <div class="input-group">
            <input (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                   formControlName="oldLicenseFullSerial"
                   type="text" [readOnly]="!isEditLicenseAllowed()"
                   validationClasses="oldLicenseFullSerial" [onlyInvalid]="false" class="form-control"
                   id="oldLicenseFullSerial" trimInput>
            <button *ngIf="isEditLicenseAllowed()" type="button" (click)="licenseSearch($event)"
                    class="input-group-text"><i
              class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="year" asteriskIfRequired="year" class="form-label">{{lang.map.year}}</label>
          <span id="year" class="form-control input-disabled"
                [innerHTML]="model && model.year || '&nbsp;'"></span>
        </div>
      </div>
      <div *ngIf="selectedLicense">
        <selected-license-table [caseType]="caseTypes.URGENT_INTERVENTION_LICENSING"
                                [caseTypeViewLicense]="caseTypes.URGENT_INTERVENTION_LICENSING"
                                [licenseList]="[selectedLicense]"
                                [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="arName" for="arName">{{lang.map.arabic_name}}</label>
          <span id="arName" class="form-control input-disabled" [innerHTML]="model && model.arName || '&nbsp;'"></span>
        </div>
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="enName" for="enName">{{lang.map.english_name}}</label>
          <span id="enName" class="form-control input-disabled" [innerHTML]="model && model.enName || '&nbsp;'"></span>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="domain" asteriskIfRequired="domain" class="form-label">{{lang.map.domain}}</label>
          <span id="domain" class="form-control input-disabled"
                [innerHTML]="model && model.domainInfo && model.domainInfo.getName() || '&nbsp;'"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                 for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
          <span id="mainUNOCHACategory" class="form-control input-disabled"
                [innerHTML]="model && model.mainUNOCHAInfo && model.mainUNOCHAInfo.getName() || '&nbsp;'"></span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #emergencyFundsTabTemplate>
    <div formGroupName="emergencyFunds">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="bankName" for="bankName" class="form-label">{{lang.map.bank_name}}</label>
          <input id="bankName" validationClasses="bankName" formControlName="bankName" trimInput class="form-control"
                 [readOnly]="(isExtendOrCancelRequestType() || readonly)">
          <app-field-error-message controlName="bankName"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="accountNumber" for="accountNumber"
                 class="form-label">{{lang.map.account_number}}</label>
          <input id="accountNumber" validationClasses="accountNumber" formControlName="accountNumber" trimInput
                 class="form-control"
                 [readOnly]="(isExtendOrCancelRequestType() || readonly)">
          <app-field-error-message controlName="accountNumber"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="iBan" for="iBan" class="form-label">{{lang.map.iban}}</label>
          <input id="iBan" validationClasses="iBan" formControlName="iBan" trimInput class="form-control"
                 [readOnly]="(isExtendOrCancelRequestType() || readonly)">
          <app-field-error-message controlName="iBan"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="deductionPercent" asteriskIfRequired="deductionPercent"
                 class="form-label">{{lang.map.deduction_ratio}}</label>
          <div class="input-group">
            <input id="deductionPercent" validationClasses="deductionPercent"
                   [mask]="inputMaskPatterns.PERCENT"
                   [dropSpecialCharacters]="false"
                   [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                   formControlName="deductionPercent" trimInput class="form-control" type="text">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
            <app-field-error-message controlName="deductionPercent"></app-field-error-message>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="targetAmount" for="targetAmount"
                 class="form-label">{{lang.map.target_cost}}</label>
          <input id="targetAmount" validationClasses="targetAmount"
                 [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                 formControlName="targetAmount" trimInput class="form-control" type="text">
          <app-field-error-message controlName="targetAmount"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="currency" for="currency" class="form-label">{{lang.map.currency}}</label>
          <span id="currency" class="form-control input-disabled"
                [innerHTML]="model && model.currencyInfo && model.currencyInfo.getName() || '&nbsp;'"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="licenseStartDate" asteriskIfRequired="licenseStartDate"
                 class="form-label">{{lang.map.license_start_date}}</label>
          <span id="licenseStartDate" class="form-control input-disabled"
                [innerHTML]="model && model.licenseStartDateString || '&nbsp;'"></span>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label for="licenseDuration" asteriskIfRequired="licenseDuration"
                 class="form-label">{{lang.map.license_duration + ' (' + lang.map.months + ')'}}</label>
          <span id="licenseDuration" class="form-control input-disabled"
                [innerHTML]="model && model.licenseDuration || '&nbsp;'"></span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #projectSummaryTabTemplate>
    <div formGroupName="projectSummary">
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label for="goals" asteriskIfRequired="goals" class="form-label">{{lang.map.project_goals}}</label>
          <textarea rows="2" id="goals" validationClasses="goals"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                    formControlName="goals" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="goals"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label for="outputs" asteriskIfRequired="outputs" class="form-label">{{lang.map.project_outputs}}</label>
          <textarea rows="2" id="outputs" validationClasses="outputs"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                    formControlName="outputs" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="outputs"></app-field-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label for="successItems" asteriskIfRequired="successItems"
                 class="form-label">{{lang.map.project_success_items}}</label>
          <textarea rows="2" id="successItems" validationClasses="successItems"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                    formControlName="successItems" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="successItems"></app-field-error-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-4 position-relative">
          <label for="expectedResults" asteriskIfRequired="expectedResults"
                 class="form-label">{{lang.map.project_expected_results}}</label>
          <textarea rows="2" id="expectedResults" validationClasses="expectedResults"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    [readOnly]="(isExtendOrCancelRequestType() || readonly)"
                    formControlName="expectedResults" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="expectedResults"></app-field-error-message>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #specialExplanationsTabTemplate>
    <div class="row">
      <div class="col-sm-12 col-md-12 mb-4 position-relative">
        <label for="description" asteriskIfRequired="description"
               class="form-label">{{lang.map.special_explanations}}</label>
        <textarea rows="5" id="description" validationClasses="description"
                  [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                  [readOnly]="(readonly)"
                  formControlName="description" trimInput class="form-control"></textarea>
        <app-field-error-message controlName="description"></app-field-error-message>
      </div>
    </div>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService" [model]="model"
                 [load]="loadAttachments" [formProperties]="formProperties"></attachments>
  </ng-template>
</ng-container>
