<ng-container>
  <div class="row">
    <div class="col-12">
      <app-table #table [columns]="membersDisplayedColumns" [data]="selectedInternalUsers" [selectable]="true"
        [useSearchToFilter]="true" sortableTable>
        <table [dataSource]="table.dataSource" cdk-table class="table table-striped table-bordered caption-top">
          <ng-container cdkColumnDef="index">
            <th *cdkHeaderCellDef cdk-header-cell sortable-header> #
            </th>
            <td *cdkCellDef="let row; let i = index;" cdk-cell> {{i + 1}} </td>
          </ng-container>
          <ng-container cdkColumnDef="arabicName">
            <th *cdkHeaderCellDef cdk-header-cell sortable-header> {{lang.map.arabic_name}}</th>
            <td *cdkCellDef="let row" cdk-cell> {{row.arabicName}} </td>
          </ng-container>
          <ng-container cdkColumnDef="englishName">
            <th *cdkHeaderCellDef cdk-header-cell sortable-header> {{lang.map.english_name}}</th>
            <td *cdkCellDef="let row" cdk-cell> {{row.englishName}} </td>
          </ng-container>
          <ng-container cdkColumnDef="isDecisionMaker">
            <th *cdkHeaderCellDef cdk-header-cell sortable-header> {{lang.map.the_decision_maker}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
              <span afterTemplate class="form-check form-switch switch-action" style="top: auto">
                <input class="form-check-input" type="checkbox" [disabled]="true"
                  [checked]="row?.memberType == internalUserType.IS_DECISION_MAKER">
              </span>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th *cdkHeaderCellDef cdk-header-cell> {{lang.map.lbl_actions}}</th>
            <td *cdkCellDef="let row" cdk-cell class="table-actions">
              <div class="d-flex flex-row">
                <button (click)="viewMemberCommentsAndNotes($event, row)" [disabled]="row.pId"
                  class="btn btn-link outline-none" tooltip="{{lang.map.view}}">
                  <i class="mdi mdi-eye"></i>
                </button>
              </div>
            </td>
          </ng-container>
          <tr *cdkHeaderRowDef="membersDisplayedColumns" cdk-header-row></tr>
          <tr *cdkRowDef="let row; columns: membersDisplayedColumns;" cdk-row></tr>
          <tr *cdkNoDataRow>
            <td class="text-center" colspan="100">{{lang.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
    </div>
  </div>
</ng-container>
