<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{lang.map.followup}}</h1>
  <button type="button" class="btn-close btn-close-white"
          tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content"  [ngClass]="showForm? 'hide' : 'show'" #dialogContent style="min-width: 800px">
  <div>
    <div class="row pb-3">
      <app-page-header
        [pageTitle]="'followup'"
        [clickOnReload$]="reload$"
        [useReloadValue]="true"
        [clickOnNew$]="addFollowup$" >
      </app-page-header>
      <app-grid-search (searchTextEvent)="searchText = $event"></app-grid-search>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #table [paginator]="paginator" sortableTable
                     [columns]="displayedColumns"
                     [data]="models"
                     [filter]="searchText"
                     [filterCallback]="filterCallback">
            <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
              <ng-container cdkColumnDef="requestNumber">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.request_number}}</th>
                <td cdk-cell *cdkCellDef="let row">{{row.caseId}}</td>
              </ng-container>
              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.name}}</th>
                <td cdk-cell *cdkCellDef="let row">{{row.getName()}}</td>
              </ng-container>
              <ng-container cdkColumnDef="serviceType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.service_type}}</th>
                <td cdk-cell *cdkCellDef="let row">{{row.serviceInfo.getName()}}</td>
              </ng-container>
              <ng-container cdkColumnDef="dueDate">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.dueDate}}</th>
                <td cdk-cell *cdkCellDef="let row">
                  <b>{{row.dueDate | date}}</b>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.status}}</th>
                <td cdk-cell *cdkCellDef="let row">{{row.statusInfo.getName()}}</td>
              </ng-container>
              <ng-container cdkColumnDef="orgInfo">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_organization}}</th>
                <td cdk-cell *cdkCellDef="let row">{{row.orgInfo.getName()}}</td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
              <tr *cdkNoDataRow>
                <td colspan="10" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
          </app-table>
          <app-paginator #paginator [pageSize]="10" [length]="table.dataSource.data.length"></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<followup-popup *ngIf="showForm" (hideForm)="hideForm()" ></followup-popup>


