<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content" #dialogContent>
  <form class="w800px" novalidate autocomplete="off" [formGroup]="form">
    <tabs-list [hasForm]="true" (onTabChange)="setDialogButtonsVisibility($event)">
      <tab [name]="tabsData.basic.name" [template]="basicTabTemplate" [title]="lang.map.lbl_basic_info"
           [hasError]="fm.getFieldInvalidStatus('basic')"></tab>
      <tab [name]="tabsData.services.name" [template]="servicesTabTemplate"
           [title]="lang.map.lbl_services"
           [hasError]="fm.getFieldInvalidStatus('services')"
           [disabled]="!validToAddServices"></tab>
    </tabs-list>
    <ng-template #basicTabTemplate>
      <div class="row mb-3">
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="arName" for="arName"
                 class="form-label">{{lang.map.lbl_arabic_name}}</label>
          <input id="arName"
                 validationClasses="arName"
                 formControlName="arName" class="form-control">
          <app-field-error-message [control]="fm.getFormField('arName')"></app-field-error-message>
        </div>
        <div class="col-sm-6 position-relative">
          <label asteriskIfRequired="enName" for="enName"
                 class="form-label">{{lang.map.lbl_english_name}}</label>
          <input id="enName"
                 validationClasses="enName"
                 formControlName="enName" class="form-control">
          <app-field-error-message [control]="fm.getFormField('enName')"></app-field-error-message>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 mt-4 form-check form-switch">
          <div class="ms-3">
            <input class="form-check-input" type="checkbox" id="status" formControlName="status">
            <label class="form-check-label"
                   for="status">{{lang.map.lbl_status}}</label>
          </div>
        </div>
        <div class="col-sm-6 mt-4 form-check form-switch"
             *ngIf="employeeService.checkPermissions('CONTROL_ATTACHMENTS_PUBLISH_STATUS')">
          <div class="ms-3">
            <input class="form-check-input" type="checkbox" id="global" formControlName="global">
            <label class="form-check-label"
                   for="global">{{lang.map.lbl_global}}</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="arDesc"
                 for="arDesc">{{lang.map.lbl_description}}</label>
          <textarea name="arDesc" formControlName="arDesc" validationClasses="arDesc" id="arDesc"
                    rows="4" class="form-control"></textarea>
          <app-field-error-message controlName="arDesc"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #servicesTabTemplate>
      <!--<div class="col d-flex justify-content-start align-items-center flex-row mb-3">
        <h1 class="h6 text-primary">{{lang.map.lbl_services}}</h1>
        <div *ngIf="!readonly">
          <button class="btn icon-btn text-primary" [tooltip]="lang.map.btn_reload" (click)="reload()"><i
            class="mdi mdi-reload"></i></button>
        </div>
        <div *ngIf="!readonly">
          <button (click)="addServiceData()" class="btn icon-btn text-primary" [tooltip]="lang.map.btn_add"><i
            class="mdi mdi-plus-box"></i></button>
        </div>
      </div>-->
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <app-table #table sortableTable
                       [columns]="serviceDataColumns"
                       [filter]="filterControl.value"
                       [searchFieldsName]="'searchFieldsAttachmentTypePopup'"
                       [useSearchToFilter]="true"
                       [data]="serviceDataList">
              <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
                <ng-container cdkColumnDef="extra-header">
                  <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                    <table-header tableTitle="lbl_services"
                                  (textChange)="filterControl.setValue($event)"
                                  [customTemplate]="headerTemplate"
                    ></table-header>
                  </th>
                </ng-container>
                <ng-container cdkColumnDef="enName">
                  <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.english_name}}</th>
                  <td cdk-cell *cdkCellDef="let row">{{row.serviceInfo.enName}}</td>
                </ng-container>
                <ng-container cdkColumnDef="arName">
                  <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.arabic_name}}</th>
                  <td cdk-cell *cdkCellDef="let row">{{row.serviceInfo.arName}}</td>
                </ng-container>
                <ng-container cdkColumnDef="userType">
                  <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                      [sortCallback]="sortingCallbacks.userType">{{lang.map.lbl_user_type}}</th>
                  <td cdk-cell *cdkCellDef="let row">{{row.userTypeInfo ? row.userTypeInfo.getName() : ''}}</td>
                </ng-container>
                <ng-container cdkColumnDef="isActive">
                  <th cdk-header-cell *cdkHeaderCellDef>{{lang.map.lbl_required}}</th>
                  <td cdk-cell *cdkCellDef="let row">{{row.isRequired ? lang.map.lbl_yes : lang.map.lbl_no}}</td>
                </ng-container>
                <ng-container cdkColumnDef="requestType">
                  <th cdk-header-cell *cdkHeaderCellDef>{{lang.map.request_type}}</th>
                  <td cdk-cell *cdkCellDef="let row">{{row.getRequestTypeName()}}</td>
                </ng-container>
                <ng-container cdkColumnDef="actions">
                  <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
                  <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
                    <grid-actions [record]="row" [actions]="serviceDataActions" [itemIndex]="itemIndex" [rebindTrigger]="readonly"></grid-actions>
                  </td>
                </ng-container>
                <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
                <tr cdk-header-row *cdkHeaderRowDef="serviceDataColumns" class="table-row-header"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: serviceDataColumns;"></tr>
                <tr *cdkNoDataRow>
                  <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
                </tr>
              </table>
            </app-table>
            <!--            <app-paginator #paginator [pageSize]="10" [length]="table.dataSource.data.length"></app-paginator>-->
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible && !readonly" (click)="fm.displayFormValidity(dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible && !readonly" (click)="saveModel()"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>

<ng-template #headerTemplate>
  <div class="d-flex flex-row">
    <div *ngIf="!readonly">
      <button (click)="addServiceData()" class="btn icon-btn" [tooltip]="lang.map.btn_add"><i
        class="mdi {{actionIconsEnum.ADD_SIMPLE}}"></i></button>
      <button class="btn icon-btn" [tooltip]="lang.map.btn_reload" (click)="reload()"><i
        class="mdi {{actionIconsEnum.RELOAD}}"></i></button>
    </div>
  </div>
</ng-template>
