<div class="row">
  <form autocomplete="off" [formGroup]="form" id="form">
    <tabs-list [accordionView]="accordionView" *ngIf="tabs.length > 0">
      <tab *ngFor="let tab of tabs; let i = index" [name]="tab.name" [template]="tab.template" [title]="tab.title"
        [hasError]="getTabInvalidStatus(i)">
      </tab>
    </tabs-list>
    <ng-template #tabContent>
      <div formGroupName="basicInfo" class="row">
        <!-- Request Type -->
        <div class="col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="requestType" for="requestType" class="form-label">{{ lang.map.request_type
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
            placeholder="{{ lang.map.select }}" id="requestType" [readonly]="criticalOnTask || readonly"
            (change)="handleRequestTypeChange($event, true)" [notFoundText]="lang.map.msg_not_found" appendTo="body"
            validationClasses="requestType" formControlName="requestType">
            <ng-option *ngFor="let type of requestTypes" [value]="type.lookupKey">{{ type.getName() }}</ng-option>
          </ng-select>
          <app-field-error-message controlName="category"></app-field-error-message>
        </div>
        <!-- License Number -->
        <div class="col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="oldLicenseFullSerial" for="oldLicenseFullSerial" class="form-label">{{
            lang.map.license_number }}</label>
          <div class="input-group">
            <input (keydown.enter)="(isEditOrCancel)" formControlName="oldLicenseFullSerial"
              [readonly]="!isEditOrCancel" type="text" validationClasses="oldLicenseFullSerial" class="form-control"
              id="oldLicenseFullSerial" trimInput />
            <button *ngIf="isEditOrCancel" type="button" (click)="licenseSearch($event)" class="input-group-text">
              <i class="mdi {{ fileIconsEnum.SEARCH }} text-primary"></i>
            </button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="externalCooperationAuthority" for="externalCooperationAuthority"
            class="form-label">{{ lang.map.external_cooperation_authority }}</label>
          <ng-select [selectOnTab]="true" labelForId="externalCooperationAuthority" [clearable]="true"
            placeholder="{{ lang.map.select }}" [readonly]="readonly || isCancelRequestType"
            id="externalCooperationAuthority" (change)="handleExternalCooperationAuthorityChange($event)"
            [notFoundText]="lang.map.msg_not_found" appendTo="body" validationClasses="externalCooperationAuthority"
            formControlName="externalCooperationAuthority">
            <ng-option [value]="option.id" *ngFor="let option of externalCooperations$ | async">{{ option.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="externalCooperationAuthority"></app-field-error-message>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 ng-select-wrapper" *ngIf="!isExternalUser">
          <label asteriskIfRequired="organizationId" for="organizationId" class="form-label">{{
            lang.map.lbl_organization }}</label>
          <ng-select [selectOnTab]="true" labelForId="organizationId" [clearable]="true"
            placeholder="{{ lang.map.select }}" id="organizationId"
            [readonly]="readonly || criticalOnTask || isCancelRequestType" [notFoundText]="lang.map.msg_not_found"
            appendTo="body" validationClasses="organizationId" formControlName="organizationId">
            <ng-option *ngFor="let option of organizationUnits" [value]="option.id">{{ option.getName() }}</ng-option>
          </ng-select>
          <app-field-error-message controlName="organizationId"></app-field-error-message>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="country" for="country" class="form-label">{{ lang.map.country }}</label>
          <ng-select [selectOnTab]="true" labelForId="country" [clearable]="true" placeholder="{{ lang.map.select }}"
            [readonly]="readonly || isCancelRequestType" id="country" [notFoundText]="lang.map.msg_not_found"
            appendTo="body" validationClasses="country" formControlName="country">
            <ng-option [value]="option.countryId" *ngFor="let option of countries">
              {{ option.countryInfo.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="country"></app-field-error-message>
        </div>
        <div class="mb-4 position-relative">
          <label for="needSubject" class="form-label" asteriskIfRequired="needSubject">{{
            lang.map.lbl_description
            }}</label>
          <textarea id="needSubject" trimInput [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
            [readonly]="readonly || isCancelRequestType" validationClasses="needSubject" formControlName="needSubject"
            class="form-control"></textarea>
          <app-field-error-message controlName="needSubject"></app-field-error-message>
        </div>
        <div class="mb-4 position-relative">
          <label for="justification" class="form-label" asteriskIfRequired="justification">{{
            lang.map.lbl_justification
            }}</label>
          <textarea id="justification" validationClasses="justification" trimInput
            [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readonly]="readonly || isCancelRequestType"
            formControlName="justification" class="form-control"></textarea>
          <app-field-error-message controlName="justification"></app-field-error-message>
        </div>
        <div class="mb-4 position-relative">
          <label for="recommendation" class="form-label" asteriskIfRequired="recommendation">{{
            lang.map.lbl_recommendation
            }}</label>
          <textarea id="recommendation" validationClasses="recommendation" trimInput
            [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readonly]="readonly || isCancelRequestType"
            formControlName="recommendation" class="form-control"></textarea>
          <app-field-error-message controlName="recommendation"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #tabContent>
      <project-needs [caseType]="model?.caseType" [list]="model?.projectNeeds || []"
        [readonly]="readonly || isCancelRequestType" (readyEvent)="projectNeedsTabStatus = $event">
      </project-needs>
    </ng-template>
    <ng-template #tabContent>
      <div formGroupName="explanation" class="row">
        <div class="col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="description" for="description">{{ lang.map.special_explanations
            }}</label>
          <textarea name="description" formControlName="description" validationClasses="description" id="description"
            rows="4" class="form-control" [readonly]="readonly || isCancelRequestType"
            [maxlength]="customValidators.defaultLengths.EXPLANATIONS"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #tabContent>
      <attachments [model]="model" [caseId]="model?.id" [caseType]="model?.caseType"
        [service]="service.documentService" [formProperties]="formProperties"></attachments>
    </ng-template>
  </form>
</div>
