<div class="row">
  <!--  <tabs-list [activeTabIndex]="2" [accordionView]="accordionView">-->
  <tabs-list [accordionView]="accordionView" [hasForm]="true">
    <tab name="basic_info" [hasError]="basicInfo.invalid" [template]="basic_info" [title]="lang.map.lbl_basic_info">
    </tab>
    <tab name="project_info" [hasError]="projectInfo.invalid" [template]="project_info"
         [title]="lang.map.project_info"></tab>
    <tab name="fundingResources" [hasError]="fundingResources.invalid" [template]="funding_sources"
         [title]="lang.map.funding_resources"></tab>
    <tab name="special_explanations" [hasError]="specialExplanations.invalid" [template]="special_explanations"
         [title]="lang.map.special_explanations"></tab>
    <tab name="attachments" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab" [title]="lang.map.attachments"></tab>
  </tabs-list>
  <ng-container [formGroup]="form">
    <ng-template #basic_info>
      <div formGroupName="basicInfo" class="row">
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="requestType"
                 for="requestType">{{lang.map.request_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType"
                     placeholder="{{lang.map.select}}" id="requestType"
                     [clearable]="false"
                     (change)="handleRequestTypeChange($event, true)"
                     [notFoundText]="lang.map.msg_not_found"
                     [readonly]="readonly || !isEditRequestTypeAllowed()"
                     formControlName="requestType" validationClasses="requestType">
            <ng-option [value]="option.lookupKey" *ngFor="let option of requestTypes">{{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="oldLicenseFullSerial"
                 for="oldLicenseFullSerial">{{lang.map.license_number}}</label>
          <div class="input-group">
            <input [readonly]="!isEditLicenseAllowed()"
                   (keydown.enter)="isEditLicenseAllowed() && licenseSearch($event)"
                   formControlName="oldLicenseFullSerial"
                   type="text" validationClasses="oldLicenseFullSerial" class="form-control"
                   id="oldLicenseFullSerial" trimInput>
            <button type="button" (click)="licenseSearch($event)" *ngIf="isEditLicenseAllowed()"
                    class="input-group-text">
              <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="projectWorkArea"
                 for="projectWorkArea">{{lang.map.work_area}}</label>
          <ng-select [readonly]="readonly" validationClasses="projectWorkArea" appendTo="body" [clearable]="false"
                     id="projectWorkArea"
                     formControlName="projectWorkArea">
            <ng-option [value]="option.lookupKey" *ngFor="let option of workAreas">{{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="projectWorkArea"></app-field-error-message>
        </div>
      </div>
      <div *ngIf="selectedLicense">
        <selected-license-table (clearLicense)="clearLicense()" [ignoreDelete]="!isEditLicenseAllowed()"
                                [caseType]="caseTypes.PROJECT_IMPLEMENTATION"
                                [caseTypeViewLicense]="caseTypes.PROJECT_IMPLEMENTATION"
                                [licenseList]="[selectedLicense]"
                                [columns]="service.selectLicenseDisplayColumns"></selected-license-table>
      </div>
      <div class="row" formGroupName="basicInfo">
        <div class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="beneficiaryCountry"
                 for="beneficiaryCountry">{{lang.map.beneficiary_country}}</label>
          <ng-select [readonly]="readonly" validationClasses="beneficiaryCountry" appendTo="body" [clearable]="true"
                     id="beneficiaryCountry"
                     formControlName="beneficiaryCountry">
            <ng-option  [value]="option.id"
                       *ngFor="let option of countries">{{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="beneficiaryCountry"></app-field-error-message>
        </div>
        <div *ngIf="displayDomain" class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="domain"
                 for="domain">{{lang.map.domain}}</label>
          <ng-select [readonly]="readonly" validationClasses="domain" appendTo="body" [clearable]="false" id="domain"
                     formControlName="domain">
            <ng-option [value]="option.lookupKey" *ngFor="let option of domains">{{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="domain"></app-field-error-message>
        </div>
        <ng-container *ngIf="displayDac"><!-- DAC  -->
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="mainDACCategory"
                   for="mainDACCategory">{{lang.map.main_dac_category}}</label>
            <ng-select [readonly]="readonly" validationClasses="mainDACCategory" appendTo="body" [clearable]="true"
                       id="mainDACCategory"
                       formControlName="mainDACCategory">
              <ng-option [disabled]="!option.isActive()" [value]="option.id"
                         *ngFor="let option of mainDacCategories">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="mainDACCategory"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="subDACCategory"
                   for="subDACCategory">{{lang.map.sub_dac_category}}</label>
            <ng-select [readonly]="readonly" validationClasses="subDACCategory" appendTo="body" [clearable]="true"
                       id="subDACCategory"
                       formControlName="subDACCategory">
              <ng-option [disabled]="!option.isActive()" [value]="option.id"
                         *ngFor="let option of subDacCategories">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="subDACCategory"></app-field-error-message>
          </div>
        </ng-container><!-- END DAC-->
        <ng-container *ngIf="displayOcha"><!-- OCHA  -->
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="mainUNOCHACategory"
                   for="mainUNOCHACategory">{{lang.map.main_unocha_category}}</label>
            <ng-select [readonly]="readonly" validationClasses="mainUNOCHACategory" appendTo="body" [clearable]="true"
                       id="mainUNOCHACategory"
                       formControlName="mainUNOCHACategory">
              <ng-option [disabled]="!option.isActive()" [value]="option.id"
                         *ngFor="let option of mainUNOCHACategories">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="mainUNOCHACategory"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="subUNOCHACategory"
                   for="subUNOCHACategory">{{lang.map.sub_unocha_category}}</label>
            <ng-select [readonly]="readonly" validationClasses="subUNOCHACategory" appendTo="body" [clearable]="true"
                       id="subUNOCHACategory"
                       formControlName="subUNOCHACategory">
              <ng-option [disabled]="!option.isActive()" [value]="option.id"
                         *ngFor="let option of subUNOCHACategories">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="subUNOCHACategory"></app-field-error-message>
          </div>
        </ng-container><!-- END OCHA-->
        <div *ngIf="displayInternal" class="col-md-4 col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="internalProjectClassification"
                 for="internalProjectClassification">{{lang.map.internal_projects_classification}}</label>
          <ng-select [readonly]="readonly" validationClasses="internalProjectClassification" appendTo="body"
                     [clearable]="true"
                     id="internalProjectClassification"
                     formControlName="internalProjectClassification">
            <ng-option [value]="option.lookupKey"
                       *ngFor="let option of internalProjectClassifications">{{option.getName()}}</ng-option>
          </ng-select>
          <app-field-error-message controlName="internalProjectClassification"></app-field-error-message>
        </div>
      </div>
    </ng-template>
    <ng-template #project_info>
      <ng-container formGroupName="projectInfo">
        <implementation-template [requestType]="requestType.value"
                                 [caseId]="model!.id" formControlName="implementationTemplate"
                                 [criteria]="getCriteria"
                                 [disableRemove]="isAllowedToUpdateModel()"></implementation-template>
        <implementing-agency-list [country]="executionCountry"
                                  [type]="implementingAgencyType.value"
                                  formControlName="implementingAgencyList">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="implementingAgencyType"
                   for="implementingAgencyType">{{lang.map.implementation_agency_type}}</label>
            <ng-select [readonly]="readonly ||!executionCountry" validationClasses="implementingAgencyType" appendTo="body"
                       [clearable]="true"
                       id="implementingAgencyType"
                       formControlName="implementingAgencyType">
              <ng-option [value]="option.lookupKey" *ngFor="let option of agencyTypes">{{option.getName()}}</ng-option>
            </ng-select>
            <app-field-error-message controlName="implementingAgencyType"></app-field-error-message>
          </div>
        </implementing-agency-list>
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label asteriskIfRequired="licenseStartDate" for="licenseStartDate"
                   class="form-label">{{lang.map.license_start_date}}</label>
            <div class="input-group">
              <i class="input-group-text mdi mdi-calendar"></i>
              <div class="form-control" formControlName="licenseStartDate"
                   id="licenseStartDate" [options]="datepickerOptionsMap.licenseStartDate"
                   (click)="!isLicenseStartDateDisabled() && dpLicenseStartDate.toggleCalendar()"
                   [ngClass]="{'input-disabled': isLicenseStartDateDisabled()}"
                   #dpLicenseStartDate="angular-mydatepicker"
                   angular-mydatepicker validationClasses="licenseStartDate"></div>
              <app-field-error-message controlName="licenseStartDate"></app-field-error-message>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="projectEvaluationSLA"
                   for="projectEvaluationSLA">{{lang.map.project_evaluation_sla}} ({{lang.map.months}})</label>
            <input id="projectEvaluationSLA"
                   validationClasses="projectEvaluationSLA"
                   formControlName="projectEvaluationSLA" class="form-control">
            <app-field-error-message controlName="projectEvaluationSLA"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="licenseDuration"
                   for="licenseDuration">{{lang.map.license_duration}} ({{lang.map.months}})</label>
            <input id="licenseDuration" [mask]="inputMaskPatterns.NUMBER_ONLY_WITH_LIMIT(50, true)" [validation]="false"
                   validationClasses="licenseDuration" formControlName="licenseDuration"
                   class="form-control">
            <app-field-error-message controlName="licenseDuration"></app-field-error-message>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 position-relative">
            <label class="form-label"
                   for="licenseEndDate">{{lang.map.license_end_date}}</label>
            <input readonly id="licenseEndDate" [value]="licenseEndDate ?? ''" class="form-control">
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #funding_sources>
      <ng-container formGroupName="fundingResources">
        <implementation-fundraising (amountConsumed)="onAmountConsumed($event)"
                                    [remainingAmount]="remainingAmount"
                                    [currentTemplate]="implementationTemplate.value"
                                    [criteria]="getCriteria"
                                    [projectTotalCost]="projectTotalCost.value"
                                    [caseId]="model!.getCaseId()"
                                    [requestType]="requestType.value"
                                    formControlName="implementationFundraising"
                                    [disableRemove]="isAllowedToUpdateModel()"></implementation-fundraising>
        <br>
        <fund-source [permitAmountConsumed]="permitAmountConsumed"
                     [remainingAmount]="remainingAmount"
                     [type]="FundSourceType.GRANT"
                     [projectTotalCost]="projectTotalCost.value"
                     formControlName="financialGrant"></fund-source>
        <br>
        <fund-source [permitAmountConsumed]="permitAmountConsumed"
                     [remainingAmount]="remainingAmount"
                     [type]="FundSourceType.SELF"
                     [projectTotalCost]="projectTotalCost.value"
                     formControlName="selfFinancing"></fund-source>
        <br>
        <payments [projectTotalCost]="projectTotalCost.value" [projectCollectedValue]="totalFundingResource"
                  formControlName="payment"></payments>
      </ng-container>
    </ng-template>
    <ng-template #special_explanations>
      <ng-container formGroupName="specialExplanations">
        <div class="col-sm-12 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="description"
                 for="description">{{lang.map.lbl_description}}</label>
          <textarea [readonly]="readonly" name="description" formControlName="description"
                    validationClasses="description" id="description"
                    rows="4" class="form-control"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #attachmentsTab>
      <attachments [caseId]="model?.id" [caseType]="model?.caseType"
                   [model]="model" [formProperties]="formProperties"
                   [service]="service.documentService"></attachments>
    </ng-template>
  </ng-container>
</div>
