

<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator"
                 [filter]="filterControl.value"
                 [useSearchToFilter]="true"
                 [data]="models"
                 [columns]="displayedColumns"
                 sortableTable>
        <table class="table table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="extra-header">
            <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
              <table-header tableTitle="menu_organization_user"
                            [reload$]="reload$"
                            [add$]="add$"
                            (textChange)="filterControl.setValue($event)"
                            [allowAdd]="externalUserUpdateRequestService.canAddUser()"
                            [sort]="table.dataSource.sort"
                            >
              </table-header>
            </th>
          </ng-container>
          <ng-container *ngFor="let column of searchColumns" [cdkColumnDef]="column">
            <th cdk-header-cell *cdkHeaderCellDef>
              <header-search-field (filterChange)="columnFilter$.next($event)" [form]="columnFilterForm"
                                       [searchConfig]="searchColumnsConfig" [column]="column">
              </header-search-field>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="profileHeader">
            <th cdk-header-cell colspan="100" *cdkHeaderCellDef="let row">
              <ng-container [ngTemplateOutlet]="profileHeaderTemplate"></ng-container>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="domainName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.login_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.domainName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="arName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_arabic_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-rtl d-inline-block">{{row.arName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="enName">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_english_name}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="dir-ltr d-inline-block">{{row.enName}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="empNum">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{langService.map.lbl_employee_number}}</th>
            <td cdk-cell *cdkCellDef="let row"><span class="user-select-all">{{row.empNum}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="organization">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.organization"> {{langService.map.lbl_organization}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.profileInfo?.getName() || ''}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="status">
            <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                [sortCallback]="sortingCallbacks.status"> {{langService.map.lbl_status}}</th>
            <td cdk-cell *cdkCellDef="let row"><span>{{row.statusInfo.getName()}}</span></td>
          </ng-container>
          <ng-container cdkColumnDef="statusDateModified">
            <th cdk-header-cell *cdkHeaderCellDef class="date-column"
                sortable-header>{{langService.map.lbl_status_date_modified}}</th>
            <td cdk-cell *cdkCellDef="let row" class="date-column">{{row.statusDateModifiedString}}</td>
          </ng-container>
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{langService.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="itemIndex">
              </grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="['profileHeader']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="searchColumns"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns" class="table-row-header"></tr>
          <tr cdk-row (contextmenu)="menu.open($event , row)" *cdkRowDef="let row; columns: table.columns;"></tr>
          <tr *cdkNoDataRow>
            <td colspan="100" class="text-center">{{langService.map.no_records_to_display}}</td>
          </tr>
        </table>
      </app-table>
      <app-paginator #paginator [backend]="true" (pageChange)="pageChange($event)" [length]="count"></app-paginator>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>


<ng-template #profileHeaderTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="d-flex align-items-center">
          <div class="col-2"> 
            <label for="profileId">{{langService.map.menu_profile}}:</label>
          </div>
          <div class="col-10">
            <ng-select [selectOnTab]="true" [clearable]="false"
            placeholder="{{langService.map.select}}" id="profileId"
            [notFoundText]="langService.map.msg_not_found" appendTo="body"
            [formControl]="profileIdControl"
            (change)="filterUsersByProfile(true)">
              <ng-option value="">{{langService.map.lbl_all}}</ng-option>
              <ng-option *ngFor="let option of profiles$|async" [value]="option.id">
                {{option.getName()}}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>