<div class="row">
  <app-table [formGroup]="fromGroup" #table
             [useSearchToFilter]="true"
             [data]="value"
             [columns]="displayedColumns">
    <table cdk-table [dataSource]="table.dataSource" class="table table-striped table-bordered caption-top">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header
          tableTitle="menu_projects_fundraising"
          [add$]="addFundraisingLicense$"
          [allowAdd]="!disabled"
          [skipClearSort]="true"
          [skipSearch]="true">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="projectLicenseFullSerial">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.projectLicenseFullSerial}} </td>
      </ng-container>
      <ng-container cdkColumnDef="arName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.arabic_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.arabicName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="enName">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.english_name}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.englishName}} </td>
      </ng-container>
      <ng-container cdkColumnDef="projectTotalCost">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.target_amount}}</th>
        <td cdk-cell
            *cdkCellDef="let row"> {{row.projectTotalCost | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
      </ng-container>
      <ng-container cdkColumnDef="permitType">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.permit_type}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.permitTypeInfo.getName()}} </td>
      </ng-container>
      <ng-container cdkColumnDef="consumedAmount">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.consumed_amount}}</th>
        <td cdk-cell
            *cdkCellDef="let row"> {{row.consumedAmount | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
      </ng-container>
      <ng-container cdkColumnDef="collected">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.collected_amount}}</th>
        <td cdk-cell
            *cdkCellDef="let row"> {{row.collected | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR}} </td>
      </ng-container>
      <ng-container cdkColumnDef="remainingAmount">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.remaining_amount}}</th>
        <td cdk-cell
            *cdkCellDef="let row; let i = index">
          <div class="d-flex">
            <span>{{row.remainingAmount | mask: inputMaskPatterns.SEPARATOR : inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="totalCost">
        <th cdk-header-cell style="width:200px" *cdkHeaderCellDef> {{lang.map.total_cost}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;">
          <ng-container formArrayName="inputs">
            <div class="d-flex">
              <input [readonly]="disabled || isItemDisabled(i)" [id]="'fundraising-'+i" class="form-control form-control-sm" [formControlName]="i"
                     [mask]="inputMaskPatterns.SEPARATOR"
                     [thousandSeparator]="inputMaskPatterns.THOUSAND_SEPARATOR"
                     [dropSpecialCharacters]="[',']">
              <div [tooltip]="lang.map.take_the_remaining">
                <!-- <button [disabled]="disabled || noRemainingValue(i)" (click)="takeRemaining(i)"
                        class="btn icon-btn p-0">
                  <i class="mdi mdi-hand-coin-outline text-primary"></i>
                </button> -->
                <button [disabled]="disabled" (click)="takeRemaining(i)"
                        class="btn icon-btn p-0">
                  <i class="mdi mdi-hand-coin-outline text-primary"></i>
                </button>
              </div>
              <div class="flex-grow-1"></div>
            </div>
          </ng-container>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell style="width:120px" *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i= index">
          <div class="d-flex">
            <div class="flex-grow-0 flex-shrink-1" [tooltip]="row.notes">
              <button [disabled]="disabled" (click)="!disabled && openComment(row , i)"
                      class="btn p-0 icon-btn">
                <i class="mdi mdi-comment-text text-primary"></i>
              </button>
            </div>
            <button [disabled]="disabled || isTemplatePermit(row)" (click)="!disabled && !isTemplatePermit(row) && deletePermit(row)"
                    class="btn p-0 icon-btn">
              <i class="mdi mdi-trash-can text-primary"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="Total">
        <th colspan="7" cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.total}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="TotalValue">
        <th colspan="2" cdk-header-cell
            *cdkFooterCellDef>
          <div class="d-flex align-items-center h6 mb-0">
            {{totalValue | mask: inputMaskPatterns.SEPARATOR: inputMaskPatterns.THOUSAND_SEPARATOR}}
          </div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="ProjectCost">
        <th colspan="7" cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.project_total_cost}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="ProjectCostValue">
        <th colspan="2" cdk-header-cell
            *cdkFooterCellDef>
          <div class="d-flex align-items-center h6 mb-0">
            {{projectTotalCost | mask: inputMaskPatterns.SEPARATOR: inputMaskPatterns.THOUSAND_SEPARATOR}}
          </div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="Remaining">
        <th colspan="7" cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.remaining_amount}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="RemainingValue">
        <th colspan="2" [ngClass]="{remain:remainingAmount!==0}" cdk-header-cell
            *cdkFooterCellDef>
          <div class="d-flex align-items-center h6 mb-0">
            {{remainingAmount | mask: inputMaskPatterns.SEPARATOR: inputMaskPatterns.THOUSAND_SEPARATOR}}
          </div>
        </th>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['Total','TotalValue']"></tr>
      <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['ProjectCost','ProjectCostValue']"></tr>
      <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['Remaining','RemainingValue']"></tr>
      <tr *cdkNoDataRow>
        <td colspan="20">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>
