<div class="row mb-4">
  <div class="col">
    <div class="d-flex align-items-center justify-content-start">
      <h1 class="h6 text-primary">{{lang.map.menu_service_search}}</h1>
      <div>
        <button [tooltip]="lang.map.btn_reload" class="btn text-primary icon-btn"><i
          class="mdi mdi-reload"></i>
        </button>
      </div>
      <div>
        <select [formControl]="serviceControl" class="form-select mx-4">
          <option [ngValue]="service"
                  *ngFor="let service of serviceNumbers">{{eService.services.get(service).getName()}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <tabs-list>
    <tab [title]="lang.map.search_criteria" [template]="formCriteria"></tab>
    <tab [title]="lang.map.search_result" [template]="searchResult"></tab>
  </tabs-list>
  <ng-template #formCriteria>
    <form autocomplete="off" [formGroup]="form">
      <formly-form [form]="form" [fields]="fields"></formly-form>
    </form>
    <button class="btn mb-4 btn-primary shadow shadow-sm" (click)="search()">{{lang.map.lbl_search}}</button>
  </ng-template>
  <ng-template #searchResult>

  </ng-template>
</div>
