<div class="table-responsive">
  <app-table #table sortableTable [paginator]="paginator" [data]="list" [columns]="displayColumns"
    [filter]="filterControl.value" [useSearchToFilter]="true">
    <!-- projectNeeds -->
    <table class="table mt-3 table-striped table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
      <ng-container cdkColumnDef="extra-header">
        <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
          <table-header tableTitle="project_needs" [add$]="add$" [allowAdd]="!this.readonly" [skipClearSort]="true"
            (textChange)="filterControl.setValue($event)">
          </table-header>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="projectName">
        <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.project_name }}</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.projectName }}</td>
        <td cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>
      <ng-container cdkColumnDef="projectDescription">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ lang.map.project_description }}
        </th>
        <td cdk-cell *cdkCellDef="let row">{{ row.projectDescription }}</td>
        <td cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>

      <ng-container cdkColumnDef="beneficiaries">
        <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.lbl_beneficiaries_nature }}</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.beneficiaries }}</td>
        <td cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>
      <ng-container cdkColumnDef="goals">
        <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.project_goals }}</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.goals }}</td>
        <td cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>
      <ng-container cdkColumnDef="totalCost">
        <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.total_cost }}</th>
        <td cdk-cell class="text-end" *cdkCellDef="let row">{{ (row.totalCost ?? 0) |
          mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>{{ lang.map.lbl_actions }}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index" class="table-actions">
          <grid-actions [record]="row" [actions]="actions" [itemIndex]="i" [rebindTrigger]="readonly"></grid-actions>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="totalCostFooterLabel">
        <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
          <span><b> {{lang.map.total_cost}}: </b></span>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="totalCostFooter">
        <td cdk-footer-cell class="text-end" *cdkFooterCellDef="let row">
          <span><b>{{calculateTotalCost() | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR
              }}</b></span>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="['extra-header']"></tr>
      <tr cdk-header-row *cdkHeaderRowDef="displayColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayColumns"></tr>
      <tr cdk-footer-row *cdkFooterRowDef="footerColumns" [hidden]="!list || list.length === 0"></tr>

      <tr *cdkNoDataRow>
        <td colspan="100" class="text-center">
          {{ lang.map.no_records_to_display }}
        </td>
      </tr>
    </table>
    <app-paginator #paginator></app-paginator>
  </app-table>
</div>
