<div class="row mb-2">
  <app-page-header [pageTitle]="'distribute_target_amount_over_years'"
  [removeContainerClasses]="true"></app-page-header>
</div>
<div class="row">
  <div class="col-sm-12 mb-4 position-relative">
    <div class="d-flex align-items-end gap-2">
      <div class="flex-grow-1">
        <ng-select [formControl]="item" appendTo="body" [clearable]="true" id="selectedNumberOfYears"
                   placeholder="{{lang.map.select}}"
                   [notFoundText]="lang.map.msg_not_found"
                   [readonly]="readonly">
          <ng-option [disabled]="itemExists(option)" [value]="option"
                     *ngFor="let option of yearsList">{{option}} {{lang.map.year_s}}</ng-option>
        </ng-select>
      </div>
      <button (click)="!readonly && addItem()" [disabled]="readonly || !item.value"
              class="btn btn-primary">{{lang.map.btn_add}}</button>
      <button (click)="!readonly && addAllItems()" [disabled]="readonly"
              class="btn btn-primary">{{lang.map.btn_add_all}}</button>
    </div>
  </div>
</div>
<div class="row mb-2">
  <app-table [formGroup]="form" #table [data]="_model.amountOverYearsList"
             [columns]="displayedColumns">
    <table formArrayName="list" cdk-table [dataSource]="table.dataSource"
           class="table table-striped table-bordered caption-top">
      <ng-container cdkColumnDef="year">
        <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.year}}</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.year}} {{lang.map.year_s}}</td>
      </ng-container>

      <ng-container cdkColumnDef="amount">
        <th cdk-header-cell style="width: 200px" *cdkHeaderCellDef> {{lang.map.amount}}</th>
        <!--        <td cdk-cell *cdkCellDef="let row"> {{row.targetAmount | mask : maskPattern.SEPARATOR: maskPattern.THOUSAND_SEPARATOR}} </td>-->

        <td cdk-cell *cdkCellDef="let row; let i = index">
          <ng-container [formGroupName]="i">
            <div class="d-flex">
              <input [readonly]="readonly" id="year_name_{{i}}" [mask]="maskPattern.SEPARATOR"
                     [thousandSeparator]="maskPattern.THOUSAND_SEPARATOR"
                     [dropSpecialCharacters]="[',']"
                     style="width:120px" formControlName="targetAmount" class="form-control form-control-sm">
              <div [tooltip]="lang.map.take_the_remaining">
                <button [disabled]="!remain" (click)="takeTheRemaining(i)" class="btn icon-btn p-0">
                  <i class="mdi mdi-hand-coin-outline text-primary"></i>
                </button>
              </div>
              <div class="flex-grow-1"></div>
            </div>

          </ng-container>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell style="width:120px" *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
        <td cdk-cell *cdkCellDef="let row; let i = index">
          <button [disabled]="readonly"
                  (click)="!readonly && removeItem(row , i)"
                  [tooltip]="lang.map.btn_remove"
                  class="btn icon-btn">
            <i class="mdi text-primary mdi-trash-can"></i>
          </button>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="total">
        <th cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.total}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="totalValue">
        <th cdk-header-cell colspan="1" *cdkFooterCellDef>
          <div
            class="d-flex align-items-center h6 mb-0">{{totalValue| mask:maskPattern.SEPARATOR:maskPattern.THOUSAND_SEPARATOR}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="targetAmount">
        <th cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.target_amount}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="targetValue">
        <th cdk-header-cell colspan="1" *cdkFooterCellDef>
          <div
            class="d-flex align-items-center h6 mb-0">{{_model.targetAmount| mask:maskPattern.SEPARATOR:maskPattern.THOUSAND_SEPARATOR}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="remain">
        <th cdk-header-cell *cdkFooterCellDef>
          <div class="d-flex align-items-center justify-content-end h6 mb-0">{{lang.map.remain}}</div>
        </th>
      </ng-container>
      <ng-container cdkColumnDef="remainValue">
        <th cdk-header-cell colspan="1" [ngClass]="{remain:remain!==0}" *cdkFooterCellDef>
          <div class="d-flex align-items-center">
            <span class="h6 mb-0">{{remain| mask:maskPattern.SEPARATOR:maskPattern.THOUSAND_SEPARATOR}}</span>
            <div [tooltip]="lang.map.distribute_evenly">
              <button [disabled]="!remain" (click)="remain && distributeRemaining()"
                      class="btn icon-btn p-0">
                <i class="mdi mdi-hand-coin text-primary"></i>
              </button>
            </div>
            <div class="flex-grow-1"></div>
          </div>
        </th>
      </ng-container>
      <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['total','totalValue']"></tr>
      <!-- <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['targetAmount','targetValue']"></tr> -->
      <tr cdk-footer-row class="table-row-header" *cdkFooterRowDef="['remain','remainValue']"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      <tr *cdkNoDataRow>
        <td colspan="20">{{lang.map.no_records_to_display}}</td>
      </tr>
    </table>
  </app-table>
</div>
