<ng-container [formGroup]="form">
    <div class="row">
      <div class="col-6 p-2 pb-1 plate-section">
        <div class="d-flex justify-content-between">
          <label for="plateZone" asteriskIfRequired="zone" dir="ltr" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getEnglishLocalByKey('lbl_zone')}}</label>
          <label for="plateZone" asteriskIfRequired="zone" dir="rtl" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getArabicLocalByKey('lbl_zone')}}</label>
        </div>
        <div class="plate-input-container position-relative mb-4">
          <input type="text" id="plateZone" class="form-control fw-bold fs-3" onlyNumbers
                 [mask]="inputMaskPatterns.NUMBER_ONLY"
                 formControlName="zone" validationClasses="zone" trimInput [readonly]="readOnly">
          <app-field-error-message controlName="zone"></app-field-error-message>
        </div>
      </div>
      <div class="col-6 p-2 pb-1 plate-section">
        <div class="d-flex justify-content-between">
          <label for="plateStreet" asteriskIfRequired="street" dir="ltr" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getEnglishLocalByKey('lbl_street')}}</label>
          <label for="plateStreet" asteriskIfRequired="street" dir="rtl" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getArabicLocalByKey('lbl_street')}}</label>
        </div>
        <div class="plate-input-container position-relative mb-4">
          <input type="text" id="plateStreet" class="form-control fw-bold fs-3" onlyNumbers
                 [mask]="inputMaskPatterns.NUMBER_ONLY"
                 formControlName="street" validationClasses="street" trimInput [readonly]="readOnly">
          <app-field-error-message controlName="street"></app-field-error-message>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-2 pb-1 plate-section">
        <div class="d-flex justify-content-between">
          <label for="plateBuildingNo" asteriskIfRequired="buildingNo" dir="ltr" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getEnglishLocalByKey('building_number')}}</label>
          <label for="plateBuildingNo" asteriskIfRequired="buildingNo" dir="rtl" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getArabicLocalByKey('building_number')}}</label>
        </div>
        <div class="plate-input-container position-relative mb-4">
          <input type="text" id="plateBuildingNo" class="form-control fw-bold fs-3" onlyNumbers
                 [mask]="inputMaskPatterns.NUMBER_ONLY"
                 formControlName="buildingNo" validationClasses="buildingNo" trimInput [readonly]="readOnly">
          <app-field-error-message controlName="buildingNo"></app-field-error-message>
        </div>
      </div>
      <div class="col-6 p-2 pb-1 plate-section">
        <div class="d-flex justify-content-between">
          <label for="plateUnit" asteriskIfRequired="unit" dir="ltr" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getEnglishLocalByKey('unit')}}</label>
          <label for="plateUnit" asteriskIfRequired="unit" dir="rtl" [customRequiredClass]="requiredElementClass"
                 class="form-label">{{lang.getArabicLocalByKey('unit')}}</label>
        </div>
        <div class="plate-input-container position-relative mb-4">
          <input type="text" id="plateUnit" class="form-control fw-bold fs-3" onlyNumbers
                 [mask]="inputMaskPatterns.NUMBER_ONLY"
                 formControlName="unit" validationClasses="unit" trimInput [readonly]="readOnly">
          <app-field-error-message controlName="unit"></app-field-error-message>
        </div>
      </div>
    </div>
</ng-container>
