<div class="dialog-toolbar bg-primary dialog-toolbar d-flex justify-content-between">
  <h1 class="h6 text-white">{{ editIndex > -1 ? lang.map.btn_update : lang.map.btn_add }} {{
    lang.map.effective_coordination_capabilities }}</h1>
  <button type="button" class="btn-close btn-close-white" tabindex="-1" dialogClose aria-label="Close"></button>
</div>
<div class="dialog-content no-fixed-height">
  <div [formGroup]="form">
    <div formGroupName="{{formArrayName}}">
      <ng-container *ngFor="let control of formArray.controls; let i = index">
        <div [formGroupName]="i">
          <div class="row">
            <!-- Research Topic -->
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label asteriskIfRequired="researchTopic" for="researchTopic"
                class="form-label">{{lang.map.lbl_research_topic}}</label>
              <input id="researchTopic" validationClasses="researchTopic" formControlName="researchTopic" trimInput
                class="form-control">
              <app-field-error-message controlName="researchTopic"></app-field-error-message>
            </div>
            <!-- Search Start Date -->
            <div class="col-12 col-md-4 mb-4 position-relative">
              <label for="searchStartDate" asteriskIfRequired="searchStartDate"
                class="form-label">{{lang.map.lbl_search_start_date}}</label>
              <div class="input-group">
                <i class="input-group-text mdi mdi-calendar"></i>
                <div class="form-control" formControlName="searchStartDate" id="searchStartDate"
                  [options]="datepickerOptionsMap.searchStartDate" (click)="dpsearchStartDate.toggleCalendar()"
                  (inputFieldChanged)="onDateChange($event, 'searchStartDate', 'searchSubmissionDeadline')"
                  [ngClass]="{'input-disabled': viewOnly}" #dpsearchStartDate="angular-mydatepicker"
                  angular-mydatepicker validationClasses="searchStartDate">
                </div>
                <app-field-error-message controlName="searchStartDate"></app-field-error-message>
              </div>
            </div>
            <!-- Search Submission Deadline -->
            <div class="col-12 col-md-4 mb-4 position-relative">
              <label for="searchSubmissionDeadline" asteriskIfRequired="searchSubmissionDeadline"
                class="form-label">{{lang.map.lbl_search_submission_deadline}}</label>
              <div class="input-group">
                <i class="input-group-text mdi mdi-calendar"></i>
                <div class="form-control" formControlName="searchSubmissionDeadline" id="searchSubmissionDeadline"
                  [options]="datepickerOptionsMap.searchSubmissionDeadline"
                  (click)="dpsearchSubmissionDeadline.toggleCalendar()"
                  (inputFieldChanged)="onDateChange($event, 'searchStartDate', 'searchSubmissionDeadline')"
                  [ngClass]="{'input-disabled': viewOnly}" #dpsearchSubmissionDeadline="angular-mydatepicker"
                  angular-mydatepicker validationClasses="searchSubmissionDeadline">
                </div>
                <app-field-error-message controlName="searchSubmissionDeadline"></app-field-error-message>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Required Role -->
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label asteriskIfRequired="requiredRole" for="requiredRole"
                class="form-label">{{lang.map.lbl_required_role}}</label>
              <input id="requiredRole" validationClasses="requiredRole" formControlName="requiredRole" trimInput
                class="form-control">
              <app-field-error-message controlName="requiredRole"></app-field-error-message>
            </div>
            <!-- Financial Cost -->
            <div class="col-sm-12 col-md-4 mb-4 position-relative">
              <label asteriskIfRequired="financialCost" for="financialCost"
                class="form-label">{{lang.map.lbl_financial_cost}}</label>
              <input id="financialCost" validationClasses="financialCost" formControlName="financialCost" trimInput
                class="form-control">
              <app-field-error-message controlName="financialCost"></app-field-error-message>
            </div>
          </div>
          <div class="row">
            <!-- Research And Study Objectives -->
            <div class="col-12 mb-4 position-relative">
              <label asteriskIfRequired="researchAndStudyObjectives" for="researchAndStudyObjectives"
                class="form-label">{{
                lang.map.lbl_research_and_study_objectives }}</label>
              <textarea rows="5" id="researchAndStudyObjectives" validationClasses="researchAndStudyObjectives"
                formControlName="researchAndStudyObjectives" class="form-control" trimInput></textarea>
              <app-field-error-message controlName="researchAndStudyObjectives"></app-field-error-message>
            </div>
            <!-- Motives And Reasons -->
            <div class="col-12 mb-4 position-relative">
              <label asteriskIfRequired="motivesAndReasons" for="motivesAndReasons" class="form-label">{{
                lang.map.lbl_motives_and_reasons }}</label>
              <textarea rows="5" id="motivesAndReasons" validationClasses="motivesAndReasons"
                formControlName="motivesAndReasons" class="form-control" trimInput></textarea>
              <app-field-error-message controlName="motivesAndReasons"></app-field-error-message>
            </div>
            <!-- Expected Research Results -->
            <div class="col-12 mb-4 position-relative">
              <label asteriskIfRequired="expectedResearchResults" for="expectedResearchResults"
                class="form-label">{{lang.map.lbl_expected_research_results}}</label>
              <textarea rows="5" id="expectedResearchResults" validationClasses="expectedResearchResults"
                formControlName="expectedResearchResults" class="form-control" trimInput></textarea>
              <app-field-error-message controlName="expectedResearchResults"></app-field-error-message>
            </div>
            <!-- Researcher Definition -->
            <div class="col-12 mb-4 position-relative">
              <label asteriskIfRequired="researcherDefinition" for="researcherDefinition" class="form-label">{{
                lang.map.lbl_researcher_definition }}</label>
              <textarea rows="5" id="researcherDefinition" validationClasses="researcherDefinition"
                formControlName="researcherDefinition" class="form-control" trimInput></textarea>
              <app-field-error-message controlName="researcherDefinition"></app-field-error-message>
            </div>
            <!-- General Landmarks -->
            <div class="col-12 mb-4 position-relative">
              <label asteriskIfRequired="generalLandmarks" for="generalLandmarks"
                class="form-label">{{lang.map.lbl_general_landmarks}}</label>
              <textarea rows="5" id="generalLandmarks" validationClasses="generalLandmarks"
                formControlName="generalLandmarks" class="form-control" trimInput></textarea>
              <app-field-error-message controlName="generalLandmarks"></app-field-error-message>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button (click)="save()" [disabled]="!form.valid" *ngIf="!readonly && !viewOnly"
    class="btn btn-primary m-2">{{(editIndex
    > -1) ? lang.map.btn_save : lang.map.btn_add}}</button>
  <button (click)="cancel()" class="btn btn-secondary m-2">{{lang.map.btn_cancel}}</button>
</div>
