<div class="d-flex flex-column">
  <tabs-list [accordionView]="accordionView" (onTabChange)="onTabChange($event)" [hasForm]="true">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
      [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.contactOfficer.name" [hasError]="getTabInvalidStatus('contactOfficer')"
      [template]="contactOfficerTabTemplate" [title]="lang.map.contact_officer"></tab>
    <tab [name]="tabsData.beneficiariesNature.name" [hasError]="getTabInvalidStatus('beneficiariesNature')"
      [template]="beneficiariesNatureTabTemplate" [title]="lang.map.lbl_beneficiaries_nature"></tab>
    <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
         [template]="specialExplanationsTabTemplate" [title]="lang.map.special_explanations"></tab>
    <tab [name]="tabsData.attachments.name" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab"
         [title]="lang.map.attachments" [hasError]="getTabInvalidStatus('attachments')"></tab>
  </tabs-list>

  <ng-template #basicInfoTabTemplate>
    <form [formGroup]="basicInfo" autocomplete="off">
      <h6 class="text-primary">{{ lang.map.request_info }}</h6>
      <div class="row">
        <!-- Request Type -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="requestType" for="requestType" class="form-label">{{ lang.map.request_type
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
            placeholder="{{ lang.map.select }}" id="requestType" [readonly]="readonly"
            (change)="handleRequestTypeChange($event, true)" [notFoundText]="lang.map.msg_not_found" appendTo="body"
            validationClasses="requestType" formControlName="requestType">
            <ng-option *ngFor="let type of collectionRequestType" [value]="type.lookupKey">{{ type.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <!-- License Number -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="oldLicenseFullSerial" for="oldLicenseFullSerial"
            class="form-label">{{lang.map.license_number}}</label>
          <div class="input-group">
            <input (keydown.enter)="isEditOrCancel()" formControlName="oldLicenseFullSerial"
              [readonly]="!isEditOrCancel() || readonly" type="text" validationClasses="oldLicenseFullSerial"
              class="form-control" id="oldLicenseFullSerial" trimInput>
            <button *ngIf="isEditOrCancel() && !readonly" type="button" (click)="licenseSearch($event)"
              class="input-group-text">
              <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldLicenseFullSerial"></app-field-error-message>
          </div>
        </div>
        <!-- goal -->
        <div class="mb-4 position-relative">
          <label for="goal" asteriskIfRequired="goal" class="form-label">{{lang.map.goal}}</label>
          <textarea rows="5" id="goal" [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    validationClasses="goal" [readonly]="isCancel() || readonly" formControlName="goal" trimInput
                    class="form-control"></textarea>
          <app-field-error-message controlName="goal"></app-field-error-message>
        </div>
        <!-- subject -->
        <div class="mb-4 position-relative">
          <label for="subject" asteriskIfRequired="subject" class="form-label">{{lang.map.subject}}</label>
          <textarea rows="5" id="subject" [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
                    validationClasses="subject" [readonly]="isCancel() || readonly" formControlName="subject" trimInput
                    class="form-control"></textarea>
          <app-field-error-message controlName="subject"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>
   <ng-template #contactOfficerTabTemplate>
    <form [formGroup]="contactOfficer" autocomplete="off">
      <div class="row">
        <!-- contact QID -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="contactQID" for="contactQID" class="form-label">{{
            lang.map.identification_number
            }}</label>
          <input id="contactQID" formControlName="contactQID" [readonly]="isCancel() || readonly || isSameAsApplican"
            validationClasses="contactQID" class="form-control" />
          <app-field-error-message controlName="contactQID"></app-field-error-message>
        </div>
        <!-- contact Name -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="contactName" for="contactName" class="form-label">{{
            lang.map.full_name
            }}</label>
          <input id="contactName" formControlName="contactName" [readonly]="isCancel() || readonly || isSameAsApplican"
                 validationClasses="contactName" class="form-control"/>
          <app-field-error-message controlName="contactName"></app-field-error-message>
        </div>
        <!-- contactEmail -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label class="form-label" asteriskIfRequired="contactEmail" for="contactEmail">{{lang.map.lbl_email}}</label>
          <input validationClasses="contactEmail" [readonly]="isCancel() || readonly || isSameAsApplican"
                 formControlName="contactEmail" type="text" id="contactEmail" class="form-control">
          <app-field-error-message controlName="contactEmail"></app-field-error-message>
        </div>
        <!-- contact Phone -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="contactPhone" for="contactPhone" class="form-label">{{
            lang.map.lbl_phone
            }}</label>
          <input type="text" validationClasses="contactPhone" formControlName="contactPhone"
                 [readonly]="isCancel() || readonly || isSameAsApplican" trimInput class="form-control" id="contactPhone"/>
          <app-field-error-message controlName="contactPhone"></app-field-error-message>
        </div>
        <!-- contact Extra Phone -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="contactExtraPhone" for="contactExtraPhone" class="form-label">{{
            lang.map.lbl_mobile_number }}</label>
          <input type="text" validationClasses="contactExtraPhone" formControlName="contactExtraPhone"
                 [readonly]="isCancel() || readonly || isSameAsApplican" trimInput class="form-control" id="contactExtraPhone"/>
          <app-field-error-message controlName="contactExtraPhone"></app-field-error-message>
        </div>
        <!-- Job Title -->
        <div class="col-sm-12 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="jobTitle" for="jobTitle" class="form-label">{{lang.map.job_title}}</label>
          <input id="jobTitle" validationClasses="jobTitle" formControlName="jobTitle" trimInput class="form-control">
          <app-field-error-message controlName="jobTitle"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #beneficiariesNatureTabTemplate>
    <form [formGroup]="beneficiariesNature" autocomplete="off">
      <div class="row">
        <!-- Beneficiaries count -->
        <div class="col-sm-4 position-relative">
          <label asteriskIfRequired="beneficiariesNumber" for="beneficiariesNumber"
            class="form-label">{{lang.map.lbl_beneficiaries_count}}</label>
          <input id="beneficiariesNumber" validationClasses="beneficiariesNumber" formControlName="beneficiariesNumber"
            class="form-control" [mask]="inputMaskPatterns.NUMBER_ONLY">
          <app-field-error-message controlName="beneficiariesNumber"></app-field-error-message>
        </div>
        <!-- Beneficiaries desc -->
        <div class="mb-4 position-relative">
          <label for="beneficiaries" asteriskIfRequired="beneficiaries" class="form-label">{{lang.map.lbl_beneficiaries}}</label>
          <textarea rows="5" id="beneficiaries" [maxlength]="customValidators.defaultLengths.EXPLANATIONS"
            validationClasses="beneficiaries" [readonly]="readonly" formControlName="beneficiaries" trimInput
            class="form-control"></textarea>
          <app-field-error-message controlName="beneficiaries"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #specialExplanationsTabTemplate>
    <form [formGroup]="form" autocomplete="off">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb-4 position-relative">
          <label for="description" asteriskIfRequired="description"
            class="form-label">{{lang.map.special_explanations}}</label>
          <textarea rows="5" id="description" validationClasses="description"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readonly]="isCancel() || readonly"
                    formControlName="description" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
      [service]="service.documentService" [model]="model" [load]="loadAttachments" [formProperties]="formProperties">
    </attachments>
  </ng-template>
</div>
