<app-table
  #table
  [useSearchToFilter]="true"
  [selectable]="true"
  [data]="externalOffices$ | async"
  [columns]="externalOfficesColumns"
  sortableTable
>
  <table
    cdk-table
    [dataSource]="table.dataSource"
    class="table table-striped table-bordered caption-top"
  >
    <ng-container cdkColumnDef="externalOfficeName">
      <th cdk-header-cell sortable-header *cdkHeaderCellDef>
        {{ lang.map.external_office_name }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        {{ row.externalOfficeName }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="country">
      <th cdk-header-cell sortable-header *cdkHeaderCellDef>
        {{ lang.map.country }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        {{ row.countryInfo.getName() }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="region">
      <th cdk-header-cell sortable-header *cdkHeaderCellDef>
        {{ lang.map.region }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        {{ row.region }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="establishmentDate">
      <th cdk-header-cell sortable-header *cdkHeaderCellDef>
        {{ lang.map.establishment_date }}
      </th>
      <td cdk-cell *cdkCellDef="let row">
        {{ row.establishmentDate }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef>
        {{ lang.map.lbl_actions }}
      </th>
      <td cdk-cell *cdkCellDef="let row" class="table-actions">
        <div class="d-flex flex-row">
          <button
            (click)="selectExternalOffice($event, row)"
            tooltip="{{ lang.map.view }}"
            class="btn btn-link outline-none"
          >
            <i class="mdi mdi-eye"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="externalOfficesColumns" class="table-row-header"></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: externalOfficesColumns"
    ></tr>
    <tr *cdkNoDataRow>
      <td colspan="100" class="text-center">
        {{ lang.map.no_records_to_display }}
      </td>
    </tr>
  </table>
</app-table>
