/* You can add global styles to this file, and also import other style files */
@import "./scss/custom_variables";
@import "./scss/style-rtl";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
  background-color: $gray-100;
  overflow: hidden;
  color: #737373;
}

router-outlet {
  display: none;
  visibility: hidden;
}

.mdi {
  font-size: 24px;
  line-height: 1;
}

#password {
  padding-right: 35px !important;
}

.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: rtl !important;
}

.column-style > table > tbody > tr > th {
  background-color: #F2F2F2 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-pane {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .48;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: rgba(0, 0, 0, .32);
  opacity: 0.85 !important;
}

.cdk-overlay-backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
  position: absolute;
  z-index: 1000;
}

.main-toast-wrapper {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-class {
  position: relative;
  pointer-events: none;
  display: inline-block;
}

.dialog-pan-class {
  max-width: 80vw !important;
  max-height: 100% !important;
}

app-dialog-container {
  display: block;
  width: 100%;
  height: 100%;
}

.dialog-toolbar, .dialog-content, .dialog-actions {
  margin: 0 -15px;
  padding: 15px;
}

.dialog-toolbar {
  & > * {
    margin: 0;
  }
}

.dialog-content {
  display: block;
  max-height: 65vh;
  overflow: auto;
  max-width: 100%;
  box-sizing: content-box;
  min-width: 200px;

  &:not(.no-fixed-height) {
    height: 65vh;
  }
}

.dialog-actions {
  border-top: 1px solid tint-color($primary, 80);
  display: flex;
  justify-content: flex-end;

  & > *:not(:first-child) {
    margin-left: 10px;
  }
}


.icon-btn {
  margin: 0 10px;
}

button.icon-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.min-w400px {
  width: 400px;
  max-width: 100%;
}

.invalid-feedback {
  width: 90%;
  top: 100%;
}

.dynamic-list-container {
  ol, ul {
    list-style-type: none;
    padding: 0;

    li {
      text-align: left;
      color: red;
    }
  }
}

.z-index-100 {
  z-index: 100;
}

.z-index-50 {
  z-index: 50;
}

.z-index-1 {
  z-index: 1;
}

dp-date-picker {
  position: absolute !important;
}

.loading-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
}

th.date, td.date {
  min-width: 110px;
}

.font-12 {
  font-size: 12px;
}

.ng-select-wrapper {
  position: relative !important
}

ng-select {
  .ng-select-container {
    height: 38px !important;
  }

  &.ng-select-disabled {
    .ng-select-container {
      background-color: #e9ecef !important;
    }
  }

  &.ng-touched {
    &.ng-valid {
      &.ng-select-opened {
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
      }

      .ng-select-container {
        border-color: #198754 !important;
      }
    }

    &.ng-invalid {
      &.ng-select-opened {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
      }

      .ng-select-container {
        border-color: #dc3545 !important;
      }
    }
  }
}


