/* You can add global styles to this file, and also import other style files */
@import "./scss/custom_variables";

html, body {
  background-color: $gray-100;
  height: 100%;
  width: 100%;
}

router-outlet {
  display: none;
  visibility: hidden;
}

.mdi {
  font-size: 24px;
  line-height: 1px;
}

#password {
  padding-right: 35px !important;
}

html[dir="rtl"] .table-responsive {
  padding-right: 1px;
}

.text-ltr {
  direction: ltr !important;
}

.column-style > table > tbody > tr > th {
  background-color: #F2F2F2 !important;
}
