$primary: #a41737;
$gold: #e8b300;
$custom-gray: #b2b2b1;
$sidebar-gray : #828A95;
$sidebar-expanded-bg: #F9F9F9;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
