@mixin rtl_direction {
  html[dir="rtl"] {
    @content;
  }
}

@mixin ltr_direction {
  html[dir="rtl"] {
    @content;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $size;
    visibility: hidden;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $size;
    visibility: hidden;
  }

  &:hover {
    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
      visibility: visible;
    }
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }

}
