@import "custom_variables";
@import "custom_mixin";

@include rtl_direction {
  body {
    font-family: 'Tajawal', sans-serif;
  }
  .dialog-actions {
    border-top: 1px solid tint-color($primary, 80);
    display: flex;
    justify-content: flex-end;

    & > * {
      margin: 0;
    }

    & > *:not(:last-child) {
      margin-left: 10px;
    }
  }

  .dynamic-list-container {
    li {
      text-align: right;
    }
  }

  .dp-calendar-nav-left, .dp-calendar-nav-right {
    transform: rotate(180deg);
  }

  .table-responsive {
    padding-right: 1px;
  }

  .myDpSelector {
    .myDpNextBtn {
      margin-left: 10px;
      margin-right: auto;

      button {
        transform: rotate(180deg);
      }
    }

    .myDpPrevBtn {
      margin-right: 10px;
      margin-left: auto;

      button {
        transform: rotate(180deg);
      }
    }
  }

  .tooltip {
    &.bs-tooltip-end {
      .tooltip-arrow {
        left: 0;
        right: auto;
        transform: translate(0px, 8px) rotate(180deg) !important;
      }
    }

    &.bs-tooltip-start {
      .tooltip-arrow {
        right: 0;
        left: auto;
        transform: translate(0px, 8px) rotate(180deg) !important;
      }
    }
  }

  .date-field {
    border-radius: 0.25rem 0 0 0.25rem !important;
  }

}
