<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button *ngIf="!hideFullScreen" type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="null" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px no-fixed-height" #dialogContent>
  <form novalidate autocomplete="off" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="componentName"
               for="componentName">{{lang.map.component_name}}</label>
        <input id="componentName" validationClasses="componentName" formControlName="componentName"
               class="form-control" maxlength="100" trimInput>
        <app-field-error-message controlName="componentName"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="details"
               for="details">{{lang.map.details}}</label>
        <input id="details" validationClasses="details" formControlName="details"
               class="form-control" maxlength="250" trimInput>
        <app-field-error-message controlName="details"></app-field-error-message>
      </div>
      <div class="col-sm-12 col-md-6 mb-4 position-relative">
        <label class="form-label" asteriskIfRequired="totalCost"
               for="totalCost">{{lang.map.total_cost}}</label>
        <input id="totalCost" validationClasses="totalCost" formControlName="totalCost"
               class="form-control" maxlength="20" [mask]="inputMaskPatterns.DECIMAL_WITH_SEPARATOR(2)"
               [thousandSeparator]="inputMaskPatterns.THOUSAND_SEPARATOR">
        <app-field-error-message controlName="totalCost"></app-field-error-message>
      </div>
    </div>
  </form>
</div>

<div class="dialog-actions">
  <button tabindex="-1" *ngIf="validateFieldsVisible" (click)="displayFormValidity(null, dialogContent)"
          tooltip="{{lang.map.validate_fields}}" class="btn btn-link">
    <i class="mdi mdi-information-outline text-info"></i>
  </button>
  <span class="flex-grow-1"></span>
  <button [disabled]="form.invalid" *ngIf="saveVisible" (click)="save$.next(null)"
          class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="null" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
