<tabs-list (onTabChange)="onTabChange($event)" [tabByIndex$]="tabIndex$">
  <tab [name]="tabData.moj.name" [template]="MOJTemplate"
       [title]="lang.map[tabData.moj.langKey]"></tab>
  <tab [name]="tabData.moci.name" [template]="MOCITemplate"
       [title]="lang.map[tabData.moci.langKey]"></tab>
  <tab [name]="tabData.mawared.name" [template]="MawaredTemplate"
       [title]="lang.map[tabData.mawared.langKey]"></tab>
  <tab [name]="tabData.garsia.name" [template]="GarsiaTemplate"
       [title]="lang.map[tabData.garsia.langKey]"></tab>
  <tab [name]="tabData.izzab.name" [template]="IzzabTemplate"
       [title]="lang.map[tabData.izzab.langKey]"></tab>
  <tab [name]="tabData.kahramaa.name" [template]="KahramaaTemplate"
       [title]="lang.map[tabData.kahramaa.langKey]"></tab>
  <tab [name]="tabData.qatarCharity.name" [template]="QatarCharityTemplate"
       [title]="lang.map[tabData.qatarCharity.langKey]"></tab>
</tabs-list>
<ng-template #MOJTemplate>
  <gdx-integration-inquiry-log-list #mojLogsComponent [gdxServiceId]="gdxServicesEnum.MOJ" [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, mojLogsComponent)"
  ></gdx-integration-inquiry-log-list>
  <div id="mojFlatsContainer">
    <h6 class="text-primary">{{lang.map.flats_info}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #mojFlatsTable sortableTable [paginator]="mojFlatsPaginator"
                     [data]="relatedData[gdxServiceRelatedTypesEnum.MOJ_FLATS]"
                     [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.MOJ_FLATS]"
                     [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.MOJ_FLATS].value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="mojFlatsTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header tableTitle="flats_info"
                                [sort]="mojFlatsTable.dataSource.sort"
                                (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.MOJ_FLATS].setValue($event)">
                  </table-header>
                </th>
              </ng-container>
              <ng-container cdkColumnDef="transactionNo">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.transaction_number}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.transactionNo}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="transactionType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.transaction_type}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.transactionType}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="ownerName">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.owner_name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.ownerName}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="contractDate">
                <th cdk-header-cell class="date-column" *cdkHeaderCellDef
                    sortable-header> {{lang.map.contract_date}}</th>
                <td cdk-cell class="date-column" *cdkCellDef="let row"><span>{{row.contractDate | date}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="ownerShares">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.shares_count}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.ownerShares}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="mojFlatsTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: mojFlatsTable.columns;"
                  (contextmenu)="mojFlatsMenu.open($event , row)"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #mojFlatsPaginator></app-paginator>
          </app-table>
          <context-menu-item #mojFlatsMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.MOJ_FLATS]"></context-menu-item>
        </div>
      </div>
    </div>
  </div>
  <div id="mojParcelsContainer">
    <h6 class="text-primary">{{lang.map.parcels_info}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #mojParcelsTable sortableTable [paginator]="mojParcelsPaginator"
                     [data]="relatedData[gdxServiceRelatedTypesEnum.MOJ_PARCELS]"
                     [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.MOJ_PARCELS]"
                     [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.MOJ_PARCELS].value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="mojParcelsTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header tableTitle="parcels_info"
                                [sort]="mojParcelsTable.dataSource.sort"
                                (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.MOJ_PARCELS].setValue($event)">
                  </table-header>
                </th>
              </ng-container>
              <ng-container cdkColumnDef="parcelNo">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.parcel_number}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.parcelNo}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="parcelType">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.parcel_type}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.parcelType}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="ownerName">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.owner_name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.ownerName}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="city">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.city}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.city}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="zone">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_zone}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.zone}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="sharesCount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.shares_count}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.sharesCount}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="mojParcelsTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: mojParcelsTable.columns;"
                  (contextmenu)="mojParcelsMenu.open($event , row)"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #mojParcelsPaginator></app-paginator>
          </app-table>
          <context-menu-item #mojParcelsMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.MOJ_PARCELS]"></context-menu-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #MOCITemplate>
  <gdx-integration-inquiry-log-list #mociLogsComponent [gdxServiceId]="gdxServicesEnum.MOCI" [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, mociLogsComponent)"
  ></gdx-integration-inquiry-log-list>
  <div id="mociCompaniesContainer">
    <h6 class="text-primary">{{lang.map.company_info}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #mociCompanyTable sortableTable [paginator]="mociCompanyPaginator"
                     [data]="relatedData[gdxServiceRelatedTypesEnum.MOCI_COMPANIES]"
                     [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES]"
                     [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="mociCompanyTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header tableTitle="company_info"
                                [sort]="mociCompanyTable.dataSource.sort"
                                (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].setValue($event)">
                  </table-header>
                </th>
              </ng-container>
              <ng-container cdkColumnDef="companyName">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacksMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].companyName"> {{lang.map.name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.primaryEstablishmentName}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="licenceNumber">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacksMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].licenceNumber"> {{lang.map.license_number}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.commerciallicenseNumber}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="companyStatus">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacksMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].companyStatus"> {{lang.map.status}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.crnStatus}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="relation">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacksMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].relation"> {{lang.map.relationship}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.ownerType}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="relationStatus">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header [sortParamAsFullItem]="true"
                    [sortCallback]="sortingCallbacksMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES].relationStatus"> {{lang.map.relation_status}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.ownerStatus}}</span></td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="mociCompanyTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: mociCompanyTable.columns;"
                  (contextmenu)="mociCompanyMenu.open($event , row)"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #mociCompanyPaginator></app-paginator>
          </app-table>
          <context-menu-item #mociCompanyMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.MOCI_COMPANIES]"></context-menu-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #MawaredTemplate>
  <gdx-integration-inquiry-log-list #mawaredLogsComponent [gdxServiceId]="gdxServicesEnum.MAWARED"
                                    [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, mawaredLogsComponent)"
  ></gdx-integration-inquiry-log-list>
  <div id="mawaredRelatedDataContainer">
    <h6 class="text-primary">{{lang.map.employees}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #mawaredRelatedDataTable sortableTable [paginator]="mawaredRelatedDataPaginator"
                     [data]="relatedData[gdxServiceRelatedTypesEnum.MAWARED_RELATED]"
                     [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.MAWARED_RELATED]"
                     [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.MAWARED_RELATED].value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="mawaredRelatedDataTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header tableTitle="employees"
                                [sort]="mawaredRelatedDataTable.dataSource.sort"
                                (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.MAWARED_RELATED].setValue($event)">
                  </table-header>
                </th>
              </ng-container>
              <ng-container cdkColumnDef="empNameAr">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.arabic_name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.empNameAr}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="empNameEn">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.english_name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.empNameEn}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="empQID">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.lbl_qid}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.empQID}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="entityName">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.entity_name}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.entityName}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="entityId">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.entity_id}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.entityId}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="firstMonth">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.first_month}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.firstMonth}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="firstPayment">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.first_payment}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.firstPayment ? row.firstPayment + '' : '') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="secondMonth">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.second_month}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.secondMonth}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="secondPayment">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.second_payment}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.secondPayment ? row.secondPayment + '' : '') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="thirdMonth">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.third_month}}</th>
                <td cdk-cell *cdkCellDef="let row"><span>{{row.thirdMonth}}</span></td>
              </ng-container>
              <ng-container cdkColumnDef="thirdPayment">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.third_payment}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.thirdPayment ? row.thirdPayment + '' : '') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="mawaredRelatedDataTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: mawaredRelatedDataTable.columns;"
                  (contextmenu)="mawaredRelatedDataMenu.open($event , row)"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #mawaredRelatedDataPaginator></app-paginator>
          </app-table>
          <context-menu-item #mawaredRelatedDataMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.MAWARED_RELATED]"></context-menu-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #GarsiaTemplate>
  <gdx-integration-inquiry-log-list #garciaLogsComponent [gdxServiceId]="gdxServicesEnum.GARSIA"
                                    [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, garciaLogsComponent)"
  ></gdx-integration-inquiry-log-list>
  <div id="garsiaPensionsContainer">
    <h6 class="text-primary">{{lang.map.garsia_pensions}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <app-table #garsiaPensionTable sortableTable [paginator]="garsiaPensionPaginator"
                   [data]="relatedData[gdxServiceRelatedTypesEnum.GARSIA_PENSION]"
                   [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION]"
                   [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION].value" [useSearchToFilter]="true">
          <table class="table table-striped table-bordered caption-top" cdk-table
                 [dataSource]="garsiaPensionTable.dataSource">
            <ng-container cdkColumnDef="extra-header">
              <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                <table-header tableTitle="garsia_pensions"
                              [sort]="garsiaPensionTable.dataSource.sort"
                              (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION].setValue($event)">
                </table-header>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="pensionArName">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.arabic_name}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.pensionArName}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="pensionEmployer">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.employer}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.pensionEmployer}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="pensionStatus">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.status}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.pensionStatus}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="firstJoinDate">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.first_join_date}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.firstJoinDate | date}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="endOfServiceDate">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.end_of_service_date}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.endOfServiceDate | date}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="finalServicePeriodYears">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.final_service_period_years}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.finalServicePeriodYears}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="finalServicePeriodMonths">
              <th cdk-header-cell *cdkHeaderCellDef
                  sortable-header> {{lang.map.final_service_period_months}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.finalServicePeriodMonths}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="finalServicePeriodDays">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.final_service_period_days}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.finalServicePeriodDays}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="pensionDeserveDate">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.pension_deserve_date}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.pensionDeserveDate | date}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="totalPensionDeserved">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.deserved_amount}}</th>
              <td cdk-cell *cdkCellDef="let row" class="text-end">
                <span>{{(row.totalPensionDeserved ? row.totalPensionDeserved + '' : '') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
              </td>
            </ng-container>
            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
              <td cdk-cell *cdkCellDef="let row; index as itemIndex" class="table-actions">
                <grid-actions [actions]="actionsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION]" [record]="row" [itemIndex]="itemIndex">

                </grid-actions>
              </td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
            <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="garsiaPensionTable.columns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: garsiaPensionTable.columns;"
                (contextmenu)="garsiaPensionMenu.open($event , row)"
                [ngClass]="{'selected-row': selectedGarsiaPension && selectedGarsiaPension.dummyIdentifier === row.dummyIdentifier}"></tr>
            <tr *cdkNoDataRow>
              <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
            </tr>
          </table>
          <app-paginator #garsiaPensionPaginator></app-paginator>
        </app-table>
        <context-menu-item #garsiaPensionMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION]"></context-menu-item>
      </div>
    </div>
  </div>
  <div id="garsiaPensionPaymentsContainer">
    <h6 class="text-primary">{{lang.map.payments}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <app-table #garsiaPensionPaymentTable sortableTable [paginator]="garsiaPensionPaymentPaginator"
                   [data]="relatedData[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT]"
                   [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT]"
                   [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT].value" [useSearchToFilter]="true">
          <table class="table table-striped table-bordered caption-top" cdk-table
                 [dataSource]="garsiaPensionPaymentTable.dataSource">
            <ng-container cdkColumnDef="extra-header">
              <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                <table-header tableTitle="payments"
                              [sort]="garsiaPensionPaymentTable.dataSource.sort"
                              (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT].setValue($event)">
                </table-header>
              </th>
            </ng-container>
            <ng-container cdkColumnDef="payAccountNum">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.account_number}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.payAccountNum}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="payMonth">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.month}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.payMonth}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="payYear">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.year}}</th>
              <td cdk-cell *cdkCellDef="let row"><span>{{row.payYear}}</span></td>
            </ng-container>
            <ng-container cdkColumnDef="payValue">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.amount}}</th>
              <td cdk-cell *cdkCellDef="let row">
                <span>{{(row.payValue ? row.payValue + '' : '') | mask: inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
              </td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
            <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="garsiaPensionPaymentTable.columns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: garsiaPensionPaymentTable.columns;"
                (contextmenu)="garsiaPensionPaymentMenu.open($event , row)"></tr>
            <tr *cdkNoDataRow>
              <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
            </tr>
          </table>
          <app-paginator #garsiaPensionPaymentPaginator></app-paginator>
        </app-table>
        <context-menu-item #garsiaPensionPaymentMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.GARSIA_PENSION_PAYMENT]"></context-menu-item>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #IzzabTemplate>
  <gdx-integration-inquiry-log-list #izzabLogsComponent [gdxServiceId]="gdxServicesEnum.IZZAB"
                                    [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, izzabLogsComponent)"
  ></gdx-integration-inquiry-log-list>
</ng-template>
<ng-template #KahramaaTemplate>
  <gdx-integration-inquiry-log-list #kahramaaLogsComponent [gdxServiceId]="gdxServicesEnum.KAHRAMAA"
                                    [beneficiary]="beneficiary"
                                    (onSelect)="selectLog($event)" (onLoadDone)="loadRecordsDone($event)"
                                    (onReady)="setLookupComponentMap($event, kahramaaLogsComponent)"
  ></gdx-integration-inquiry-log-list>
  <div id="kahramaaRelatedDataContainer">
    <h6 class="text-primary">{{lang.map.outstanding_payment_report}}</h6>
    <hr class="mt-0">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <app-table #kahramaaRelatedDataTable sortableTable [paginator]="kahramaaRelatedDataPaginator"
                     [data]="relatedData[gdxServiceRelatedTypesEnum.KAHRAMAA_RELATED]"
                     [columns]="displayColumnsMap[gdxServiceRelatedTypesEnum.KAHRAMAA_RELATED]"
                     [filter]="filterControlsMap[gdxServiceRelatedTypesEnum.KAHRAMAA_RELATED].value" [useSearchToFilter]="true">
            <table class="table table-striped table-bordered caption-top" cdk-table
                   [dataSource]="kahramaaRelatedDataTable.dataSource">
              <ng-container cdkColumnDef="extra-header">
                <th class="extra-header" cdk-header-cell colSpan="100" *cdkHeaderCellDef>
                  <table-header tableTitle="outstanding_payment_report"
                                [sort]="kahramaaRelatedDataTable.dataSource.sort"
                                (textChange)="filterControlsMap[gdxServiceRelatedTypesEnum.KAHRAMAA_RELATED].setValue($event)">
                  </table-header>
                </th>
              </ng-container>
              <ng-container cdkColumnDef="amount">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.amount}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.amount ? row.amount + '' : '0') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="fees">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.fees}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.fees ? row.fees + '' : '0') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="fine">
                <th cdk-header-cell *cdkHeaderCellDef sortable-header> {{lang.map.fine}}</th>
                <td cdk-cell *cdkCellDef="let row" class="text-end">
                  <span>{{(row.fine ? row.fine + '' : '0') | mask:inputMaskPatterns.SEPARATOR:inputMaskPatterns.THOUSAND_SEPARATOR}}</span>
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="headerColumn"></tr>
              <tr cdk-header-row class="table-row-header" *cdkHeaderRowDef="kahramaaRelatedDataTable.columns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: kahramaaRelatedDataTable.columns;"
                  (contextmenu)="kahramaaRelatedDataMenu.open($event , row)"></tr>
              <tr *cdkNoDataRow>
                <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
              </tr>
            </table>
            <app-paginator #kahramaaRelatedDataPaginator></app-paginator>
          </app-table>
          <context-menu-item #kahramaaRelatedDataMenu [actions]="actionsMap[gdxServiceRelatedTypesEnum.KAHRAMAA_RELATED]"></context-menu-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #QatarCharityTemplate>
  Qatar Charity
</ng-template>
