<div *ngIf="!permissionGroups.length" class="d-flex text-danger justify-content-center">
  {{lang.map.msg_no_menus_available}}
</div>
<div>
  <!--<div class="row">
    <div class="col-12 mb-4 text-end">
      <button *ngIf="user.id"
              (click)="printPermissions($event)" tooltip="{{lang.map.print}}"
              class="btn icon-btn text-primary">
        <i class="mdi mdi-printer"></i>
      </button>
    </div>
  </div>-->
  <tabs-list>
    <tab [name]="tabsData.menus.name" [template]="menusTabTemplate" [title]="langService.map.menus">

    </tab>
    <tab [name]="tabsData.defaultMenus.name" [template]="defaultMenusTapTemplate" [title]="langService.map.systemMenus"></tab>
  </tabs-list>
  <ng-template #menusTabTemplate>
    <div class="row" *ngFor="let checkBoxGroup of permissionGroups">
      <div class="col-sm-12 mb-2">
        <div class="p-2 border border-1">
          <div class="form-check">
            <input [indeterminate]="checkBoxGroup.isIndeterminate()" [disabled]="readonly"
              [checked]="checkBoxGroup.isFull()" type="checkbox" id="menu-group-id-{{checkBoxGroup.group.id}}"
              (change)="groupHandler.onGroupClicked(checkBoxGroup)" class="form-check-input cursor-pointer">
            <label for="menu-group-id-{{checkBoxGroup.group.id}}"
              class="cursor-pointer fw-bold text-primary">{{checkBoxGroup.group.getName()}}</label>
          </div>
          <hr class="mt-0">
          <div *ngFor="let row of checkBoxGroup.rows" class="row mx-2" [ngClass]="{'mx-4': !isParentRow(row)}">
            <ng-container *ngFor="let permission of row">
              <div *ngIf="!!permission && !!permission.id" class="col-sm-12 col-md-4">
                <div class="form-check">
                  <input type="checkbox" [disabled]="readonly" [checked]="checkBoxGroup.isSelected(permission.id)"
                    [value]="permission.id" id="menu-permission-id-{{permission.id}}"
                    (change)="groupHandler.onCheckBoxClicked(permission , $event , checkBoxGroup)"
                    class="form-check-input cursor-pointer">
                  <label for="menu-permission-id-{{permission.id}}"
                    [ngClass]="{'fw-bold': isParentRow(row), 'text-danger': !permission.isActive()}"
                    class="cursor-pointer">{{permission.getNameWithSystemParent()}}</label>
                </div>
              </div>
            </ng-container>
            <hr class="mt-0 mb-2 mx-2" *ngIf="isParentRow(row)">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #defaultMenusTapTemplate>
    <div class="row" *ngFor="let defaultCheckBoxGroup of defaultPermissionGroups">
      <div class="col-sm-12 mb-2">
        <div class="p-2 border border-1">
          <div class="form-check">
            <input [indeterminate]="defaultCheckBoxGroup.isIndeterminate()" [disabled]="readonly"
              [checked]="defaultCheckBoxGroup.isFull()" type="checkbox" id="menu-default-group-id-{{defaultCheckBoxGroup.group.id}}"
              (change)="defaultGroupHandler.onGroupClicked(defaultCheckBoxGroup)" class="form-check-input cursor-pointer">
            <label for="menu-default-group-id-{{defaultCheckBoxGroup.group.id}}"
              class="cursor-pointer fw-bold text-primary">{{defaultCheckBoxGroup.group.getName()}}</label>
          </div>
          <hr class="mt-0">
          <div *ngFor="let row of defaultCheckBoxGroup.rows;let i=index" class="row mx-2" [ngClass]="{'mx-4': !isDefaultParentRow(row)}">
            <ng-container *ngFor="let permission of row">
              <div *ngIf="!!permission && !!permission.systemMenuKey" class="col-sm-12 col-md-4">
                <div class="form-check">
                  <input type="checkbox" [disabled]="readonly"
                   [checked]="permission.isSystemParent? defaultCheckBoxGroup.isChildrenSelected(permission.getChildrenIds()) : defaultCheckBoxGroup.isSelected(permission.id)"
                    [value]="permission.id" id="menu-default-permission-id-{{permission.isSystemParent ? getRandomValue(i) : permission.id}}"
                    (change)="defaultGroupHandler.onCheckBoxClicked(permission , $event , defaultCheckBoxGroup)"
                    class="form-check-input cursor-pointer">
                  <label for="menu-default-permission-id-{{permission.isSystemParent ? getRandomValue(i) : permission.id}}"
                    [ngClass]="{'fw-bold': isDefaultParentRow(row), 'text-danger': !isDefaultParentRow(row) && !permission.isActive()}"
                    class="cursor-pointer">{{permission.getNameWithSystemParent()}}</label>
                </div>
              </div>
            </ng-container>
            <hr class="mt-0 mb-2 mx-2" *ngIf="isParentRow(row)">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
