<div class="row">
  <div class="col-12">
    <app-custom-menus-table
    [actions]="actions"
    [bulkActionsList]="bulkActionsList"
    [add$]="add$"
    [reload$]="reload$"
    [data]="models"
    [displayedColumns]="displayedColumns"
    [readonly]="readonly"
    [lang]="lang"
    [toast]="toast"
    [parent]="parent"
    [pageChange]="pageChange"
    [count]="count"
    >

    </app-custom-menus-table>
  </div>
</div>
<ng-template #bulk>
  <ng-container *ngIf="table">
    <app-bulk-actions *ngIf="table.selection && table.selection.selected.length"
                      [selectedRecords]="table.selection.selected"
                      [actionsList]="bulkActionsList"
                      [reversedColors]="true"
                      ></app-bulk-actions>
  </ng-container>
</ng-template>
<ng-template #customMenus>

</ng-template>
