<div class="d-flex flex-column">
  <tabs-list [accordionView]="accordionView" (onTabChange)="onTabChange($event)" [hasForm]="true">
    <tab [name]="tabsData.basicInfo.name" [hasError]="getTabInvalidStatus('basicInfo')"
         [template]="basicInfoTabTemplate" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.DSNNN.name" [hasError]="getTabInvalidStatus('DSNNN')" [template]="DSNNNTabTemplate"
         [title]="lang.map.disclosure_statements_notices_notifications_notices"></tab>
    <tab [name]="tabsData.sampleDataForOperations.name" [disabled]="isOtherProcess"
         [hasError]="getTabInvalidStatus('sampleDataForOperations')" [template]="sampleDataForOperationsTabTemplate"
         [title]="lang.map.sample_data_for_operations"></tab>
    <tab [name]="tabsData.specialExplanations.name" [hasError]="getTabInvalidStatus('specialExplanations')"
         [template]="specialExplanationsTabTemplate" [title]="lang.map.special_explanations"></tab>
    <tab [name]="tabsData.attachments.name" [hideIcon]="true" *ngIf="!accordionView" [template]="attachmentsTab"
         [title]="lang.map.attachments" [hasError]="getTabInvalidStatus('attachments')"></tab>
  </tabs-list>
  <ng-template #basicInfoTabTemplate>
    <form [formGroup]="form" autocomplete="off">
      <h6 class="text-primary">{{ lang.map.request_info }}</h6>
      <div class="row">
        <!-- Request Type -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="requestType" for="requestType"
                 class="form-label">{{ lang.map.request_type}}</label>
          <ng-select [selectOnTab]="true" labelForId="requestType" [clearable]="true"
                     placeholder="{{ lang.map.select }}" id="requestType" [readonly]="canChangeReuestType"
                     (change)="handleRequestTypeChange($event, true)" [notFoundText]="lang.map.msg_not_found"
                     appendTo="body"
                     validationClasses="requestType" formControlName="requestType">
            <ng-option *ngFor="let type of notificationRequestTypeList" [value]="type.lookupKey">{{ type.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="requestType"></app-field-error-message>
        </div>
        <!-- request Number -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="oldFullSerial" for="oldFullSerial"
                 class="form-label">{{lang.map.request_number}}</label>
          <div class="input-group">
            <input (keydown.enter)="isEdit() || readonly" formControlName="oldFullSerial"
                   [readonly]="!isEdit() || readonly"
                   type="text" validationClasses="oldFullSerial" class="form-control" id="oldFullSerial"
                   trimInput>
            <button *ngIf="isEdit() && !readonly" type="button" (click)="licenseSearch($event)"
                    class="input-group-text">
              <i class="mdi {{fileIconsEnum.SEARCH}} text-primary"></i></button>
            <app-field-error-message controlName="oldFullSerial"></app-field-error-message>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #DSNNNTabTemplate>
    <form [formGroup]="DSNNNFormGroup" autocomplete="off">
      <div class="row">
        <!-- department -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="departmentId" for="departmentId" class="form-label">{{ lang.map.department
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="departmentId" [clearable]="true"
                     placeholder="{{ lang.map.select }}" id="departmentId" [readonly]="readonly"
                     [notFoundText]="lang.map.msg_not_found" appendTo="body" (change)="handleDepartmentChange()"
                     validationClasses="departmentId" formControlName="departmentId">
            <ng-option *ngFor="let option of departmentList" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="departmentId"></app-field-error-message>
        </div>
        <!-- competent Department Id -->
        <div class="col-md-6 mb-4 position-relative">
          <label asteriskIfRequired="competentDepartmentID" for="competentDepartmentID" class="form-label">{{
            lang.map.lbl_sub_team
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="competentDepartmentID" [clearable]="true"
                     placeholder="{{ lang.map.select }}" (change)="handlefilterProcess()" id="competentDepartmentID"
                     [readonly]="readonly"
                     [notFoundText]="lang.map.msg_not_found" appendTo="body" validationClasses="competentDepartmentID"
                     formControlName="competentDepartmentID">
            <ng-option *ngFor="let option of subTeamsList" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="competentDepartmentID"></app-field-error-message>
        </div>
        <!-- domain -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="domain" for="domain" class="form-label">{{ lang.map.classification
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="domain" [clearable]="true" placeholder="{{ lang.map.select }}"
                     id="domain" [readonly]="readonly" [notFoundText]="lang.map.msg_not_found"
                     (change)="handleDomainChange($event)"
                     appendTo="body" validationClasses="domain" formControlName="domain">
            <ng-option *ngFor="let option of mainClassificationsList" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="domain"></app-field-error-message>
        </div>
        <!-- first Sub Domain -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="firstSubDomain" for="firstSubDomain" class="form-label">{{
            lang.map.sub_classification
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="firstSubDomain" [clearable]="true"
                     placeholder="{{ lang.map.select }}" (change)="handlefilterProcess()" id="firstSubDomain"
                     [readonly]="readonly"
                     [notFoundText]="lang.map.msg_not_found" appendTo="body" validationClasses="firstSubDomain"
                     formControlName="firstSubDomain">
            <ng-option *ngFor="let option of subClassificationsList" [value]="option.id">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="firstSubDomain"></app-field-error-message>
        </div>
        <!-- General Process Type -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="processType" for="processType" class="form-label">{{ lang.map.lbl_process_type
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="processType" [clearable]="true"
                     placeholder="{{ lang.map.select }}" id="processType" [readonly]="readonly"
                     [notFoundText]="lang.map.msg_not_found" appendTo="body" (change)="handlefilterProcess()"
                     validationClasses="processType" formControlName="processType">
            <ng-option *ngFor="let option of GeneralProcessTypeList" [value]="option.lookupKey">
              {{option.getName()}}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName=" processType">
          </app-field-error-message>
        </div>
        <!-- process id -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="processid" for="processid" class="form-label">{{
            lang.map.lbl_process
            }}</label>
          <ng-select [selectOnTab]="true" labelForId="processid" [clearable]="true" placeholder="{{ lang.map.select }}"
                     id="processid" [readonly]="readonly" [notFoundText]="lang.map.msg_not_found" appendTo="body"
                     (change)="handleProcessChange($event)" validationClasses="processid" formControlName="processid">
            <ng-option *ngFor="let process of service.processList" [value]="process.id">{{ process.getName() }}
            </ng-option>
          </ng-select>
          <app-field-error-message controlName="processid"></app-field-error-message>
        </div>
        <!-- process Name optional in case of other process -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="projectName" for="projectName" class="form-label">{{
            lang.map.lbl_process_name
            }}</label>
          <input id="projectName" formControlName="projectName" [readonly]="!isOtherProcess || readonly"
                 validationClasses="projectName" class="form-control"/>
          <app-field-error-message controlName="projectName"></app-field-error-message>
        </div>
        <!-- process subject -->
        <div class="col-sm-6 col-md-4 mb-4 position-relative">
          <label asteriskIfRequired="needSubject" for="needSubject" class="form-label">{{
            lang.map.lbl_process_subject
            }}</label>
          <input id="needSubject" formControlName="needSubject" [readonly]="readonly" validationClasses="needSubject"
                 class="form-control"/>
          <app-field-error-message controlName="needSubject"></app-field-error-message>
        </div>
        <!-- process explanations -->
        <div class="col-sm-12 col-md-12 mb-4 position-relative">
          <label for="projectDescription" asteriskIfRequired="projectDescription"
                 class="form-label">{{lang.map.lbl_process_explanations}}</label>
          <textarea rows="5" id="projectDescription" validationClasses="projectDescription"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readonly]="readonly"
                    formControlName="projectDescription" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="projectDescription"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #sampleDataForOperationsTabTemplate>
    <form [formGroup]="sampleDataForOperationsFormGroup" autocomplete="off">
      <formly-form [form]="sampleDataForOperationsFormGroup" [fields]="processFieldBuilder.fieldsGroups"></formly-form>
    </form>
  </ng-template>

  <ng-template #specialExplanationsTabTemplate>
    <form [formGroup]="form" autocomplete="off">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb-4 position-relative">
          <label for="description" asteriskIfRequired="description"
                 class="form-label">{{lang.map.special_explanations}}</label>
          <textarea rows="5" id="description" validationClasses="description"
                    [maxlength]="customValidators.defaultLengths.EXPLANATIONS" [readonly]="readonly"
                    formControlName="description" trimInput class="form-control"></textarea>
          <app-field-error-message controlName="description"></app-field-error-message>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #attachmentsTab>
    <attachments [disabled]="isAttachmentReadonly()" [caseId]="model?.id" [caseType]="model?.caseType"
                 [service]="service.documentService" [load]="loadAttachments"
                 [formProperties]="formProperties"></attachments>
  </ng-template>

</div>
