<div class="row pb-3">
  <app-page-header [customTemplate]="headerTemplate"></app-page-header>
  <ng-container>
    <app-grid-search (searchTextEvent)="filterRecords($event)"></app-grid-search>
  </ng-container>
</div>

<ng-template #headerTemplate>
  <div class="align-items-center">
    <h1 class="h6 text-primary m-0 d-inline-block">{{ lang.map.menu_admin_lookups }}</h1>
    <button class="btn btn-link outline-none" tooltip="{{ lang.map.btn_add }}" (click)="addCallback()">
      <i class="mdi mdi-plus-box"></i>
    </button>
    <button class="btn btn-link" tooltip="{{ lang.map.btn_reload }}" (click)="reloadCallback()">
      <i class="mdi mdi-reload"></i>
    </button>
  </div>
</ng-template>

<tabs-list (onTabChange)="tabChanged($event)">
  <tab [name]="tabsData.workField.name" [template]="workFieldTemplate" *ngIf="canShowTab(tabsData.workField)"
    [title]="getTabLabel(adminLookupTypeEnum.WORK_FIELD)"></tab>
  <tab [name]="tabsData.activityType.name" [template]="activityTypeTemplate" *ngIf="canShowTab(tabsData.activityType)"
    [title]="getTabLabel(adminLookupTypeEnum.ACTIVITY_TYPE)"></tab>
  <tab [name]="tabsData.templateIndicator.name" [template]="templateIndicatorTemplate"
    *ngIf="canShowTab(tabsData.templateIndicator)" [title]="getTabLabel(adminLookupTypeEnum.TEMPLATE_INDICATOR)"></tab>
  <tab [name]="tabsData.exitMechanism.name" [template]="exitMechanismTemplate"
    *ngIf="canShowTab(tabsData.exitMechanism)" [title]="getTabLabel(adminLookupTypeEnum.EXIT_MECHANISM)"></tab>
  <tab [name]="tabsData.byLawsClassification.name" [template]="byLawsClassificationTemplate"
    *ngIf="canShowTab(tabsData.byLawsClassification)" [title]="getTabLabel(adminLookupTypeEnum.BYLAWS_CLASSIFICATION)">
  </tab>
  <tab [name]="tabsData.riskType.name" [template]="riskTypeTemplate" *ngIf="canShowTab(tabsData.riskType)"
    [title]="getTabLabel(adminLookupTypeEnum.RISK_TYPE)"></tab>
  <tab [name]="tabsData.riskClassification.name" [template]="riskClassificationTemplate"
    *ngIf="canShowTab(tabsData.riskClassification)" [title]="getTabLabel(adminLookupTypeEnum.RISK_CLASSIFICATION)">
  </tab>
  <tab [name]="tabsData.coordinationAndSupportClassification.name"
    [template]="coordinationAndSupportClassificationTemplate"
    *ngIf="canShowTab(tabsData.coordinationAndSupportClassification)"
    [title]="getTabLabel(adminLookupTypeEnum.COORDINATION_SUPPORT_CLASSIFICATION)"></tab>
  <tab [name]="tabsData.resolutionsIssued.name" [template]="resolutionsIssuedTemplate"
    *ngIf="canShowTab(tabsData.resolutionsIssued)" [title]="getTabLabel(adminLookupTypeEnum.RESOLUTIONS_ISSUED)"></tab>
  <tab [name]="tabsData.penaltiesDecisions.name" [template]="penaltiesDecisionsTemplate"
    *ngIf="canShowTab(tabsData.penaltiesDecisions)" [title]="getTabLabel(adminLookupTypeEnum.PENALTIES_DECISION)"></tab>
  <tab [name]="tabsData.generalProcessClassification.name" [template]="generalProcessClassificationTemplate"
    *ngIf="canShowTab(tabsData.generalProcessClassification)"
    [title]="getTabLabel(adminLookupTypeEnum.GENERAL_PROCESS_CLASSIFICATION)"></tab>
  <tab [name]="tabsData.serviceType.name" [template]="serviceTypeTemplate" *ngIf="canShowTab(tabsData.serviceType)"
    [title]="getTabLabel(adminLookupTypeEnum.SERVICE_TYPE)"></tab>
  <tab [name]="tabsData.functionGroup.name" [template]="functionGroupTemplate"
    *ngIf="canShowTab(tabsData.functionGroup)" [title]="getTabLabel(adminLookupTypeEnum.FUNCTIONAL_GROUP)"></tab>
</tabs-list>

<ng-template #workFieldTemplate>
  <tabs-list (onTabChange)="tabChanged($event)" [tabByIndex$]="selectedWorkFieldTabIndex$">
    <tab [name]="tabsData.ocha.name" [template]="ochaTemplate" [title]="getTabLabel(adminLookupTypeEnum.OCHA)"></tab>
    <tab [name]="tabsData.dac.name" [template]="dacTemplate" [title]="getTabLabel(adminLookupTypeEnum.DAC)"></tab>
  </tabs-list>
</ng-template>

<ng-template #ochaTemplate>
  <admin-lookup-list #ochaListComponent [adminLookupTypeId]="adminLookupTypeEnum.OCHA"
    (onReady)="setLookupComponentMap($event, ochaListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #dacTemplate>
  <admin-lookup-list #dacListComponent [adminLookupTypeId]="adminLookupTypeEnum.DAC"
    (onReady)="setLookupComponentMap($event, dacListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #activityTypeTemplate>
  <admin-lookup-list #activityTypeListComponent [adminLookupTypeId]="adminLookupTypeEnum.ACTIVITY_TYPE"
    (onReady)="setLookupComponentMap($event, activityTypeListComponent)" [deletable]="true">
  </admin-lookup-list>
</ng-template>
<ng-template #templateIndicatorTemplate>
  <admin-lookup-list #templateIndicatorListComponent [adminLookupTypeId]="adminLookupTypeEnum.TEMPLATE_INDICATOR"
    (onReady)="setLookupComponentMap($event, templateIndicatorListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #exitMechanismTemplate>
  <admin-lookup-list #exitMechanismListComponent [adminLookupTypeId]="adminLookupTypeEnum.EXIT_MECHANISM"
    (onReady)="setLookupComponentMap($event, exitMechanismListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #byLawsClassificationTemplate>
  <admin-lookup-list #byLawsClassificationListComponent [adminLookupTypeId]="adminLookupTypeEnum.BYLAWS_CLASSIFICATION"
    (onReady)="setLookupComponentMap($event, byLawsClassificationListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #riskTypeTemplate>
  <admin-lookup-list #riskTypeListComponent [adminLookupTypeId]="adminLookupTypeEnum.RISK_TYPE"
    (onReady)="setLookupComponentMap($event, riskTypeListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #riskClassificationTemplate>
  <admin-lookup-list #riskClassificationComponent [adminLookupTypeId]="adminLookupTypeEnum.RISK_CLASSIFICATION"
    (onReady)="setLookupComponentMap($event, riskClassificationComponent)" [deletable]="true">
  </admin-lookup-list>
</ng-template>
<ng-template #coordinationAndSupportClassificationTemplate>
  <admin-lookup-list #coordinationAndSupportClassificationComponent
    [adminLookupTypeId]="adminLookupTypeEnum.COORDINATION_SUPPORT_CLASSIFICATION"
    (onReady)="setLookupComponentMap($event, coordinationAndSupportClassificationComponent)" [deletable]="true">
  </admin-lookup-list>
</ng-template>
<ng-template #resolutionsIssuedTemplate>
  <admin-lookup-list #resolutionsIssuedComponent [adminLookupTypeId]="adminLookupTypeEnum.RESOLUTIONS_ISSUED"
    (onReady)="setLookupComponentMap($event, resolutionsIssuedComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #penaltiesDecisionsTemplate>
  <admin-lookup-list #penaltiesDecisionsComponent [adminLookupTypeId]="adminLookupTypeEnum.PENALTIES_DECISION"
    (onReady)="setLookupComponentMap($event, penaltiesDecisionsComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #generalProcessClassificationTemplate>
  <admin-lookup-list #generalProcessClassificationListComponent
    [adminLookupTypeId]="adminLookupTypeEnum.GENERAL_PROCESS_CLASSIFICATION"
    (onReady)="setLookupComponentMap($event, generalProcessClassificationListComponent)">
  </admin-lookup-list>
</ng-template>
<ng-template #functionGroupTemplate>
  <admin-lookup-list #functionGroupComponent [adminLookupTypeId]="adminLookupTypeEnum.FUNCTIONAL_GROUP"
    (onReady)="setLookupComponentMap($event, functionGroupComponent)">
  </admin-lookup-list>
</ng-template>

<ng-template #serviceTypeTemplate>
  <admin-lookup-list #serviceTypeListComponent [adminLookupTypeId]="adminLookupTypeEnum.SERVICE_TYPE"
    (onReady)="setLookupComponentMap($event, serviceTypeListComponent)">
  </admin-lookup-list>
</ng-template>
