<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{ lang.map.profile_extra_data }}</h1>
  <div>
    <button type="button" class="btn btn-fullscreen btn-close-white icon-btn"
            tabindex="-1" aria-label="Fullscreen" fullscreenBtn></button>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content w800px" #content>
  <tabs-list [accordionView]="accordionView" [hasForm]="true">
    <tab [name]="tabsData.basicInfo.name" [hasError]="basicInfo.invalid"
         [template]="basicInfoTab" [title]="lang.map.lbl_basic_info"></tab>
    <tab [name]="tabsData.logo.name" [template]="logoTab"
         [title]="lang.map.logo"></tab>
    <tab [name]="tabsData.contactInfo.name" [hasError]="contactInfo.invalid"
         [template]="contactInfoTab" [title]="lang.map.contact_info"></tab>
    <tab [name]="tabsData.contactOfficers.name" [hasError]="!model.contactOfficerList || model.contactOfficerList.length < 1"
         [template]="contactOfficersTab" [title]="lang.map.contact_officers_details"></tab>
    <tab [name]="tabsData.complianceOfficers.name"
         [hasError]="!model.complianceOfficerList || model.complianceOfficerList.length < 1"
         [template]="complianceOfficersTab" [title]="lang.map.compliance_officers_details"></tab>
    <tab [name]="tabsData.internalBranches.name"
         [hasError]="!model.branchList || model.branchList.length < 1"
         [template]="internalBranchesTab" [title]="lang.map.internal_branches"></tab>
    <tab [name]="tabsData.internalBranches.name"
         [template]="externalOfficesTab" [title]="lang.map.external_offices"></tab>
  </tabs-list>
  <form [formGroup]="form" novalidate>
    <ng-template #basicInfoTab>
      <ng-container formGroupName="basicInfo">
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="arName" for="arName">{{lang.map.arabic_name}}</label>
            <input validationClasses="arName" formControlName="arName" type="text" id="arName" class="form-control">
            <app-field-error-message controlName="arName"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="enName" for="enName">{{lang.map.english_name}}</label>
            <input validationClasses="enName" formControlName="enName" type="text" id="enName" class="form-control">
            <app-field-error-message controlName="enName"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="activityType"
                   for="activityType">{{lang.map.activity_type}}</label>
            <ng-select [selectOnTab]="true" labelForId="activityType" [clearable]="false"
                       placeholder="{{lang.map.select}}" id="activityType"
                       [notFoundText]="lang.map.msg_not_found"
                       formControlName="activityType" validationClasses="activityType">
              <ng-option value="">{{lang.map.lbl_none}}</ng-option>
              <ng-option *ngFor="let option of activityTypes" [value]="option.id"
                         [disabled]="option.isRetired()">
                {{option.getName()}}
              </ng-option>
            </ng-select>
            <app-field-error-message controlName="activityType"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="shortName" for="shortName">{{lang.map.short_name}}</label>
            <input validationClasses="shortName" formControlName="shortName" type="text" id="shortName"
                   class="form-control">
            <app-field-error-message controlName="shortName"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="establishmentDate"
                   for="establishmentDate">{{lang.map.establishment_date}}</label>
            <input validationClasses="establishmentDate" formControlName="establishmentDate" type="text"
                   id="establishmentDate" class="form-control">
            <app-field-error-message controlName="establishmentDate"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="publishDate"
                   for="publishDate">{{lang.map.publish_date}}</label>
            <input validationClasses="publishDate" formControlName="publishDate" type="text" id="publishDate"
                   class="form-control">
            <app-field-error-message controlName="publishDate"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="registrationDate"
                   for="registrationDate">{{lang.map.registration_date}}</label>
            <input validationClasses="registrationDate" formControlName="registrationDate" type="text"
                   id="registrationDate"
                   class="form-control" trimInput>
            <app-field-error-message controlName="registrationDate"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" for="registrationAuthority">{{lang.map.registration_authority}}</label>
            <input type="text" [value]="model.profileInfo.registrationAuthorityInfo.getName()"
                   id="registrationAuthority" disabled
                   class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="unifiedEconomicRecord"
                   for="unifiedEconomicRecord">{{lang.map.unified_economic_record}}</label>
            <input validationClasses="unifiedEconomicRecord" formControlName="unifiedEconomicRecord" type="text"
                   id="unifiedEconomicRecord"
                   class="form-control" trimInput>
            <app-field-error-message controlName="unifiedEconomicRecord"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="taxCardNo"
                   for="taxCardNo">{{lang.map.tax_card_number}}</label>
            <input validationClasses="taxCardNo" formControlName="taxCardNo" type="text" id="taxCardNo"
                   class="form-control" trimInput>
            <app-field-error-message controlName="taxCardNo"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="establishmentId"
                   for="establishmentId">{{lang.map.establishment_id}}</label>
            <input validationClasses="establishmentId" formControlName="establishmentId" type="text"
                   id="establishmentId"
                   class="form-control" trimInput>
            <app-field-error-message controlName="establishmentId"></app-field-error-message>
          </div>
          <div class="col-md-6 col-sm-12 mb-4 position-relative">
            <label class="form-label" asteriskIfRequired="regulatingLaw"
                   for="regulatingLaw">{{lang.map.regulating_law}}</label>
            <input validationClasses="regulatingLaw" formControlName="regulatingLaw" type="text" id="regulatingLaw"
                   class="form-control" trimInput>
            <app-field-error-message controlName="regulatingLaw"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #logoTab>
      <div class="row">
        <input class="input-file" type="file" #logoUploader [hidden]="true" (change)="onLogoSelected($event)"
               [accept]="logoExtensions.join(',')">
        <div class="col-sm-12">
          <div class="row mb-3" *ngIf="operation !== operationTypes.VIEW">
            <div class="col-sm-12">
              <button class="btn btn-primary"
                      (click)="openFileBrowser($event)">
                {{lang.map.upload_logo}}
              </button>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="logo-container">
                <img *ngIf="logoPath" [src]="logoPath" alt="{{lang.map.logo}}"
                     class="img-fit-contain"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #contactInfoTab>
      <ng-container formGroupName="contactInfo">
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="phone" for="phone"
                   class="form-label">{{lang.map.lbl_phone}}</label>
            <input id="phone" validationClasses="phone" trimInput
                   formControlName="phone" class="form-control">
            <app-field-error-message controlName="phone"></app-field-error-message>
          </div>
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="email" for="email"
                   class="form-label">{{lang.map.lbl_email}}</label>
            <input id="email" validationClasses="email" trimInput
                   formControlName="email" class="form-control">
            <app-field-error-message controlName="email"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 position-relative">
            <label asteriskIfRequired="website" for="website"
                   class="form-label">{{lang.map.website}}</label>
            <input id="website" validationClasses="website" trimInput
                   formControlName="website" class="form-control">
            <app-field-error-message controlName="website"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.main_branch_address}}</h2>
            <hr>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="zoneNumber" for="zoneNumber"
                   class="form-label">{{lang.map.lbl_zone}}</label>
            <input id="zoneNumber" validationClasses="zoneNumber" trimInput
                   formControlName="zoneNumber" class="form-control">
            <app-field-error-message controlName="zoneNumber"></app-field-error-message>
          </div>
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="streetNumber" for="streetNumber"
                   class="form-label">{{lang.map.lbl_street}}</label>
            <input id="streetNumber" validationClasses="streetNumber" trimInput
                   formControlName="streetNumber" class="form-control">
            <app-field-error-message controlName="streetNumber"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="buildingNumber" for="buildingNumber"
                   class="form-label">{{lang.map.building_number}}</label>
            <input id="buildingNumber" validationClasses="buildingNumber" trimInput
                   formControlName="buildingNumber" class="form-control">
            <app-field-error-message controlName="buildingNumber"></app-field-error-message>
          </div>
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="address" for="address"
                   class="form-label">{{lang.map.lbl_address}}</label>
            <input id="address" validationClasses="address" trimInput
                   formControlName="address" class="form-control">
            <app-field-error-message controlName="address"></app-field-error-message>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h6 text-primary">{{lang.map.social_media_accounts}}</h2>
            <hr>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="facebook" for="facebook"
                   class="form-label">{{lang.map.facebook}}</label>
            <input id="facebook" validationClasses="facebook" trimInput
                   formControlName="facebook" class="form-control">
            <app-field-error-message controlName="facebook"></app-field-error-message>
          </div>
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="twitter" for="twitter"
                   class="form-label">{{lang.map.twitter}}</label>
            <input id="twitter" validationClasses="twitter" trimInput
                   formControlName="twitter" class="form-control">
            <app-field-error-message controlName="twitter"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="instagram" for="instagram"
                   class="form-label">{{lang.map.instagram}}</label>
            <input id="instagram" validationClasses="instagram" trimInput
                   formControlName="instagram" class="form-control">
            <app-field-error-message controlName="instagram"></app-field-error-message>
          </div>
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="snapChat" for="snapChat"
                   class="form-label">{{lang.map.snapchat}}</label>
            <input id="snapChat" validationClasses="snapChat" trimInput
                   formControlName="snapChat" class="form-control">
            <app-field-error-message controlName="snapChat"></app-field-error-message>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 position-relative">
            <label asteriskIfRequired="youTube" for="youTube"
                   class="form-label">{{lang.map.youtube}}</label>
            <input id="youTube" validationClasses="youTube" trimInput
                   formControlName="youTube" class="form-control">
            <app-field-error-message controlName="youTube"></app-field-error-message>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #contactOfficersTab>
      <profile-officers [addLabel]="addContactOfficersLabel" [selectedOfficers]="model.contactOfficerList"
                        (officerListChanged)="onProfileContactOfficersChanged($event)"></profile-officers>
    </ng-template>
    <ng-template #complianceOfficersTab>
      <profile-officers [addLabel]="addComplianceOfficersLabel" [selectedOfficers]="model.complianceOfficerList"
                        (officerListChanged)="onProfileComplianceOfficersChanged($event)"></profile-officers>
    </ng-template>
    <ng-template #internalBranchesTab>
      <profile-branches [selectedBranches]="model.branchList"
                        (branchListChanged)="onProfileBranchesChanged($event)"></profile-branches>
    </ng-template>
    <ng-template #externalOfficesTab>
      <external-office-list [externalOffices$]="externalOffices$" [externalOfficesColumns]="externalOfficesColumns"></external-office-list>
    </ng-template>
  </form>
</div>
<div class="dialog-actions">
  <button tabindex="-1" (click)="displayFormValidity(null, content)" tooltip="{{ lang.map.validate_fields }}"
          class="btn btn-link"><i class="mdi mdi-information-outline text-info"></i></button>
  <div class="flex-grow-1"></div>
  <button (click)="save$.next(null)" [disabled]="isNotValidForm()"
          class="btn btn-primary">{{ lang.map.btn_save }}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{ lang.map.btn_close }}</button>
</div>
