<div class="dialog-toolbar bg-primary d-flex justify-content-between">
  <h1 class="h6 text-white">{{popupTitle}}</h1>
  <div>
    <button type="button" class="btn-close btn-close-white"
            tabindex="-1" [dialogClose]="model" aria-label="Close"></button>
  </div>
</div>
<div class="dialog-content">
  <div class="row pb-3">
    <app-page-header [customTemplate]="headerTemplate" [pageTitle]="'training_program_trainees'">
    </app-page-header>
    <ng-template #headerTemplate>
      <button class="btn icon-button" (click)="print()">
        <i class="mdi mdi-printer text-primary" tooltip="{{lang.map.print}}"></i>
      </button>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <app-table #table [paginator]="paginator" sortableTable
                   [columns]="displayedColumns"
                   [data]="model.traineeList">
          <table class="table table-striped table-bordered caption-top" [dataSource]="table.dataSource" cdk-table>
            <ng-container cdkColumnDef="arName">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.arabic_name}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.arName}}</td>
            </ng-container>
            <ng-container cdkColumnDef="enName">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.english_name}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.enName}}</td>
            </ng-container>
            <ng-container cdkColumnDef="department">
              <th cdk-header-cell *cdkHeaderCellDef
                  sortable-header>{{lang.map.training_program_trainee_department}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.department}}</td>
            </ng-container>
            <ng-container cdkColumnDef="status">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.candidate_status}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.statusInfo.getName()}}</td>
            </ng-container>
            <ng-container cdkColumnDef="externalOrgId">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.trainee_entity_belongs}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.externalOrgInfo &&
                row.trainee.externalOrgInfo.getName()}}</td>
            </ng-container>
            <ng-container cdkColumnDef="phoneNumber">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.home_phone_number}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.phoneNumber}}</td>
            </ng-container>
            <ng-container cdkColumnDef="currentJob">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.training_program_trainee_current_job}}
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.currentJob}}</td>
            </ng-container>
            <ng-container cdkColumnDef="nationality">
              <th cdk-header-cell *cdkHeaderCellDef sortable-header>{{lang.map.lbl_nationality}}</th>
              <td cdk-cell *cdkCellDef="let row">{{row.trainee.nationalityInfo.getName()}}</td>
            </ng-container>
            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.attendance}}</th>
              <td cdk-cell *cdkCellDef="let row; let i = index" class="table-actions">
                <div class="d-flex flex-row">
                  <label class="cursor-pointer">
                    <input type="checkbox" [checked]="row.isAttended" (change)="toggleAttendance($event , row)"
                           class="form-check-input cursor-pointer">
                  </label>
                </div>
              </td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
            <tr *cdkNoDataRow>
              <td colspan="100" class="text-center">{{lang.map.no_records_to_display}}</td>
            </tr>
          </table>
        </app-table>
        <app-paginator #paginator [pageSize]="10" [length]="table.dataSource.data.length"></app-paginator>
      </div>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <span class="flex-grow-1"></span>
  <button (click)="saveAttendance$.next()" class="btn btn-primary">{{lang.map.btn_save}}</button>
  <button [dialogClose]="model" class="btn btn-secondary">{{lang.map.btn_cancel}}</button>
</div>
