<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <app-table #table [paginator]="paginator" [data]="list" [columns]="displayColumns">
        <table class="table table-bordered caption-top" cdk-table [dataSource]="table.dataSource">
          <ng-container cdkColumnDef="legendHeader">
            <th cdk-header-cell colspan="100" *cdkHeaderCellDef="let row">
              <ng-container [ngTemplateOutlet]="legendHeaderTemplate"></ng-container>
            </th>
          </ng-container>
          <ng-container cdkColumnDef="identificationNumber">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.identification_number}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.identificationNumber}} </td>
          </ng-container>
          <ng-container cdkColumnDef="zoneNumber">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_zone}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.zoneNumber}} </td>
          </ng-container>
          <ng-container cdkColumnDef="streetNumber">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_street}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.streetNumber}} </td>
          </ng-container>
          <ng-container cdkColumnDef="buildingNumber">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.building_number}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.buildingNumber}} </td>
          </ng-container>
          <ng-container cdkColumnDef="unitNumber">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.unit}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.unitNumber}} </td>
          </ng-container>
          <ng-container cdkColumnDef="licenseEndDate">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.license_end_date}}</th>
            <td cdk-cell *cdkCellDef="let row"> {{row.licenseEndDate|date: 'yyyy-MM-dd'}} </td>
          </ng-container>
          <ng-container cdkColumnDef="map">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.item_location}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <button (click)="openLocationMap(row)" [tooltip]="lang.map.show_location_on_map" class="btn icon-btn"><i
                      class="mdi mdi-map-marker text-primary"></i>
              </button>
            </td>
          </ng-container>
          <!-- <ng-container cdkColumnDef="approval_info_status">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_status}}</th>
            <td cdk-cell *cdkCellDef="let row; index as itemIndex">
              <div *ngIf="approvalMode" class="d-flex">
                <i *ngIf="!row.hasValidApprovalInfo()" [tooltip]="lang.map.missing_approval_info"
                   class="mdi mdi-alert-circle text-warning"></i>
                <i *ngIf="row.hasValidApprovalInfo()" [tooltip]="lang.map.approval_information_filled_out"
                   class="mdi mdi-check-circle text-success"></i>
              </div>
            </td>
          </ng-container> -->
          <!-- <ng-container cdkColumnDef="oldLicenseFullSerial">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.serial_number}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <span *ngIf="isNewRequestType()">N/A</span>
              <span *ngIf="!isNewRequestType()" class="text-primary text-decoration-none cursor-pointer"
                    (click)="viewOldLicense(row)">{{row.oldLicenseFullSerial || ''}}</span>
            </td>
          </ng-container> -->
          <!-- <ng-container cdkColumnDef="exportedLicenseFullSerial">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.generated_license_number}}</th>
            <td cdk-cell *cdkCellDef="let row">
              <span class="text-primary text-decoration-none cursor-pointer"
                    (click)="viewGeneratedLicense(row)">{{row.exportedLicenseFullSerial || ''}}</span>
            </td>
          </ng-container> -->
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef> {{lang.map.lbl_actions}}</th>
            <td cdk-cell *cdkCellDef="let row; let i = index;" class="table-actions audit-actions">
              <grid-actions [record]="row" [actions]="actions" [itemIndex]="i"></grid-actions>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="['legendHeader']"></tr>
          <tr cdk-header-row *cdkHeaderRowDef="table.columns" class="table-row-header"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: table.columns;" (contextmenu)="menu.open($event , row)"
              class="{{getAuditRowClass(row.auditOperation)}}"></tr>
          <tr *cdkNoDataRow>
            <td class="text-center" colSpan="100">{{lang.map.msg_no_records_found}}</td>
          </tr>
        </table>
        <app-paginator #paginator></app-paginator>
      </app-table>
      <context-menu-item #menu [actions]="actions"></context-menu-item>
    </div>
  </div>
</div>
<ng-template #legendHeaderTemplate>
  <div class="d-flex align-items-center justify-content-end gap-1">
    <div
      class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.ADDED)}}">{{lang.map.lbl_record_added}}</div>
    <div
      class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.UPDATED)}}">{{lang.map.lbl_record_updated}}</div>
    <div
      class="p-1 my-1 fw-normal {{getAuditRowClass(auditOperationTypes.DELETED)}}">{{lang.map.lbl_record_deleted}}</div>
  </div>
</ng-template>
