<div class="d-flex flex-column">
  <tabs-list [accordionView]="accordionView">
    <tab
      [name]="tabsData.basicInfo.name"
      [hasError]="getTabInvalidStatus('basicInfo')"
      [template]="basicInfoTabTemplate"
      [title]="lang.map.lbl_basic_info"
    ></tab>
    <tab
      *ngIf="!accordionView"
      [name]="tabsData.employeeInfo.name"
      [hasError]="getTabInvalidStatus('employeeInfo')"
      [template]="employeeInfoTabTemplate"
      [title]="lang.map.employee_data"
    ></tab>
    <tab
      *ngIf="!accordionView"
      [name]="tabsData.attachments.name"
      [hasError]="getTabInvalidStatus('attachments')"
      [template]="attachmentsTabTemplate"
      [title]="lang.map.attachments"
    ></tab>
  </tabs-list>

  <ng-template #basicInfoTabTemplate>
    <fieldset [disabled]="readonly">
      <form [formGroup]="form" autocomplete="off"></form>
    </fieldset>
  </ng-template>

  <ng-template #employeeInfoTabTemplate>
    <fieldset [disabled]="readonly">
      <form [formGroup]="form" autocomplete="off"></form>
    </fieldset>
  </ng-template>
  <ng-template #attachmentsTabTemplate>
    <!-- <div class="d-flex flex-row align-items-center justify-content-start">
      <button [disabled]="isAttachmentReadonly()" (click)="attachmentsCtrl.openUploadDialog()"
              class="d-inline-block btn p-0 icon-btn"><i
        class="mdi mdi-plus-box text-primary"></i></button>
    </div>
    <app-documents #attachmentsCtrl [caseId]="model?.id" [service]="service.documentService"
                   [readonly]="isAttachmentReadonly()"></app-documents> -->
  </ng-template>
</div>
